
{% for company in companylist %}
<div class="col-md-3" id="view-mail-wrapper">
    <div class="panel">
        <div class="panel-heading">
            <header>
                <h2>{{company.company_name}}</h2>
            </header>
            <!-- <h3 class="panel-title">Low Stocks ( <span><a href=""
                        style="text-decoration: underline; font-size: 10px;">View All Low Stocks</a></span> )</h3> -->
        </div>
        <div class="panel-body">
            <div class="tab-wrapper tab-primary">
                <div class="form-group">
                    <label>Number of Branches:</label> {{company.logisticsbranch_set.count}}
                </div>
                <div class="form-group">
                    <label>Head Office:</label> {{company.company_city}}
                </div>
                <div class="form-group">
                    <a href="{% url 'lmsapp:customerlogisticcompanydetail' company.id %}" class="btn btn-primary"
                        target="_blank">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-md-12 text-center mt-5">
        {% if page_obj.has_other_pages %}
        <ul class="pagination" style="text-align: center;">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" title="previous">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
            {% endif %}
            
            {% if page_obj.paginator.page_range|length > 10 %}
            
            {% for i in page_obj.paginator.page_range %}
            {% if i > page_obj.number|add:'-15' and i < page_obj.number|add:'-12' %}
            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            
            {% if page_obj.number > 4 %}
            <li><a class="page-link">...</a></li>
            {% endif %}
            
            {% for i in page_obj.paginator.page_range %}
            {% if i > page_obj.number|add:'-4' and i < page_obj.number %}
            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active"><a class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% endif %}
            {% endfor %}
            
            {% for i in page_obj.paginator.page_range %}
            {% if i > page_obj.number and i < page_obj.number|add:'4' %}
            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            
            {% if page_obj.number == page_obj.paginator.page_range|length or page_obj.number == page_obj.paginator.page_range|length|add:'-1' or page_obj.number == page_obj.paginator.page_range|length|add:'-2' or page_obj.number == page_obj.paginator.page_range|length|add:'-3' %}
            {% else %}
            <li><a class="page-link">...</a></li>
            {% endif %}
            
            {% for i in page_obj.paginator.page_range %}
            {% if i > page_obj.number|add:'12' and i < page_obj.number|add:'15' %}
            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            
            {% else %}
            
            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active"><a class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% elif i > page_obj.number|add:'-15' and i < page_obj.number|add:'15' %}
            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            
            {% endif %}
            
            {% if page_obj.has_next %}
            <li><a class="page-link" href="?page={{ page_obj.next_page_number }}" title="Next">&raquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% else %}
            <li class="disabled"><a class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>