{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% block title %}Shipment List{% endblock %}


{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
      <!-- <div class="dt-page__header">
        <h1 class="dt-page__title">Customer Information</h1>
      </div> -->
      <div class="row" style="margin: 0 !important;">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header card-nav border-bottom-0">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h3 class="dt-card__title" id="status-title">Requested Shipment List</h3>
                         

                    </div>

                </div>

                <!-- <div class="dt-card"> -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Shipment List</th>


                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for basic in requestedshipment %}
                            <tr>
                                <td><a>{{forloop.counter|truncatechars:20}}</a></td>
                                <td ><a href="{%url 'lmsapp:customersingleshipmentdetail' basic.pk %}">{{basic.tracking_code}}</a></td>
                                

                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>


 {% if is_paginated %}
  <ul class="pagination justify-content-center ">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>

                    <!-- <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div> -->




                
                <!-- </div> -->


                

            </div>


        </div>


      </div>




    </div>
</div>
      




{% endblock %}