<option value="">---------</option>
{% for delivery in delivery_type %}
<option value="{{ delivery.pk }}">{{ delivery.delivery_type.delivery_type }}</option>
{% comment %} <table>
<thead>
<tr>
<th>shippng_zone</th>
<th>shipping_charge_per_kg</th>
<th>additional_shipping_charge_per_kg</th>
<th>cod_handling_charge</th>
<th>rejection_handling_charge</th>
</tr>
</thead>

<tbody>
{% for data in delivery_type %}
<tr>
<td>{{data.shippng_zone}}</td>
<td>{{data.shipping_charge_per_kg}}</td>
<td>{{data.additional_shipping_charge_per_kg}}</td>
<td>{{data.cod_handling_charge}}</td>
<td>{{data.rejection_handling_charge}}</td>
</tr>
{% endfor %}
</tbody>
</table> {% endcomment %}
{% endfor %}