<table>
<thead>
<tr>
<th>shippng_zone</th>
<th>shipping_charge_per_kg</th>
<th>additional_shipping_charge_per_kg</th>
<th>cod_handling_charge</th>
<th>rejection_handling_charge</th>
</tr>
</thead>

<tbody>
<tr>
{% comment %} <td>{{data.shippng_zone}}</td> {% endcomment %}
<td>{{delivery_type_charges.shipping_charge_per_kg}}</td>
{% comment %} <td>{{data.additional_shipping_charge_per_kg}}</td> {% endcomment %}
{% comment %} <td>{{data.cod_handling_charge}}</td> {% endcomment %}
{% comment %} <td>{{data.rejection_handling_charge}}</td> {% endcomment %}
</tr>
</tbody>
</table>