{% extends 'clienttemplates/clientbase.html' %}
{% block title %} Shipment {% endblock %}

{% block content %}


<form method="POST">
    {% csrf_token %}
<div class="container m-4">
    <div class="row mt-5">
        <h3>General Info</h3> <span style="font-weight: 100;">(* Required Fields)</span>
    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Logistic Branch:</label> {{form.logistics_branch}}</div>
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Distribution Center Logistics Branch:</label> {{form.distribution_center_logistics_branch}}</div>
    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Shipments:</label> {{form.shipments}}</div>
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Total Shipping Charge:</label> {{form.total_shipping_charge}}</div>
    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Total COD Handling Charge:</label> {{form.total_cod_handling_charge}}</div>
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Total Rejection Handling Charge:</label> {{form.total_rejection_handling_charge}}</div>
    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Discount Or Extra:</label> {{form.discount_or_extra}}</div>
    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Total Service Charge:</label> {{form.total_service_charge}}</div>
    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Total COD Value:</label> {{form.total_cod_value}}</div>
    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Net Paid Or Received:</label> {{form.net_paid_or_received}}</div>
    </div>
    <div class="row m-5">
        <div class="col-6"><label>Remarks:</label> {{form.remarks}}</div>
    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Payment Confirmed By:</label> {{form.payment_confirmed_by}}</div>
    </div>
    <div class="row mt-5">
        <div class="col-6"><button type="submit" class="btn btn-dark">Submit</button></div>
    </div>
</div>
</form>


{% endblock %}