{% extends 'customertemplates/customer-dashboard-base.html' %}
{% block title %}All Shipment{% endblock %}
{% block style %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
  
    </style>
{% endblock %}

{% block content %}
<h3 class="m-5">Shipments</h3>

<div class="input-group m-4">
  <div class="form-outline">
    <input type="search" id="shipmentsearch" class="form-control" placeholder="Search Shipment" style="width:200%;"/>
  </div>
</div>

<div class="table">
<table style="width: 100%;" id="shipmenttable">
    <tr>
      <th style="width: 25%;">Tracking Code</th>
      <th style="width: 25%;">Delivery Type</th>
      <th style="width: 25%;">Receiver Name</th>
      <th style="width: 25%;">Action</th>
    </tr>
    {% for i in data %}
        <tr>
        <td>{{i.tracking_code}}</td>
        <td>{{i.delivery_type}}</td>
        <td>{{i.receiver_name}}</td>
        <td>
          <a href="{% url 'lmsapp:shipment-detail-view' i.id %}"><button type="button" class="btn btn-info">View</button></a> 
          <a href="{% url 'lmsapp:shipment-update-view' i.id %}"><button  type="button" class="btn btn-success">Update</button></a>
          <a href="{% url 'lmsapp:shipment-delete-view' i.id%}"><button type="button" class="btn btn-danger">Delete</button></td></a>
        </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}


{% block script %}

<script>
  $(document).ready(function(){
    $("#shipmentsearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#shipmenttable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>


{% endblock %}