{% extends 'clienttemplates/clientbase.html' %}
{% block title %} Shipment Activity {% endblock %}

{% block content %}

    <form method="POST">{% csrf_token %}
        <div class="container m-4">
            <div class="row mt-5">
                <h3>General Info</h3> <span style="font-weight: 100;">(* Required Fields)</span>
            </div>
            <div class="row m-5">
                <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Shipment:</label> {{form.shipment}}</div>
                <div class="col-6"><label>Rider:</label> {{form.rider}}</div>
            </div>
            <div class="row m-5">
                <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Shipment Status:</label> {{form.shipment_status}}</div>
                <div class="col-6"><label>Activity:</label> {{form.activity}}</div>
            </div>
            <div class="row m-5">
                <div class="col-6"><label>Activity By:</label> {{form.activity_by}}</div>
            </div>
            <div class="row mt-5">
                <h3>If Sent To Distribution Center/Branch</h3> <span style="font-weight: 100;">(* Required Fields)</span>
            </div>
            <div class="row m-5">
                <div class="col-6"><label>Involved Logistics:</label> {{form.involved_logistics}}</div>
                <div class="col-6"><label>Shipping Charge:</label> {{form.shipping_charge}}</div>
            </div>
            <div class="row m-5">
                <div class="col-6"><label>COD Handling Charge:</label> {{form.cod_handling_charge}}</div>
                <div class="col-6"><label>Rejection Handling Charge:</label> {{form.rejection_handling_charge}}</div>
            </div>
            <div class="row m-5">
                <div class="col-6"><sup style="font-size: 18px;">*</sup><label>Extra Charge:</label> {{form.extra_charge}}</div>
            </div>

            <div class="row mt-5">
                <h3>Payment Information</h3> <span style="font-weight: 100;">(* Required Fields)</span>
            </div>
            <div class="row m-5">
                <div class="col-6"><label>Service Payment Amount:</label> {{form.service_payment_amount}}</div>
            </div>
            <div class="row m-5">
                <div class="col-6"><label>Service Payment Status:</label> {{form.service_payment_status}}</div>
            </div>


            <div class="row mt-5">
                <div class="col-6"><button type="submit" class="btn btn-dark">Submit</button></div>
            </div>

        </div>
    </form>


{% endblock %}