{% extends 'customertemplates/customer-dashboard-base.html' %}
{% block title %} Shipment {% endblock %}

{% block content %}
<form method="POST" id="myForm">
      {% csrf_token %}
    <div class="container">
        <!-- <div class="row m-5">
            <div class="col-5">{{form.tracking_code}}</div>
        </div> -->
        <div class="row mt-5">
            <h3>General Info</h3> <span style="font-weight: 100;">(*Required Fields)</span>
        </div>
        <!-- <div class="row m-5">
            <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Parcel Origin:</label> {{form.parcel_origin}}</div>
        </div> -->

        
        <div class="row m-5">
            <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Weight:</label> {{form.weight}}</div>
            <div class="col-2"><label><sup style="font-size: 18px;">*</sup>Weight Unit:</label> {{form.weight_unit}}</div>
        </div>
        <div class="row m-5">
            <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Length:</label> {{form.length}}</div>
            <div class="col-2"><label><sup style="font-size: 18px;">*</sup>length Unit:</label> {{form.length_unit}}</div>
        </div>
        <div class="row m-5">
            <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Breadth:</label> {{form.breadth}}</div>
            <div class="col-2"><label><sup style="font-size: 18px;">*</sup>Breadth Unit:</label> {{form.breadth_unit}}</div>
        </div>
        <div class="row m-5">
            <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Height:</label> {{form.height}}</div>
            <div class="col-2"><label><sup style="font-size: 18px;">*</sup>Height Unit:</label> {{form.height_unit}}</div>
        </div>
         <div class="row m-5">
            <!-- <div class="col-6"><label>Parcel Type:</label> {{form.parcel_type}}</div> -->
            <div class="col-6"><label><sup style="font-size: 18px;">*</sup>COD Info:</label> {{form.cod_info}}</div>
        </div>
        <div class="row m-5">
            <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Delivery Type:</label> {{form.delivery_type}}</div>
        </div>
        <div class="row m-5">
            <div class="col-2.2 mt-2" id="requesthomedelivery"><label>Request Pickup:</label> {{form.request_pickup}}</div>

        </div>

       



        

        <div class="row mt-5">
            <h3>Receiver Information</h3> <span style="font-weight: 100;">(*Required Fields)</span>
            </div>
        <div class="row m-5">
            <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Receiver Name:</label> {{form.receiver_name}}</div>
            <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Receiver City:</label> {{form.receiver_city}}</div>
        </div>
        <div class="row m-5">
            <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Receiver Contact Number:</label> {{form.receiver_contact_number}}</div>
        </div>
        
        <div class="row m-5">
            <div class="col-6" id="receiver-address"><label><sup style="font-size: 18px;">*</sup>Receivers Address</label>{{form.receiver_address}}</div>            
        </div>

        <div class="row m-5">
            <div class="col-6 mt-2" id="requesthomedelivery"><label>Request Home Delivery:</label> {{form.request_home_delivery}}</div>

        </div>

        
        <div class="row ml-5" >
        </div>

        



                <div class="row mt-5">
                    <div class="col-6"><button type="submit" class="btn btn-dark">Submit</button></div>
                </div>

    </div>
  </form>
{% endblock %}


{% block script %}

  
<script>
    $(document).ready(function() {
        $('#id_parcel_origin').select2();
    });
</script>
  <script>
    var chkbox = document.getElementById('id_request_home_delivery')
    var receiver_address = document.getElementById('receiver-address')
    
    chkbox.addEventListener('click', function(){
        if(chkbox.checked==true){
            receiver_address.style.display = 'grid';
        }
        else{
            receiver_address.style.display = 'none';
        }
    })
  </script>

  


{% endblock %}