{% extends 'clienttemplates/clientbase.html' %}
{% block title %} Shipment {% endblock %}

{% block content %}


<form method="POST">
    {% csrf_token %}
        <div class="container m-4">
            <div class="row mt-5">
                <h3>General Info</h3> <span style="font-weight: 100;">(* Required Fields)</span>
            </div>
            <div class="row m-5">
                <div class="col-5"><label><sup style="font-size: 18px;">*</sup>Bundle Code:</label> {{form.bundle_code}}</div>
            </div>
            <div class="row m-5">
                <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Source Branch:</label> {{form.source_branch}}</div>
                <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Destination Branch:</label> {{form.destination_branch}}</div>
            </div>
            <div class="row m-5">
                <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Shipments:</label> {{form.shipments}}</div>
                <div class="col-6"><label>Rider:</label> {{form.rider}}</div>
            </div>
            <div class="row m-5">
                <div class="col-5"><label>Upload Document:</label> {{form.file}}</div>
            </div>
            <div class="row m-5">
                <div class="col-5"><label>Remarks:</label> {{form.remarks}}</div>
            </div>
            <div class="row m-5">
                <div class="col-6"><label>Is Sent:</label> {{form.is_sent}}</div>
                <div class="col-6"><label>Is Delivered:</label> {{form.is_delivered}}</div>
            </div>

            <div class="row mt-5">
                <div class="col-6"><button type="submit" class="btn btn-dark">Submit</button></div>
            </div>
        </div>
</form>

{% endblock %}