{% extends 'customertemplates/customer-dashboard-base.html' %}
{% block title %}Shipment Tracking Code: {{shipment.tracking_code}}{% endblock %}
{% block style %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid black;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
{% endblock %}


{% block content %}

<div class="container">
<center class="m-5"><h3><b>Tracking Code:</b> {{shipment.tracking_code}}</h3></center>
</div>

<div class="container">
    <div class="m-3"><h5><b>General Information </b></h5></div>
</div>
<div class="table">
    <table style="width: 100%;" id="shipmenttable">
        <tr>
          <th style="width: 20%;" >Parcel Origin</th>
          <th style="width: 11%;">Weight</th>
          <th style="width: 11%;">Breadth</th>
          <th style="width: 11%;">Height</th>
          <th style="width: 11%;">Cod Info</th>
          <th style="width: 11%;">Delivery Type</th>
          <th style="width: 11%;">Request PickUp</th>

        </tr>
            <tr>
            <td style="font-size: 15px;">{{shipment.parcel_origin}}</td>
            <td style="font-size: 15px;">{{shipment.weight}} {{shipment.weight_unit}}</td>
            <td style="font-size: 15px;">{{shipment.breadth}} {{shipment.breadth_unit}}</td>
            <td style="font-size: 15px;">{{shipment.height}} {{shipment.height_unit}}</td>
            <td style="font-size: 15px;">{{shipment.cod_info}}</td>
            <td style="font-size: 15px;">{{shipment.delivery_type}}</td>
            <td style="font-size: 15px;">{{shipment.request_pickup}}</td>

            </tr>
      </table>
</div>

<div class="container mt-5">
    <div class="m-3"><h5><b>Receiver Information </b></h5></div>
</div>
<div class="table">
    <table style="width: 100%;" id="shipmenttable">
        <tr>
          <th style="width: 20%;" >Name</th>
          <th style="width: 20%;">City</th>
          <th style="width: 20%;">Address</th>
          <th style="width: 20%;">Contact Number</th>
          <th style="width: 20%;">Request Home Delivery</th>
        </tr>
            <tr>
            <td style="font-size: 15px;">{{shipment.receiver_name}}</td>
            <td style="font-size: 15px;">{{shipment.receiver_city}}</td>
            <td style="font-size: 15px;">{{shipment.receiver_address}}</td>
            <td style="font-size: 15px;">{{shipment.receiver_contact_number}}</td>
            <td style="font-size: 15px;">{{shipment.request_home_delivery}}</td>
            </tr>
      </table>
</div>
    

{% endblock %}