{% extends 'customertemplates/customer-dashboard-base.html' %}
{% block title %}Shipment Tracking Code: {{shipment.tracking_code}}{% endblock %}
{% block content %}

<div class="container">
    <center class="m-5"><h3><b>Tracking Code:</b> {{shipment.tracking_code}}</h3></center>
    </div>
<form method="POST" id="myForm">
    {% csrf_token %}
  <div class="container">
      <div class="row mt-5">
          <span style="font-weight: 100;">*Required Fields</span>
      </div>
      <div class="row m-5">
          <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Weight:</label> {{form.weight}}</div>
          <div class="col-2"><label><sup style="font-size: 18px;">*</sup>Weight Unit:</label> {{form.weight_unit}}</div>
      </div>
      <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Length:</label> {{form.length}}</div>
        <div class="col-2"><label><sup style="font-size: 18px;">*</sup>length Unit:</label> {{form.length_unit}}</div>
    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Breadth:</label> {{form.breadth}}</div>
        <div class="col-2"><label><sup style="font-size: 18px;">*</sup>Breadth Unit:</label> {{form.breadth_unit}}</div>
    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Height:</label> {{form.height}}</div>
        <div class="col-2"><label><sup style="font-size: 18px;">*</sup>Height Unit:</label> {{form.height_unit}}</div>
    </div>
     <div class="row m-5">
        <!-- <div class="col-6"><label>Parcel Type:</label> {{form.parcel_type}}</div> -->
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Delivery Type:</label> {{form.delivery_type}}</div>
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Receiver Contact Number:</label> {{form.receiver_contact_number}}</div>

    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Receiver City:</label> {{form.receiver_city}}</div>
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Receiver Address:</label> {{form.receiver_address}}</div>
    </div>

    <div class="row mt-5">
        <div class="col-6"><button type="submit" class="btn btn-dark">Submit</button></div>
    </div>
</div>
</form>
{% endblock %}