{% extends 'clienttemplates/clientbase.html' %}
{% block title %} Shipment Remarks {% endblock %}


{% block content %}

    <form method="POST">{% csrf_token %}
        <div class="container m-4">
            <div class="row mt-5">
                <h3>General Info</h3> <span style="font-weight: 100;">(* Required Fields)</span>
            </div>
            <div class="row m-5">
                <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Shipment:</label> {{form.shipment}}</div>
            </div>
            <div class="row m-5">
                <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Remarks:</label> {{form.remarks}}</div>
            </div>
            <div class="row m-5">
                <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Remarks By Type:</label> {{form.remarks_by_type}}</div>
                <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Remarks By Id:</label> {{form.remarks_by_id}}</div>
            </div>
            <div class="row m-5">
                <div class="col-6">Is Private:</label> {{form.is_private}}</div>
            </div>
            <div class="row mt-5">
                <div class="col-6"><button type="submit" class="btn btn-dark">Submit</button></div>
            </div>
        </div>
    </form>


{% endblock %}