{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block css %}

<style>
    .shippers-park {
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .shippers-park {
            font-size: 20px !important;
        }
    }
</style>
{% endblock %}


{% block content %}
<div class="main-page">
    <div class="row mt-3">
        <div class="col-md-12 mt-2">
            <h4 style="text-align:center;">About Us</h4>
            <p class="text-center">ShippersPark.Com is a Unified Digital Logistics Marketplace in Nepal, that connects
                every multi-branch logistics/transport companies with their individual/business customers, partner
                logistics companies, staffs and riders. If you are a logistics service provider, you can work with
                multiple logistics companies to deliver your customers parcel everywhere. If you need delivery service,
                you can find a lots of logistics companies ready to provide you the logistics services. </p>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card p-3">

                <div class="row">
                    <div class="col-md-8">
                        <h3 class="float-left" style="color:rgb(28, 179, 121);">Are you a Logistcs Company?</h3>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'umapp:logcompanylogin' %}" class="float-right">Login</a>
                    </div>
                </div>
                <hr>
                <div class="p-3">
                    <h5>Benefits of Using our system</h5>
                    <ul>
                        <li>Complete shipment-flow record in one system</li>
                        <li>Separate Panel for all your branches</li>
                        <li>Branch wise Admin, Staffs and Delivery Person</li>
                        <li>Real time shipment status update</li>
                        <li>Working with other logistics partners is easy and standard</li>
                        <li>Delivery Person App</li>
                        <li>Great Exposure to customers</li>
                        <li>24/7 Support from us</li>
                    </ul>
                    <a href="{% url 'umapp:logcompanysignup' %}" class="btn btn-outline-success">Become a Logistics
                        Partner</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-3">

                <div class="row">
                    <div class="col-md-8">
                        <h3 class="float-left" style="color:rgb(28, 179, 121);">Need Logistics Services?</h3>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'umapp:customerlogin' %}" class="float-right">Login</a>
                    </div>
                </div>
                <hr>
                <div class="p-3">
                    <h5>Benefits of Using our system</h5>
                    <ul>
                        <li>Send your parcel anywhere</li>
                        <li>Take orders from everywhere and grow your custmers and sales</li>
                        <li>Work with multiple logistics companies at once</li>
                        <li>Choose the best logistics company for different locations</li>
                        <li>Get Real time shipment status update</li>
                        <li>Integrate it to your online system</li>
                        <li>24/7 Support from us</li>
                    </ul>
                    <a href="{% url 'umapp:customersignup' %}" class="btn btn-outline-success">Meet your Logistics
                        service
                        Providers</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}


