{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="shipperspark.com is a unified logistics marketplace in nepal where all types of multi-branch logistics/courier/transport companies, their staffs, riders can join together to handle the shipments process of individuals and regular customers like ecommerce, banks etc.">
    <meta name="author" content="Sarobar Technology Pvt. Ltd.">
    <title>shipperspark.com</title>
    <style>
        html {
      box-sizing: border-box;
      height: 100%;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    body {
      height: 100%;
      margin: 0;
    }
    .video-wrapper {
      width:100%;
      height:100vh;
      overflow: hidden;
      
    }
    </style>
</head>
<body style="margin:0px;padding:0px;overflow:hidden">
    <iframe src="https://www.youtube.com/embed/4mU2ixUPdDM?autoplay=1&mute=1&loop=1&controls=0" controls=0 frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;" height="100%" width="100%"></iframe>
</body>
<script>
  setTimeout(function(){
    location.reload()
  }, 35000);
</script>
</html>