{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Logistics Marketplace in Nepal</title>

     <script src="{% static 'logisticsstatic/plugins/jquery/js/jquery.min.js' %}"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

      <!-- /site favicon -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Font Icon Styles -->
    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/fonts/noir-pro/styles.css' %}">
    <link rel="stylesheet" href="{% static 'logisticsstatic/plugins/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/vendor/gaxon-icon/styles.css' %}">
    <!-- /font icon Styles -->

    {% comment %} font awesome {% endcomment %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <!-- Perfect Scrollbar stylesheet -->
    <link rel="stylesheet" href="{% static 'logisticsstatic/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}">
    <!-- /perfect scrollbar stylesheet -->

 
    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/css/default/theme-semidark.min.css' %}">

    
     <style>
          body {
               font-family: 'Nunito', sans-serif;
          }

          .social-icons {
               font-size: 30px;
          }

          .title {
               color: rgb(28, 146, 101)
          }
     </style>
</head>

<body class="container-fluid">
     <div class="row" style="background-color: rgb(241, 240, 240); color: rgb(68, 68, 68)">
          <div class="col-md-6 mt-2">
               <h1 class="shippers-park"><a
                         style="text-decoration: none; color: rgb(37, 181, 121); font-weight: 600;"
                         href="">WWW.SHIPPERSPARK.COM</a>
               </h1>
               <h4 class="">A Logistics Marketplace in Nepal</h4>
          </div>
          <div class="col-md-6">
               <div class="row">
                    <div class="col-md-3 p-3 card text-center">
                         <h4>50+</h4>
                         <h6>Logistics</h6>
                    </div>
                    <div class="col-md-3 p-3 card text-center">
                         <h4>100+</h4>
                         <h6>Customers</h6>
                    </div>
                    <div class="col-md-3 p-3 card text-center">
                         <h4>5000+</h4>
                         <h6>Shipments/Day</h6>
                    </div>
                    <div class="col-md-3 p-3 card text-center">
                         <h4>2000+</h4>
                         <h6>Cities Covered</h6>
                    </div>
               </div>
          </div>
     </div>
     <div class="wrapper">
          {% block content %}

          {% endblock %}
     </div>
     <div class="row footer mt-3 p-3" style="background-color:rgb(241, 240, 240)">
          <div class="col-md-3">
               <h5 class="title">Logistics Marketplace in Nepal</h5>
               <hr>
               <img src="{% static 'assets/images/last-mile.jpg' %}" class="img-fluid" alt="">
               <div class="row">
                    <div class="col-md-12">
                         <p style="text-align: justify;">ShippersPark.Com is a Unified Digital Logistics Marketplace in
                              Nepal, that
                              connects every multi-branch logistics/transport companies with their individual/business
                              customers, partner
                              logistics companies, staffs and riders.</p>
                    </div>
               </div>
          </div>
          <div class="col-md-3">
               <h5 class="title">Quick Links</h5>
               <hr>
               <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Contact us</a></li>
                    <li><a href="">Signup as a Customer</a></li>
                    <li><a href="">Signup as a Logistics Company</a></li>
                    <li><a href="">Become a Freelance Rider</a></li>
               </ul>
          </div>
          <div class="col-md-3">
               <h5 class="title">Using our platform</h5>
               <hr>
               <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Cookies Policy</a></li>
                    <li><a href="">Terms and Conditions</a></li>
                    <li><a href="">Logistics Company Terms</a></li>
                    <li><a href="">Customer Terms</a></li>
                    <li><a href="">Transportation Company Terms</a></li>
                    <li><a href="">Freelance Rider Terms</a></li>
               </ul>
          </div>
          <div class="col-md-3">
               <h5 class="title">Contacts and Support</h5>
               <hr>
               <div class="contact">
                    <p>Tutepani, Satdobato, Lalitpur<br>
                         contact@shipperspark.com</li>
                    <h6 class="font-weight-bold">Sales and Marketing Department</h6>
                    <li>marketing@shipperspark.com</li>
                    <li>9898989898/9898989898</li>
                    <h6 class="font-weight-bold">Support Department</h6>
                    <li>marketing@shipperspark.com</li>
                    <li>9898989898/9898989898</li>
                    <hr>
                    <div class="row">
                         <div class="col-md-2">
                              <a class="social-icons" href=""><i class="fab fa-facebook"></i></a>
                         </div>
                         <div class="col-md-2">
                              <a class="social-icons" href=""><i class="fab fa-instagram"></i></a>
                         </div>
                         <div class="col-md-2">
                              <a class="social-icons" href=""><i class="fab fa-whatsapp"></i></a>
                         </div>
                         <div class="col-md-2">
                              <a class="social-icons" href=""><i class="fab fa-viber"></i></a>
                         </div>
                         <div class="col-md-2">
                              <a class="social-icons" href=""><i class="fab fa-twitter"></i></a>
                         </div>
                         <div class="col-md-2">
                              <a class="social-icons" href=""><i class="fab fa-linkedin"></i></a>
                         </div>
                    </div>
               </div>
          </div>
     </div>




  
     <script src="{% static 'logisticsstatic/plugins/sweetalert2/js/sweetalert2.js' %}"></script>
     <script src="{% static 'assets/js/global/sweet-alert.js' %}"></script>
    

     {% if messages %}
     {% for message in messages %}
         {% if message.tags == 'success' %}
             <script>
                 let timerInterval;
                 swal({
                         type: "success",
                         title: "success",
                         text: "{{message}}"
                    });
             </script>
         {% elif message.tags == 'info' %}
             <script type=text/javascript>
                 let timerInterval;
                 swal({
                     type: "info",
                     title: "{{message}}",
                     text: "",
                     animation: true,
                     toast: true,
                     icon: 'info',
                     position: 'top-right',
                     showConfirmButton: false,
                     timer: 3000,
                     timerProgressBar: true,
                 });
             </script>
         {% elif message.tags == 'warning' %}
             <script type=text/javascript>
                 swal({
                     type: 'warning',
                     title: '{{message}}',
                     text: '!',
                     footer: '',
                     animation: true,
                     toast: true,
                     icon: 'warning',
                     position: 'top-right',
                     showConfirmButton: false,
                     timer: 3000,
                     timerProgressBar: true,
               });
             </script>
         {% elif message.tags == 'error' %}
             <script type=text/javascript>
                 swal({
                     type: 'error',
                     title: '{{message}}',
                     timer: 2000,
                     text: '',
                     footer: '',
                     animation: true,
                     toast: true,
                     icon: 'error',
                     position: 'top-right',
                     showConfirmButton: false,
                     timer: 3000,
                     timerProgressBar: true,
               });
             </script>
         {% endif %}
     {% endfor %}
 {% endif %}
<block js>

</block>
</body>
</html>