{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style type="text/css">
        /*td{
            padding: 15px!important;
        }*/
    </style>
</head>
<body>
    <div class="container" style="border: 1px solid black; color: #000; font-family: sans-serif;">
        <div style="padding: 20px;">
            <h3 style="text-align: center; font-size: 16px;"> Kalpa Logistics Shipment Payments (COD Handovers To Make) <br> '{{customer_name}}'</h3>
            <p style="text-align: right; font-size: 14px;">{{printed_at}}</p>
            <div class="row">
            <table class="table" style="width: 100%; font-size: 11px;">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Customer Info</th>
                        <th>Shipment Code</th>
                        <th>Shipment status /<br>Mode of Payment </th>
                        <th>Service Payment</th>
                        <th>COD Handovers To Make</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shipment in shipmentlist %}
                    <tr style="background-color: {% if shipment.cod_handover %}#CFFFD5{% else %}white{% endif %};">
                        <td>{% if shipment.cod_handover %}{% else %}<input type="checkbox" class="check-shipments" data-id="{{shipment.id}}">{% endif %}</td>
                        <td>
                            {{shipment.receiver_name}} <br>
                            {{shipment.receiver_contact}} <br>
                            {{shipment.dropoff_street_address}}
                        </td>
                        <td><a href="" target="_blank"><p>{{shipment.shipment_code}}</p>{{shipment.created_at}}</a></td>
                        <td> <span class="badge badge-{% if shipment.shipment_status == 'Parcel Delivered' %}success{% else %}danger{% endif %}">{{shipment.shipment_status}}</span><br><span class="badge badge-danger">{{shipment.mode_of_payment}}</span></td>
                        {% if shipment.service_payment_status %}
                        <td>0</td>
                        {% else %}
                        <td>Rs. {{shipment.total_charge}}</td>
                        {% endif %}
                        {% if shipment.cod_handover %}
                        <td>0</td>
                        {% else %}
                        <td>Rs. {{shipment.parcel_total}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b style="font-size: 12px;">COD Handover: Rs. {{total_cod_handover}} /-</b></td> 
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</body>
</html>