{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Customer Payment{% endblock %}
{% block customerspayment %}active-title{% endblock %}
{% block customerpayment %}active-title{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="row">
            <div class="col-xl-12">
                <select class="mb-3 paginate-by" name="paginate-by" id="paginate-by">
                    <option value="25">Show 25</option>
                    <option value="50">Show 50</option>
                    <option value="100">Show 100</option>
                </select>
                <div class="card">
                    <div class="card-header card-nav border-bottom-0">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h3 class="dt-card__title" id="status-title">Customer List</h3>
                            <input type="text" class="d-inline-block search-input" placeholder="Type And Press Enter" style="width: 200px; float: right;">
                        </div>
                    </div>        
                    <div class="card-body">
                        <div class="media-list media-separator" id="loadlogisticscustomerlist">
                            <div class="table-responsive">
                                <table class="table mb-0 table-fluid">
                                    <thead>
                                        <tr>
                                            <th>S.N</th>
                                            <th scope="col" style="width: 25%;">Full Name</th>
                                            <th scope="col" style="width: 30%;">Company Name</th>
                                            <th scope="col" style="width: 30%;">Phone Number</th>
                                            <th scope="col" style="width: 10%;">Address</th>
                                            <th scope="col" style="width: 5%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="load-more-data">
                                        {% for customer in logisticscustomerlist %}
                                        <tr>
                                            <td><a>{{forloop.counter}}</a></td>
                                            <td ><a href="{%url 'umapp:opcustomersdetail' customer.pk %}">{{customer.full_name}}</a></td>
                                            <td ><a href="{%url 'umapp:opcustomersdetail' customer.pk %}">{{customer.company_name}}</a></td>
                                            <td><a>{{customer.contact_number}}</a></td>
                                            <td><a>{{customer.address}}</a></td>
                                            <td>
                                                <a class="btn-sm btn-info" href="{% url 'lmsapp:lalcshipmentpayment' customer.pk %}"><i class="icon icon-revenue-new icon-3x"></i></a>
                                            </td> 
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div id="load-more-button">
                                {% if logisticscustomerlist.has_other_pages %}
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            {% if logisticscustomerlist.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link page-link-number" data-href="?page={{logisticscustomerlist.previous_page_number}}{% if paginate_by %}&paginate_by={{paginate_by}}{% endif %}"
                                                   tabindex="-1">Previous</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link page-link-number" data-href="javascript:void(0)"
                                                   tabindex="-1">Previous</a>
                                            </li>
                                            {% endif %}
                                            {% for n in logisticscustomerlist.paginator.page_range %}
                                            {% if logisticscustomerlist.number == n %}
                                            <li class="page-item disabled"><a class="page-link page-link-number"
                                                                     data-href="{{n}}">{{n}}</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item"><a class="page-link page-link-number"
                                                data-href="?page={{n}}{% if paginate_by %}&paginate_by={{paginate_by}}{% endif %}">{{n}}</a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                            {% if logisticscustomerlist.has_next %}
                                            <li class="page-item">
                                                <a class="page-link page-link-number" data-href="?page={{logisticscustomerlist.next_page_number}}{% if paginate_by %}&paginate_by={{paginate_by}}{% endif %}">Next</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link page-link-number" data-href="">Next</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endif %}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}