<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Shipment Label</title>
        <style>
            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #container {
                width: inherit;
                height: inherit;
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                background: none;
                color: #000;
                font-size: 12px;
            }
            h1 {
                margin: 0;
                padding: 0;
            }
        </style>
        <style>
            .table {
                width: 100%;
                /* margin-bottom: 1rem; */
                color: #000;
            }
            .table th,
            .table td {
                /* padding: 0.75rem; */
                vertical-align: top;
                /* border-top: 1px solid #dee2e6; */
                padding: 2px;
            }
            .table thead th {
            vertical-align: bottom;
            /* border-bottom: 2px solid #dee2e6; */
            }
            .table tbody + tbody {
            /* border-top: 2px solid #dee2e6; */
            }
            .table-sm th,
            .table-sm td {
            /* padding: 0.3rem; */
            }

            .table-bordered {
            /* border: 1px solid #dee2e6; */
            }

            .table-bordered th,
            .table-bordered td {
            border: 1px solid #dee2e6;
            }

            .table-bordered thead th,
            .table-bordered thead td {
            border-bottom-width: 2px;
            }
    thead {
        border-top: 1px dashed #000;
        border-bottom: 1px dashed #000;
    }

    tbody tr td {
        vertical-align: text-top;
    }

    @page{
        size: auto;
        margin: 0 !important;
    }
        </style>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
        <script type="text/javascript" src="{% static 'barcode.js' %}"></script>
        <script type="text/javascript" src="{% static 'qrcode.js' %}"></script>
    </head>
    <body>
        {% if shipmentlist %}
        {% for shipment in shipmentlist %}
        <div id="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 33.3%;">&nbsp;&nbsp;{{org}}</td>
                        <td class="text-center p-0" style="width: 33.3%;"><span style="font-size:10px;">Shipment Origin</span> <br> {{shipment.parcel_origin}}</td>
                        <td class="text-center" style="width: 33.3%;"><span style="font-size:10px;">Date</span><br> {{date_time.date}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align: center;">
                        <td colspan="3"><svg id="barcode_{{shipment.id}}_barcode" style="height: 100px;"></svg></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="{{shipment.id}}qrcode" style="text-align: center;">
                            </div>
                        </td>
                        <td colspan="2">
                            <span style="font-size: 11px;">Receipent: 
                                {{shipment.receiver_name}} 
                                <br>
                                Tel: {{shipment.receiver_contact_number}}
                                <br>Address: {{shipment.receiver_address}}, {{shipment.receiver_city}}, {{shipment.receiver_city.district}} 
                                </span>
                                <br>
                                <hr>
                                <span style="font-size: 10px;">Sender: 
                                    {{shipment.sender_name}} 
                                <br>
                                Tel: {{shipment.sender_contact_number}}
                                <br>Address: {{shipment.sender_address}}, {{shipment.sender_city}}, {{shipment.sender_city.district}} 
                                </span>
                                <br>
                                <hr>
                                <span style="font-size: 10px;">Total: Rs. {{shipment.cod_value}} /-</span> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <script type="text/javascript">
            // var shipmentId = "{{shipment.id}}";
            // alert(shipmentId)
            JsBarcode("#barcode_{{shipment.id}}_barcode", "{{shipment.tracking_code}}");
        </script>

        <script type="text/javascript">
            var qrcode = new QRCode(document.getElementById("{{shipment.id}}qrcode"), {
                width : 130,
                height : 130
            });
            qrcode.makeCode(' {{shipment.receiver_name}} (Tel: {{shipment.receiver_contact_number}}) - {{shipment.receiver_address}}, {{shipment.receiver_city}}, {{shipment.receiver_city.district}} ');
        </script>
        {% endfor %}
        {% else %}
        <div id="container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-center" style="width: 33.3%;">&nbsp;&nbsp;{{org}}</td>
                            <td class="text-center p-0" style="width: 33.3%;"><span style="font-size:10px;">Shipment Origin</span> <br> {{shipment.parcel_origin}}</td>
                            <td class="text-center" style="width: 33.3%;"><span style="font-size:10px;">Date</span><br> {{date_time.date}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center;">
                            <td colspan="3"><svg id="barcode" style="height: 100px;"></svg></td>
                        </tr>
                        <tr>
                            <td>
                                <div id="qrcode" style="text-align: center;">
                                </div>
                            </td>
                            <td colspan="2">
                                <span style="font-size: 11px;">Receipent: 
                                    {{shipment.receiver_name}} 
                                    <br>
                                    Tel: {{shipment.receiver_contact_number}}
                                    <br>Address: {{shipment.receiver_address}}, {{shipment.receiver_city}}, {{shipment.receiver_city.district}} 
                                    </span>
                                    <br>
                                    <hr>
                                    <span style="font-size: 10px;">Sender: 
                                        {{shipment.sender_name}} 
                                    <br>
                                    Tel: {{shipment.sender_contact_number}}
                                    <br>Address: {{shipment.sender_address}}, {{shipment.sender_city}}, {{shipment.sender_city.district}} 
                                    </span>
                                    <br>
                                    <hr>
                                    <span style="font-size: 10px;">Total: Rs. {{shipment.cod_value}} /-</span> 
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        
        <script type="text/javascript">
            JsBarcode("#barcode", "{{shipment.tracking_code}}");
        </script>

        <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width : 130,
            height : 130
        });
            qrcode.makeCode(' {{shipment.receiver_name}} (Tel: {{shipment.receiver_contact_number}}) - {{shipment.receiver_address}}, {{shipment.receiver_city}}, {{shipment.receiver_city.district}} ');
        </script>
        {% endif %}
    </body>
</html>