{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Update Shipment{% endblock %}
{% block shipments %}active-title{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="dt-page__header">
            <h1 class="dt-page__title">Update Shipment</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="dt-card">
                                <div class="dt-card__header">
                                    <div class="dt-card__heading">
                                        <h3 class="dt-card__title">Sender Info</h3>
                                    </div>
                                </div>
                                <div class="dt-card__body">
                                    <div class="row">
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Name</label><br>
                                            {{form.sender_name}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Contact</label><br>
                                            {{form.sender_contact_number}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>City</label><br>
                                            {{form.sender_city}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Address</label><br>
                                            {{form.sender_address}}
                                        </div>
                                        <div class="col-sm-12 col-12 mb-3">
                                            <label>Email</label><br>
                                            {{form.sender_email}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="dt-card">
                                <div class="dt-card__header">
                                    <div class="dt-card__heading">
                                        <h3 class="dt-card__title">Receiver Info</h3>
                                    </div>
                                </div>
                                <div class="dt-card__body">
                                    <div class="row">
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Name</label><br>
                                            {{form.receiver_name}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Contact</label><br>
                                            {{form.receiver_contact_number}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>City</label><br>
                                            {{form.receiver_city}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Address</label><br>
                                            {{form.receiver_address}}
                                        </div>
                                        <div class="col-sm-12 col-12 mb-3">
                                            <label>Email</label><br>
                                            {{form.receiver_email}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="dt-card">
                                <div class="dt-card__header">
                                    <div class="dt-card__heading">
                                        <h3 class="dt-card__title">Shipment Charges</h3>
                                    </div>
                                </div>
                                <div class="dt-card__body">
                                    <div class="row">
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>COD Info</label><br>
                                            {{form.cod_info}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Delivery Type</label><br>
                                            {{form.delivery_type}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Shipment Value</label><br>
                                            {{form.cod_value}}
                                        </div>
                                        <div class="offset-6 mb-3">
                                            
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Pickup Charge</label><br>
                                            {{form.pickup_charge}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Dropoff Charge</label><br>
                                            {{form.dropoff_charge}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Shipping Charge</label><br>
                                            {{form.shipping_charge}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>COD Charge</label><br>
                                            {{form.cod_handling_charge}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Rejection Charge</label><br>
                                            {{form.rejection_handling_charge}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Extra Charge</label><br>
                                            {{form.extra_charge}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="dt-card">
                                <div class="dt-card__header">
                                    <div class="dt-card__heading">
                                        <h3 class="dt-card__title">Shipment Info</h3>
                                    </div>
                                </div>
                                <div class="dt-card__body">
                                    <div class="row">
                                        <div class="col-sm-12 col-12 mb-3">
                                            <label>Weight</label><br>
                                            {{form.weight}} {{form.weight_unit}}
                                        </div>
                                        <div class="col-sm-12 col-12 mb-3">
                                            <label>Dimenstion (l*b*h)</label><br>
                                            {{form.length}}
                                            {{form.breadth}}
                                            {{form.height}} {{form.length_unit}}
                                        </div>
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Shipment Type</label><br>
                                            {{form.parcel_type}}
                                        </div>
                                        <div class="col-sm-12 col-12 mb-3">
                                            <label>Current Shipment Status</label><br>
                                            <input type="text" class="form-control-sm" style="width: 100%;" value="{{shipment.shipmentactivity_set.last.shipment_status}}" disabled>
                                        </div>
                                        <div class="col-sm-6 col-12 mb-3">
                                            <label>Change Shipment Status</label><br>
                                            {{shipmentactivityform.shipment_status}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-warning" style="height: 70px; width: 30%;">Update Shipment</button>
            </div>
        </form>
    </div>
</div>



{% endblock %}

{% block js %}

{% endblock %}