{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Shipments{% endblock %}
{% block shipments %}active-title{% endblock %}
{% block css %}
<style>
    .nav-link:hover {
        cursor: pointer;
        background-color: #fff;
    }
    .pagination {
        cursor: pointer;
        color: #3e2280;
    }
    .shippingcharge-editable {
        background-color: aliceblue;
        color: blue;
        cursor: pointer;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<!-- <link href="{% static 'x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css' %}" rel="stylesheet" /> -->
<!-- <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/> -->
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css" rel="stylesheet"/>


{% endblock %}
{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
        <!-- <div class="dt-page__header">
            <h1 class="dt-page__title">Shipment List</h1>
        </div> -->
        <div class="row">
            <div class="col-xl-12">
                <select class="mb-3 paginate-by" name="paginate-by" id="paginate-by">
                    <option value="25">Show 25</option>
                    <option value="50">Show 50</option>
                    <option value="100">Show 100</option>
                </select>
                <div class="card">
                    <!-- <div class="float-center">
                        <input type="text" placeholder="Search Shipment" class="form-control-sm" style="width: 100%;">
                    </div> -->
                    <div class="card-header card-nav border-bottom-0">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h3 class="dt-card__title" id="status-title"></h3>
                            <a href="{% url 'lmsapp:lashipmentcreate' %}" class="d-inline-block"><i
                                    class="icon icon-circle-add-o mr-2"></i>Add New Shipment</a>
                        </div>

                        <ul id="shipmentstatus" class="card-header-tabs nav nav-tabs nav-tabs-sm nav-scroll mx-0"
                            role="tablist">
                            <li class="nav-item">
                                <a id="pending" class="nav-link active" >Pending</a>
                            </li>
                            <li class="nav-item">
                                <a id="staff-assigned" class="nav-link">Staff Assigned</a>
                            </li>
                            <li class="nav-item">
                                <a id="staff-picked-up" class="nav-link">Staff Picked Up</a>
                            </li>
                            <li class="nav-item">
                                <a id="at-warehouse" class="nav-link">At Warehouse</a>
                            </li>
                            <li class="nav-item">
                                <a id="staff-assigned-for-delivery" class="nav-link">Assigned For Delivery</a>
                            </li>
                            <li class="nav-item">
                                <a id="pickedup-for-delivery" class="nav-link">Picked up For Delivery</a>
                            </li>
                            <li class="nav-item">
                                <a id="shipmentdelivered" class="nav-link">Delivered</a>
                            </li>
                            <li class="nav-item">
                                <a id="shipment-rejected" class="nav-link">Rejected</a>
                            </li>
                            <li class="nav-item">
                                <a id="ready-to-return" class="nav-link">Ready to Return</a>
                            </li>
                            <li class="nav-item">
                                <a id="assign-staff-for-return" class="nav-link">Assigned For Return</a>
                            </li>
                            <li class="nav-item">
                                <a id="pickedup-for-return" class="nav-link">Pickedup For Return</a>
                            </li>
                            <li class="nav-item">
                                <a id="shipment-returned" class="nav-link">Returned</a>
                            </li>
                            <li class="nav-item">
                                <a id="canceled" class="nav-link">Canceled</a>
                            </li>
                        </ul>
                    </div>        
                    <div class="card-body">
                        <button id="selectedshipmentdetail" class="btn btn-sm mb-3" style="text-decoration: underline;">View Ticked Detail</button>
                        <div class="media-list media-separator" id="loadshipmentlist">
                            <div class="loader"></div>                                   
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</div>

<div id="assignstaffconfirm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="loadmodalcontent">
            
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        if ( sessionStorage.getItem("status") ){
            status = sessionStorage.getItem("status")
            $('.nav-link').removeClass('active');
            $('#'+ status).addClass('active');

        }
        else{
            status = sessionStorage.setItem("status", "Pending")
        }
        $.ajax({
			url: '{% url "lmsapp:cmplaloadshipmentlist" %}',
			data: {
				'status' : status,
                'paginate_by': $('#paginate-by').val() || 25,
			},
			success: function(data){    
                // setTimeout(function(){
                    $('#status-title').text(status + ' Shipments')
                    $('#loadshipmentlist').html(data);
                // }, 500) 
            }
		});
    });

    // select all box on click
    $('.card-body').on('click', '#selectallinputbox', function(){
        if ($(this).is(':checked')){
            $('table [type="checkbox"]').each(function (row, element) {
                $(this).prop('checked',true);
            })    
        }
        else{
            $('table [type="checkbox"]').each(function (row, element) {
                $(this).prop('checked',false);
            })
        }
    })

    $('#shipmentstatus li').on('click', function(){
        var status = $(this).find('a').attr('id');
        $('.nav-link').removeClass('active');
        $(this).find('a').addClass('active');
        $.ajax({
			url: '{% url "lmsapp:cmplaloadshipmentlist" %}',
			data: {
				'status' : status,
                'paginate_by': $('#paginate-by').val() || 25,
			},
            beforeSend: function() {
                $('#loadshipmentlist').addClass('loader');

            },
            complete: function() {
                $('#loadshipmentlist').removeClass('loader');
            },
			success: function(data){    
                // setTimeout(function(){
                    // $('#loadshipmentlist').removeClass('loader');
                    $('#loadshipmentlist').empty();
                    $('#status-title').text(status + ' Shipments ')
                    $('#loadshipmentlist').html(data);
                    sessionStorage.setItem("status", status)
                // }, 500) 
            }
		});
    });
</script>
<!-- For Pending Shipment -->
<script>
    $('#loadshipmentlist').on("click", '#print-shipment-label-btn, #rider-pickup-shipment-btn, #staff-assign-btn, #cancel-shipment-btn, #pickedup-shipment-btn,  #assignstaff-for-delivery-shipment-btn, #pickedup-for-delivery-shipment-btn, #confirm-delivered-shipment-btn, #return-shipment-to-warehouse-btn, #reassign-shipment-for-delivery-btn, #assign-shipment-to-return-btn, #pickedup-shipment-for-return-btn', function (event) {
        var my_checklist = []
        $('table [type="checkbox"]').each(function (row, element) {
            if (element.checked && element.getAttribute("data-id")) {
                my_checklist.push(element.getAttribute("data-id"))
            }
        });
        if (my_checklist.length < 1) {
            swal({
                type: "warning",
                title: "select any shipments first",
                text: "",
                animation: true,
                toast: true,
                icon: 'warning',
                position: 'top-right',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
            });
        }
        else {
            $.ajax({
                url: '{% url "lmsapp:ajaxlashipmentchangestatus" %}',
                data: {
                    'shipment_ids': JSON.stringify(my_checklist),
                },
                beforeSend: function () {
                    $('#loadshipmentlist').addClass('loader');

                },
                complete: function () {
                    $('#loadshipmentlist').removeClass('loader');
                },
                success: function (data) {
                    if ( event.target.id == 'staff-assign-btn' ){
                        $('#loadmodalcontent').parent().removeClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Assign Staff</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Select Staff and assign selected parcel for pickup schedule.</p>
                                {{staffform.rider}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" id="assignstaffconfirmvalid" type="button" data-ids="${data.shipment_ids}">Assign Staff</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'print-shipment-label-btn'){
                        $('#loadmodalcontent').parent().removeClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Print Shipping Label</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Confirm if you want to print the shipment label.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-success" id="printshipmentlabelvalid" type="button" data-ids="${data.shipment_ids}">Confirm</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'rider-pickup-shipment-btn'){
                        $('#loadmodalcontent').parent().removeClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Change to Rider Picked Up</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Confirm if shipment has been picked up by rider.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-success" id="riderpickedupshipmentvalid" type="button" data-ids="${data.shipment_ids}">Rider Picked up</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'pickedup-shipment-btn' ){
                        $('#loadmodalcontent').parent().addClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Change to Picked up</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Confirm if shipment is brought in logistics warehouse.</p>
                                <table class="table table-responsive table-stripped">
                                    <thead>
                                        <tr>
                                            <th>Shipments</th>
                                            <th style="width:150px;">Total Value</th>
                                            <th style="width:150px;">Shipping Charge</th>
                                            <th>COD</th>
                                            <th style="width:150px;">Rejection Charge</th>
                                            <th style="width:130px;">Parcel WxD</th>
                                        </tr>
                                    </thead>
                                    <tbody id="shipmenttable">
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-success" id="pickedupshipmentvalid" type="button" data-ids="${data.shipment_ids}">Picked up</button>
                            </div>
                        `
                        var div = ``
                        $.map(data.shipmentlistvalues, function (item) {
                            console.log(item)
                            var dav = `
                                <tr>
                                    <td data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" title="Receiver Info" data-html="true" data-content="${item.receiver_name} - ${item.receiver_contact_number} <br>${item.receiver_address}, ${item.receiver_city__name}.">${item.tracking_code}</td>
                                    <td>${item.cod_value}</td>
                                    <td class="shippingcharge-editable" data-type="number" data-pk="${item.id}" data-url="{% url 'lmsapp:ajaxlashipmentchargeupdate' 'shipping_charge' %}" data-title="Enter Shipping Charge" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                                        ${item.shipping_charge}
                                    </td>
                                    <td class="shippingcharge-editable" data-type="number" data-pk="${item.id}" data-url="{% url 'lmsapp:ajaxlashipmentchargeupdate' 'cod_handling_charge' %}" data-title="Enter Shipping Charge" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">${item.cod_handling_charge}</td>
                                    <td class="shippingcharge-editable" data-type="number" data-pk="${item.id}" data-url="{% url 'lmsapp:ajaxlashipmentchargeupdate' 'rejection_handling_charge' %}" data-title="Enter Shipping Charge" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">${item.rejection_handling_charge}</td>
                                    <td>${item.weight} ${item.weight_unit} <br> (${item.length}x${item.breadth}x${item.height})${item.length_unit}<sup>3</sup></td>
                                </tr>
                                `
                            div += dav
                        })
                        setTimeout(() => {
                            document.getElementById('shipmenttable').innerHTML = div;
                            $('[data-toggle=popover]').popover({container: 'body'});
                            $('.shippingcharge-editable').editable({
                                success: function(response, newValue) {
                                    if(response.status == 'success'){
                                        swal({
                                            type: "success",
                                            title: `${response.msg}`,
                                            text: "",
                                            animation: true,
                                            toast: true,
                                            icon: 'success',
                                            position: 'top-right',
                                            showConfirmButton: false,
                                            timer: 3000,
                                            timerProgressBar: true,
                                        });
                                    } else {
                                        swal({
                                            type: "warning",
                                            title: `${response.msg}`,
                                            text: "",
                                            animation: true,
                                            toast: true,
                                            icon: 'warning',
                                            position: 'top-right',
                                            showConfirmButton: false,
                                            timer: 3000,
                                            timerProgressBar: true,
                                        });
                                        return false;
                                    }
                                }
                            });
                            $('.editable-click').css('border-bottom', 'none');
                        }, 500);

                    }
                    else if ( event.target.id == 'cancel-shipment-btn') {
                        $('#loadmodalcontent').parent().removeClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Cancel Shipments</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Selected shipment status will be changed to canceled on confirmation.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-danger" id="cancelshipmentvalid" type="button" data-ids="${data.shipment_ids}">Confirm Shipment Cancel</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'assignstaff-for-delivery-shipment-btn' ){
                        $('#loadmodalcontent').parent().removeClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Assign Staff For Delivery</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Select Staff and assign selected parcel for delivery.</p>
                                {{staffform.rider}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" id="assignstafffordeliveryvalid" type="button" data-ids="${data.shipment_ids}">Assign Staff</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'pickedup-for-delivery-shipment-btn' ){
                        $('#loadmodalcontent').parent().removeClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Confirm Pickedup for Delivery</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Selected shipment status will be changed to 'picked up for delivery' on confirmation.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-warning" id="pickedupfordeliveryvalid" type="button" data-ids="${data.shipment_ids}">Confirm pickedup for delivery</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'confirm-delivered-shipment-btn' ){
                        $('#loadmodalcontent').parent().removeClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Confirm Shipments Delivered</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Selected shipment status will be changed to 'delivered' on confirmation.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-success" id="confirmdeliveredvalid" type="button" data-ids="${data.shipment_ids}">Confirm Shipments Delivered</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'return-shipment-to-warehouse-btn' ){
                        $('#loadmodalcontent').parent().removeClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Confirm Shipments Returned To Warehouse</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Selected shipment will be changed to 'returned to warehouse' on confirmation.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-danger" id="returntowarehousevalid" type="button" data-ids="${data.shipment_ids}">Ready to Return (Owner)</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'reassign-shipment-for-delivery-btn' ){
                        $('#loadmodalcontent').parent().removeClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Reassign Staff For Delivery</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Selected shipment will be changed to 'at warehouse' on confirmation and can be further processed for delivery next time.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-warning" id="reasignshipmentfordeliveryvalid" type="button" data-ids="${data.shipment_ids}">Reassign For Delivery</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'assign-shipment-to-return-btn' ){
                        $('#loadmodalcontent').parent().removeClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Assign Staff for Returning</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Selected shipment will be changed to 'assigned for returning' on confirmation.</p>
                                {{staffform.rider}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-danger" id="assignshipmentforreturnvalid" type="button" data-ids="${data.shipment_ids}">Assign Staff To Return</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'pickedup-shipment-for-return-btn' ){
                        $('#loadmodalcontent').parent().removeClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Confirm Picked up For Returning</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Selected shipment will be changed to 'picked up for returning' on confirmation.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-danger" id="pickedupshipmentforreturnvalid" type="button" data-ids="${data.shipment_ids}">Confirm Picked up to Return</button>
                            </div>
                        `
                    }
                    // else if ( event.target.id == 'create-shipment-bundle-btn' ){
                    //     $('#loadmodalcontent').parent().removeClass('modal-lg');
                    //     html_content = `
                    //         <div class="modal-header">
                    //             <h3 class="modal-title" id="model-3">Create a Bundle</h3>
                    //             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    //                 <span aria-hidden="true">&times;</span>
                    //             </button>
                    //         </div>
                    //         <div class="modal-body">
                    //             <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                    //             <p class="text-dark">All selected shipments will be in a bundle on confirmation.</p>
                    //         </div>
                    //         <div class="modal-footer">
                    //             <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    //             <button class="btn btn-warning" id="shipmentbundlecreatevalid" type="button" data-ids="${data.shipment_ids}">Create Bundle</button>
                    //         </div>
                    //     `
                    // }
                    // if ( event.target.id != 'pickedup-shipment-btn' ){
                    //     $('#loadmodalcontent').append(html_content)
                    // }
                    $('#loadmodalcontent').append(html_content)
                    $('#assignstaffconfirm').modal('show');
                }
            });
        }


    });
</script>
<script>
    $('body').on('click', '#printshipmentlabelvalid, #riderpickedupshipmentvalid, #assignstaffconfirmvalid, #cancelshipmentvalid, #pickedupshipmentvalid, #assignstafffordeliveryvalid, #pickedupfordeliveryvalid, #confirmdeliveredvalid, #returntowarehousevalid, #reasignshipmentfordeliveryvalid, #assignshipmentforreturnvalid, #pickedupshipmentforreturnvalid', function (e) {
        if (e.target.id == 'assignstaffconfirmvalid' && $('#id_rider').val() == '') {
            swal({
                type: "warning",
                title: "Select a staff first",
                text: "",
                animation: true,
                toast: true,
                icon: 'warning',
                position: 'top-right',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
            });
        }
        else if (e.target.id == 'assignstafffordeliveryvalid' && $('#id_rider').val() == '') {
            swal({
                type: "warning",
                title: "Select a staff first",
                text: "",
                animation: true,
                toast: true,
                icon: 'warning',
                position: 'top-right',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
            });
        }
        else if (e.target.id == 'assignshipmentforreturnvalid' && $('#id_rider').val() == '') {
            swal({
                type: "warning",
                title: "Select a staff first",
                text: "",
                animation: true,
                toast: true,
                icon: 'warning',
                position: 'top-right',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
            });
        }
        else {
            var data_ids = $(this).attr("data-ids")
            data_ids = data_ids.split(",")
            if (e.target.id == 'assignstaffconfirmvalid') {
                staff = $('#id_rider').val();
                status = 'assignstaff'
            }
            else if (e.target.id == "riderpickedupshipmentvalid") {
                staff = ''
                status = 'riderpickedupshipment'
            }
            else if (e.target.id == 'cancelshipmentvalid') {
                staff = ''
                status = 'cancelshipment'
            }
            else if (e.target.id == 'pickedupshipmentvalid') {
                staff = ''
                status = 'pickedupshipment'
            }
            else if (e.target.id == 'assignstafffordeliveryvalid') {
                staff = $('#id_rider').val();
                status = 'assignstafffordelivery'
            }
            else if (e.target.id == 'assignstafffordeliveryvalid') {
                staff= ''
                status = 'pickedupfordelivery'
            }
            else if (e.target.id == 'pickedupfordeliveryvalid') {
                staff= ''
                status = 'pickedupfordelivery'
            }
            else if (e.target.id == 'confirmdeliveredvalid') {
                staff= ''
                status = 'confirmdelivered'
            }
            else if (e.target.id == 'returntowarehousevalid') {
                staff= ''
                status = 'returnedtowarehouse'
            }
            else if (e.target.id == 'reasignshipmentfordeliveryvalid') {
                staff= ''
                status = 'reasignshipmentfordelivery'
            }
            else if (e.target.id == 'assignshipmentforreturnvalid') {
                staff= $('#id_rider').val();
                status = 'assignshipmentforreturn'
            }
            else if (e.target.id == 'pickedupshipmentforreturnvalid') {
                staff= ''
                status = 'pickedupshipmentforreturn'
            }
            // else if (e.target.id == 'shipmentbundlecreatevalid') {
            //     staff= ''
            //     status = 'shipmentbundlecreate'
            // }
            
            if (e.target.id == 'printshipmentlabelvalid') {
                $.ajax({
                    method: 'POST',
                    url: '{% url "lmsapp:lashipmentbulkshipmentlabel" %}',
                    data: {
                        'shipment_ids': JSON.stringify(data_ids),
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                    },
                    success: function (data) {
                        var w = window.open('about:blank');
                        w.document.open();
                        w.document.write(data);
                        w.print();
                        $('#assignstaffconfirm').modal('hide');
                    }
                });
            } else {
                $.ajax({
                    method: 'POST',
                    url: '{% url "lmsapp:ajaxlashipmentchangestatus" %}',
                    data: {
                        'shipment_ids': JSON.stringify(data_ids),
                        'staff': staff,
                        'status': status,
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                    },
    
                    success: function (data) {
                        location.reload()
                    }
                });
            }
        }
    });
</script>
<script>
    $('#assignstaffconfirm').on('hidden.bs.modal', function () {
        $('#loadmodalcontent').html('');
    });
</script>
<!-- pagination -->
<script>
    $('body').on('click', '.page-link-next', function(e){
        e.preventDefault();
        var url1= $(this).attr('data-href');
        $.ajax({
            url : "{% url 'lmsapp:cmplaloadshipmentlist' %}"+url1,
            data: {
                'status': sessionStorage.getItem("status"),
                'keyword': $('.search-input').val(),
            },
            beforeSend: function () {
                    $('.page-link-next').html('Loading');
                    $('.page-link-next').prop('disabled', true);
            },
            complete: function () {
                // $('.page-link-next').removeClass('Load More');
                $('.page-link-next').prop('disabled', false);
            },
            success: function(data){
                const doc = document.createElement("div");
                doc.innerHTML = data;
                $('#load-more-data').append(doc.querySelector('#load-more-data').innerHTML);
                $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
            }

        });
    });
</script>
<script>
    $('body').on('click', '.page-link-number', function(e){
        e.preventDefault();
        var url1= $(this).attr('data-href');
        $.ajax({
            url : "{% url 'lmsapp:cmplaloadshipmentlist' %}"+url1,
            data: {
                'status': sessionStorage.getItem("status"),
                'keyword': $('.search-input').val(),
            },
            beforeSend: function () {
                $('#loadshipmentlist').addClass('loader');

            },
            complete: function () {
                $('#loadshipmentlist').removeClass('loader');
            },
            success: function(data){
                const doc = document.createElement("div");
                doc.innerHTML = data;
                $('#load-more-data').html(doc.querySelector('#load-more-data').innerHTML);
                $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
            }

        });
    });
</script>
<script>
    $('body').keypress('.search-input', function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13' && $('#assignstaffconfirm').hasClass('show') == false){
            var keyword = $('.search-input').val();
            $.ajax({
                url: "{% url 'lmsapp:cmplaloadshipmentlist' %}",
                data: {
                    'status': sessionStorage.getItem("status"),
                    'keyword': keyword,
                    'cityId': $('#city-filter').val(),
                    'paginate_by': $('#paginate-by').val() || 25,
                    'staff_select': $('#staff-select').val(),
                },
                beforeSend: function () {
                    $('#loadshipmentlist').addClass('loader');
                },
                complete: function () {
                    $('#loadshipmentlist').removeClass('loader');
                },
                success: function(data){
                    const doc = document.createElement("div");
                    doc.innerHTML = data;
                    $('#load-more-data').html(doc.querySelector('#load-more-data').innerHTML);
                    $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
                }
            })
        }
    })
</script>
<script>
    $('body').on('change', '#city-filter', function(e){
        e.preventDefault();
        $.ajax({
            url : "{% url 'lmsapp:cmplaloadshipmentlist' %}",
            data: {
                'status': sessionStorage.getItem("status"),
                'cityId': $('#city-filter').val(),
                'keyword': $('.search-input').val(),
                'paginate_by': $('#paginate-by').val() || 25,
            },
            beforeSend: function () {
                $('#loadshipmentlist').addClass('loader');
            },
            complete: function () {
                $('#loadshipmentlist').removeClass('loader');
            },
            success: function(data){
                const doc = document.createElement("div");
                doc.innerHTML = data;
                $('#load-more-data').html(doc.querySelector('#load-more-data').innerHTML);
                $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
            }

        });
    })
</script>
<script>
    $('#paginate-by').on('change', function(e){
        e.preventDefault();
        $.ajax({
            url: "{% url 'lmsapp:cmplaloadshipmentlist' %}",
            data: {
                'status': sessionStorage.getItem("status"),
                'paginate_by': $('#paginate-by').val() || 25,
                'cityId': $('#city-filter').val(),
                'keyword': $('.search-input').val(),
                'staff_select': $('#staff-select').val(),
            },
            beforeSend: function () {
                $('#loadshipmentlist').addClass('loader');
            },
            complete: function () {
                $('#loadshipmentlist').removeClass('loader');
            },
            success: function(data){
                const doc = document.createElement("div");
                doc.innerHTML = data;
                $('#load-more-data').html(doc.querySelector('#load-more-data').innerHTML);
                $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
            }
        })
    });
</script>
<script>
    $('body').on('change', '#staff-select', function(e){
        e.preventDefault();
        $.ajax({
            url : "{% url 'lmsapp:cmplaloadshipmentlist' %}",
            data: {
                'status': sessionStorage.getItem("status"),
                'keyword': $('.search-input').val(),
                'paginate_by': $('#paginate-by').val() || 25,
                'staff_select': $('#staff-select').val(),
            },
            beforeSend: function () {
                $('#loadshipmentlist').addClass('loader');
            },
            complete: function () {
                $('#loadshipmentlist').removeClass('loader');
            },
            success: function(data){
                const doc = document.createElement("div");
                doc.innerHTML = data;
                $('#load-more-data').html(doc.querySelector('#load-more-data').innerHTML);
                $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
            }

        });
    })
</script>

<!-- <script src="{% static 'x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js' %}"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/js/bootstrap-editable.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/extensions/editable/bootstrap-table-editable.min.js"></script>
<script type="text/javascript">
	$('.shippingcharge-editable').editable({
		success: function(response, newValue) {
        	// if(response.status == 'error'){
        	// 	return response.msg;
        	// } 
        		location.reload();
    	}
    });
</script>
{% endblock %}
