{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Shipment Detail{% endblock %}
{% block shipments %}active-title{% endblock %}
{% block css %}
<style>
    .nav-link:hover {
        cursor: pointer;
        background-color: #fff;
    }
</style>
{% endblock %}
{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="mb-0 dt-page__header">
            <h1 class="dt-page__title">Shipment Detail</h1>
        </div>
        <nav class="mb-3 bg-light">
            <div class="row">
                <div class="col-sm-6 col-6 mt-5">
                    <div class="pull-left ml-3">
                        Current Status: <span class="text-dark">{{shipment.shipmentactivity_set.last.shipment_status}}</span>
                    </div>
                </div>
                <div class="col-sm-6 col-6 mt-3 text-right">
                    <a href="{% url 'lmsapp:lashipmentupdate' shipment.id %}"><button type="button" class="btn btn-warning btn-sm mb-3 mr-3">Update</button></a>
                    <a href="javascript: w=window.open('{% url 'lmsapp:lashipmentshippinglabel' shipment.id %}'); w.print();"><button type="button" class="btn btn-warning btn-sm mb-3 mr-3">Print Shipping Label</button></a>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-xl-7">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="dt-card">
                            <div class="dt-card__header">
                                <div class="dt-card__heading">
                                    <h3 class="dt-card__title">Sender Info</h3>
                                </div>
                            </div>
                            <div class="dt-card__body">
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <label>Name: </label>
                                        <span class="text-dark">{{shipment.sender_name}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Contact: </label>
                                        <span class="text-dark">{{shipment.sender_contact_number}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>City: </label>
                                        <span class="text-dark">{{shipment.sender_city}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Address: </label>
                                        <span class="text-dark">{{shipment.sender_address}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Email: </label>
                                        <span class="text-dark">{{shipment.sender_email}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="dt-card">
                            <div class="dt-card__header">
                                <div class="dt-card__heading">
                                    <h3 class="dt-card__title">Receiver Info</h3>
                                </div>
                            </div>
                            <div class="dt-card__body">
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <label>Name: </label>
                                        <span class="text-dark">{{shipment.receiver_name}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Contact: </label>
                                        <span class="text-dark">{{shipment.receiver_contact_number}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>City: </label>
                                        <span class="text-dark">{{shipment.receiver_city}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Address: </label>
                                        <span class="text-dark">{{shipment.receiver_address}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Email: </label>
                                        <span class="text-dark">{{shipment.receiver_email}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="dt-card">
                            <div class="dt-card__header">
                                <div class="dt-card__heading">
                                    <h3 class="dt-card__title">Shipment Info</h3>
                                </div>
                            </div>
                            <div class="dt-card__body">
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <label>Tracking Code: </label>
                                        <span class="text-dark">{{shipment.tracking_code}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Shipment Created At: </label>
                                        <span class="text-dark">{{shipment.created_at}}</span>
                                        <span style="color: #FF4068;">{{shipment.created_at|timesince}} ago</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Weight: </label>
                                        <span class="text-dark">{{shipment.weight}} {{shipment.weight_unit}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Dimenstion (l*b*h): </label>
                                        <span class="text-dark">{{shipment.length}}*{{shipment.breadth}}*{{shipment.height}} {{shipment.length_unit}} </span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Shipment Type: </label>
                                        <span class="text-dark">{{shipment.parcel_type}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Current Shipment Status: </label>
                                        <input type="text" class="form-control-sm text-dark" style="width: 100%;" value="{{shipment.shipmentactivity_set.last.shipment_status}}" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="dt-card">
                            <div class="dt-card__header">
                                <div class="dt-card__heading">
                                    <h3 class="dt-card__title">Shipment Charges</h3>
                                </div>
                            </div>
                            <div class="dt-card__body">
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <label>Shipment Value: </label>
                                        <span class="text-dark float-right">Rs. {{shipment.cod_value}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Pickup Charge: </label>
                                        <span class="text-dark float-right">Rs. {{shipment.pickup_charge}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Dropoff Charge: </label>
                                        <span class="text-dark float-right">Rs. {{shipment.dropoff_charge}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Shipping Charge: </label>
                                        <span class="text-dark float-right">Rs. {{shipment.shipping_charge}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>COD Charge: </label>
                                        <span class="text-dark float-right">Rs. {{shipment.cod_handling_charge}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Rejection Charge: </label>
                                        <span class="text-dark float-right">Rs. {{shipment.rejection_handling_charge}}</span>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <label>Extra Charge: </label>
                                        <span class="text-dark float-right">Rs. {{shipment.extra_charge}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header card-nav border-bottom-0">
                                <ul id="enquirystatus" class="card-header-tabs nav nav-tabs nav-tabs-sm nav-scroll mx-0"
                                    role="tablist">
                                    <li class="nav-item">
                                        <a id="notes" class="nav-link active" >NOTES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="activities" class="nav-link">ACTIVITIES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="partner-chat" class="nav-link">PARTNER CHAT</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="loadenquirylist">
                                <div class="card-body" >
                                    <div class="media-list media-separator">
                                        <div class="loader"></div>                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block js %}
<script>
    function scrollBottom(){
        var element = document.getElementById("chatscrollbottom");
        element.scrollTop = element.scrollHeight;
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $.ajax({
			url: '{% url "lmsapp:cmplaloadenquirylist" %}',
			data: {
				'status' : 'notes',
				'shipment_id' : '{{shipment.id}}',
			},
			success: function(data){    
                setTimeout(function(){
                    document.getElementById("loadenquirylist").innerHTML = data;
                    scrollBottom();
                }, 100) 
            }
		});
    });
    $('#enquirystatus li').on('click', function(){
        var status = $(this).find('a').attr('id');
        $('.nav-link').removeClass('active');
        $(this).find('a').addClass('active');
        $.ajax({
			url: "{% url 'lmsapp:cmplaloadenquirylist' %}",
			data: {
				'status' : status,
				'shipment_id' : '{{shipment.id}}',
			},
            beforeSend: function() {
                $('#loadenquirylist').html('');
                $('#loadenquirylist').addClass('loader');
            },
            complete: function() {
                // $('#loadenquirylist').removeClass('loader');
            },
			success: function(data){    
                setTimeout(function(){
                    $('#loadenquirylist').removeClass('loader');
                    document.getElementById("loadenquirylist").innerHTML = data;
                    scrollBottom();
                }, 100) 
            }
		});
    });
</script>

<script>
    $('body').on('keyup', '#notearea, #chatarea', function(){
        if($(this).val().length !=0)
            $(this).next('button').attr('disabled', false);            
        else
            $(this).next('button').attr('disabled', true);            
	});
    $('body').on('click', '#addnote, #addchat', function(e){
        if  ($(this).prev('textarea').val().length == ''){
            alert('Please Write something first')
        }
        else{
            if (e.target.id == 'addnote'){
                var change = 'addnote'
            }
            else if (e.target.id == 'addchat'){
                var change = 'addchat'
            }
            else{
                var change = ''
            }
            $.ajax({
                method: 'POST',
                url: "{% url 'lmsapp:ajaxlashipmentactivitycreate' shipment.id %}",
                data: {
					'change' : change,
					'c_model': 'branchoperator',
					'message' : $(this).prev('textarea').val(),
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                },
                success: function (data) {
                    location.reload();
                }
            });
        }
	})
    
</script>
{% endblock %}