{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- /meta tags -->
    <title>{% block title %}{% endblock %} - Logistics Company</title>

    <!-- Site favicon -->
    <link rel="shortcut icon" href="{% static 'logisticsstatic/favicon.png' %}" type="image/x-icon">
    <!-- /site favicon -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Font Icon Styles -->
    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/fonts/noir-pro/styles.css' %}">
    <link rel="stylesheet" href="{% static 'logisticsstatic/plugins/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/vendor/gaxon-icon/styles.css' %}">
    <!-- /font icon Styles -->

    {% comment %} font awesome {% endcomment %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <!-- Perfect Scrollbar stylesheet -->
    <link rel="stylesheet" href="{% static 'logisticsstatic/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}">
    <!-- /perfect scrollbar stylesheet -->

    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/plugins/owl.carousel/css/owl.carousel.min.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/plugins/chartist/css/chartist.min.css' %}"
        media="all" />

    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/css/default/theme-semidark.min.css' %}">

    <style>
        .active-title {
            color: #FF4068 !important;
        }

        .loader {
            margin: auto;
            border: 16px solid #f3f3f3;
            border-top: 16px solid #FF4068;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .disabledfeature {
            color: #ccc;
            cursor: not-allowed;
        }

        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textField;
        }
    </style>
    {% block css %}

    {% endblock %}

    <script>
        var rtlEnable = '';
        var $mediaUrl = 'https://drift-admin.g-axon.work/';
        var $baseUrl = 'https://drift-admin.g-axon.work/';
        var current_path = window.location.href.split('https://drift-admin.g-axon.work/').pop();

    </script>


    <script src="{% static 'logisticsstatic/plugins/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/plugins/moment/js/moment.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Perfect Scrollbar jQuery -->
    <script src="{% static 'logisticsstatic/plugins/perfect-scrollbar/js/perfect-scrollbar.min.js' %}"></script>
    <!-- /perfect scrollbar jQuery -->
</head>

<body class="dt-layout--default dt-sidebar--fixed dt-header--fixed">
    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10">
                </circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">
            <!-- Header -->
            <header class="dt-header">

                <!-- Header container -->
                <div class="dt-header__container">

                    <!-- Brand -->
                    <div class="dt-brand">

                        <!-- Brand tool -->
                        <div class="dt-brand__tool" data-toggle="main-sidebar">
                            <div class="hamburger-inner"></div>
                        </div>
                        <!-- /brand tool -->

                        <!-- Brand logo -->
                        <span class="dt-brand__logo">
                            <a class="dt-brand__logo-link" href="{% url 'lmsapp:lahome' %}">
                                <img class="d-none d-sm-inline-block" src="{% static 'logisticsstatic/favicon.png' %}"
                                    style='height:50px;' alt="Drift">
                                <img class="dt-brand__logo-symbol d-sm-none"
                                    src="{% static 'logisticsstatic/favicon.png' %}" alt="Drift">
                            </a>
                        </span>
                        <!-- /brand logo -->

                    </div>
                    <!-- /brand -->

                    <!-- Header toolbar-->
                    <div class="dt-header__toolbar">

                        <!-- Search box -->
                        <form class="search-box d-none d-lg-block">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search in app..." value="" type="search">
                                <span class="search-icon"><i class="icon icon-search icon-lg"></i></span>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">Search
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- /search box -->

                        <!-- Header Menu Wrapper -->
                        <div class="dt-nav-wrapper">
                            <!-- Header Menu -->
                            <ul class="dt-nav d-lg-none">
                                <li class="dt-nav__item dt-notification-search dropdown">

                                    <!-- Dropdown Link -->
                                    <a href="#" class="dt-nav__link dropdown-toggle no-arrow" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"> <i
                                            class="icon icon-search icon-fw icon-lg"></i> </a>
                                    <!-- /dropdown link -->

                                    <!-- Dropdown Option -->
                                    <div class="dropdown-menu">

                                        <!-- Search Box -->
                                        <form class="search-box right-side-icon">
                                            <input class="form-control form-control-lg" type="search"
                                                placeholder="Search in app...">
                                            <button type="submit" class="search-icon"><i
                                                    class="icon icon-search icon-lg"></i></button>
                                        </form>
                                        <!-- /search box -->

                                    </div>
                                    <!-- /dropdown option -->

                                </li>
                            </ul>
                            <!-- /header menu -->

                            <!-- Header Menu -->
                            <ul class="dt-nav">
                                <li class="dt-nav__item dt-notification-app dropdown">

                                    <!-- Dropdown Link -->
                                    <a href="#" class="dt-nav__link dropdown-toggle no-arrow" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"> <i
                                            class="icon icon-apps icon-sm icon-fw"></i>
                                        <span>Apps</span> </a>
                                    <!-- /dropdown link -->

                                    <!-- Dropdown Option -->
                                    <div class="dropdown-menu ps-custom-scrollbar">

                                        <!-- Apps -->
                                        <ul class="dt-app-list">
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-achiever.png' %}"
                                                        alt="Achiever">
                                                    <span class="dt-app-list__text">Achiever</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-bookmark.png' %}"
                                                        alt="Bookmark">
                                                    <span class="dt-app-list__text">Bookmark</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-calculator.png' %}"
                                                        alt="Calculator">
                                                    <span class="dt-app-list__text">Calculator</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-camera.png' %}"
                                                        alt="Camera">
                                                    <span class="dt-app-list__text">Camera</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-chat.png' %}"
                                                        alt="Chat">
                                                    <span class="dt-app-list__text">Chat</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-compass.png' %}"
                                                        alt="Compass">
                                                    <span class="dt-app-list__text">Compass</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-locator.png' %}"
                                                        alt="Locator">
                                                    <span class="dt-app-list__text">Locator</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-message.png' %}"
                                                        alt="Bottle Message">
                                                    <span class="dt-app-list__text">Message</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-music.png' %}"
                                                        alt="Music">
                                                    <span class="dt-app-list__text">Music</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-notes.png' %}"
                                                        alt="Notes">
                                                    <span class="dt-app-list__text">Notes</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-sender.png' %}"
                                                        alt="Sender">
                                                    <span class="dt-app-list__text">Sender</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-shopping.png' %}"
                                                        alt="Shopping">
                                                    <span class="dt-app-list__text">Shopping</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-video-chat.png' %}"
                                                        alt="Video Chat">
                                                    <span class="dt-app-list__text">Video Chat</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-watch.png' %}"
                                                        alt="watch">
                                                    <span class="dt-app-list__text">Watch</span> </a>
                                            </li>
                                            <li class="dt-app-list__item">
                                                <a href="javascript:void(0)" class="dt-app-list__link">
                                                    <img src="{% static 'logisticsstatic/assets/images/icon/icon-writing.png' %}"
                                                        alt="Writing">
                                                    <span class="dt-app-list__text">Writing</span> </a>
                                            </li>
                                        </ul>
                                        <!-- /apps -->

                                    </div>
                                    <!-- /dropdown option -->

                                </li>
                            </ul>
                            <!-- /header menu -->

                            <!-- Header Menu -->
                            <ul class="dt-nav">
                                <li class="dt-nav__item dt-notification dropdown">

                                    <!-- Dropdown Link -->
                                    <a href="#" class="dt-nav__link dropdown-toggle no-arrow" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"> <i
                                            class="icon icon-notification2 icon-fw dt-icon-alert"></i>
                                    </a>
                                    <!-- /dropdown link -->

                                    <!-- Dropdown Option -->
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                                        <!-- Dropdown Menu Header -->
                                        <div class="dropdown-menu-header">
                                            <h4 class="title">Notifications (9)</h4>

                                            <div class="ml-auto action-area">
                                                <a href="javascript:void(0)">Mark All Read</a> <a class="ml-2"
                                                    href="javascript:void(0)">
                                                    <i class="icon icon-settings icon-lg text-light-gray"></i> </a>
                                            </div>
                                        </div>
                                        <!-- /dropdown menu header -->

                                        <!-- Dropdown Menu Body -->
                                        <div class="dropdown-menu-body ps-custom-scrollbar">

                                            <div class="h-auto">
                                                <!-- Media -->
                                                <a href="javascript:void(0)" class="media">

                                                    <!-- Avatar -->
                                                    <img class="dt-avatar mr-3"
                                                        src="{% static 'logisticsstatic/assets/images/user-avatar/stella-johnson.jpg' %}"
                                                        alt="User">
                                                    <!-- avatar -->

                                                    <!-- Media Body -->
                                                    <span class="media-body">
                                                        <span class="message">
                                                            <span class="user-name">Stella Johnson</span> and <span
                                                                class="user-name">Chris Harris</span>
                                                            have birthdays today. Help them celebrate!
                                                        </span>
                                                        <span class="meta-date">8 hours ago</span>
                                                    </span>
                                                    <!-- /media body -->

                                                </a>
                                                <!-- /media -->

                                                <!-- Media -->
                                                <a href="javascript:void(0)" class="media">

                                                    <!-- Avatar -->
                                                    <img class="dt-avatar mr-3"
                                                        src="{% static 'logisticsstatic/assets/images/user-avatar/jeson-born.jpg' %}"
                                                        alt="User">
                                                    <!-- avatar -->

                                                    <!-- Media Body -->
                                                    <span class="media-body">
                                                        <span class="message">
                                                            <span class="user-name">Jonathan Madano</span> commented on
                                                            your post.
                                                        </span>
                                                        <span class="meta-date">9 hours ago</span>
                                                    </span>
                                                    <!-- /media body -->

                                                </a>
                                                <!-- /media -->

                                                <!-- Media -->
                                                <a href="javascript:void(0)" class="media">

                                                    <!-- Avatar -->
                                                    <img class="dt-avatar mr-3"
                                                        src="{% static 'logisticsstatic/assets/images/user-avatar/selena.jpg' %}"
                                                        alt="User">
                                                    <!-- avatar -->

                                                    <!-- Media Body -->
                                                    <span class="media-body">
                                                        <span class="message">
                                                            <span class="user-name">Chelsea Brown</span> sent a video
                                                            recomendation.
                                                        </span>
                                                        <span class="meta-date">
                                                            <i
                                                                class="icon icon-play-circle text-primary icon-fw mr-1"></i>
                                                            13 hours ago
                                                        </span>
                                                    </span>
                                                    <!-- /media body -->

                                                </a>
                                                <!-- /media -->

                                                <!-- Media -->
                                                <a href="javascript:void(0)" class="media">

                                                    <!-- Avatar -->
                                                    <img class="dt-avatar mr-3"
                                                        src="{% static 'logisticsstatic/assets/images/user-avatar/alex-dolgove.jpg' %}"
                                                        alt="User">
                                                    <!-- avatar -->

                                                    <!-- Media Body -->
                                                    <span class="media-body">
                                                        <span class="message">
                                                            <span class="user-name">Alex Dolgove</span> and <span
                                                                class="user-name">Chris Harris</span>
                                                            like your post.
                                                        </span>
                                                        <span class="meta-date">
                                                            <i class="icon icon-like text-light-blue icon-fw mr-1"></i>
                                                            yesterday at 9:30
                                                        </span>
                                                    </span>
                                                    <!-- /media body -->

                                                </a>
                                                <!-- /media -->
                                            </div>

                                        </div>
                                        <!-- /dropdown menu body -->

                                        <!-- Dropdown Menu Footer -->
                                        <div class="dropdown-menu-footer">
                                            <a href="javascript:void(0)" class="card-link"> See All <i
                                                    class="icon icon-arrow-right icon-fw"></i>
                                            </a>
                                        </div>
                                        <!-- /dropdown menu footer -->
                                    </div>
                                    <!-- /dropdown option -->

                                </li>

                                <li class="dt-nav__item dt-notification dropdown">

                                    <!-- Dropdown Link -->
                                    <a href="#" class="dt-nav__link dropdown-toggle no-arrow" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"> <i
                                            class="icon icon-open-mail icon-fw"></i> </a>
                                    <!-- /dropdown link -->

                                    <!-- Dropdown Option -->
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                                        <!-- Dropdown Menu Header -->
                                        <div class="dropdown-menu-header">
                                            <h4 class="title">Messages (6)</h4>

                                            <div class="ml-auto action-area">
                                                <a href="javascript:void(0)">Mark All Read</a> <a class="ml-2"
                                                    href="javascript:void(0)">
                                                    <i class="icon icon-settings icon-lg text-light-gray"></i></a>
                                            </div>
                                        </div>
                                        <!-- /dropdown menu header -->

                                        <!-- Dropdown Menu Body -->
                                        <div class="dropdown-menu-body ps-custom-scrollbar">

                                            <div class="h-auto">

                                                <!-- Media -->
                                                <a href="javascript:void(0)" class="media">

                                                    <!-- Avatar -->
                                                    <img class="dt-avatar mr-3"
                                                        src="{% static 'logisticsstatic/assets/images/user-avatar/mathew.jpg' %}"
                                                        alt="User">
                                                    <!-- avatar -->

                                                    <!-- Media Body -->
                                                    <span class="media-body text-truncate">
                                                        <span class="user-name mb-1">Chris Mathew</span>
                                                        <span class="message text-light-gray text-truncate">Okay.. I
                                                            will be waiting for your...</span>
                                                    </span>
                                                    <!-- /media body -->

                                                    <span class="action-area h-100 min-w-80 text-right">
                                                        <span class="meta-date mb-1">8 hours ago</span>
                                                        <!-- Toggle Button -->
                                                        <span class="toggle-button" data-toggle="tooltip"
                                                            data-placement="left" title="Mark as read">
                                                            <span class="show"><i
                                                                    class="icon icon-dot-o icon-fw f-10 text-light-gray"></i></span>
                                                            <span class="hide"><i
                                                                    class="icon icon-dot icon-fw f-10 text-light-gray"></i></span>
                                                        </span>
                                                        <!-- /toggle button -->
                                                    </span>
                                                </a>
                                                <!-- /media -->

                                                <!-- Media -->
                                                <a href="javascript:void(0)" class="media">

                                                    <!-- Avatar -->
                                                    <img class="dt-avatar mr-3"
                                                        src="{% static 'logisticsstatic/assets/images/user-avatar/stella-johnson.jpg' %}"
                                                        alt="User">
                                                    <!-- avatar -->

                                                    <!-- Media Body -->
                                                    <span class="media-body text-truncate">
                                                        <span class="user-name mb-1">Alia Joseph</span>
                                                        <span class="message text-light-gray text-truncate">
                                                            Alia Joseph just joined Messenger! Be the first to send a
                                                            welcome message or sticker.
                                                        </span>
                                                    </span>
                                                    <!-- /media body -->

                                                    <span class="action-area h-100 min-w-80 text-right">
                                                        <span class="meta-date mb-1">9 hours ago</span>
                                                        <!-- Toggle Button -->
                                                        <span class="toggle-button" data-toggle="tooltip"
                                                            data-placement="left" title="Mark as read">
                                                            <span class="show"><i
                                                                    class="icon icon-dot-o icon-fw f-10 text-light-gray"></i></span>
                                                            <span class="hide"><i
                                                                    class="icon icon-dot icon-fw f-10 text-light-gray"></i></span>
                                                        </span>
                                                        <!-- /toggle button -->
                                                    </span>
                                                </a>
                                                <!-- /media -->

                                                <!-- Media -->
                                                <a href="javascript:void(0)" class="media">

                                                    <!-- Avatar -->
                                                    <img class="dt-avatar mr-3"
                                                        src="{% static 'logisticsstatic/assets/images/user-avatar/steve-smith.jpg' %}"
                                                        alt="User">
                                                    <!-- avatar -->

                                                    <!-- Media Body -->
                                                    <span class="media-body text-truncate">
                                                        <span class="user-name mb-1">Joshua Brian</span>
                                                        <span class="message text-light-gray text-truncate">
                                                            Alex will explain you how to keep the HTML structure and all
                                                            that.
                                                        </span>
                                                    </span>
                                                    <!-- /media body -->

                                                    <span class="action-area h-100 min-w-80 text-right">
                                                        <span class="meta-date mb-1">12 hours ago</span>
                                                        <!-- Toggle Button -->
                                                        <span class="toggle-button" data-toggle="tooltip"
                                                            data-placement="left" title="Mark as read">
                                                            <span class="show"><i
                                                                    class="icon icon-dot-o icon-fw f-10 text-light-gray"></i></span>
                                                            <span class="hide"><i
                                                                    class="icon icon-dot icon-fw f-10 text-light-gray"></i></span>
                                                        </span>
                                                        <!-- /toggle button -->
                                                    </span>
                                                </a>
                                                <!-- /media -->

                                                <!-- Media -->
                                                <a href="javascript:void(0)" class="media">

                                                    <!-- Avatar -->
                                                    <img class="dt-avatar mr-3"
                                                        src="{% static 'logisticsstatic/assets/images/user-avatar/domnic-brown.jpg' %}"
                                                        alt="User">
                                                    <!-- avatar -->

                                                    <!-- Media Body -->
                                                    <span class="media-body text-truncate">
                                                        <span class="user-name mb-1">Domnic Brown</span>
                                                        <span class="message text-light-gray text-truncate">Okay.. I
                                                            will be waiting for your...</span>
                                                    </span>
                                                    <!-- /media body -->

                                                    <span class="action-area h-100 min-w-80 text-right">
                                                        <span class="meta-date mb-1">yesterday</span>
                                                        <!-- Toggle Button -->
                                                        <span class="toggle-button" data-toggle="tooltip"
                                                            data-placement="left" title="Mark as read">
                                                            <span class="show"><i
                                                                    class="icon icon-dot-o icon-fw f-10 text-light-gray"></i></span>
                                                            <span class="hide"><i
                                                                    class="icon icon-dot icon-fw f-10 text-light-gray"></i></span>
                                                        </span>
                                                        <!-- /toggle button -->
                                                    </span>
                                                </a>
                                                <!-- /media -->

                                            </div>

                                        </div>
                                        <!-- /dropdown menu body -->

                                        <!-- Dropdown Menu Footer -->
                                        <div class="dropdown-menu-footer">
                                            <a href="javascript:void(0)" class="card-link"> See All <i
                                                    class="icon icon-arrow-right icon-fw"></i>
                                            </a>
                                        </div>
                                        <!-- /dropdown menu footer -->
                                    </div>
                                    <!-- /dropdown option -->

                                </li>
                            </ul>
                            <!-- /header menu -->

                            <!-- Header Menu -->
                            <ul class="dt-nav">
                                <li class="dt-nav__item dropdown">

                                    <!-- Dropdown Link -->
                                    <a href="#" class="dt-nav__link dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i
                                            class="flag-icon flag-icon-us flag-icon-rounded flag-icon-lg"></i><span>english</span>
                                    </a>
                                    <!-- /dropdown link -->

                                    <!-- Dropdown Option -->
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item disabledfeature" href="javascript:void(0)"><i
                                                class="flag-icon flag-icon-np mr-2"></i><span>nepali</span> </a>
                                    </div>
                                    <!-- /dropdown option -->

                                </li>
                            </ul>
                            <!-- /header menu -->

                            <!-- Header Menu -->
                            <ul class="dt-nav">
                                <li class="dt-nav__item dropdown">

                                    <!-- Dropdown Link -->
                                    <a href="#" class="dt-nav__link dropdown-toggle no-arrow dt-avatar-wrapper"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if operator.image %}
                                        <img style='width: 30px;height: 31px;border-radius: 52%;'
                                            src="{{operator.image.url}}" alt='profileimg'>
                                        {% else %}
                                        <img class="dt-avatar size-30"
                                            src="{% static 'logisticsstatic/assets/images/user-avatar/domnic-harris.jpg' %}"
                                            alt="Domnic Harris">
                                        {% endif %}
                                        <span class="dt-avatar-info d-none d-sm-block">
                                            <span class="dt-avatar-name"
                                                style='margin:5px;'>{{operator.full_name}}</span>
                                        </span> </a>
                                    <!-- /dropdown link -->

                                    <!-- Dropdown Option -->
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div
                                            class="dt-avatar-wrapper flex-nowrap p-6 mt-n2 bg-gradient-purple text-white rounded-top">

                                            {% if operator.image %}
                                            <img style='width: 50px;height: 50px;border-radius: 50%;'
                                                src="{{operator.image.url}}" alt='profileimg'>
                                            {% else %}

                                            <img class="dt-avatar"
                                                src="{% static 'logisticsstatic/assets/images/user-avatar/domnic-harris.jpg' %}"
                                                alt="Domnic Harris">
                                            {% endif %}
                                            <span class="dt-avatar-info">
                                                <span class="dt-avatar-name">{{operator.full_name}}</span>
                                                <span class="f-12" style='margin:5px;'>{{operator.operator_type}}</span>
                                            </span>
                                        </div>
                                        <a class="dropdown-item" href="{% url 'umapp:operatoraccount' %}"> <i
                                                class="icon icon-user icon-fw mr-2 mr-sm-1"></i>Account
                                        </a> <a class="dropdown-item" href="javascript:void(0)">
                                            <i class="icon icon-settings icon-fw mr-2 mr-sm-1"></i>Setting</a> </a>
                                        <a class="dropdown-item" href="{% url 'umapp:logout' %}"> <i
                                                class="icon icon-logout icon-fw mr-2 mr-sm-1"></i>Logout
                                        </a>
                                    </div>
                                    <!-- /dropdown option -->

                                </li>
                            </ul>
                            <!-- /header menu -->
                        </div>
                        <!-- Header Menu Wrapper -->

                    </div>
                    <!-- /header toolbar -->

                </div>
                <!-- /header container -->

            </header>
            <!-- /header -->
            <!-- Site Main -->
            <main class="dt-main">
                <!-- Sidebar -->
                <aside id="main-sidebar" class="dt-sidebar">
                    <div class="dt-sidebar__container">

                        <!-- Sidebar Navigation -->
                        <ul class="dt-side-nav">

                            <!-- Menu Header -->
                            <li class="dt-side-nav__item dt-side-nav__header">
                                <span class="dt-side-nav__text">main</span>
                            </li>
                            <!-- /menu header -->

                            <!-- Menu Item -->
                            <li class="dt-side-nav__item">
                                <a href="{% url 'lmsapp:lahome' %}"
                                    class="dt-side-nav__link {% block dashboard %}{% endblock %}">
                                    <i class="icon icon-dashboard icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">dashboard</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="#" class="dt-side-nav__link {% block calculator %}{% endblock %}">
                                    <i class="icon icon-tables icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">value calculator</span>
                                </a>
                            </li>
                            <!-- /menu item -->

                            <!-- Menu Header -->
                            <li class="dt-side-nav__item dt-side-nav__header">
                                <span class="dt-side-nav__text">Manage Shipment</span>
                            </li>
                            <!-- /menu header -->

                            <!-- Menu Item -->
                            <li class="dt-side-nav__item">
                                <a href="{% url 'lmsapp:lashipmentlist' %}"
                                    class="dt-side-nav__link {% block shipments %}{% endblock %}">
                                    <i class="icon icon-task-manager icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Shipments</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="{% url 'lmsapp:labundlelist' %}"
                                    class="dt-side-nav__link {% block bundles %}{% endblock %}">
                                    <i class="icon icon-task-manager icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">My Bundles</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="{% url 'lmsapp:laincomingbundlelist' %}"
                                    class="dt-side-nav__link {% block receivedbundles %}{% endblock %}">
                                    <i class="icon icon-task-manager icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Incoming Bundles</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="{% url 'lmsapp:lashipmentcreate' %}"
                                    class="dt-side-nav__link {% block shipmentcreate %}{% endblock %}">
                                    <i class="icon icon-contacts-app icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Create a Shipment</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="#" class="dt-side-nav__link">
                                    <i class="icon icon-chat-app2 icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Bulk Shipments</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="{% url 'umapp:shippinglist' %}"
                                    class="dt-side-nav__link {% block shippingzone %}{% endblock %}">
                                    <i class="icon icon-chat-app2 icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Shipping Zone</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="{% url 'lmsapp:customerrequestquotation' %}" class="dt-side-nav__link {% block customerrequestquotation %}{% endblock %}">
                                    <i class="icon icon-chat-app2 icon-fw icon-lg"></i>
                                    {% if contract < 1 %}
                                    <span class="dt-side-nav__text">Quotation Request
                                    </span>
                                    {% else %}
                                    <span class="dt-side-nav__text"> <i class='icon icon-notification2 icon-fw dt-icon-alert' style='float:right;height:5px;'></i> Quotation Request
                                    </span>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow {% block requestquotationapproved %}{% endblock %}">
                                    <i class="icon icon-basic-components icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Charges Quotation Request</span>
                                </a>
                                <ul class="dt-side-nav__sub-menu">
                                    <li class="dt-side-nav__item" title="Logistics Customers">
                                        <a href="{% url 'lmsapp:customerrequestquotationapproved' %}" class="dt-side-nav__link">
                                        <i class="icon icon-chat-app2 icon-fw icon-lg"></i>
                                        <span class="dt-side-nav__text">UnSigned Quotation Request</span>
                                        </a>
                                    </li>
                                    <li class="dt-side-nav__item" title="Customers Type 1">
                                        <a href="{% url 'lmsapp:customerrequestsignedquotationapproved' %}" class="dt-side-nav__link">
                                        <i class="icon icon-chat-app2 icon-fw icon-lg"></i>
                                        <span class="dt-side-nav__text">Signed Quotation Request</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- /menu item -->

                            <!-- Menu Header -->
                            <li class="dt-side-nav__item dt-side-nav__header">
                                <span class="dt-side-nav__text">User Management</span>
                            </li>
                            <!-- /menu header -->

                            <!-- Menu Item -->
                            <li class="dt-side-nav__item">
                                <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow">
                                    <i class="icon icon-basic-components icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Customers</span>
                                </a>

                                <!-- Sub-menu -->
                                <ul class="dt-side-nav__sub-menu">
                                    <li class="dt-side-nav__item" title="Logistics Customers">
                                        <a href="{% url 'umapp:opcustomerslist' %}" class="dt-side-nav__link">
                                            <i class="icon icon-alert icon-fw icon-lg"></i>
                                            <span class="dt-side-nav__text">Logistics Customers</span>
                                        </a>
                                    </li>
                                    <li class="dt-side-nav__item" title="Customers Type 1">
                                        <a href="#" class="dt-side-nav__link" data-trigger="hover" data-container="body"
                                            data-toggle="popover" data-placement="right" title="Customer Type 1"
                                            data-content="List of all the customers of this logistics.">
                                            <i class="icon icon-alert icon-fw icon-lg"></i>
                                            <span class="dt-side-nav__text">Customers Type 1</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- /sub-menu -->
                            </li>

                            <li class="dt-side-nav__item">
                                <a href="javascript:void(0)"
                                    class="dt-side-nav__link dt-side-nav__arrow {% block operator %}{% endblock %}">
                                    <i class="icon icon-basic-components icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Operator</span>
                                </a>

                                <!-- Sub-menu -->
                                <ul class="dt-side-nav__sub-menu">
                                    <li class="dt-side-nav__item">
                                        <a href="{% url 'umapp:operatorlist' %}" class="dt-side-nav__link"
                                            data-toggle="tooltip" data-placement="right" title="Logistics Operators">
                                            <i class="icon icon-alert icon-fw icon-lg"></i>
                                            <span class="dt-side-nav__text">Logistics Operators</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- /sub-menu -->
                            </li>

                            <li class="dt-side-nav__item">
                                <a href="javascript:void(0)"
                                    class="dt-side-nav__link dt-side-nav__arrow {% block deliveryperson %}{% endblock %}">
                                    <i class="icon icon-basic-components icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Delivery Person</span>
                                </a>

                                <!-- Sub-menu -->
                                <ul class="dt-side-nav__sub-menu">
                                    <li class="dt-side-nav__item">
                                        <a href="{% url 'umapp:opdeliverypersonlist' %}" class="dt-side-nav__link"
                                            data-toggle="tooltip" data-placement="right" title="Logistics Operators">
                                            <i class="icon icon-alert icon-fw icon-lg"></i>
                                            <span class="dt-side-nav__text">Riders</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- /sub-menu -->
                            </li>
                            <!-- Menu Header -->
                            <li class="dt-side-nav__item dt-side-nav__header">
                                <span class="dt-side-nav__text">Account Management</span>
                            </li>
                            <!-- /menu header -->
                            <li class="dt-side-nav__item">
                                <a href="javascript:void(0)"
                                    class="dt-side-nav__link dt-side-nav__arrow {% block customerspayment %}{% endblock %}">
                                    <i class="icon icon-tables icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Payments</span>
                                </a>

                                <!-- Sub-menu -->
                                <ul class="dt-side-nav__sub-menu">
                                    <li class="dt-side-nav__item">
                                        <a href="{% url 'umapp:lalcpaymentlist' %}"
                                            class="dt-side-nav__link {% block customerpayment %}{% endblock %}"
                                            data-toggle="tooltip" data-placement="right" title="Customer Payments">
                                            <i class="icon icon-alert icon-fw icon-lg"></i>
                                            <span class="dt-side-nav__text">Customer Payments</span>
                                        </a>
                                    </li>
                                    {% comment %}
                                    <li class="dt-side-nav__item">
                                        <a href="{% url 'lmsapp:logisticspaytocustomerlist' %}"
                                            class="dt-side-nav__link  {% block logisticscustomerpayment %}{% endblock %}"
                                            data-toggle="tooltip" data-placement="right" title="Customer Payments">
                                            <i class="icon icon-alert icon-fw icon-lg"></i>
                                            <span class="dt-side-nav__text">Payments To Customer</span>
                                        </a>
                                    </li>
                                    {% endcomment %}
                                </ul>
                                <!-- /sub-menu -->
                            </li>
                            <!-- /menu item -->

                            <!-- Menu Header -->
                            <li class="dt-side-nav__item dt-side-nav__header">
                                <span class="dt-side-nav__text">Reports</span>
                            </li>
                            <!-- /menu header -->

                            <!-- Menu Item -->
                            <li class="dt-side-nav__item">
                                <a href="#" class="dt-side-nav__link">
                                    <i class="icon icon-forms-basic icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Payment Reports</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="#" class="dt-side-nav__link">
                                    <i class="icon icon-forms-basic icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Shipment Reports</span>
                                </a>
                            </li>
                            <!-- /menu item -->
                            <li class="dt-side-nav__item dt-side-nav__header">
                                <span class="dt-side-nav__text">Support</span>
                            </li>
                            <!-- /menu header -->

                            <!-- Menu Item -->
                            <li class="dt-side-nav__item">
                                <a href="{% url 'lmsapp:operatorcustomerticketlist' %}"
                                    class="dt-side-nav__link {% block ticket %}{% endblock %}">
                                    <i class="icon icon-drag-and-drop icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Support Tickets</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="#" class="dt-side-nav__link">
                                    <i class="icon icon-drag-and-drop icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Raise Ticket</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="{% url 'lmsapp:opnoticelist' %}"
                                    class="dt-side-nav__link {% block notice %}{% endblock %}">
                                    <i class="icon icon-drag-and-drop icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Notice</span>
                                </a>
                            </li>

                            <!-- Menu Header -->
                            <li class="dt-side-nav__item dt-side-nav__header">
                                <span class="dt-side-nav__text">Others</span>
                            </li>
                            <!-- /menu header -->

                            <!-- Menu Item -->
                            <li class="dt-side-nav__item">
                                <a href="{% url 'umapp:settings' %}"
                                    class="dt-side-nav__link {% block settings %}{% endblock %}">
                                    <i class="icon icon-settings icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Setting</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="{% url 'umapp:logout' %}" class="dt-side-nav__link">
                                    <i class="icon icon-logout icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Logout</span>
                                </a>
                            </li>
                            <!-- /menu item -->
                        </ul>
                        <!-- /sidebar navigation -->

                    </div>
                </aside>
                <!-- /sidebar -->
                <!-- Site Content Wrapper -->
                {% block content %}
                {% endblock %}

                <!-- /site content wrapper -->

                <!-- Theme Chooser -->
                <div class="dt-customizer-toggle">
                    <a id="detailsidebar" href="javascript:void(0)" data-toggle="customizer"> <i
                            class="icon icon-customizer animation-customizer"></i> </a>
                </div>
                <!-- /theme chooser -->

                <!-- Customizer Sidebar -->
                <aside class="dt-customizer dt-drawer position-right">
                    <div class="dt-customizer__inner">

                        <!-- Customizer Header -->
                        <div class="dt-customizer__header">

                            <!-- Customizer Title -->
                            <div class="dt-customizer__title">
                                <h3 class="mb-0">Selected Shipment Details</h3>
                            </div>
                            <!-- /customizer title -->

                            <!-- Close Button -->
                            <button type="button" class="close" data-toggle="customizer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- /close button -->

                        </div>
                        <!-- /customizer header -->

                        <!-- Customizer Body -->
                        <div class="dt-customizer__body ps-custom-scrollbar">
                            <div id="sidebarshipmentdetail">
                            </div>
                        </div>
                        <!-- /customizer body -->

                    </div>
                </aside>
                <!-- /customizer sidebar -->
            </main>

        </div>
    </div>
    <!-- /root -->

    <!-- Contact User Information -->
    <div class="card user-info-card">
        <div class="p-4">
            <div class="dt-avatar-wrapper mb-3">
                <img style="display: none" class="dt-avatar size-50 profile-pic"
                    src="{% static 'logisticsstatic/assets/images/user-avatar/domnic-harris.jpg' %}"
                    alt="Domnic Harris"> <span style="display: none"
                    class="dt-avatar size-50 bg-orange text-white text-uppercase profile-placeholder">pp</span>

                <div class="dt-avatar-info">
                    <span class="dt-avatar-name h4 mb-1">Domnic Harris</span>
                    <span class="dt-avatar-desc f-12">dom.harris@gmail.com</span>
                </div>
            </div>

            <div class="mb-1">
                <i class="icon icon-maps icon-fw mr-1"></i> <span class="f-12">Palo Alto, CA, United States</span>
            </div>

            <div>
                <i class="icon icon-contacts icon-fw mr-1"></i> <span class="f-12">20+ Mutual Connections</span>
            </div>
        </div>

        <div class="px-4 py-2 border-top d-flex justify-content-between">
            <a href="javascript:void(0)" class="card-link">Add to Contacts</a>
            <div class="ml-2 ml-sm-10">
                <a class="mr-1" href="javascript:void(0)"><i class="icon icon-mail icon-fw icon-xl"></i></a>
                <a class="mr-1" href="javascript:void(0)"><i class="icon icon-tag-o icon-fw icon-xl"></i></a>
                <a href="javascript:void(0)"><i class="icon icon-chat-app icon-fw icon-xl"></i></a>
            </div>
        </div>
    </div>
    <!-- /contact user information -->
    <div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <!-- masonry script -->
    <script src="{% static 'logisticsstatic/plugins/masonry-layout/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/plugins/sweetalert2/js/sweetalert2.js' %}"></script>
    <script src="{% static 'logisticsstatic/assets/js/default/functions.js' %}"></script>
    <script src="{% static 'logisticsstatic/assets/js/default/customizer.js' %}"></script>

    {% comment %}
    <script src="{% static 'logisticsstatic/assets/js/default/script.js' %}"></script> {% endcomment %}
    <script src="{% static 'logisticsstatic/assets/js/global/notification-alert.js' %}"></script>

    <script src="{% static 'logisticsstatic/assets/js/default/script.js' %}"></script>
    <script src="{% static 'logisticsstatic/plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/plugins/owl.carousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/assets/js/global/charts/dashboard-listing.js' %}"></script>
    <script src="{% static 'assets/js/global/sweet-alert.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script type="text/javascript">
        $('#main-modal').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });
        $('#main-modal').on('hidden.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').empty();
        });
    </script>

    {% comment %} modal popup {% endcomment %}

    <div id="create-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


    <div id="update-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


    <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


    <div id="detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


    <div id="reset-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

    {% comment %} modal popup ends {% endcomment %}


    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script>
        let timerInterval;
        swal({
            type: "success",
            title: "{{message}}",
            text: "",
            animation: true,
            toast: true,
            icon: 'success',
            position: 'top-right',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });
    </script>
    {% elif message.tags == 'info' %}
    <script type=text/javascript>
                        let timerInterval;
                        swal({
                            type: "info",
                            title: "{{message}}",
                            text: "",
                            animation: true,
                            toast: true,
                            icon: 'info',
                            position: 'top-right',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                        });
                    </script>
    {% elif message.tags == 'warning' %}
    <script type=text/javascript>
                        swal({
                            type: 'warning',
                            title: '{{message}}',
                            text: '!',
                            footer: '',
                            animation: true,
                            toast: true,
                            icon: 'warning',
                            position: 'top-right',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                      });
                    </script>
    {% elif message.tags == 'error' %}
    <script type=text/javascript>
                        swal({
                            type: 'error',
                            title: '{{message}}',
                            timer: 2000,
                            text: '',
                            footer: '',
                            animation: true,
                            toast: true,
                            icon: 'error',
                            position: 'top-right',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                      });
                    </script>
    {% endif %}
    {% endfor %}
    {% endif %}


    <script type="text/javascript">
        $('#create-modal').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });
    </script>

    <script type="text/javascript">
        $('#update-modal').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });
    </script>

    <script type="text/javascript">
        $('#delete-modal').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });
    </script>

    <script type="text/javascript">
        $('#detail-modal').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });
    </script>
    <script type="text/javascript">
        $('#reset-modal').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });
    </script>
    <script>
        $('#selectedshipmentdetail, #selectedshipmentdetail').on('click', function (e) {
            var my_checklist = []
            $('table [type="checkbox"]').each(function (row, element) {
                if (element.checked && element.getAttribute("data-id")) {
                    my_checklist.push(element.getAttribute("data-id"))
                }
            });
            if (my_checklist.length < 1) {
                alert('select any bundle first')
            }
            else {
                if (e.target.id == 'selectedshipmentdetail') {
                    status = 'shipmentlist'
                }
                else if (e.target.id == 'selectedbundledetail') {
                    status = 'bundlelist'
                }
                $('#detailsidebar').click();
                $.ajax({
                    url: '{% url "lmsapp:cmplasidebardetail" %}',
                    data: {
                        'selected_ids': JSON.stringify(my_checklist),
                        'status': status,
                    },
                    beforeSend: function () {
                        $('#sidebarshipmentdetail').addClass('loader');

                    },
                    complete: function () {
                        // $('#sidebarshipmentdetail').removeClass('loader');
                    },
                    success: function (data) {
                        $('#sidebarshipmentdetail').empty();
                        setTimeout(function () {
                            $('#sidebarshipmentdetail').removeClass('loader');
                            $('#sidebarshipmentdetail').html(data)
                        }, 1000)
                    }
                });
            }
        })
    </script>

    {% block js %}
    {% endblock %}
</body>

</html>