{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Bundles{% endblock %}
{% block receivedbundles %}active-title{% endblock %}
{% block css %}
<style>
    .nav-link:hover {
        cursor: pointer;
        background-color: #fff;
    }
</style>
{% endblock %}
{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
        <!-- <div class="dt-page__header">
            <h1 class="dt-page__title">Shipment List</h1>
        </div> -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <!-- <div class="float-center">
                        <input type="text" placeholder="Search Shipment" class="form-control-sm" style="width: 100%;">
                    </div> -->
                    <div class="card-header card-nav border-bottom-0">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h3 class="dt-card__title" id="status-title"></h3>
                        </div>

                        <ul id="incomingbundlestatus" class="card-header-tabs nav nav-tabs nav-tabs-sm nav-scroll mx-0"
                            role="tablist">
                            <li class="nav-item">
                                <a id="incoming-bundles" class="nav-link active" >Incoming Bundles</a>
                            </li>
                            <li class="nav-item">
                                <a id="staff-assigned-bundles" class="nav-link active" >Staff Assigned For Pickup</a>
                            </li>
                            <li class="nav-item">
                                <a id="arrived-bundles" class="nav-link active" >Arrived Bundles</a>
                            </li>
                            <li class="nav-item">
                                <a id="confirmed-bundles" class="nav-link">Confirm Bundles</a>
                            </li>
                            <li class="nav-item">
                                <a id="rejected-bundles" class="nav-link">Rejected Bundles</a>
                            </li>
                        </ul>
                    </div>        
                    <div class="card-body">
                        <div class="media-list media-separator" id="loadbundlelist">
                            <div class="loader"></div>                                   
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</div>
<div id="statusconfirm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" id="loadmodalcontent">
            
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        if ( sessionStorage.getItem("incomingbundlestatus") ){
            status = sessionStorage.getItem("incomingbundlestatus")
            $('.nav-link').removeClass('active');
            $('#'+ status).addClass('active');

        }
        else{
            status = sessionStorage.setItem("incomingbundlestatus", "incoming-bundles")
        }
        $.ajax({
			url: '{% url "lmsapp:cmplaloadincomingbundlelist" %}',
			data: {
				'status' : status,
			},
			success: function(data){    
                // setTimeout(function(){
                    $('#status-title').text(status + ' Bundles')
                    $('#loadbundlelist').html(data);
                // }, 500) 
            }
		});
    });

    // select all box on click
    $('.card-body').on('click', '#selectallinputbox', function(){
        if ($(this).is(':checked')){
            $('table [type="checkbox"]').each(function (row, element) {
                $(this).prop('checked',true);
            })    
        }
        else{
            $('table [type="checkbox"]').each(function (row, element) {
                $(this).prop('checked',false);
            })
        }
    });

    $('#incomingbundlestatus li').on('click', function(){
        var status = $(this).find('a').attr('id');
        $('.nav-link').removeClass('active');
        $(this).find('a').addClass('active');
        $.ajax({
			url: '{% url "lmsapp:cmplaloadincomingbundlelist" %}',
			data: {
				'status' : status,
			},
            beforeSend: function() {
                $('#loadbundlelist').addClass('loader');

            },
            complete: function() {
                $('#loadbundlelist').removeClass('loader');
            },
			success: function(data){    
                // setTimeout(function(){
                    // $('#loadbundlelist').removeClass('loader');
                    $('#loadbundlelist').empty();
                    $('#status-title').text(status + ' Bundles ')
                    $('#loadbundlelist').html(data);
                    sessionStorage.setItem("incomingbundlestatus", status)
                // }, 500) 
            }
		});
    });
</script>

<script>
    $('#loadbundlelist').on("click", '#assign-rider-incomingbundles-btn, #arrived-incomingbundles-btn, #confirm-bundles-btn, #reject-bundles-btn', function (event) {
        var my_checklist = []
        $('table [type="radio"]').each(function (row, element) {
            if (element.checked && element.getAttribute("data-id")) {
                my_checklist.push(element.getAttribute("data-id"))
            }
        });
        if (my_checklist.length < 1) {
            alert('select any bundle first')
        }
        else {
            $.ajax({
                url: '{% url "lmsapp:ajaxlabundlechangestatus" %}',
                data: {
                    'bundle_ids': JSON.stringify(my_checklist),
                    'status': event.target.id,
                },
                beforeSend: function () {
                    $('#loadbundlelist').addClass('loader');

                },
                complete: function () {
                    $('#loadbundlelist').removeClass('loader');
                },
                success: function (data) {
                    if ( event.target.id == 'assign-rider-incomingbundles-btn' ){
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Assign Rider For Bundle Pickup</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments in this bundle: <span class='text-dark'>${data.shipmentbundlelist_count}</span></p>   
                                <p class="text-dark">Select Staff and assign selected bundle for pickup schedule.</p>
                                {{staffform.rider}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" id="staffassignincomingbundlesvalid" type="button" data-ids="${data.bundle_ids}">Staff Assign</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'arrived-incomingbundles-btn' ){
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Bundle Arrived at Warehouse</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Confirm if selected bundle have been arrived at your location.</p>   
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" id="arrivedincomingbundlesvalid" type="button" data-ids="${data.bundle_ids}">Confirm Bundle at your location</button>
                            </div>
                        `
                    }
                    else if ( event.target.id == 'confirm-bundles-btn' ){
                        // html_content = `
                        //     <div class="modal-header">
                        //         <h3 class="modal-title" id="model-3">Confirm Incoming Bundles</h3>
                        //         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        //             <span aria-hidden="true">&times;</span>
                        //         </button>
                        //     </div>
                        //     <div class="modal-body">
                        //         <p>Number of Bundles Selected: <span class='text-dark'>${data.bundle_count}</span></p>   
                        //         <p class="text-dark">Confirm only if all shipment inside bundles are correct.</p>
                        //     </div>
                        //     <div class="modal-footer">
                        //         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        //         <button class="btn btn-success" id="confirmbundlesvalid" type="button" data-ids="${data.bundle_ids}">Confirm Bundles</button>
                        //     </div>
                        // `
                        $('#loadmodalcontent').parent().addClass('modal-lg');
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Change to confirm bundle</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Bundles Selected: <span class='text-dark'>${data.bundle_count}</span></p>   
                                <p class="text-dark">Confirm if all shipments and their logistics charges in bundle are verified.</p>
                                <table class="table table-responsive table-stripped">
                                    <thead>
                                        <tr>
                                            <th>Shipments</th>
                                            <th style="width:150px;">Total Value</th>
                                            <th style="width:150px;">Shipping Charge</th>
                                            <th>COD</th>
                                            <th style="width:150px;">Rejection Charge</th>
                                            <th style="width:130px;">Parcel WxD</th>
                                        </tr>
                                    </thead>
                                    <tbody id="shipmenttable">
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-success" id="confirmincomingbundlevalid" type="button" data-ids="${data.bundle_ids}">Confirm Bundle</button>
                            </div>
                        `
                        var div = ``
                        $.map(data.shipmentbundlelistvalues, function (item) {
                            console.log(item)
                            var dav = `
                                <tr>
                                    <td data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" title="Receiver Info" data-html="true" data-content="${item.shipment__receiver_name} - ${item.shipment__receiver_contact_number} <br>${item.shipment__receiver_address}, ${item.shipment__receiver_city__name}.">${item.shipment__tracking_code}</td>
                                    <td>${item.shipment__cod_value}</td>
                                    <td>
                                        ${item.shipping_charge}
                                    </td>
                                    <td>${item.cod_handling_charge}</td>
                                    <td>${item.rejection_handling_charge}</td>
                                    <td>${item.shipment__weight} ${item.shipment__weight_unit} <br> (${item.shipment__length}x${item.shipment__breadth}x${item.shipment__height})${item.shipment__length_unit}<sup>3</sup></td>
                                </tr>
                                `
                            div += dav
                        })
                        setTimeout(() => {
                            document.getElementById('shipmenttable').innerHTML = div;
                            $('[data-toggle=popover]').popover();
                            $('.shippingcharge-editable').editable({
                                success: function(response, newValue) {
                                    if(response.status == 'success'){
                                        swal({
                                            type: "success",
                                            title: `${response.msg}`,
                                            text: "",
                                            animation: true,
                                            toast: true,
                                            icon: 'success',
                                            position: 'top-right',
                                            showConfirmButton: false,
                                            timer: 3000,
                                            timerProgressBar: true,
                                        });
                                    } else {
                                        swal({
                                            type: "warning",
                                            title: `${response.msg}`,
                                            text: "",
                                            animation: true,
                                            toast: true,
                                            icon: 'warning',
                                            position: 'top-right',
                                            showConfirmButton: false,
                                            timer: 3000,
                                            timerProgressBar: true,
                                        });
                                        return false;
                                    }
                                }
                            });
                            $('.editable-click').css('border-bottom', 'none');
                        }, 500);
                    }
                    else if ( event.target.id == 'reject-bundles-btn' ){
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Release Bundles</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Bundles Selected: <span class='text-dark'>${data.bundle_count}</span></p>   
                                <p class="text-dark">Shipments in the selected bundles will be released and shipment will be 'at warehouse'.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-danger" id="rejectbundlesvalid" type="button" data-ids="${data.bundle_ids}">Release Shipments From Bundle</button>
                            </div>
                        `
                    }
                                     
                    $('#loadmodalcontent').append(html_content)
                    $('#statusconfirm').modal('show');
                }
            });
        }


    });
</script>

<script>
    $('body').on('click', '#staffassignincomingbundlesvalid, #arrivedincomingbundlesvalid, #confirmincomingbundlevalid, #rejectbundlesvalid', function (e) {
        var data_ids = $(this).attr("data-ids")
        data_ids = data_ids.split(",")
        if (e.target.id == 'staffassignincomingbundlesvalid' && $('#id_rider').val() == '') {
            swal({
                type: "warning",
                title: "Select a staff first",
                text: "",
                animation: true,
                toast: true,
                icon: 'warning',
                position: 'top-right',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
            });
        }
        else{
            if (e.target.id == 'staffassignincomingbundlesvalid') {
                status = 'staffassignincomingbundles'
                rider = $('#id_rider').val();
            }
            else if (e.target.id == 'arrivedincomingbundlesvalid') {
                status = 'arrivedincomingbundles'
                rider = ''
            }
            else if (e.target.id == 'confirmincomingbundlevalid') {
                status = 'confirmincomingbundles'
                rider= ''
            }
            else if (e.target.id == 'rejectbundlesvalid') {
                status = 'bundlerejectconfirm'
                rider=''
            }
        }
        
        $.ajax({
            method: 'POST',
            url: '{% url "lmsapp:ajaxlabundlechangestatus" %}',
            data: {
                'bundle_ids': JSON.stringify(data_ids),
                'status': status,
                'rider': rider,
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },

            success: function (data) {
                location.reload()
            }
        });
    })
</script>

<script>
    $('#statusconfirm').on('hidden.bs.modal', function () {
        $('#loadmodalcontent').html('');
    })
</script>
{% endblock %}
