{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Create Shipment{% endblock %}
{% block shipmentcreate %}active-title{% endblock %}
{% block css %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<style type="text/css">
  #map {
    height: 350px;
    width: 100%;
  }

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #origin-input:focus,
  #destination-input:focus {
    border-color: #4d90fe;
  }

  #mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
  }

  #mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
</style>
{% endblock %}
{% block content %}
<div class="dt-content-wrapper">
  <div class="dt-content">
    <div class="dt-page__header">
      <h1 class="dt-page__title">New Shipment</h1>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-xl-12">
            <div class="dt-card">
              <div class="dt-card__header">
                <div class="dt-card__heading">
                  <h3 class="dt-card__title">Parcel Location</h3>
                </div>
              </div>
              <div class="dt-card__body">
                <label>From</label>
                <input id="origin-input" class="form-control" type="text" placeholder="Enter an origin location" />
                <label>To</label>
                <input id="destination-input" class="form-control" type="text"
                  placeholder="Enter a destination location" />
              </div>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="dt-card">
              <div class="dt-card__header">
                <div class="dt-card__heading">
                  <h3 class="dt-card__title">Location Direction</h3>
                </div>
              </div>
              <div class="dt-card__body">
                <div id="directions-panel"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="dt-card">
          <div class="dt-card__header">
            <div class="dt-card__heading">
              <h3 class="dt-card__title">Map Location</h3>
            </div>
          </div>
          <div class="dt-card__body">
            <div id="mode-selector" class="controls">
              <input type="radio" name="type" id="changemode-walking" />
              <label for="changemode-walking">Walking</label>
              <input type="radio" name="type" id="changemode-transit" />
              <label for="changemode-transit">Transit</label>
              <input type="radio" name="type" id="changemode-driving" checked="checked" />
              <label for="changemode-driving">Driving</label>
            </div>
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-xl-12">
          <div class="dt-card">
            <div class="dt-card__header">
              <div class="dt-card__heading">
                <h3 class="dt-card__title">Parcel Detail</h3>
              </div>
            </div>
            <div class="dt-card__body">
                <div class="form-row">
                  <div class="col-sm-2 mb-3">
                    <div class="form-row">
                      <div class="custom-control custom-checkbox mb-3 mt-3">
                          {{form.request_pickup}}
                        <label class="custom-control-label" for="id_request_pickup">Request Pickup ?</label>
                      </div>
                      <div class="custom-control custom-checkbox mt-3 mb-3">
                        {{form.request_home_delivery}}
                        <label class="custom-control-label" for="id_request_home_delivery">Request Dropoff ?</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2 mb-3">
                    <label for="validationDefault01">Material</label>
                    {{form.parcel_type}}
                  </div>
                  <div class="col-sm-3 mb-3">
                    <label for="validationDefault02">Weight (in gm)</label>
                    <br>
                    {{form.weight}}
                    {{form.weight_unit}}
                  </div>
                  <div class="col-sm-5 mb-3">
                    <label for="validationDefaultUsername">Dimension (l*b*h cm)</label>
                    <br>
                        {{form.length}}
                        {{form.breadth}}
                        {{form.height}}
                        {{form.length_unit}}
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="dt-card">
            <div class="dt-card__header">
              <div class="dt-card__heading">
                <h3 class="dt-card__title">Parcel Cost Info</h3>
              </div>
            </div>
            <div class="dt-card__body">
                <div class="form-row">
                  <div class="col-sm-2 mb-3">
                    <label>Delivery Type</label>
                    {{form.cod_info}}
                  </div>
                  <div class="col-sm-2 mb-3">
                    <label>Shipment Value</label>
                    {{form.cod_value}}
                  </div>
                  <div class="col-sm-2 mb-3">
                    <label>Delivery Type</label>
                    {{form.delivery_type}}
                  </div>
                  <div class="col-sm-2 mb-3">
                    <label>Pickup Charge</label>
                    {{form.pickup_charge}}
                  </div>
                  <div class="col-sm-2 mb-3">
                    <label>Dropoff Charge</label>
                    {{form.dropoff_charge}}
                  </div>
                  <div class="col-sm-2 mb-3">
                    <label>Shipping Charge</label>
                    {{form.shipping_charge}}
                  </div>
                  <div class="col-sm-2 mb-3">
                    <label>COD Charge</label>
                    {{form.cod_handling_charge}}
                  </div>
                  <div class="col-sm-2 mb-3">
                    <label>Rejection Charge</label>
                    {{form.rejection_handling_charge}}
                  </div>
                  <div class="col-sm-2 mb-3">
                    <label>Extra Charge</label>
                    {{form.extra_charge}}
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="dt-card">
            <div class="dt-card__header">
              <div class="dt-card__heading">
                <h3 class="dt-card__title">Sender Info</h3>
              </div>
            </div>
            <div class="dt-card__body">
              <div class="row">
                <div class="col-sm-6 col-6 mb-3">
                  <label>Name: </label>
                  {{form.sender_name}}
                  <span class="text-dark">{{shipment.sender_name}}</span>
                </div>
                <div class="col-sm-6 col-6 mb-3">
                  <label>Contact: </label>
                  {{form.sender_contact_number}}
                </div>
                <div class="col-sm-6 col-6 mb-3">
                  <label>City: </label>
                  {{form.sender_city}}
                </div>
                <div class="col-sm-6 col-6 mb-3">
                  <label>Address: </label>
                  {{form.sender_address}}
                </div>
                <div class="col-sm-6 col-6 mb-3">
                  <label>Email: </label>
                  <span class="text-dark">{{form.sender_email}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="dt-card">
            <div class="dt-card__header">
              <div class="dt-card__heading">
                <h3 class="dt-card__title">Receiver Info</h3>
              </div>
            </div>
            <div class="dt-card__body">
              <div class="row">
                <div class="col-sm-6 col-6 mb-3">
                  <label>Name: </label>
                  <span class="text-dark">{{form.receiver_name}}</span>
                </div>
                <div class="col-sm-6 col-6 mb-3">
                  <label>Contact: </label>
                  <span class="text-dark">{{form.receiver_contact_number}}</span>
                </div>
                <div class="col-sm-6 col-6 mb-3">
                  <label>City: </label>
                  <span class="text-dark">{{form.receiver_city}}</span>
                </div>
                <div class="col-sm-6 col-6 mb-3">
                  <label>Address: </label>
                  <span class="text-dark">{{form.receiver_address}}</span>
                </div>
                <!-- <div class="col-sm-6 col-6 mb-3">
                  <label>Email: </label>
                  <span class="text-dark">{{form.receiver_email}}</span>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" style="height: 50px; width: 20%;">Create Shipment</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}

<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      mapTypeControl: false,
      center: { lat: 27.7167, lng: 85.3167 },
      zoom: 10,
    });
    new AutocompleteDirectionsHandler(map);
  }

  class AutocompleteDirectionsHandler {
    constructor(map) {
      this.map = map;
      this.originPlaceId = "";
      this.destinationPlaceId = "";
      this.travelMode = google.maps.TravelMode.DRIVING;
      this.directionsService = new google.maps.DirectionsService();
      this.directionsRenderer = new google.maps.DirectionsRenderer();
      this.directionsRenderer.setMap(map);
      const originInput = document.getElementById("origin-input");
      const destinationInput = document.getElementById("destination-input");
      const modeSelector = document.getElementById("mode-selector");
      const originAutocomplete = new google.maps.places.Autocomplete(
        originInput, {
          // fields: ["address_components", "geometry"],
          // types: ["address"],
        }
      );
      // Specify just the place data fields that you need.
      originAutocomplete.setFields(["place_id"]);

      // originInput.focus(); 

      // originAutocomplete.addListener("place_changed", fillInAddress);

      // function fillInAddress() {
      //   const place = originAutocomplete.getPlace();
      //   let address1 = "";

      //   for(const component of place.address_components){
      //     const componentType = component.types[0];
      //     switch(componentType){
      //         case "street_number": {
      //           address1 = `${component.long_name} ${address1}`;
      //           break;
      //         }

      //         case "route": {
      //           address1 += component.short_name;
      //           break;
      //         } 

      //         case "postal_code": {
      //           address1 = `${component.long_name}-${address1}`;
      //           break;
      //         } 

            // case "district":
            //   document.querySelector("#country").value += component.long_name;
            //   break;

      //       case "locality": {
      //         document.querySelector("#sender").value = component.long_name;
      //         break;
      //       }
      //       // case "country":
      //       //   document.querySelector("#country").value = component.long_name;
      //       //   break;
      //     }

      //     // originInput.value = address1;  
      //     console.log(address1)



      //   }

      // }

      const destinationAutocomplete = new google.maps.places.Autocomplete(
        destinationInput
      );
      // Specify just the place data fields that you need.
      destinationAutocomplete.setFields(["place_id"]);
      this.setupClickListener(
        "changemode-walking",
        google.maps.TravelMode.WALKING
      );
      this.setupClickListener(
        "changemode-transit",
        google.maps.TravelMode.TRANSIT
      );
      this.setupClickListener(
        "changemode-driving",
        google.maps.TravelMode.DRIVING
      );
      this.setupPlaceChangedListener(originAutocomplete, "ORIG");
      this.setupPlaceChangedListener(destinationAutocomplete, "DEST");
      //   this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(
      //     originInput
      //   );
      //   this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(
      //     destinationInput
      //   );
      this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(
        modeSelector
      );
    }
    // Sets a listener on a radio button to change the filter type on Places
    // Autocomplete.
    setupClickListener(id, mode) {
      const radioButton = document.getElementById(id);
      radioButton.addEventListener("click", () => {
        this.travelMode = mode;
        this.route();
      });
    }
    setupPlaceChangedListener(autocomplete, mode) {
      autocomplete.bindTo("bounds", this.map);
      autocomplete.addListener("place_changed", () => {
        const place = autocomplete.getPlace();

        if (!place.place_id) {
          window.alert("Please select an option from the dropdown list.");
          return;
        }

        if (mode === "ORIG") {
          this.originPlaceId = place.place_id;
        } else {
          this.destinationPlaceId = place.place_id;
        }
        this.route();
      });
    }
    route() {
      if (!this.originPlaceId || !this.destinationPlaceId) {
        return;
      }
      const me = this;
      this.directionsService.route(
        {
          origin: { placeId: this.originPlaceId },
          destination: { placeId: this.destinationPlaceId },
          travelMode: this.travelMode,
        },
        (response, status) => {
          if (status === "OK") {
            me.directionsRenderer.setDirections(response);
            const route = response.routes[0];
            const summaryPanel = document.getElementById("directions-panel");
            const sender = document.getElementById("sender")
            const reciver = document.getElementById("reciver")
            summaryPanel.innerHTML = "";

            // For each route, display summary information.
            for (let i = 0; i < route.legs.length; i++) {
              const routeSegment = i + 1;
              summaryPanel.innerHTML +=
                "<b>Route Segment: " + routeSegment + "</b><br>";

              sender.value = route.legs[i].start_address
              reciver.value = route.legs[i].end_address

              summaryPanel.innerHTML += route.legs[i].start_address + " to ";
              summaryPanel.innerHTML += route.legs[i].end_address + "<br>";
              summaryPanel.innerHTML += route.legs[i].distance.text + "<br><br>";
            }

          } else {
            window.alert("Directions request failed due to " + status);
          }
        }
      );
    }
  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHc5KmfH6TKQ5DNNaMjfGXil2cbOBQnbM&callback=initMap&libraries=places&v=weekly"
  async></script>
{% endblock %}