{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Shipments{% endblock %}
{% block shipments %}active-title{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="dt-page__header">
            <h1 class="dt-page__title">Settings</h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media-list media-separator">
                            <div class="dt-customizer__body-inner">

                                <!-- Section -->
                                <section class="mb-3">
                                    <h4>Select Theme Style</h4>
                                    <!-- List -->
                                    <ul class="dt-list dt-list-sm" id="theme-chooser">
                                        <li class="dt-list__item">
                                            <div class="choose-option">
                                                <a href="javascript:void(0)" class="choose-option__icon"
                                                    data-theme="light">
                                                    <img src="{% static 'logisticsstatic/assets/images/customizer-icons/theme-light.png' %}"
                                                        alt="Light">
                                                </a>
                                                <span class="choose-option__name">Light</span>
                                            </div>
                                        </li>
                                        <li class="dt-list__item">
                                            <div class="choose-option">
                                                <a href="javascript:void(0)" class="choose-option__icon"
                                                    data-theme="semidark">
                                                    <img src="{% static 'logisticsstatic/assets/images/customizer-icons/theme-normal.png' %}"
                                                        alt="Normal">
                                                </a>
                                                <span class="choose-option__name">Semi-dark</span>
                                            </div>
                                        </li>
                                        <li class="dt-list__item">
                                            <div class="choose-option">
                                                <a href="javascript:void(0)" class="choose-option__icon"
                                                    data-theme="dark">
                                                    <img src="{% static 'logisticsstatic/assets/images/customizer-icons/theme-dark.png' %}"
                                                        alt="Dark">
                                                </a>
                                                <span class="choose-option__name">Dark</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- /list -->

                                </section>
                                <!-- /section -->

                                <!-- Section -->
                                <section id="theme-style-chooser">
                                    <h4>Color</h4>

                                    <!-- List -->
                                    <ul class="dt-list dt-list-sm dt-color-options">
                                        <li class="dt-list__item">
                                            <span class="dt-color-option" data-style=""></span>
                                        </li>
                                        <li class="dt-list__item">
                                            <span class="dt-color-option" data-style="style-2"></span>
                                        </li>
                                        <li class="dt-list__item">
                                            <span class="dt-color-option" data-style="style-3"></span>
                                        </li>
                                        <li class="dt-list__item">
                                            <span class="dt-color-option" data-style="style-4"></span>
                                        </li>
                                        <li class="dt-list__item">
                                            <span class="dt-color-option" data-style="style-5"></span>
                                        </li>
                                        <li class="dt-list__item">
                                            <span class="dt-color-option" data-style="style-6"></span>
                                        </li>
                                        <li class="dt-list__item">
                                            <span class="dt-color-option" data-style="style-7"></span>
                                        </li>
                                        <li class="dt-list__item">
                                            <span class="dt-color-option" data-style="style-8"></span>
                                        </li>
                                        <li class="dt-list__item">
                                            <span class="dt-color-option" data-style="style-9"></span>
                                        </li>
                                        <li class="dt-list__item">
                                            <span class="dt-color-option" data-style="style-10"></span>
                                        </li>
                                    </ul>
                                    <!-- /list -->

                                </section>
                                <!-- /section -->

                                <!-- Section -->
                                <section class="d-none d-lg-block" id="sidebar-layout">
                                    <h4>Sidebar Layout</h4>

                                    <!-- List -->
                                    <ul class="dt-list dt-list-sm">
                                        <li class="dt-list__item">
                                            <div class="choose-option">
                                                <a href="javascript:void(0)" class="choose-option__icon" id="sl-option1"
                                                    data-value="folded">
                                                    <img src="{% static 'logisticsstatic/assets/images/customizer-icons/folded.png' %}"
                                                        alt="Folded">
                                                </a>
                                                <span class="choose-option__name">Folded</span>
                                            </div>
                                        </li>
                                        <li class="dt-list__item">
                                            <div class="choose-option">
                                                <a href="javascript:void(0)" class="choose-option__icon" id="sl-option2"
                                                    data-value="default">
                                                    <img src="{% static 'logisticsstatic/assets/images/customizer-icons/default.png' %}"
                                                        alt="Default">
                                                </a>
                                                <span class="choose-option__name">Default</span>
                                            </div>
                                        </li>
                                        <li class="dt-list__item">
                                            <div class="choose-option">
                                                <a href="javascript:void(0)" class="choose-option__icon" id="sl-option3"
                                                    data-value="drawer">
                                                    <img src="{% static 'logisticsstatic/assets/images/customizer-icons/drawer.png' %}"
                                                        alt="Drawer">
                                                </a>
                                                <span class="choose-option__name">Drawer</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- /list -->

                                </section>
                                <!-- /section -->

                                <!-- Section -->
                                <section class="d-none d-lg-block" id="layout-chooser">
                                    <h4>Layout</h4>

                                    <!-- List -->
                                    <ul class="dt-list dt-list-sm">
                                        <li class="dt-list__item">
                                            <div class="choose-option">
                                                <a href="javascript:void(0)" class="choose-option__icon"
                                                    data-layout="framed">
                                                    <img src="{% static 'logisticsstatic/assets/images/customizer-icons/framed.png' %}"
                                                        alt="Framed">
                                                </a>
                                                <span class="choose-option__name">Framed</span>
                                            </div>
                                        </li>
                                        <li class="dt-list__item">
                                            <div class="choose-option">
                                                <a href="javascript:void(0)" class="choose-option__icon"
                                                    data-layout="full-width">
                                                    <img src="{% static 'logisticsstatic/assets/images/customizer-icons/full-width.png' %}"
                                                        alt="Full Width">
                                                </a>
                                                <span class="choose-option__name">Full Width</span>
                                            </div>
                                        </li>
                                        <li class="dt-list__item">
                                            <div class="choose-option">
                                                <a href="javascript:void(0)" class="choose-option__icon"
                                                    data-layout="boxed">
                                                    <img src="{% static 'logisticsstatic/assets/images/customizer-icons/boxed.png' %}"
                                                        alt="Boxed">
                                                </a>
                                                <span class="choose-option__name">Boxed</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- /list -->

                                </section>
                                <!-- /section -->
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>

    var $body = $('body');
    var $themeChooser = $('#theme-chooser').find('.choose-option__icon');
    var $layoutChooser = $('#layout-chooser').find('.choose-option__icon');
    var $themeStyleChooser = $('#theme-style-chooser').find('.dt-color-option');

    $('#theme-chooser').find('[data-theme=' + $currentTheme + ']').parent().addClass('active');
    $('#layout-chooser').find('[data-layout=' + $currentLayout + ']').parent().addClass('active');

    if ($currentThemeStyle) {
        $('#theme-style-chooser').find('[data-style=' + $currentThemeStyle + ']').addClass('active');
    } else {
        $('#theme-style-chooser').find('.dt-color-option:eq(0)').addClass('active'); 
    }

    $themeChooser.on('click', function () {
        $themeChooser.parent().removeClass('active');
        $(this).parent().addClass('active');
        $currentTheme = $(this).data('theme');
        changeTheme($currentTheme, $currentThemeStyle, $themeStylesheet);
    });

    $layoutChooser.on('click', function () {
        $layoutChooser.parent().removeClass('active');
        $(this).parent().addClass('active');
        $currentLayout = $(this).data('layout');
        changeLayout($currentLayout);
    });

    $themeStyleChooser.on('click', function () {
        $themeStyleChooser.removeClass('active');
        $(this).addClass('active');
        $currentThemeStyle = $(this).data('style');
        changeTheme($currentTheme, $currentThemeStyle, $themeStylesheet);
    });

    var $toggleFixedHeader = $('#toggle-fixed-header');
    var $toggleFixedSidebar = $('#toggle-fixed-sidebar');
    var $layoutContainer = $('#sidebar-layout');
    var $sidebarLayoutHandle = $layoutContainer.find('.choose-option__icon');

    $toggleFixedHeader.on('click', function () {
        if ($(this).parent().hasClass('active')) {
            $(this).parent().removeClass('active');
            $body.removeClass('dt-header--fixed');
        } else {
            $body.addClass('dt-header--fixed');
            $(this).parent().addClass('active');
        }
    });

    $toggleFixedSidebar.on('click', function () {
        if ($(this).parent().hasClass('active')) {
            $(this).parent().removeClass('active');
            $body.removeClass('dt-sidebar--fixed');
            $(document).trigger('sidebar-toggle-fixed');
        } else {
            $(this).parent().addClass('active');
            $body.addClass('dt-sidebar--fixed');
            activeLayoutHandle('default');
            drift.sidebar.enabledDrawer = false;
            $('.dt-brand__tool').removeClass('active');
            drift.sidebar.destroy();
            drift.sidebar.sidebarUnfolded();
            $(document).trigger('sidebar-toggle-fixed');
        }
    });

    $sidebarLayoutHandle.on('click', function () {
        $sidebarLayoutHandle.parent().removeClass('active');
        var layout = $(this).data('value');
        $(this).parent().addClass('active');

        if (layout === 'folded') {
            drift.sidebar.enabledDrawer = false;
            drift.sidebar.destroy();
            drift.sidebar.sidebarFolded();
            $('.dt-brand__tool').addClass('active');
        } else if (layout === 'drawer') {
            drift.sidebar.sidebarUnfolded();
            drift.sidebar.enabledDrawer = true;
            drift.sidebar.initDrawer();
            $('.dt-brand__tool').removeClass('active');
        } else if (layout === 'default') {
            drift.sidebar.enabledDrawer = false;
            drift.sidebar.destroy();
            drift.sidebar.sidebarUnfolded();
            $('.dt-brand__tool').removeClass('active');
        }

        activeFixedStyle();
    });

    if ($body.hasClass('dt-sidebar--folded')) {
        $('[data-value=folded]').parent().addClass('active');
    } else if (drift.sidebar.drawerRef.hasClass('dt-drawer')) {
        $('[data-value=drawer]').parent().addClass('active');
    } else {
        $('[data-value=default]').parent().addClass('active');
    }
</script>
{% endblock %}
