{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Update Bundle{% endblock %}
{% block bundles %}active-title{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="dt-page__header">
            <h1 class="dt-page__title">Update Bundle</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="dt-card">
                                <div class="dt-card__header">
                                    <div class="dt-card__heading">
                                        <h3 class="dt-card__title">Bundle Info</h3>
                                    </div>
                                </div>
                                <div class="dt-card__body">
                                    <div class="row">
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>Bundle Code</label><br>
                                            <input type="text" class="form-control" value="{{bundle.bundle_code}}" disabled>
                                        </div>
                                        <div class="col-sm-12 col-12 mb-3">
                                            <label>Source Branch</label><br>
                                            <input type="text" class="form-control" value="{{bundle.source_branch}}" disabled>
                                        </div>
                                        <div class="col-sm-12 col-12 mb-3">
                                            <label>Destination Branch</label><br>
                                            <input type="text" class="form-control" value="{{bundle.destination_branch}}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="dt-card">
                                <div class="dt-card__header">
                                    <div class="dt-card__heading">
                                        <h3 class="dt-card__title">Inside this Bundle</h3>
                                    </div>
                                </div>
                                <div class="dt-card__body">
                                    <div class="row">
                                        <div class="col-sm-6 col-6 mb-3">
                                            <label>No. of shipments</label><br>
                                            <input type="text" class="form-control" value="{{bundle.shipmentbundleshipment_set.count}}" disabled>
                                        </div>
                                        <div class="col-sm-12 col-12 mb-3">
                                            <label>Shipments</label><br>
                                            {% for shipment in bundle.shipmentbundleshipment_set.all %}
                                            <a href="{% url 'lmsapp:lashipmentdetail' shipment.shipment.id %}" target="_blank">{{shipment.shipment.tracking_code}}</a>, 
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header card-nav border-bottom-0">
                            <div class="d-flex align-items-center justify-content-between">
                                <h3 class="dt-card__title">Shipments inside this Bundle</h3>
                            </div>
                            <div class="card-body">
                                <div class="media-list media-separator" id="loadbundleshipmentlist">
                                    <div class="table-responsive">
                                        <table class="table mb-0 table-fluid">
                                            <thead>
                                                <tr>
                                                    <th><input id="selectallinputbox" type="checkbox"></th>
                                                    <th scope="col" style="width: 25%;">Shipment ID</th>
                                                    <th scope="col" style="width: 30%;">Sender Info</th>
                                                    <th scope="col" style="width: 30%;">Receiver Info</th>
                                                    <th scope="col" style="width: 10%;">Shipment Value</th>
                                                    <th scope="col" style="width: 5%;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <button type="button" id="add-to-bundle-btn" class="btn btn-success btn-sm">Add To Bundle</button>
                                                <button type='button' id="release-from-bundle-btn" class="btn btn-danger btn-sm">Release From Bundle</button>
                                                {% for shipment in bundle.shipmentbundleshipment_set.all %}
                                                <tr>
                                                    <td><input data-id="{{shipment.id}}" type="checkbox"></td>
                                                    <td>
                                                        <span><a href="{% url 'lmsapp:lashipmentdetail' shipment.shipment.id %}">{{shipment.shipment.tracking_code}}</a></span><br>
                                                        <span>{{shipment.shipment.created_at}}</span><br>
                                                        <span style="color: #FF4068;">{{shipment.shipment.created_at|timesince}} ago</span>
                                                    </td>
                                                    <td class="text-dark">
                                                        <span>{{shipment.shipment.sender_name}},
                                                            {{shipment.shipment.sender_contact_number}}
                                                        </span><br>
                                                        <span style="font-size: 1.2rem;">({{shipment.shipment.sender_address}}),</span> {{shipment.shipment.sender_city}}</span>
                                                    </td>
                                                    <td class="text-dark">
                                                        <span>{{shipment.shipment.receiver_name}},
                                                            {{shipment.shipment.receiver_contact_number}}
                                                        </span><br>
                                                        <span><span style="font-size: 1.2rem;">({{shipment.shipment.receiver_address}}),</span> {{shipment.shipment.receiver_city}}</span>
                                                    </td>
                                                    <td>Rs. {{shipment.shipment.cod_value}}</td>
                                                    <td>
                                                        <!-- List -->
                                                        <ul class="dt-list dt-list-cm-0">
                                                            <!-- List Item -->
                                                            <li class="dt-list__item">
                                                                <a class="text-light-gray" href="{% url 'lmsapp:lashipmentupdate' shipment.shipment.id %}">
                                                                    <i class="icon icon-editors "></i>
                                                                </a>
                                                            </li>
                                                            <!-- /list item -->
                                                            <!-- List Item -->
                                                            <li class="dt-list__item">
                                                                <div class="dropdown">
                                                                    <a class="dropdown-toggle no-arrow text-light-gray"
                                                                    href="#" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                        <i class="icon icon-horizontal-more icon-fw"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <a class="dropdown-item" href="{% url 'lmsapp:lashipmentdetail' shipment.shipment.id %}">Shipment Detail</a>
                                                                        <a class="dropdown-item" data-toggle="modal"
                                                                        data-target="#main-modal" href="{% url 'lmsapp:cmplashipmentinfo' shipment.shipment.id %}" data-remote="{% url 'lmsapp:cmplashipmentinfo' shipment.shipment.id %}">Shipment Charge Info</a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <!-- /list item -->
                                                        </ul>
                                                        <!-- /list -->
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               
            <div class="text-center">
                <button type="submit" class="btn btn-warning" style="height: 70px; width: 30%;">Update Shipment</button>
            </div>
        </form>
    </div>
</div>
<div id="bundleshipment" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" id="loadmodalcontent">
            
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script>
    // select all box on click
    $('.card-body').on('click', '#selectallinputbox', function(){
        if ($(this).is(':checked')){
            $('table [type="checkbox"]').each(function (row, element) {
                $(this).prop('checked',true);
            })    
        }
        else{
            $('table [type="checkbox"]').each(function (row, element) {
                $(this).prop('checked',false);
            })
        }
    })
    $('#release-from-bundle-btn, #add-to-bundle-btn').on("click", function (event) {
        if (event.target.id == 'release-from-bundle-btn') {
            var my_checklist = []
            $('table [type="checkbox"]').each(function (row, element) {
                if (element.checked && element.getAttribute("data-id")) {
                    my_checklist.push(element.getAttribute("data-id"))
                }
            });
            if (my_checklist.length < 1) {
                alert('select any shipments first')
            }
            else{
                $.ajax({
                    url: '{% url "lmsapp:ajaxlabundleshipmentchangestatus" %}',
                    data: {
                        'shipment_ids': JSON.stringify(my_checklist),
                    },
                    beforeSend: function () {
                        $('#loadbundleshipmentlist').addClass('loader');

                    },
                    complete: function () {
                        $('#loadbundleshipmentlist').removeClass('loader');
                    },
                    success: function (data) {
                        html_content = `
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-3">Release From Bundle</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Number of Shipments Selected: <span class='text-dark'>${data.shipments_count}</span></p>   
                                <p class="text-dark">Selected shipments will be released from this bundle.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-danger" id="releasebundleshipmentvalid" type="button" data-ids="${data.shipment_ids}">Release Shipments From Bundle</button>
                            </div>
                        `
                        $('#loadmodalcontent').append(html_content)
                        $('#bundleshipment').modal('show');
                    }
                });
            }
        }
        else if (event.target.id == 'add-to-bundle-btn') {
            html_content = `
                <div class="modal-header">
                    <h3 class="modal-title" id="model-3">Add Shipment To Bundle</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Enter Shipment Tracking Code:</p>
                    <input type='text' name='shipment-tracking-code' id='shipment-tracking-code' class='form-control' placeholder='Enter Tracking Code' required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" id="addbundleshipmentvalid" type="button">Add Shipment To Bundle</button>
                </div>
            `
        }
        $('#loadmodalcontent').append(html_content)
        $('#bundleshipment').modal('show');
    });
</script>
<script>
    $('body').on('click', '#releasebundleshipmentvalid, #addbundleshipmentvalid', function (e) {
        if (e.target.id == 'releasebundleshipmentvalid') {
            var data_ids = $(this).attr("data-ids")
            data_ids = data_ids.split(",")
            status = 'releasebundleshipment'
            bundle_id = '{{bundle.id}}'
            $.ajax({
                method: 'POST',
                url: '{% url "lmsapp:ajaxlabundleshipmentchangestatus" %}',
                data: {
                    'shipment_ids': JSON.stringify(data_ids),
                    'status': status,
                    'bundle_id': bundle_id,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },

                success: function (data) {
                    location.reload()
                }
            });
        }
        else if (e.target.id == 'addbundleshipmentvalid') {  
            if ( $('#shipment-tracking-code').val() == ''){
                alert('please enter shipment tracking code to add in this bundle')
            }
            else{
                status = 'addbundleshipment'
                tracking_code = $('#shipment-tracking-code').val()
                bundle_id = '{{bundle.id}}'
                $.ajax({
                    method: 'POST',
                    url: '{% url "lmsapp:ajaxlabundleshipmentchangestatus" %}',
                    data: {
                        'status': status,
                        'bundle_id': bundle_id,
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                        'tracking_code': tracking_code
                    },
    
                    success: function (data) {
                        location.reload()
                    }
                });
            } 
        }
    })
</script>
<script>
    $('#bundleshipment').on('hidden.bs.modal', function () {
        $('#loadmodalcontent').html('');
    })
</script>
{% endblock %}