{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Bundles{% endblock %}
{% block bundles %}active-title{% endblock %}
{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css" rel="stylesheet"/>
<style>
    .nav-link:hover {
        cursor: pointer;
        background-color: #fff;
    }
    .shippingcharge-editable {
        background-color: aliceblue;
        color: blue;
        cursor: pointer;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

{% endblock %}
{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
        <!-- <div class="dt-page__header">
            <h1 class="dt-page__title">Shipment List</h1>
        </div> -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <!-- <div class="float-center">
                        <input type="text" placeholder="Search Shipment" class="form-control-sm" style="width: 100%;">
                    </div> -->
                    <div class="card-header card-nav border-bottom-0">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h3 class="dt-card__title" id="status-title"></h3>
                        </div>

                        <ul id="bundlestatus" class="card-header-tabs nav nav-tabs nav-tabs-sm nav-scroll mx-0"
                            role="tablist">
                            <li class="nav-item">
                                <a id="new" class="nav-link active" >New Bundle</a>
                            </li>
                            <li class="nav-item">
                                <a id="staff-assigned" class="nav-link">Bundle Assigned</a>
                            </li>
                            <li class="nav-item">
                                <a id="bundle-dispatched" class="nav-link">Bundle Dispatched</a>
                            </li>
                            <li class="nav-item">
                                <a id="bundle-at-receiver" class="nav-link">Bundle at Receiver</a>
                            </li>
                            <li class="nav-item">
                                <a id="bundle-delivered" class="nav-link">Bundle Delivered</a>
                            </li>
                        </ul>
                    </div>        
                    <div class="card-body">
                        <button id="selectedbundledetail" class="btn btn-sm mb-3" style="text-decoration: underline;">View Ticked Detail</button>
                        <div class="media-list media-separator" id="loadbundlelist">
                            <div class="loader"></div>                                   
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</div>
<div id="statusconfirm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" id="loadmodalcontent">
            
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $('body').on('click', '.classRadio', function(e){
        $('.classRadio').each(function (row, element) {
            if (element.checked) {
                element.checked = false;
            }
        })
        $(this).prop('checked',true);
    })
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        if ( sessionStorage.getItem("bundlestatus") ){
            status = sessionStorage.getItem("bundlestatus")
            $('.nav-link').removeClass('active');
            $('#'+ status).addClass('active');

        }
        else{
            status = sessionStorage.setItem("bundlestatus", "New")
            status = sessionStorage.getItem("bundlestatus")
        }
        $.ajax({
			url: '{% url "lmsapp:cmplaloadbundlelist" %}',
			data: {
				'status' : status,
			},
			success: function(data){    
                // setTimeout(function(){
                    $('#status-title').text(status + ' Bundles')
                    $('#loadbundlelist').html(data);
                // }, 500) 
            }
		});
    });

    // select all box on click
    $('.card-body').on('click', '#selectallinputbox', function(){
        if ($(this).is(':checked')){
            $('table [type="checkbox"]').each(function (row, element) {
                $(this).prop('checked',true);
            })    
        }
        else{
            $('table [type="checkbox"]').each(function (row, element) {
                $(this).prop('checked',false);
            })
        }
    });

    $('#bundlestatus li').on('click', function(){
        var status = $(this).find('a').attr('id');
        $('.nav-link').removeClass('active');
        $(this).find('a').addClass('active');
        $.ajax({
			url: '{% url "lmsapp:cmplaloadbundlelist" %}',
			data: {
				'status' : status,
			},
            beforeSend: function() {
                $('#loadbundlelist').addClass('loader');

            },
            complete: function() {
                $('#loadbundlelist').removeClass('loader');
            },
			success: function(data){    
                // setTimeout(function(){
                    // $('#loadbundlelist').removeClass('loader');
                    $('#loadbundlelist').empty();
                    $('#status-title').text(status + ' Bundles ')
                    $('#loadbundlelist').html(data);
                    sessionStorage.setItem("bundlestatus", status)
                // }, 500) 
            }
		});
    });
</script>

<script>
    $('#loadbundlelist').on("click", '#create-bundle-btn, #bundle-review-btn, #bundle-assign-btn, #bundle-release-btn, #bundle-sent-btn', function (event) {
        var my_checklist = []
        $('table [type="radio"]').each(function (row, element) {
            if (element.checked && element.getAttribute("data-id")) {
                my_checklist.push(element.getAttribute("data-id"))
            }
        });
        if (event.target.id == "create-bundle-btn") {
            $('#loadmodalcontent').parent().removeClass('modal-lg');
            html_content = `
                        <div class="modal-header">
                            <h3 class="modal-title" id="model-3">Create Bundle</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-dark mt-3">Select Destination Option.</p>
                            <select class="form-control first-destination">
                                <option value="">----- Select -----</option>
                                <option value="logisticpartner">Logistic Partner</option>
                                <option value="distributioncenter">Distribution Center</option>
                            </select>
                            <div id="second-destination-div" style="display:none;">
                                <p class="text-dark mt-3">Select Destination Company.</p>
                                <select class="form-control" id="second-destination">
                                    <option value="">----- Select -----</option>
                                </select>
                            </div>
                            <div id="final-destination-div" style="display:none;">
                                <p class="text-dark mt-3">Select Destination Branch.</p>
                                <select class="form-control" id="id_partner_company">
                                    <option value="">----- Select -----</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" id="bundlecreateconfirmvalid" type="button">Create Bundle</button>
                        </div>
                    `
            $('#loadmodalcontent').append(html_content);
            $('#statusconfirm').modal('show');
        }
        else {
            if (my_checklist.length < 1) {
                swal({
                    type: "warning",
                    title: "select any bundle first",
                    text: "",
                    animation: true,
                    toast: true,
                    icon: 'warning',
                    position: 'top-right',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                });
            } else {
                $.ajax({
                    url: '{% url "lmsapp:ajaxlabundlechangestatus" %}',
                    data: {
                        'bundle_ids': JSON.stringify(my_checklist),
                    },
                    beforeSend: function () {
                        $('#loadbundlelist').addClass('loader');
    
                    },
                    complete: function () {
                        $('#loadbundlelist').removeClass('loader');
                    },
                    success: function (data) {
                        if ( event.target.id == 'bundle-assign-btn' ){
                            $('#loadmodalcontent').parent().removeClass('modal-lg');
                            html_content = `
                                <div class="modal-header">
                                    <h3 class="modal-title" id="model-3">Assign Staff and Destination Warehouse</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Number of Bundles Selected: <span class='text-dark'>${data.bundle_count}</span></p>   
                                    <p class="text-dark">Select Staff and assign selected parcel for pickup schedule.</p>
                                    {{staffform.rider}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-primary" id="bundleassignconfirmvalid" type="button" data-ids="${data.bundle_ids}">Assign Staff</button>
                                </div>
                            `
                        }
                        else if ( event.target.id == 'bundle-release-btn' ){
                            $('#loadmodalcontent').parent().removeClass('modal-lg');
                            html_content = `
                                <div class="modal-header">
                                    <h3 class="modal-title" id="model-3">Release Bundles</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Number of Bundles Selected: <span class='text-dark'>${data.bundle_count}</span></p>   
                                    <p class="text-dark">Shipments in the selected bundles will be released and shipment will be 'at warehouse'.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-danger" id="bundlereleaseconfirmvalid" type="button" data-ids="${data.bundle_ids}">Release Shipments From Bundle</button>
                                </div>
                            `
                        }
                        else if ( event.target.id == 'bundle-sent-btn' ){
                            $('#loadmodalcontent').parent().addClass('modal-lg');
                            html_content = `
                                <div class="modal-header">
                                    <h3 class="modal-title" id="model-3">Confirm Bundles Sent</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Number of Bundles Selected: <span class='text-dark'>${data.bundle_count}</span></p>   
                                    <p class="text-dark">Selected bundles will be recorded as sent to destination warehouse.</p>
                                    <table class="table table-responsive table-stripped">
                                        <thead>
                                            <tr>
                                                <th>Shipments</th>
                                                <th style="width:150px;">Total Value</th>
                                                <th style="width:150px;">Shipping Charge</th>
                                                <th>COD</th>
                                                <th style="width:150px;">Rejection Charge</th>
                                                <th style="width:130px;">Parcel WxD</th>
                                            </tr>
                                        </thead>
                                        <tbody id="shipmenttable">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-success" id="bundlesentconfirmvalid" type="button" data-ids="${data.bundle_ids}">Bundle Sent</button>
                                </div>
                            `
                            var div = ``;
                            $.map(data.shipmentbundlelistvalues, function (item) {
                                var dav = `
                                    <tr>
                                        <td data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" title="Receiver Info" data-html="true" data-content="${item.shipment__receiver_name} - ${item.shipment__receiver_contact_number} <br>${item.shipment__receiver_address}, ${item.shipment__receiver_city__name}.">${item.shipment__tracking_code}</td>
                                        <td>${item.shipment__cod_value}</td>
                                        <td class="shippingcharge-editable" data-type="number" data-pk="${item.id}" data-url="" data-title="Enter Shipping Charge" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                                            ${item.shipping_charge}
                                        </td>
                                        <td class="shippingcharge-editable" data-type="number" data-pk="${item.id}" data-url="" data-title="Enter Shipping Charge" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">${item.cod_handling_charge}</td>
                                        <td class="shippingcharge-editable" data-type="number" data-pk="${item.id}" data-url="" data-title="Enter Shipping Charge" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">${item.rejection_handling_charge}</td>
                                        <td>${item.shipment__weight} ${item.shipment__weight_unit} <br> (${item.shipment__length}x${item.shipment__breadth}x${item.shipment__height})${item.shipment__length_unit}<sup>3</sup></td>
                                    </tr>
                                    `
                                div += dav
                            })
                            setTimeout(() => {
                                document.getElementById('shipmenttable').innerHTML = div;
                                $('[data-toggle=popover]').popover({container: 'body'});
                            }, 500);
                        }
                        else if ( event.target.id == 'bundle-review-btn' ){
                            $('#loadmodalcontent').parent().addClass('modal-lg');
                            html_content = `
                                <div class="modal-header">
                                    <h3 class="modal-title" id="model-3">Review Sent Bundles</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Number of Bundles Selected: <span class='text-dark'>${data.bundle_count}</span></p>   
                                    <p class="text-dark">Selected bundles will is being review.</p>
                                    <table class="table table-responsive table-stripped">
                                        <thead>
                                            <tr>
                                                <th>Shipments</th>
                                                <th style="width:150px;">Total Value</th>
                                                <th style="width:150px;">Shipping Charge</th>
                                                <th>COD</th>
                                                <th style="width:150px;">Rejection Charge</th>
                                                <th style="width:130px;">Parcel WxD</th>
                                            </tr>
                                        </thead>
                                        <tbody id="shipmenttable">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            `
                            var div = ``;
                            $.map(data.shipmentbundlelistvalues, function (item) {
                                var dav = `
                                    <tr>
                                        <td data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" title="Receiver Info" data-html="true" data-content="${item.shipment__receiver_name} - ${item.shipment__receiver_contact_number} <br>${item.shipment__receiver_address}, ${item.shipment__receiver_city__name}.">${item.shipment__tracking_code}</td>
                                        <td>${item.shipment__cod_value}</td>
                                        <td class="shippingcharge-editable" data-type="number" data-pk="${item.id}" data-url="{% url 'lmsapp:ajaxlashipmentbundleshipmentchargeupdate' 'shipping_charge' %}" data-title="Enter Shipping Charge" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                                            ${item.shipping_charge}
                                        </td>
                                        <td class="shippingcharge-editable" data-type="number" data-pk="${item.id}" data-url="{% url 'lmsapp:ajaxlashipmentbundleshipmentchargeupdate' 'cod_handling_charge' %}" data-title="Enter Shipping Charge" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">${item.cod_handling_charge}</td>
                                        <td class="shippingcharge-editable" data-type="number" data-pk="${item.id}" data-url="{% url 'lmsapp:ajaxlashipmentbundleshipmentchargeupdate' 'rejection_handling_charge' %}" data-title="Enter Shipping Charge" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">${item.rejection_handling_charge}</td>
                                        <td>${item.shipment__weight} ${item.shipment__weight_unit} <br> (${item.shipment__length}x${item.shipment__breadth}x${item.shipment__height})${item.shipment__length_unit}<sup>3</sup></td>
                                    </tr>
                                    `
                                div += dav
                            })
                            setTimeout(() => {
                                document.getElementById('shipmenttable').innerHTML = div;
                                $('[data-toggle=popover]').popover({container: 'body'});
                                $('.shippingcharge-editable').editable({
                                    success: function(response, newValue) {
                                        if(response.status == 'success'){
                                            swal({
                                                type: "success",
                                                title: `${response.msg}`,
                                                text: "",
                                                animation: true,
                                                toast: true,
                                                icon: 'success',
                                                position: 'top-right',
                                                showConfirmButton: false,
                                                timer: 3000,
                                                timerProgressBar: true,
                                            });
                                        } else {
                                            swal({
                                                type: "warning",
                                                title: `${response.msg}`,
                                                text: "",
                                                animation: true,
                                                toast: true,
                                                icon: 'warning',
                                                position: 'top-right',
                                                showConfirmButton: false,
                                                timer: 3000,
                                                timerProgressBar: true,
                                            });
                                            return false;
                                        }
                                    }
                                });
                                $('.editable-click').css('border-bottom', 'none');
                            }, 500);
                        }
                       
                        $('#loadmodalcontent').append(html_content)
                        $('#statusconfirm').modal('show');
                    }
                });
            }
        }


    });
</script>
<script>
    $('body').on('change', '.first-destination', function(){
        var value = $(this).val();
        if (value == "logisticpartner" || value == "distributioncenter"){
            $.ajax({
                url: "{% url 'lmsapp:ajaxlashipmentbundledestinationoptionmodal' %}",
                data: {
                    'value': value,
                },
                success: function(data){
                    var div = `<option value=""> -----select----- </option>`
                    if (data.message == "success" && data.distributioncenter) {
                        $.map(data.distributioncenter, function(item) {
                            var dav = `
                                <option value="${item.id}">${item.id}</option>
                            `
                            div += dav
                        });
                        document.getElementById('final-destination-div').style.display = "block";
                        document.getElementById('second-destination-div').style.display = "none";
                        document.getElementById('id_partner_company').innerHTML = div;
                    } else if (data.message == "success" && data.logisticpartner) {
                        $.map(data.logisticpartner, function(item) {
                            var dav = `
                                <option value="${item.id}">${item.company_name}</option>
                            `
                            div += dav
                        });
                        document.getElementById('final-destination-div').style.display = "none";
                        document.getElementById('second-destination-div').style.display = "block";
                        document.getElementById('second-destination').innerHTML = div;
                    }
                }
            })
        }
    })
    $('body').on('change', '#second-destination', function(){
        var value = $(this).val();
        if (value != "" ){
            $.ajax({
                url: "{% url 'lmsapp:ajaxlashipmentbundledestinationoptionmodal' %}",
                data: {
                    'value': value,
                    'destination': 'logisticpartner'
                },
                success: function(data){
                    var div = `<option value=""> -----select----- </option>`
                    if (data.message == "success" && data.logisticsbranch) {
                        $.map(data.logisticsbranch, function(item) {
                            var dav = `
                                <option value="${item.id}">${item.branch_city__name} (${item.logistics_company__company_name})</option>
                            `
                            div += dav
                        });
                        document.getElementById('final-destination-div').style.display = "block";
                        document.getElementById('id_partner_company').innerHTML = div;
                    }
                }
            })
        }
    })
</script>
<script>
    $('body').on('click', '#bundlecreateconfirmvalid, #bundleassignconfirmvalid, #bundlereleaseconfirmvalid, #bundlesentconfirmvalid', function (e) {
        if (e.target.id == 'bundleassignconfirmvalid' && ( $('#id_rider').val() == '' || $('#id_partner_company').val() == '') ) {
            // alert('Select a staff first and destination point first');
            swal({
                    type: "warning",
                    title: "Select a staff first and destination point first",
                    text: "",
                    animation: true,
                    toast: true,
                    icon: 'warning',
                    position: 'top-right',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                });
        }
        else if (e.target.id == 'bundlecreateconfirmvalid') {
            if ($('.first-destination').val() == '' || ($('.first-destination').val() == 'logisticpartner' && $('#second-destination').val() == "") || $('#id_partner_company').val() == "") {
                swal({
                    type: "warning",
                    title: "Empty Field Error",
                    text: "",
                    animation: true,
                    toast: true,
                    icon: 'warning',
                    position: 'top-right',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                });
            }
            else {
                destination = $('#id_partner_company').val();
                status = 'bundlecreateconfirm'
                $.ajax({
                    method: 'POST',
                    url: '{% url "lmsapp:ajaxlabundlechangestatus" %}',
                    data: {
                        'status': status,
                        'destination': destination,
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                    },
                    success: function(data){
                        location.reload();
                    }
                })
            }
            // else if (($('.first-destination').val() == 'logisticpartner' && $('#second-destination').val() == "") || $('#final-destination').val() == "") {
            //     swal({
            //         type: "warning",
            //         title: "Select All Fields",
            //         text: "",
            //         animation: true,
            //         toast: true,
            //         icon: 'warning',
            //         position: 'top-right',
            //         showConfirmButton: false,
            //         timer: 3000,
            //         timerProgressBar: true,
            //     });
            // }
            // elif (($('#second-destination').val() == "distributioncenter")) {
            //     alert("last")
            // }
            // alert($('.first-destination').val())
            // if ($('#id_partner_company').val() == '' || $) {
            //     swal({
            //         type: "warning",
            //         title: "Select destination point first",
            //         text: "",
            //         animation: true,
            //         toast: true,
            //         icon: 'warning',
            //         position: 'top-right',
            //         showConfirmButton: false,
            //         timer: 3000,
            //         timerProgressBar: true,
            //     });
            // } else {
            //     destination = $('#id_partner_company').val();
            //     status = 'bundlecreateconfirm'
            //     $.ajax({
            //         method: 'POST',
            //         url: '{% url "lmsapp:ajaxlabundlechangestatus" %}',
            //         data: {
            //             'status': status,
            //             'destination': destination,
            //             'csrfmiddlewaretoken': '{{csrf_token}}'
            //         },
            //         success: function(data){
            //             location.reload();
            //         }
            //     })
            // }
        }
        else {   
            var data_ids = $(this).attr("data-ids")
            data_ids = data_ids.split(",")
            if (e.target.id == 'bundleassignconfirmvalid') {
                staff = $('#id_rider').val();
                destination = '';
                status = 'bundleassignconfirm'
            }
            else if (e.target.id == 'bundlereleaseconfirmvalid') {
                staff = ''
                destination = ''
                status = 'bundlereleaseconfirm'
            }
            else if (e.target.id == 'bundlesentconfirmvalid') {
                staff = ''
                destination = ''
                status = 'bundlesentconfirm'
            }
            
            $.ajax({
                method: 'POST',
                url: '{% url "lmsapp:ajaxlabundlechangestatus" %}',
                data: {
                    'bundle_ids': JSON.stringify(data_ids),
                    'staff': staff,
                    'status': status,
                    'destination': destination,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },

                success: function (data) {
                    location.reload()
                }
            });
        }
    })
</script>
<script>
    $('#statusconfirm').on('hidden.bs.modal', function () {
        $('#loadmodalcontent').html('');
    })
</script>
<script src="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/js/bootstrap-editable.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/extensions/editable/bootstrap-table-editable.min.js"></script>
<script type="text/javascript">
	$('.shippingcharge-editable').editable({
		success: function(response, newValue) {
        	// if(response.status == 'error'){
        	// 	return response.msg;
        	// } 
        		location.reload();
    	}
    });
</script>
{% endblock %}
