{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Customer Information{% endblock %}
{% block customerspayment %}active-title{% endblock %}
{% block customerpayment %}active-title{% endblock %}


{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
      <!-- <div class="dt-page__header">
        <h1 class="dt-page__title">Customer Information</h1>
      </div> -->
      <div class="row">
        <div class="col-xl-12">
            <select class="mb-3 paginate-by" name="paginate-by" id="paginate-by">
                <option value="25">Show 25</option>
                <option value="50">Show 50</option>
                <option value="100">Show 100</option>
            </select>
            <div class="card">
                <div class="card-header card-nav border-bottom-0">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h3 class="dt-card__title" id="status-title">Customer Payment Informations</h3>
                         <!-- <a data-toggle="modal" data-target="#create-modal" data-remote="{% url 'umapp:opcustomerscreate' %}" class="d-inline-block" style="color:#512DA8;cursor: pointer;"><i class="icon icon-circle-add-o mr-2"></i>Create Customer</a>  -->

                    </div>

                </div>

                <!-- <div class="dt-card"> -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Customer</th>
                                <th>Action</th>


                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for basic in customerpaymentlist %}
                            <tr>
                                <td><a>{{forloop.counter|truncatechars:20}}</a></td>
                                <td ><a href="{% url 'lmsapp:opcustomerpaymentdetail' basic.pk %}">{{basic.logistics_customer|truncatechars:20}}</a></td>

                                <td>
                                 <a style="cursor:default;" href="{% url 'lmsapp:opcustomerpaymentdetail' basic.pk %}"class="btn-sm btn-light" title="View Customer Detail"><i class="fas fa-angle-double-right"></i></a>
                                </td> 
                                


                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>


 {% if is_paginated %}
  <ul class="pagination justify-content-center ">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>

                    <!-- <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div> -->




                
                <!-- </div> -->


                

            </div>


        </div>


      </div>




    </div>
</div>
      




{% endblock %}