<div class="modal-header">
	<h5 class="modal-title" id="mySmallModalLabel">Update Customer</h5>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<form method="POST" action="{% url 'umapp:opcustomersupdate' object.id %}" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="modal-body">
    <div class="row" style="margin:10px;">
          <!-- <label for="">Title *</label>
          {{form.as_p}}

          <label for="" style='padding-top:20px;'>Image <small>(This field is optional)</small></label>
        {{deliveryform.image}} -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Full Name </label>
                    {{form.full_name}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Contact Number</label>
                    {{form.contact_number}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Company Name</label>
                    {{form.company_name}}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="">City</label>
                    {{form.city}}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Address</label>
                    {{form.address}}
                </div>
            </div>
       
            


	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning text-left" data-dismiss="modal">Close</button>
		<button class="btn btn-primary text-left">Save</button>
	</div>
</form>


