{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Rider Information{% endblock %}
{% block css %}
<style>
.col-md-6{
    padding: 10px;
    word-break: break-all;
}

    
</style>

{% endblock %}

{% block content %}

<div class="dt-content-wrapper">
    <!-- Site Content -->
    <div class="dt-content">
        <!-- Page Header -->
        <div class="dt-page__header">
            <h1 class="dt-page__title">Rider Details</h1>
        </div>

        <div class="card">

            <!-- Card Header -->
            <div class="card-header card-nav bg-transparent border-bottom d-sm-flex justify-content-sm-between">
                <h3 class="mb-2 mb-sm-n5">About</h3>

                <ul class="card-header-links nav nav-underline" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab-pane1"
                           role="tab"
                           aria-controls="tab-pane1"
                           aria-selected="true">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-pane2"
                           role="tab"
                           aria-controls="tab-pane2"
                           aria-selected="true">Other Tab</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-pane3"
                           role="tab"
                           aria-controls="tab-pane3"
                           aria-selected="true">Other Tab</a>
                    </li>
                </ul>

            </div>
            <!-- /card header -->

            <!-- Card Body -->
            <div class="card-body pb-2">

                <!-- Tab Content-->
                <div class="tab-content mt-5" style="margin-bottom: 5rem; ">

                    <!-- Tab panel -->
                    <div id="tab-pane1" class="tab-pane active">

                        <!-- List -->
                        <div class="row">

                            <div class="col-md-6">
                                <div class="media">
                        
                                    <i class="icon icon-user icon-4x mr-5 align-self-center text-gray"></i>
                        
                                    <!-- Media Body -->
                                    <div class="media-body" >
                                        <span class="d-block text-light-gray f-15 mb-1">Full name</span>
                                        <a href="javascript:void(0)">{{dpdetail.full_name}}</a>
                                    </div>
                                    <!-- /media body -->
                        
                                </div>
                            </div>
                        
                            <div class="col-md-6">
                                <div class="media">
                        
                                    <i class="icon icon-company icon-4x mr-5 align-self-center text-gray"></i>
                        
                                    <!-- Media Body -->
                                    <div class="media-body" >
                                        <span class="d-block text-light-gray f-15 mb-1">Logistic Branch</span>
                                        <a href="javascript:void(0)">{{dpdetail.logistics_branch}}</a>
                                    </div>
                                    <!-- /media body -->
                        
                                </div>
                            </div>
                        
                            <div class="col-md-6">
                                <div class="media">
                        
                                    <i class="icon icon-location icon-4x mr-5 align-self-center text-gray"></i>
                        
                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-15 mb-1">Address</span>
                                        <a href="javascript:void(0)">{{dpdetail.address_city}}</a>
                                    </div>
                                    <!-- /media body -->
                        
                                </div>
                            </div>
                        
                            
                        
                            <div class="col-md-6">
                                <div class="media">
                        
                                    <i class="icon icon-mail icon-4x mr-5 align-self-center text-gray"></i>
                        
                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-15 mb-1">Mail</span>
                                        <a href="javascript:void(0)">{{dpdetail.user.email}}</a>
                                    </div>
                        
                                    <!-- /media body -->
                        
                                </div>
                            </div>
                        
                            <div class="col-md-6">
                                <div class="media">
                        
                                    <i class="icon icon-phone icon-4x mr-5 align-self-center text-gray"></i>
                        
                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-15 mb-1">Phone</span>
                                        <a href="javascript:void(0)">{{dpdetail.mobile}}</a>
                                    </div>
                        
                                    <!-- /media body -->
                        
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="media">
                        
                                    <!-- <i class="icon icon-location icon-4x mr-5 align-self-center text-gray"></i> -->
                        
                                    <!-- Media Body -->
                                    <div class="media-body">

                                        <span class="d-block text-light-gray f-15 mb-1">Image</span>
                                        <!-- <a href="javascript:void(0)">{{dpdetail.image}}</a> -->
                                        {% if dpdetail.image %}
                                       <img style="width: 200px; height:200px" class='img-responsive' src="{{ dpdetail.image.url }}" />
                                       {% else %}
                                       <a>No image available </a>
                                       {% endif %}
                                    </div>
                                    <!-- /media body -->
                        
                                </div>
                            </div>
                        
                            
                        
                            
                        </div>
                        <!-- /list -->

                    </div>
                    <!-- /tab panel -->

                    <!-- Tab panel -->
                    <div id="tab-pane2" class="tab-pane">

                        <!-- List -->
                        <ul class="dt-list dt-list-col-4">
                            <!-- List Item -->
                            <li class="dt-list__item">
                                <!-- Media -->
                                <div class="media">

                                    <i class="icon icon-company icon-4x mr-5 align-self-center text-gray"></i>

                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-12 mb-1">Works at</span>
                                        <p class="h5 mb-0">G-axon Tech Pvt. Ltd.</p>
                                    </div>
                                    <!-- /media body -->

                                </div>
                                <!-- /media -->
                            </li>
                            <!-- /list item -->

                            <!-- List Item -->
                            <li class="dt-list__item">
                                <!-- Media -->
                                <div class="media">

                                    <i class="icon icon-birthday-new icon-4x mr-5 align-self-center text-gray"></i>

                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-12 mb-1">Birthday</span>
                                        <p class="h5 mb-0">Oct 25, 1984</p>
                                    </div>
                                    <!-- /media body -->

                                </div>
                                <!-- /media -->
                            </li>
                            <!-- /list item -->

                            <!-- List Item -->
                            <li class="dt-list__item">
                                <!-- Media -->
                                <div class="media">

                                    <i class="icon icon-graduation icon-4x mr-5 align-self-center text-gray"></i>

                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-12 mb-1">Went to</span>
                                        <p class="h5 mb-0">Oxford University</p>
                                    </div>
                                    <!-- /media body -->

                                </div>
                                <!-- /media -->
                            </li>
                            <!-- /list item -->

                            <!-- List Item -->
                            <li class="dt-list__item">
                                <!-- Media -->
                                <div class="media">

                                    <i class="icon icon-home icon-4x mr-5 align-self-center text-gray"></i>

                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-12 mb-1">Lives in London</span>
                                        <p class="h5 mb-0">From Switzerland</p>
                                    </div>
                                    <!-- /media body -->

                                </div>
                                <!-- /media -->
                            </li>
                            <!-- /list item -->

                            <!-- List Item -->
                            <li class="dt-list__item">
                                <!-- Media -->
                                <div class="media">

                                    <i class="icon icon-family icon-4x mr-5 align-self-center text-gray"></i>

                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-12 mb-1">4 Family Members</span>

                                        <!-- Project Team -->
                                        <ul class="dt-list dt-team-list dt-team-list-sm">
                                            <li>
                                                <!-- Avatar -->
                                                <a class="dt-avatar size-25"
                                                   href="javascript:void(0)">
                                                    <img src="../assets/images/user-avatar/steve-smith.jpg"
                                                         alt="Steve Smith"> </a>
                                                <!-- /avatar -->
                                            </li>
                                            <li>
                                                <!-- Avatar -->
                                                <a class="dt-avatar size-25"
                                                   href="javascript:void(0)">
                                                    <img src="../assets/images/user-avatar/alex-dolgove.jpg"
                                                         alt="Alex Dolgove"> </a>
                                                <!-- /avatar -->
                                            </li>
                                            <li>
                                                <!-- Avatar -->
                                                <a class="dt-avatar size-25"
                                                   href="javascript:void(0)">
                                                    <img src="../assets/images/user-avatar/man-3.jpg"
                                                         alt="Reece Jacklin"> </a>
                                                <!-- /avatar -->
                                            </li>
                                            <li>
                                                <!-- Avatar -->
                                                <a class="dt-avatar size-25"
                                                   href="javascript:void(0)">
                                                    <img src="../assets/images/user-avatar/selena.jpg"
                                                         alt="Selena"> </a>
                                                <!-- /avatar -->
                                            </li>
                                        </ul>
                                        <!-- /project team -->

                                    </div>
                                    <!-- /media body -->

                                </div>
                                <!-- /media -->
                            </li>
                            <!-- /list item -->
                        </ul>
                        <!-- /list -->

                    </div>
                    <!-- /tab panel -->

                    <!-- Tab panel -->
                    <div id="tab-pane3" class="tab-pane">

                        <!-- List -->
                       something else
                        <!-- /list -->

                    </div>
                    <!-- /tab panel -->

                </div>
                <!-- /tab content-->

            </div>
            <!-- /card body -->



            


            





        </div>
       


        
	</div>
</div>

{% endblock %}