<div class="modal-header">
	<h5 class="modal-title" id="mySmallModalLabel"> Rider Password Reset</h5>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<form method="POST" action="{% url 'umapp:opdeliverypersonpc' id %}" enctype="multipart/form-data" id="change-password">
	{% csrf_token %}
	<div class="modal-body">
    <div class="row" style="margin:10px;">
          <!-- <label for="">Title *</label>
          {{form.as_p}}

          <label for="" style='padding-top:20px;'>Image <small>(This field is optional)</small></label>
        {{deliveryform.image}} -->
        <div class="row">
            <!-- <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label mb-10">Current Password</label>
                    {{form.current_password}}
                </div>
                {{form.current_password.errors}}
            </div> -->

        
            {{form.errors}}

            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label mb-5">New Password</label>
                    {{form.new_password}}
                </div>
                <!-- {{form.new_password.errors}} -->
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label mb-5">Confirm New Password</label>
                    {{form.confirm_password}}
                </div>
                <!-- {{form.confirm_password.errors}} -->
            </div>
            <div id="divCheckPasswordMatch"></div>

            <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
            
        </div>


	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning text-left" data-dismiss="modal">Close</button>
		<button  class="btn btn-primary text-left save-btn" id="save">Save</button>
	</div>
</form>


<!-- <script type="text/javascript">
$(document).ready(function () {
   $("#id_confirm_password, #id_new_password").keyup(checkPasswordMatch);
});
function checkPasswordMatch() {
    var newpassword = $("#id_new_password").val();
    var confirmPassword = $("#id_confirm_password").val();

    if (newpassword != confirmPassword){
        $("#divCheckPasswordMatch").html("Passwords do not match!");
        $('#save').prop("disabled", true)
    }
    else{
        $("#divCheckPasswordMatch").html("Passwords match.");
        document.getElementById("save").removeAttribute("disabled");
    }
}
</script> -->
<script>
    $('.save-btn').on('click', function(e){
        e.preventDefault();
        var newpassword = $("#id_new_password").val();
        var confirmPassword = $("#id_confirm_password").val();

        if (newpassword != confirmPassword || newpassword == "" || confirmPassword == ""){
            $("#divCheckPasswordMatch").html("Passwords do not match!");
        }
        else{
            $("#divCheckPasswordMatch").html("Passwords match.");
            $('#change-password').submit();
        }
    })
</script>

