<div class="modal-header">
    <h3 class="modal-title" id="model-3">Bundle Information</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-3 col-6 mb-3">
            <label>Bundle Code</label>
            <input type="text" value="{{bundle.bundle_code}}" class="form-control-sm" disabled>
        </div>
        <div class="col-sm-3 col-6 mb-3">
            <label>Bundle Type</label>
            <input type="text" value="{{bundle.parcel_type}}" class="form-control-sm" disabled>
        </div>
        <div class="col-sm-3 col-6 mb-3">
            <label>Weight</label>
            <input type="text" value="{{bundle.weight}} {{bundle.weight_unit}}" class="form-control-sm" disabled>
        </div>
        <div class="col-sm-3 col-6 mb-3">
            <label>Dimension</label>
            <input type="text" value="{{bundle.length}} * {{bundle.breadth}} * {{bundle.height}} {{bundle.length_unit}}" class="form-control-sm" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-6 mb-3">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" {% if bundle.request_pickup %}checked{% endif %} disabled>
                <label class="custom-control-label">Request Pickup ?</label>
            </div>
        </div>
        <div class="col-sm-3 col-6 mb-3">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" {% if bundle.request_home_delivery %}checked{% endif %} disabled>
                <label class="custom-control-label">Request Dropoff ?</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-6 mb-3">
            <label>Pickup Charge</label>
            <input type="text" value="{{bundle.pickup_charge}}" class="form-control-sm" disabled>
        </div>
        <div class="col-sm-3 col-6 mb-3">
            <label>Dropoff Charge</label>
            <input type="text" value="{{bundle.dropoff_charge}}" class="form-control-sm" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-6 mb-3">
            <label>Shipping Charge</label>
            <input type="text" value="{{bundle.shipping_charge}}" class="form-control-sm" disabled>
        </div>
        <div class="col-sm-3 col-6 mb-3">
            <label>COD Charge</label>
            <input type="text" value="{{bundle.cod_handling_charge}}" class="form-control-sm" disabled>
        </div>
        <div class="col-sm-3 col-6 mb-3">
            <label>Rejection Charge</label>
            <input type="text" value="{{bundle.rejection_handling_charge}}" class="form-control-sm" disabled>
        </div>
        <div class="col-sm-3 col-6 mb-3">
            <label>Extra Charge</label>
            <input type="text" value="{{bundle.extra_charge}}" class="form-control-sm" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-12 mb-3">
            <label>Shipments in this bundle ({{bundle.shipmentbundleshipment_set.count}})</label> <br>
            {% for shipment in bundle.shipments.all %}
            <input type="text" value="{{shipment.tracking_code}}" class="form-control-sm" disabled>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close
    </button>
</div>