<div class="table-responsive">
    <table class="table mb-0 table-fluid">
        <thead>
            <tr>
                <th></th>
                <th scope="col" style="width: 25%;">Bundle ID</th>
                <th scope="col" style="width: 25%;">Destination</th>
                <th scope="col" style="width: 25%;">Rider Assigned</th>
                <th scope="col" style="width: 10%;">No. of Shipments</th>
                <th scope="col" style="width: 15%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <button id="bundle-review-btn" class="btn btn-warning btn-sm">Review</button>
            {% for bundle in bundlelist %}
            <tr>
                <td><input data-id="{{bundle.id}}" class="classRadio" type="radio"></td>
                <td>
                    <span><a href="">{{bundle.bundle_code}}</a></span><br>
                    <span>{{bundle.created_at}}</span><br>
                    <span style="color: #FF4068;">{{bundle.created_at|timesince}} ago</span>
                </td>
                <td class="text-dark">
                    <span>{{bundle.destination_branch}}</span>
                </td>
                <td class="text-dark">
                    <span>{{bundle.rider}}</span>
                </td>
                <td class="text-dark">
                    <span>{{bundle.shipmentbundleshipment_set.count}} Shipments</span>
                </td>
                <td>
                    <!-- List -->
                    <ul class="dt-list dt-list-cm-0">
                        <!-- List Item -->
                        <li class="dt-list__item">
                            <a class="text-light-gray" href="{% url 'lmsapp:labundleupdate' bundle.id %}">
                                <i class="icon icon-editors "></i>
                            </a>
                        </li>
                        <!-- /list item -->
                        <!-- List Item -->
                        <li class="dt-list__item">
                            <div class="dropdown">
                                <a class="dropdown-toggle no-arrow text-light-gray"
                                   href="#" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="icon icon-horizontal-more icon-fw"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="">Bundle Detail</a>
                                    <a class="dropdown-item" data-toggle="modal"
                                    data-target="#main-modal" href="{% url 'lmsapp:cmplabundleinfo' bundle.id %}" data-remote="{% url 'lmsapp:cmplabundleinfo' bundle.id %}" data-remote="{% url 'lmsapp:cmplabundleinfo' bundle.id %}" data-remote="{% url 'lmsapp:cmplabundleinfo' bundle.id %}">Bundle Info</a>
                                </div>
                            </div>
                        </li>
                        <!-- /list item -->
                    </ul>
                    <!-- /list -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
