<div class="dt-customizer__body-inner">

    <section>
        <h4>No. of bundles selected:</h4>
        <p>{{bundle_count}}</p>
        <div class="table-responsive">
            <table class="table mb-0 table-fluid">
                <thead>
                    <th>S.N</th>
                    <th>Bundle Code</th>
                    <th>No. of Shipments Inside</th>
                </thead>
                <tbody>
                    {% for bundle in bundlelist %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{bundle.bundle_code}}</td>
                        <td>{{bundle.shipmentbundleshipment_set.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>