<div id="chatscrollbottom" class="card-body" style="height: 37vh; overflow-y: scroll;">
    {% for note in notelist %}
    <p style="font-size: 1.3rem;">
        {{note.remarks}} <br>
        <span style="font-size: 1rem;">by- {{request.user.username}} {{note.created_at|timesince}} ago</span>
    </p>
    <hr>
    {% endfor %}
</div>
<div class="media-list media-separator">
    <textarea type="text" class="form-control input-success" id="notearea" rows="3" placeholder="Write a Note" style="border: 1px solid green;"></textarea>
    <button class="btn btn-success btn-sm mt-2" id="addnote" style="width: 100%;" disabled>Add a Note</button>
</div>