<div class="table-responsive">
    <table class="table mb-0 table-fluid">
        <thead>
            <tr>
                <th><input id="icon-checkbox-1" type="checkbox"></th>
                <th scope="col" style="width: 25%;">Shipment ID</th>
                <th scope="col" style="width: 30%;">Sender Info</th>
                <th scope="col" style="width: 30%;">Receiver Info</th>
                <th scope="col" style="width: 10%;">Shipment Value</th>
                <th scope="col" style="width: 5%;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for shipment in shipmentlist %}
            <tr>
                <td><input id="icon-checkbox-1" type="checkbox"></td>
                <td>
                    <span><a href="{% url 'lmsapp:lashipmentdetail' shipment.id %}">{{shipment.tracking_code}}</a></span><br>
                    <span>{{shipment.created_at}}</span><br>
                    <span style="color: #FF4068;">{{shipment.created_at|timesince}} ago</span>
                </td>
                <td class="text-dark">
                    <span>{{shipment.sender_name}},
                        {{shipment.sender_contact_number}}
                    </span><br>
                    <span style="font-size: 1.2rem;">({{shipment.sender_address}}),</span> {{shipment.sender_city}}</span>
                </td>
                <td class="text-dark">
                    <span>{{shipment.receiver_name}},
                        {{shipment.receiver_contact_number}}
                    </span><br>
                    <span><span style="font-size: 1.2rem;">({{shipment.receiver_address}}),</span> {{shipment.receiver_city}}</span>
                </td>
                <td>Rs. {{shipment.cod_value}}</td>
                <td>
                    <!-- List -->
                    <ul class="dt-list dt-list-cm-0">
                        <!-- List Item -->
                        <li class="dt-list__item">
                            <a class="text-light-gray" href="{% url 'lmsapp:lashipmentupdate' shipment.id %}">
                                <i class="icon icon-editors "></i>
                            </a>
                        </li>
                        <!-- /list item -->
                        <!-- List Item -->
                        <li class="dt-list__item">
                            <div class="dropdown">
                                <a class="dropdown-toggle no-arrow text-light-gray"
                                   href="#" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="icon icon-horizontal-more icon-fw"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url 'lmsapp:lashipmentdetail' shipment.id %}">Shipment Detail</a>
                                    <a class="dropdown-item" data-toggle="modal"
                                    data-target="#main-modal" href="{% url 'lmsapp:cmplashipmentinfo' shipment.id %}" data-remote="{% url 'lmsapp:cmplashipmentinfo' shipment.id %}">Shipment Charge Info</a>
                                </div>
                            </div>
                        </li>
                        <!-- /list item -->
                    </ul>
                    <!-- /list -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
