<div class="dt-customizer__body-inner">
    <section>
        <h4>No. of shipments selected:</h4>
        <p>{{shipment_count}}</p>
        <div class="table-responsive">
            <table class=" mb-0">
                <thead>
                    <th>S.N</th>
                    <th>Shipment Code</th>
                    <th>Shipment Value</th>
                    <th>Shipping Charge</th>
                    <th>COD Charge</th>
                    <th>Rejection Charge</th>
                </thead>
                <tbody>
                    {% for shipment in shipmentlist %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{shipment.tracking_code}}</td>
                        <td>{{shipment.cod_value}}</td>
                        <td>{{shipment.shipping_charge}}</td>
                        <td>{{shipment.cod_handling_charge}}</td>
                        <td>{{shipment.rejection_handling_charge}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>