<div id="chatscrollbottom" class="dt-module__content ps-custom-scrollbar" style="height: 37vh; overflow-y: scroll;">
    <div class="dt-module__content-inner">
        <div class="dt-chat__conversation" style="font-size: 1.3rem;">
            {% for chat in enquirylist %}
            {% if chat.remarks_by_type.model == 'logisticscustomer' %}
            <div class="dt-chat__item">
                <div class="dt-chat__message-wrapper">
                    <div class="dt-chat__message" style="padding: 10px!important;">
                        {{chat.remarks|striptags|safe}}
                    </div>
                    <span style="font-size: 1rem!important;">{{chat.created_at|timesince}} ago</span>
                    <!-- <div class="dt-chat__message" style="padding: 10px!important;">
                        Customer Message
                    </div> -->
                </div>
            </div>
            {% else %}
            <div class="dt-chat__item reply">
                <div class="dt-chat__message-wrapper">
                    <div class="dt-chat__message" style="padding: 10px!important;">
                        {{chat.remarks|striptags|safe}}
                    </div>
                    <span style="font-size: 1rem!important;" class="float-right">by- {{request.user.username}} {{chat.created_at|timesince}} ago</span>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="media-list media-separator">
    <textarea type="text" class="form-control input-success" id="chatarea" rows="3" placeholder="Message" style="border: 1px solid green;"></textarea>
    <button class="btn btn-success btn-sm mt-2" id="addchat" style="width: 100%;" disabled>Send Message</button>
</div>