{% load static %}
<style>
    p{
        padding: 10px 16px;
        margin-bottom: 0%;
    }
    p:hover {background-color: #ddd;}
</style>
{% for cities in allcity %}
<p class="clickCity city_{{cities.id}}" value="{{cities.id}}">{{cities.name}}({{cities.district}})<span class = "btn-xs btn-primary fa fa-plus addBtn" style="float: right;"></span></p>
{% endfor %}

<script>
    $('body').on('click','.addBtn', function(){
        // $('#city_list').css('display', 'none')
        // alert('clicked')
        var city_id = $(this).parent()[0].getAttribute('value')
        // console.log(city_id)
        $.ajax({
            method:'POST',
            data:{
                'city_id':city_id,
                'csrfmiddlewaretoken':"{{csrf_token}}",
            },
            success:function(data){
                // location.reload()
                // alert('success')
                $('#cityList').load(document.URL +  ' #cityList');
                $('#msg').html(data.message).css('color','blue')
                // $(`<li class="city_{{allcity.id}}" style="font-size: medium;">{{allcity.name}}({{allcity.district.name}})<span class="closeBtn close" value="{{allcity.id}}">&times;</span></li>`).appendTo('#cityList')
            }
        })
    })
</script>


