<div class="table-responsive">
  <table class="table mb-0 table-fluid">
    <thead>
      <tr>
        <th scope="col">Sn.</th>
        <th scope="col">District</th>
        <th scope="col">Province</th>
        <th scope="col">Slug</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
      <tbody id="load-more-data">
        <a
          class="btn btn-primary pull-right"
          data-toggle="modal"
          data-target="#create-modal"
          data-remote="{% url 'umapp:districtcreate' %}"
          style="
            color: white;
          "
          >Create District</a>
          <input type="text" class="form-control d-inline-block search-input" placeholder="Type And Press Enter" style="width: 200px; float: right;">
          {% for district in settingslist %}
          <tr>
              <td>{{forloop.counter}}</td>
              <td>{{district.name}}</td>
              <td>{{district.province}}</td>
              <td>{{district.slug}}</td>
              <td>
              <a href="" data-toggle="modal" data-target="#update-modal" data-remote="{% url 'umapp:districtedit' district.id %}" class="btn-sm btn-warning" title="Update">Update</a>
              {% comment %} <a href="" data-toggle="modal" data-target="#delete-modal" data-remote="{% url 'umapp:provincedelete' prov.id %}" class="btn-sm btn-danger ">delete</a>  
              </td> {% endcomment %}
            </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
<div id="load-more-button">
  {% if settingslist.has_next is True %}
  
      <!-- Pagination -->
      <nav>
          <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link page-link-next" data-href="?page={{ settingslist.next_page_number}}{% if paginate_by %}&paginate_by={{paginate_by}}{% endif %}">Load More (Showing {{ settingslist.end_index }} of {{ settingslist.paginator.count }})</a>
              </li>
          </ul>
      </nav>
      <!-- /pagination -->
  
  {% endif %}
</div>

<script>
  $(document).ready(function () {
      $('.select2').select2();
      $('.select2').css({'width': '200px'});
  });
</script>