<div class="modal-header">
	<h5 class="modal-title" id="mySmallModalLabel">Update a City {{object}} ?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<form method="POST" action="{% url 'umapp:cityedit' object.id %}">
	{% csrf_token %}
	<div class="modal-body">
    <div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">City</label>
        </div>
        <div class="col-md-8" >
          {{form.name}}
        </div>
        </div>

        <div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">District</label>
        </div>
        <div class="col-md-8">
          {{form.district}}
        </div>
        </div>

        <span style="visibility:hidden;"><div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">Slug</label>
        </div>
        <div class="col-md-8">
          {{form.slug}}
        </div>
        </div>
        </span>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning text-left" data-dismiss="modal">Close</button>
		<button class="btn btn-primary text-left" id='city-btn'>Update City</button>
	</div>
</form>


{% block js %}
<script>
	$("#city-name").on('keyup', function(){
		var title = $(this).val();
		title = title.toLowerCase();
		title = title.replace(/[^a-zA-Z0-9]+/g,"-",);
		$("#city-slug").val(title + "-city");
	});
</script>


<script>
$(document).ready(function(){
$('#city-name').on('change', function(event){
  var city_name = $('#city-name').val();
  if (city_name == ''){
    console.log('empty')
  }else{
  $.ajax({
    url: '{% url "umapp:checkcityname" %}',
    data:{
      'city_name':city_name
    },
    dataType:"json",
    success:function(data){
      if (data.data.msg=='city available'){
        alert(data.data.msg)
        $('#city-name').val(data.data.name)
        $('#city-btn').prop("disabled",false);
      }else{
        alert(data.data.msg)
        $('#city-name').val(data.data.name)
        $('#city-btn').prop("disabled",true);
      }
    }
  });
  };
});
});

</script>

{% endblock  %}