{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}


{% block content %}
<div class="dt-content-wrapper">
  <div class="dt-content">
      <div class="dt-page__header">
            <h1 class="dt-page__title">City List</h1>
      </div>
          <div class="row" style="margin: 20px">
            <div class="col-md-12">
              <span>
              <a
                class="btn btn-success pull-right"
                data-toggle="modal"
                data-target="#createcity"
                style="
                  background-color: #00b3b3;
                  border-radius: 10px;
                  width: 300px;
                  margin: 10px;
                  float: right;
                "
                >Create City</a>

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sn.</th>
                    <th scope="col">City name</th>
                    <th scope="col">District</th>
                    <th scope="col">slug</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for city in cities %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{city.name}}</td>
                    <td>{{city.district}}</td>
                    <td>{{city.slug}}</td>
                    <td>
                    <a href="" data-toggle="modal" data-target="#update-modal" data-remote="{% url 'umapp:cityedit' city.id %}" class="btn-sm btn-warning" title="Update">Update</a>
                    {% comment %} <a href="" data-toggle="modal" data-target="#delete-modal" data-remote="{% url 'umapp:provincedelete' prov.id %}" class="btn-sm btn-danger ">delete</a>  
                    </td> {% endcomment %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>



          <!-- Modal -->
          <div class="modal fade" id="createcity" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">City</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method="POST" id='city-form'>
                <div class="modal-body">
                  {% csrf_token %}
                  <div class="row" style="margin:10px;">
                  <div class="col-md-4">
                    <label for="">City</label>
                  </div>
                  <div class="col-md-8" >
                    {{cityform.name}}
                  </div>
                  </div>

                  <div class="row" style="margin:10px;">
                  <div class="col-md-4">
                    <label for="">District</label>
                  </div>
                  <div class="col-md-8">
                    {{cityform.district}}
                  </div>
                  </div>

                  <div class="row" style="margin:10px;">
                  {% comment %} <div class="col-md-4">
                    <label for="">Slug</label>
                  </div> {% endcomment %}
                  <div class="col-md-8">
                    <span style="visibility:hidden;">{{cityform.slug}}</span>
                  </div>
                  </div>
                  
                </div>
                <div class="modal-footer" style='margin:30px;'>
                  <button type="submit" class="btn btn-primary" id='city_btn'>Save</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </form>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock  %}

{% block js %}
<script>
	$("body").on('keyup', '#id_name', function(){
		var title = $(this).val();
		title = title.toLowerCase();
		title = title.replace(/[^a-zA-Z0-9]+/g,"-",);
		$("#id_slug").val(title + "-dist");
	});
</script>

<script>
$('#city_btn').on('click', function(e){
  e.preventDefault();
  $.ajax({
    type:'POST',
    url:'{% umapp:settings %}',
    data:{
      city:$('#id_name').val(),
      district:$('#id_district'),
      slug:$('#id_slug')
    },
    success:function(){
      console.log(data)
    }
  })
});
</script>


{% endblock  %}