{% block css %}
<style>
#country-slug{
  visibility:hidden;
}

</style>

{% endblock  %}


<div class="modal-header">
	<h5 class="modal-title" id="mySmallModalLabel" >Update a Country {{object}} ?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<form method="POST" action="{% url 'umapp:countryedit' object.id %}">
	{% csrf_token %}
	<div class="modal-body">
    <div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">Cuntry</label>
        </div>
        <div class="col-md-8" >
          {{form.name}}
        </div>
        </div>

        <div class="row" style="margin:10px;">
        <div class="col-md-4">
          {% comment %} <label for="">Slug</label> {% endcomment %}
        </div>
        <div class="col-md-8">
          {{form.slug}}
        </div>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning text-left" data-dismiss="modal">Close</button>
		<button class="btn btn-primary text-left" id ='country-btn'>Update Country</button>
	</div>
</form>

{% block js %}

<script>
$('#country-name').on('keyup', function(e){
    var title=$(this).val();
    title=title.toLowerCase();
    title=title.replace(/[^a-zA-Z0-9]+/g,"-",);
    $('#country-slug').val(title + "-" + "country")
});
</script>



<script>
$(document).ready(function(){
$('#country-name').on('change', function(event){
  var country_name = $('#country-name').val();
  if (country_name == ''){
    console.log('empty')
  }else{
  $.ajax({
    url: '{% url "umapp:checkcountryname" %}',
    data:{
      'country_name':country_name
    },
    dataType:"json",
    success:function(data){
      if (data.data.msg=='country available'){
        alert(data.data.msg)
        $('#country-name').val(data.data.name)
        $('#country-btn').prop("disabled",false);
      }else{
        alert(data.data.msg)
        $('#country-name').val(data.data.name)
        $('#country-btn').prop("disabled",true);
      }
    }
  });
  };
});
});

</script>

{% endblock  %}