<div class="modal-header">
	<h5 class="modal-title" id="mySmallModalLabel">Create Country ?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<form method="POST" action="{% url 'umapp:countrycreate' %}">
	{% csrf_token %}
	<div class="modal-body">
    <div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">Country</label>
        </div>
        <div class="col-md-8" >
          {{form.name}}
        </div>
        </div>

        <span style="visibility:hidden;"><div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">Slug</label>
        </div>
        <div class="col-md-8">
          {{form.slug}}
        </div>
        </div>
        </span>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning text-left" data-dismiss="modal">Close</button>
		<button class="btn btn-primary text-left" id='country-btn'>Save</button>
	</div>
</form>


{% block js %}
<script>
	$("#country_id").on('keyup', function(){
		var title = $(this).val();
		title = title.toLowerCase();
		title = title.replace(/[^a-zA-Z0-9]+/g,"-",);
		$("#country_slug").val(title + "-country");
	});
</script>

<script>
$(document).ready(function(){
$('#country_id').on('change', function(event){
  var country_name = $('#country_id').val();
  if (country_name == ''){
    console.log('empty')
  }else{
  $.ajax({
    url: '{% url "umapp:checkcountryname" %}',
    data:{
      'country_name':country_name
    },
    dataType:"json",
    success:function(data){
      if (data.data.msg=='country available'){
        alert(data.data.msg)
        $('#country_id').val(data.data.name)
        $('#country-btn').prop("disabled",false);
      }else{
        alert(data.data.msg)
        $('#country_id').val(data.data.name)
        $('#country-btn').prop("disabled",true);
      }
    }
  });
  };
});
});

</script>


{% comment %} <script>
$(document).ready(function(){
$('#country_id').on('change', function(event){
  var country_name = $('#country_id').val();
  console.log(country_name, 'first');
  country_name = country_name.toLowerCase().replace(/(?<= )[^\s]|^./g, a => a.toUpperCase());
  country_name = $('#country_id').val(country_name);
  console.log(country_name);
  $.ajax({
    url: '{% url "umapp:checkcountryname" %}',
    data:{
      'country_name':country_name
    },
    dataType:"json",
    success:function(data){
      console.log(data)
    }
  });
});
});

</script> {% endcomment %}


{% endblock  %}