{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="row">
			<div class='row'>
				<h1 class="txt-dark ml-6"> Pay To Customer <br><span style="color: green;">({{customer.full_name}})</span></h1>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3">
							<br>
							<h4 style="font-size: 24px;line-height:30px;text-transform:capitalize;">Unpaid Shipments</h4>
						</div>
					</div><hr>
					<div class="row">
						<a target="_blank" href="{% url 'lmsapp:customerpaytologisticsreport' %}">
						<input class="btn btn-primary mr-5" type="button" value="Print Selected Payment">
						</a>
						<a download="" href="{% url 'lmsapp:customerpaytologisticsreport' %}">
						<input class="btn btn-primary mr-5" type="button" value="Download Selected Payment">
						<input class="btn btn-success mr-5" type="button" value="Process Payment">
					</div>
				</div>
			</div>
			
			<table class='table'>
				<thead>
					<tr>
						<th>SN</th>
						<th>Customer Info</th>
						<th>Shipment Code</th>
						<th>Shipment status/ Mode of Payment</th>
						<th>Shipment Charge</th>
						<th>COD Handling Charge</th>
						<th>Rejection Handling Charge</th>
						<th>Extra Charge</th>
						<th>Payment Status</th>
						<th>Service Payment To Receiver</th>
						<th>COD Amount To Return</th>
					</tr>
				</thead>
				<tbody id='table-id'>
					{% for ship in shipment_list %}
					<tr>
						<td><input type="checkbox" name="" id=""></td>
						<td>
							<small>
								{{ship.receiver_name}} <br>
								{{ship.receiver_contact_number}} <br>
								{{ship.receiver_address}} <br>
							</small>
						</td>
						<td>
							{{ship.tracking_code}} <br>
							{{ship.created_at|date}} <br>
							{{ship.created_at|time}}
						</td>
						<td>
							<input style="margin: 5px;border-radius: 30px;color: blue;" type="button" value="{{ship.shipmentactivity_set.last.shipment_status}}"> <br>
							<input style="margin: 5px;border-radius:30px;color: red;" type="button" value="{{ship.cod_info}}">
						</td>
						<td data-id="shipping_charge_{{ship.id}}">{{ship.shipping_charge}}</td>
						<td data-id="cod_charge_{{ship.id}}">{{ship.cod_handling_charge}}</td>
						<td data-id="rejection_charge_{{ship.id}}">{{ship.rejection_handling_charge}}</td>
						<td>{{ship.extra_charge}}</td>
						<td>Not Paid</td>
						<td>{{ship.service_charge}}</td>
						<td></td>
					</tr>
					{% endfor %}	
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

{% endblock %}