{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Support Ticket{% endblock%}
{% block ticket %}active-title{% endblock %}

{% block css %}
<style>
    .ajax-pagination {
        cursor: pointer;
        color: #3e2280;
    }
</style>
{% endblock %}

{% block content %}

<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="row">

            <!-- Grid Item -->
            <div class="col-xl-12">
                <select class="mb-3 paginate-by" name="paginate-by" id="paginate-by">
                    <option value="5">Show 5</option>
                    <option value="10">Show 10</option>
                    <option value="15">Show 15</option>
                </select>
               
                <!-- Module -->
                <div class="dt-module" style='height:440px;'>

                    <!-- Module Sidebar -->
                    <div class="dt-module__sidebar">

                        <!-- Sidebar Header -->
                        <div class="dt-module__sidebar-header border-bottom">
                            <div class="d-none d-md-flex align-items-center">
                                <i class="icon icon-user-account icon-1x mr-3 text-dark"></i>
                                <span class="h3 mb-0">Ticket List</span>
                            </div>

                            <!-- App Quick Menu -->
                            <div class="quick-menu-list d-md-none">

                                                            <!-- Search Box -->
                                    {% comment %} <form class="search-box d-md-none">
                                        {{search.name}}
                                        <button type="submit" class="search-icon"><i
                                                class="icon icon-search icon-lg"></i></button>
                                    </form> {% endcomment %}
                                    <!-- /search box -->

                                    <a href="javascript:void(0)" class="quick-menu d-none d-md-block"
                                    data-toggle="mdrawer" data-target="#drawer-search-bar"><i
                                            class="icon icon-search"></i></a>
                                                            
                                <a href="javascript:void(0)" class="quick-menu" data-toggle="modal"
                                data-target="#composeModal">
                                    <i class="icon icon-contacts"></i> </a>
                                <a href="javascript:void(0)" class="quick-menu" data-toggle="mdrawer"
                                data-target="#drawer-notifications"><i
                                        class="icon icon-notification2"></i></a>
                                
                                <a href="javascript:void(0)" class="quick-menu d-md-none" data-toggle="msidebar-content">
                                                                    <i class="icon icon-menu"></i>
                                                            </a>
                            </div>
                            <!-- /app quick menu -->
                        </div>
                        <!-- /sidebar header -->

                        <!-- Sidebar Menu -->
                        <div class="dt-module__sidebar-content ps-custom-scrollbar">

                            <!-- Button -->
                            {% comment %} <div class="action-area mt-5 mb-7 d-none d-md-block">
                                <a href="javascript:void(0)"
                                class="btn btn-shadow btn-default compose-btn btn-rounded"
                                data-toggle="modal" data-target="#composeModal">
                                    <i class="icon icon-contacts icon-fw mr-2"></i>Add Contact </a>
                            </div> {% endcomment %}
                            <!-- /button -->

                            <!-- Sidebar Navigation -->
                            {% comment %} {% if keyword is None and keyword == '' %} {% endcomment %}
                            <ul class="dt-module-side-nav" id='myTab'>

                                <!-- Menu Header -->
                                <li class="dt-module-side-nav__header">
                                    <span class="dt-module-side-nav__text">Tickets</span>
                                </li>
                                <!-- /menu header -->

                                <!-- Menu Item -->
                                <li class="dt-module-side-nav__item {% if selected == 'all' %}active {% endif %} ticket-filter"  data-filter="all" id="all">
                                    <a href="all" data-toggle="tab" class="dt-module-side-nav__link">
                                        <i class="icon icon-contacts icon-fw icon-lg"></i>
                                        <span class="dt-module-side-nav__text ticketid">All Tickets</span> </a>
                                </li>
                                <!-- /menu item -->

                                <!-- Menu Item -->
                                <li class="dt-module-side-nav__item {% if selected == 'Open' %}active {% endif %} ticket-filter" data-filter="Open" id="Open">
                                    <a href="Open" data-toggle="tab" class="dt-module-side-nav__link">
                                        <i class="icon icon-heart-o icon-fw icon-lg"></i>
                                        <span class="dt-module-side-nav__text ticketid">Ticket Open</span> </a>
                                </li>
                                <!-- /menu item -->


                                <!-- Menu Item -->
                                <li class="dt-module-side-nav__item {% if selected == 'Reviewing' %}active {% endif %} ticket-filter" data-filter="Reviewing" id="Reviewing">
                                    <a href="Reviewing" data-toggle="tab" class="dt-module-side-nav__link">
                                        <i class="icon icon-contacts icon-fw icon-lg"></i>
                                        <span class="dt-module-side-nav__text ticketid">Ticket Reviewing</span> </a>
                                </li>
                                <!-- /menu item -->

                                <!-- Menu Item -->
                                <li class="dt-module-side-nav__item {% if selected == 'Solved' %}active {% endif %} ticket-filter" data-filter="Solved" id="Solved">
                                    <a href="Solved" data-toggle="tab" class="dt-module-side-nav__link">
                                        <i class="icon icon-star-o icon-fw icon-lg"></i>
                                        <span class="dt-module-side-nav__text ticketid">Ticket Solved</span> </a>
                                </li>
                                <!-- /menu item -->

                            </ul>
                            {% comment %} {% else %}
                            <ul class="dt-module-side-nav">

                                <!-- Menu Header -->
                                <li class="dt-module-side-nav__header">
                                    <span class="dt-module-side-nav__text">Tickets</span>
                                </li>
                                <!-- /menu header -->

                                <!-- Menu Item -->
                                <li class="dt-module-side-nav__item {% if selected == 'all' %}active {% endif %} ticket-filter" data-href="?ticket_status=all&keyword={{keyword}}" data-filter="all" id="all">
                                    <a href="javascript:void(0)" class="dt-module-side-nav__link">
                                        <i class="icon icon-contacts icon-fw icon-lg"></i>
                                        <span class="dt-module-side-nav__text ticketid">All Tickets</span> </a>
                                </li>
                                <!-- /menu item -->

                                <!-- Menu Item -->
                                <li class="dt-module-side-nav__item {% if selected == 'Open' %}active {% endif %} ticket-filter" data-href="?ticket_status=Open&keyword={{keyword}}" data-filter="Open" id="Open">
                                    <a href="javascript:void(0)" class="dt-module-side-nav__link">
                                        <i class="icon icon-heart-o icon-fw icon-lg"></i>
                                        <span class="dt-module-side-nav__text ticketid">Ticket Open</span> </a>
                                </li>
                                <!-- /menu item -->


                                <!-- Menu Item -->
                                <li class="dt-module-side-nav__item {% if selected == 'Reviewing' %}active {% endif %} ticket-filter" data-href="?ticket_status=Reviewing&keyword={{keyword}}" data-filter="Reviewing" id="Reviewing">
                                    <a href="javascript:void(0)" class="dt-module-side-nav__link">
                                        <i class="icon icon-contacts icon-fw icon-lg"></i>
                                        <span class="dt-module-side-nav__text ticketid">Ticket Reviewing</span> </a>
                                </li>
                                <!-- /menu item -->

                                <!-- Menu Item -->
                                <li class="dt-module-side-nav__item {% if selected == 'Solved' %}active {% endif %} ticket-filter" data-href="?ticket_status=Solved&keyword={{keyword}}" data-filter="Solved" id="Solved">
                                    <a href="javascript:void(0)" class="dt-module-side-nav__link">
                                        <i class="icon icon-star-o icon-fw icon-lg"></i>
                                        <span class="dt-module-side-nav__text ticketid">Ticket Solved</span> </a>
                                </li>
                                <!-- /menu item -->

                            </ul>
                            {% endif %} {% endcomment %}
                            <!-- /sidebar navigation -->
                            <div style='display:none;' id = 'hold-status'>Open</div>
                            <div style='display:none;' id = 'hold-keyword'></div>

                        </div>
                        <!-- /sidebar Menu -->

                    </div>
                    <!-- /module sidebar -->

                    <!-- Module Container -->
                    <div class="dt-module__container">

                        <!-- Module Header -->
                        <div class="dt-module__header d-none d-md-flex">

                            <!-- Search Box -->
                            {% comment %} <form class="search-box ml-n4" id='searchform'> {% endcomment %}
                                <input class="form-control border-0 shadow-none bg-focus form-control-sm"
                                    placeholder="Search for ticket..." value="" name='search' id='search-id' data-filter={{selected}}
                                    type="search"> <span class="search-icon"><i
                                        class="icon icon-search icon-lg" style='display:none;'></i></span>
                            {% comment %} </form> {% endcomment %}
                            <!-- /search box -->

                            <!-- Dropdown -->
                            <div class="dropdown dt-notification ml-auto">

                                <!-- Dropdown Button -->
                                <a href="#" class="dropdown-toggle no-arrow" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                    <i class="icon icon-message icon-1x icon-fw {% if opnot >= 1 %}dt-icon-alert{% else %} {% endif %}"></i>
                                </a>
                                <!-- /dropdown button -->

                                <!-- Dropdown Option -->
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                                    <!-- Dropdown Menu Header -->
                                    <div class="dropdown-menu-header">
                                        <h4 class="title">Messages  {{opnot}}</h4>

                                        <div class="ml-auto action-area">
                                        {% if opnot >= 1 %}
                                            <a href="javascript:void(0)" id='mark_all_read_msg'>Mark All Read</a> <a class="ml-2"
                                                                                            href="javascript:void(0)">
                                                <i class="icon icon-settings icon-lg text-light-gray"></i>
                                            </a>
                                            {% else %}
                                        {% endif %}
                                        </div>
                                    </div>
                                    <!-- /dropdown menu header -->

                                    <!-- Dropdown Menu Body -->
                                    <div class="dropdown-menu-body ps-custom-scrollbar">

                                        <div class="h-auto">
                                        {% for notific in msglist %}
                                            <!-- Media -->
                                            <a data-id={{notific.id}} id='status-ids-msg' href="{% url 'lmsapp:operatorcustomerticketdetail' notific.ticket.id %}" class="media">

                                                <!-- Avatar -->
                                                <img class="dt-avatar mr-3"
                                                    src="{% static '/assets/images/user-avatar/stella-johnson.jpg' %}"
                                                    alt="User">
                                                <!-- avatar -->

                                                <!-- Media Body -->
                                                <span class="media-body">
                                                    <span class="message">
                                                        <span class="user-name">{{notific.followup_by}} messaged you..</span>
                                                    </span>
                                                    <span class="meta-date">{{notific.created_at|timesince}} ago</span>
                                                </span>
                                                <!-- /media body -->

                                            </a>
                                            <!-- /media -->
                                        {% endfor %}

                                        {% comment %} {% for notific in msglist %}
                                            <!-- Media -->
                                            <a href="{% url 'lmsapp:operatorcustomerticketdetail' notific.ticket.id %}" class="media">

                                                <!-- Avatar -->
                                                <img class="dt-avatar mr-3"
                                                    src="{% static '/assets/images/user-avatar/stella-johnson.jpg' %}"
                                                    alt="User">
                                                <!-- avatar -->

                                                <!-- Media Body -->
                                                <span class="media-body">
                                                    <span class="message">
                                                        <span class="user-name">{{notific.followup_by}}</span>
                                                    </span>
                                                    <span class="meta-date">{{notific.created_at|timesince}} ago</span>
                                                </span>
                                                <!-- /media body -->

                                            </a>
                                            <!-- /media -->
                                        {% endfor %} {% endcomment %}

                                        </div>

                                    </div>
                                    <!-- /dropdown menu body -->

                                    <!-- Dropdown Menu Footer -->
                                    {% if opnot > 3 %}
                                    <div class="dropdown-menu-footer">
                                        <a href="{% url 'lmsapp:messagestatuslist' %}" class="card-link"> See All
                                            <i class="icon icon-arrow-right icon-fw"></i> </a>
                                    </div>
                                    {% endif %}
                                    <!-- /dropdown menu footer -->
                                </div>
                                <!-- /dropdown option -->

                            </div>

                            <div class="dropdown dt-notification ml-auto">

                                <!-- Dropdown Button -->
                                <a href="#" class="dropdown-toggle no-arrow" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                    <i class="icon icon-notification2 icon-1x icon-fw {% if notifications >= 1 %}dt-icon-alert{% else %} {% endif %}"></i>
                                    
                                </a>
                                <!-- /dropdown button -->

                                <!-- Dropdown Option -->
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                                    <!-- Dropdown Menu Header -->
                                    <div class="dropdown-menu-header">
                                        <h4 class="title">Notifications  {{notifications}}</h4>

                                        <div class="ml-auto action-area">
                                        {% if notifications >= 1 %}
                                            <a href="javascript:void(0)" id='mark_id'>Mark All Read</a> <a class="ml-2"
                                                                                            href="javascript:void(0)">
                                                <i class="icon icon-settings icon-lg text-light-gray"></i>
                                            </a>
                                            {% else %}
                                        {% endif %}
                                        </div>
                                    </div>
                                    <!-- /dropdown menu header -->

                                    <!-- Dropdown Menu Body -->
                                    <div class="dropdown-menu-body ps-custom-scrollbar">

                                        <div class="h-auto">
                                        {% for notific in notification_list %}
                                            <!-- Media -->
                                            <a data-id={{notific.id}} id='status-ids' href="{% url 'lmsapp:operatorcustomerticketdetail' notific.id %}" class="media">

                                                <!-- Avatar -->
                                                <img class="dt-avatar mr-3"
                                                    src="{% static '/assets/images/user-avatar/stella-johnson.jpg' %}"
                                                    alt="User">
                                                <!-- avatar -->

                                                <!-- Media Body -->
                                                <span class="media-body">
                                                    <span class="message">
                                                        <span class="user-name">{{notific.raised_by}}</span>
                                                    </span>
                                                    <span class="meta-date">{{notific.created_at|timesince}} ago</span>
                                                </span>
                                                <!-- /media body -->

                                            </a>
                                            <!-- /media -->
                                        {% endfor %}

                                        {% comment %} {% for notific in msglist %}
                                            <!-- Media -->
                                            <a href="{% url 'lmsapp:operatorcustomerticketdetail' notific.ticket.id %}" class="media">

                                                <!-- Avatar -->
                                                <img class="dt-avatar mr-3"
                                                    src="{% static '/assets/images/user-avatar/stella-johnson.jpg' %}"
                                                    alt="User">
                                                <!-- avatar -->

                                                <!-- Media Body -->
                                                <span class="media-body">
                                                    <span class="message">
                                                        <span class="user-name">{{notific.followup_by}}</span>
                                                    </span>
                                                    <span class="meta-date">{{notific.created_at|timesince}} ago</span>
                                                </span>
                                                <!-- /media body -->

                                            </a>
                                            <!-- /media -->
                                        {% endfor %} {% endcomment %}

                                        </div>

                                    </div>
                                    <!-- /dropdown menu body -->

                                    <!-- Dropdown Menu Footer -->
                                    {% if notifications > 3 %}
                                    <div class="dropdown-menu-footer">
                                        <a href="{% url 'lmsapp:ticketstatuslist' %}" class="card-link"> See All
                                            <i class="icon icon-arrow-right icon-fw"></i> </a>
                                    </div>
                                    {% endif %}
                                    <!-- /dropdown menu footer -->
                                </div>
                                <!-- /dropdown option -->

                            </div>
                            <!-- /dropdown -->

                        </div>
                        <!-- /module header -->
                        <div class="load-data" style='height:auto;overflow:auto;'>
                            <!-- Module Content -->
                            <div class="dt-module__content ps-custom-scrollbar load-data">

                                <!-- Module Content Inner -->
                                <div class="dt-module__content-inner" >

                                    {% for cust in customers %}
                                    {% comment %} {% for tick in cust.customerticketfollowup_set.all %}
                                        {% if tick.followup_by_type.model == 'logisticscustomer' %}
                                            {% if tick.status == 'Pending' %}
                                                {% if tick|length is not None %}
                                                {{tick.count}}
                                                {% else %}
                                                lll
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %} {% endcomment %}
                                    
                                    <!-- Module List -->
                                    <div class="dt-module__list">

                                        <!-- Module Item -->
                                        <div class="dt-module__list-item">

                                            <!-- Checkbox -->
                                            {% comment %} <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                                                <input id="icon-checkbox-1" type="checkbox">
                                                <label class="font-weight-light dt-checkbox-content"
                                                    for="icon-checkbox-1">
                                                    <span class="unchecked"><i
                                                            class="icon icon-box-o icon-fw icon-xl"></i></span>
                                                    <span class="checked"><i
                                                            class="icon icon-box-check-o icon-fw icon-xl text-primary"></i></span>
                                                </label>
                                            </div> {% endcomment %}
                                            <!-- /checkbox -->

                                            <!-- Checkbox -->
                                            {% comment %} <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                                                <input id="icon-checkbox-2" type="checkbox">
                                                <label class="font-weight-light dt-checkbox-content"
                                                    for="icon-checkbox-2">
                                                    <span class="unchecked"><i
                                                            class="icon icon-star-o icon-fw icon-xl"></i></span>
                                                    <span class="checked"><i
                                                            class="icon icon-star-fill icon-fw icon-xl text-warning"></i></span>
                                                </label>
                                            </div> {% endcomment %}
                                            <!-- /checkbox -->



                                            <!-- Avatar -->
                                        
                                            <img class="dt-avatar mr-4" src="{% static '/assets/images/user-avatar/amay.jpg' %}"
                                                alt="Reece Jacklin">
                                            <!-- /avatar -->

                                            <!-- Module Content -->
                                            <div class="dt-module__list-item-content">
                                            <a href="{% url 'lmsapp:operatorcustomerticketdetail' cust.pk %}">
                                                {% if cust.ticket_status == 'Solved' %}
                                                <div class="user-detail" style='text-decoration-line: line-through;'>
                                                    <span class="user-name"><small>(#{{cust.id}})</small>{{cust.raised_by.full_name}}</span>
                                                    <span class="dt-separator-v">&nbsp;</span>
                                                    <span class="designation">{{cust.raised_by.city}}</span>
                                                    <span class="dt-separator-v">&nbsp;</span>
                                                    <span class="designation">{{cust.issue_detail|truncatechars:50}}</span>
                                                {% else %}
                                                <div class="user-detail">
                                                    {% if cust.customerticketfollowup_set.last.followup_by_type.model == 'logisticsbranch' %}
                                                        <span class="user-name"><small>(#{{cust.id}})</small>{{cust.raised_by.full_name}}</span>
                                                        <span class="dt-separator-v">&nbsp;</span>
                                                        <span class="designation">{{cust.raised_by.city}}</span>
                                                        <span class="dt-separator-v">&nbsp;</span>
                                                        <span class="designation">{{cust.issue_detail|truncatechars:50}}</span>
                                                    {% elif cust.customerticketfollowup_set.last.followup_by_type.model == 'logisticscustomer' %}
                                                        {% if cust.customerticketfollowup_set.last.status == 'Pending' %}
                                                        <span class="user-name" style='color:red;'><small>(#{{cust.id}})</small>{{cust.raised_by.full_name}}</span>
                                                        <span class="dt-separator-v">&nbsp;</span>
                                                        <span class="designation">{{cust.raised_by.city}}</span>
                                                        <span class="dt-separator-v">&nbsp;</span>
                                                        <span class="designation">{{cust.issue_detail|truncatechars:50}}</span>
                                                        {% else %}
                                                        <span class="user-name"><small>(#{{cust.id}})</small>{{cust.raised_by.full_name}}</span>
                                                        <span class="dt-separator-v">&nbsp;</span>
                                                        <span class="designation">{{cust.raised_by.city}}</span>
                                                        <span class="dt-separator-v">&nbsp;</span>
                                                        <span class="designation">{{cust.issue_detail|truncatechars:50}}</span>
                                                        {% endif %}
                                                    {% else %}
                                                        <span class="user-name"><small>(#{{cust.id}})</small>{{cust.raised_by.full_name}}</span>
                                                        <span class="dt-separator-v">&nbsp;</span>
                                                        <span class="designation">{{cust.raised_by.city}}</span>
                                                        <span class="dt-separator-v">&nbsp;</span>
                                                        <span class="designation">{{cust.issue_detail|truncatechars:50}}</span>
                                                    {% endif %}
                                                {% endif %}
                                                </div>
                                            </a>
                                                <div class="text-light-gray">
                                                    <span class="d-inline-block mr-3">{{cust.raised_by.user.email}}</span>
                                                    <span class="d-inline-block">{{cust.raised_by.contact_number}}</span>
                                                </div>
                                            </div>
                                            <!-- /module content -->

                                            <!-- Module Info -->
                                            <div class="dt-module__list-item-info">
                                                <!-- Dropdown -->
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle no-arrow" href="#"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                        <i class="icon icon-vertical-more icon-xl text-light-gray"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" id='detail-ticket-chage-status' href="{% url 'lmsapp:operatorcustomerticketdetail' cust.pk %}"> <i
                                                                class="icon icon-editors icon-fw"></i> Detail
                                                        </a>
                                                        {% comment %} <a class="dropdown-item" href="javascript:void(0)">
                                                            <i class="icon icon-trash icon-fw"></i> Delete </a>
                                                        <a class="dropdown-item" href="javascript:void(0)">
                                                            <i class="icon icon-heart-o icon-fw"></i> Favourite
                                                            List </a> {% endcomment %}
                                                    </div>
                                                </div>
                                                <!-- /dropdown -->
                                            </div>
                                            <!-- /module info -->
                                        </div>
                                        <!-- /module item -->

                                    </div>
                                    <!-- /module list -->
                                            
                                        
                                    {% endfor %}
                                </div>
                                <!-- /module content inner -->

                            </div>
                            <!-- /module content -->


                            <!-- pagination Item -->
                            {% if keyword is None %}
                            <div class="col-md-12 dt-masonry__item" style='position: absolute;bottom: 0;'>
                                <nav>
                                    {% if page_obj.has_other_pages %}
                                    <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link ajax-pagination" data-href="?page={{page_obj.previous_page_number}}&ticket_status={{selected}}">&laquo; Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a disabled class="page-link" href="javascript:void(0)"
                                                tabindex="-1">&laquo; Previous</a>
                                        </li>
                                    {% endif %}

                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="javascript:void(0)">
                                                {{i}}
                                            </a>
                                        </li>
                                        {% else %}
                                        <li class="page-item "><a class="page-link active ajax-pagination" data-href="?page={{ i }}&ticket_status={{selected}}">{{i}}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link ajax-pagination" data-href="?page={{ page_obj.next_page_number }}&ticket_status={{selected}}">Next &raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="">Next &raquo;</a>
                                        </li>
                                    {% endif %}
                                    </ul>
                                    {% endif %}
                                </nav>
                            </div>
                            {% else %}
                            <div class="col-md-12 dt-masonry__item" style='position: absolute;bottom: 0;'>
                                <nav>
                                    {% if page_obj.has_other_pages %}
                                    <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link ajax-pagination" data-href="?page={{page_obj.previous_page_number}}&ticket_status={{selected}}&keyword={{keyword}}">&laquo; Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a disabled class="page-link" href="javascript:void(0)"
                                                tabindex="-1">&laquo; Previous</a>
                                        </li>
                                    {% endif %}

                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="javascript:void(0)">
                                                {{i}}
                                            </a>
                                        </li>
                                        {% else %}
                                        <li class="page-item "><a class="page-link active ajax-pagination" data-href="?page={{ i }}&ticket_status={{selected}}&keyword={{keyword}}">{{i}}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link ajax-pagination" data-href="?page={{ page_obj.next_page_number }}&ticket_status={{selected}}&keyword={{keyword}}">Next &raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="">Next &raquo;</a>
                                        </li>
                                    {% endif %}
                                    </ul>
                                    {% endif %}
                                </nav>
                            </div>
                            {% endif %}
                    <!-- /pagination item -->
                        </div>


                    </div>
                    <!-- /module container -->



                </div>
                <!-- /module -->
                

            </div>
            <!-- /grid item -->

        </div>
        <!-- /grid -->
    </div>
</div>

{% endblock content %}


{% block js %}

{% comment %} <script>
$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        sessionStorage.setItem('activeTicket', $(e.target).attr('href'));
    });
    var activeTab = sessionStorage.getItem('activeTicket');
    if(activeTab){
        $('#myTab li[data-filter="' + activeTab + '"]').tab('show');
    }
});
</script> {% endcomment %}

<script>
$('#search-id').on('keyup', function(e){
    if(e.which=='13'){
    var value = $(this).val()
    $('#hold-keyword').html(value);
    var selected = $('#hold-status').html()
    var paginateby = $('#paginate-by').val()
     $.ajax({
        data:{
            'keyword':value, 
            'ticket_status': selected,
            'paginate_by':paginateby
        },
        success:function(resp){
            const doc = document.createElement("div")
            doc.innerHTML = resp
            document.querySelector(".load-data").innerHTML = doc.querySelector(".load-data").innerHTML
        }
    })
    }
});
</script>
<script>
$('body').on('click', '.ticket-filter', function(e){
    e.preventDefault();
    var filter = $(this).attr('data-filter');
    $('#hold-status').html(filter);
    var keyword = $('#search-id').val();
    var paginateby = $('#paginate-by').val()
    $.ajax({
        data: {
            'ticket_status': $(this).attr('data-filter'),
            'keyword': keyword,
            'paginate_by':paginateby
        },
        success: function(resp){
            const doc = document.createElement("div")
            doc.innerHTML = resp
            document.querySelector(".load-data").innerHTML = doc.querySelector(".load-data").innerHTML
            $('.ticket-filter').removeClass("active");
            $('#'+ filter).addClass("active");

        },
    });
});
</script>
<script>
    $('body').on('click', '.ajax-pagination', function(e){
        e.preventDefault();
        var url1 = $(this).attr('data-href');
        var keyword = $('#search-id').val();
        var paginateby = $('#paginate-by').val()
        $.ajax({
            url: "{% url 'lmsapp:operatorcustomerticketlist' %}"+url1,
            data: {
                'paginate_by':paginateby,
                'keyword': keyword,
            },
            success: function(resp){
                const doc = document.createElement("div")
                doc.innerHTML = resp
                document.querySelector(".load-data").innerHTML = doc.querySelector(".load-data").innerHTML
                $('.load-data').animate({
                scrollTop: 0
                }, 600);

                
            }
        })
    });
</script>


<script>
$('#paginate-by').on('change', function(e){
    e.preventDefault();
    var status = $('#hold-status').html()
    var paginateby = $('#paginate-by').val()
    var keyword = $('#search-id').val();
    $.ajax({
        data:{
            'ticket_status':status,
            'paginate_by': paginateby,
            'keyword': keyword,
        },
        success: function(resp){
            const doc = document.createElement("div")
            doc.innerHTML = resp
            document.querySelector(".load-data").innerHTML = doc.querySelector(".load-data").innerHTML

            
        }
    })
});
</script>

<script>
$('#mark_id').on('click', function(){
    $.ajax({
        data:{
            'change_status':'Pending',
        },
    success:function(){
        location.reload();
    }
    })
    
});

$('#mark_all_read_msg').on('click', function(){
    $.ajax({
        data:{
            'change_status_msg':'Pending',
        },
    success:function(){
        location.reload();
    }
    })
    
});

$('#status-ids').on('click', function(){
    var notific_id = $(this).attr('data-id')
    $.ajax({
        data:{
            'notific_id':notific_id,
        }
    })
});
</script>

{% endblock %}


