{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Quotation Request List{% endblock %}
{% block customerrequestquotation %}active-title{% endblock %}


{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
      <div class="dt-page__header">
            <h1 class="dt-page__title">Quotation Request From Customers</h1>
      </div>
        <!-- Grid -->
        <div class="row">
            <!-- Grid Item -->
            <div class="col-xl-12">

                <!-- Card -->
                <div class="dt-card overflow-hidden">

                    <!-- Card Body -->
                    <div class="dt-card__body p-0">

                        <!-- Tables -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th class="text-uppercase" scope="col">Customer</th>
                                        <th class="text-uppercase" scope="col">Created Date</th>
                                        <th class="text-uppercase" scope="col">City</th>
                                        <th class="text-uppercase" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for shipment in requestshipmentlist %}
                                    {% if shipment.logisticcustomerzonalcontract_set.last.service_provider != None %}
                                    {% else %}
                                        <tr>
                                            <td scope="row">{{forloop.counter}}</td>
                                            <td><a href="{% url 'umapp:opcustomersdetail' shipment.second_party.id %}"> {{shipment.second_party}} </a></td>
                                            <td scope="row">{{shipment.created_at}}</td>
                                            <td scope="row">{{shipment.second_party.city}}</td>
                                            <td><a href="{% url 'lmsapp:customerrequestquotationcreate' shipment.id %}"> <i class='icon icon-circle-add-o'></i> <small> add charges</small>  </a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /tables -->

                    </div>
                    <!-- /card body -->

                </div>
                <!-- /card -->


            </div>
        </div>
    </div>
</div>
{% endblock %}