{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Shipment Request List{% endblock %}
{% block requestquotationapproved %}active-title{% endblock %}


{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
      <div class="dt-page__header">
            <input type="text" class='form-control d-inline-block search-input' placeholder='type and pree enter' style='width:200px;float:right;'>
            <h1 class="dt-page__title">Quotation Request From Customer Unsigned</h1>
      </div>
        <!-- Grid -->
        <div class="row">
            <!-- Grid Item -->
            <div class="col-xl-12">

                <!-- Card -->
                <div class="dt-card overflow-hidden">

                    <!-- Card Body -->
                    <div class="dt-card__body p-0">

                        <!-- Tables -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th class="text-uppercase" scope="col">Customer</th>
                                        <th class="text-uppercase" scope="col">Created Date</th>
                                        <th class="text-uppercase" scope="col">City</th>
                                        <th class="text-uppercase" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="customercontract">
                                {% for shipment in requestshipmentapprovedlist %}
                                    {% if shipment.logisticcustomerzonalcontract_set.last.service_provider != None %}
                                        <tr>
                                            <td scope="row">{{forloop.counter}}</td>
                                            <td><a href="{% url 'umapp:opcustomersdetail' shipment.second_party.id %}">{{shipment.second_party}}</a></td>
                                            <td scope="row">{{shipment.created_at}}</td>
                                            <td scope="row">{{shipment.second_party.city}}</td>
                                            <td><a href="{% url 'lmsapp:customerrequestquotationdetail' shipment.id %}"> detail  </a></td>
                                        </tr>
                                        {% else %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /tables -->

                        <!-- Pagination -->

                        {% comment %} <div class="col-md-12 dt-masonry__item">
                                <nav>
                                    {% if page_obj.has_other_pages %}
                                    <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo; Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a disabled class="page-link" href="javascript:void(0)"
                                                tabindex="-1">&laquo; Previous</a>
                                        </li>
                                    {% endif %}

                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="javascript:void(0)">
                                                {{i}}
                                            </a>
                                        </li>
                                        {% else %}
                                        <li class="page-item "><a class="page-link active" href="?page={{ i }}">{{i}}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="">Next &raquo;</a>
                                        </li>
                                    {% endif %}
                                    </ul>
                                    {% endif %}
                                </nav>
                            </div> {% endcomment %}

                        <!--Pagination-->

                    </div>
                    <!-- /card body -->

                </div>
                <!-- /card -->


            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$('.search-input').on('keyup', function(e){
    if(e.which=='13'){
    var keyword = $(this).val()
    $.ajax({
        url:'{% url "lmsapp:customerrequestquotationajax" %}',
        data:{
            'keyword':keyword,
        },
        success:function(data){
            var div = ``
            count = 1;
            $.map(data.customerlist, function (item) {
                var url = "{% url 'lmsapp:customerrequestquotationdetail' 1 %}".replace('1', `${item.id}`.toString());
                var url2 = "{% url 'umapp:opcustomersdetail' 1 %}".replace('1', `${item.second_party__id}`.toString());
                var dav = `
                    <tr>
                        <td scope="row">${count}</td>
                        <td><a target='_blank' href="${url2}">${item.second_party__full_name}</a></td>
                        <td>${item.created_at}</td>
                        <td>${item.second_party__city__name}</td>
                        <td><a target='_blank' href="${url}"> detail  </a></td>
                    </tr>
                `
                div += dav
                count += 1;
            })
            setTimeout(() => {
                document.getElementById('customercontract').innerHTML = div;
            }, 500);
        }
    })
    }
});
</script>

{% endblock js %}