{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Support Ticket{% endblock %}
{% block ticket %}active-title{% endblock %}

{% block css %}

{% endblock css %}

{% block content %}

<div class="dt-content-wrapper">
    <div class="dt-content">
      <div class="row">

    <!-- Grid Item -->
    <div class="col-xl-12">

        <!-- Module -->
        <div class="dt-module dt-module--chat">

            <!-- Module Sidebar -->
            <div class="dt-module__sidebar">

                <!-- Sidebar Header -->
                <div class="dt-module__sidebar-header pb-0">

                    <!-- User Detail  -->
                    <div class="dt-avatar-wrapper mb-8 d-none d-md-flex">
                        <div class="dt-avatar-status">
                            <img class="dt-avatar" src="{% static '/assets/images/user-avatar/amay.jpg' %}"
                                 alt="Reece Jacklin">
                            <div class="dot-shape bg-success dot-shape-lg"></div>
                        </div>
                        <span class="dt-avatar-info">
                            <a href="javascript:void(0)" class="dt-avatar-name">{{request.user.branchoperator.full_name}}</a>
                            <span class="f-12 d-inline-block">online</span>
                        </span>

                        <!-- Dropdown -->
                        {% comment %} <div class="dropdown ml-auto align-self-start mt-1">
                            <a class="dropdown-toggle no-arrow" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"> <i
                                    class="icon icon-vertical-more"></i> </a> {% endcomment %}

                            {% comment %} <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="icon icon-editors icon-fw"></i> Edit </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="icon icon-contacts icon-fw"></i> Contact List</a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="icon icon-heart icon-fw"></i> Favourite List </a>
                            </div> {% endcomment %}
                        {% comment %} </div> {% endcomment %}
                        <!-- /dropdown -->
                    </div>
                    <!-- User Detail  -->


                </div>
                <!-- /sidebar header -->

                <!-- Sidebar Menu -->
                <div class="dt-module__sidebar-content">

                    <!-- Card Header -->
                    <div class="card-header card-nav bg-transparent border-bottom">
                        <ul class="card-header-links nav nav-underline"
                            role="tablist">
                            <li style='margin:3px;'>Ticket Id : #{{ticketdetail.id}}</li>
                            <li style='margin:3px;'>Raised By : {{ticketdetail.raised_by}}</li>
                            <li style='margin:3px;'>Ticket Status : {{ticketdetail.ticket_status}}</li>
                            <li style='margin:3px;'>Ticket Issue : <p style='margin:2px;'>{{ticketdetail.issue_detail}}</p></li>
                            {% if ticketdetail.related_file %}
                            <li style='margin:3px;'>Related File : {{ticketdetail.related_file}}</li>
                            {% else %}
                            <li style='margin:3px;'>Related File : empty</li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- /card header -->
                    


                </div>
                <!-- /sidebar Menu -->

            </div>
            <!-- /module sidebar -->

            <!-- Module Container -->
            <div class="dt-module__container" style='line-height: normal;'>

                <!-- Module Header -->
                <div class="dt-module__header">
                    <!-- User Detail  -->
                    <div class="dt-avatar-wrapper">
                        <div class="dt-avatar-status mr-2">
                            <img class="dt-avatar size-45"
                                 src="{% static '/assets/images/user-avatar/domnic-brown.jpg' %}"
                                 alt="Domnic Brown">
                            <div class="dot-shape bg-success dot-shape-lg"></div>
                        </div>
                        <span class="dt-avatar-info">
                            <a href="{% url 'umapp:opcustomersdetail' ticketdetail.raised_by.id %}" class="dt-avatar-name">{{ticketdetail.raised_by.full_name}}</a>
                            <span class="d-inline-block">{{ticketdetail.raised_by.user.email}}</span>
                        </span>
                    </div>
                    <!-- User Detail  -->

                    <!-- Dropdown -->
                    <div class="dropdown ml-auto">
                        {% comment %} <a class="dropdown-toggle no-arrow text-dark" href="#"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> {{ticketdetail.ticket_status}}
                        </a> {% endcomment %}
                        {% if ticketdetail.ticket_status == 'Open' %}
                        <select  id="status" form="carform">
                            <option>{{ticketdetail.ticket_status}}</option>
                            <option>Reviewing</option>
                            <option>Solved</option>
                        </select>

                        {% elif ticketdetail.ticket_status == 'Reviewing' %}
                        <select  id="status" form="carform">
                            <option>{{ticketdetail.ticket_status}}</option>
                            <option>Open</option>
                            <option>Solved</option>
                        </select>

                        {% else %}

                            <select id="status" form="carform">
                            <option>{{ticketdetail.ticket_status}}</option>
                            <option>Open</option>
                            <option>Reviewing</option>
                        </select>


                        {% endif %}

                        {% comment %} <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)"> <i
                                    class="icon icon-editors icon-fw"></i> Edit
                            </a> <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon icon-trash icon-fw"></i> Delete </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon icon-contacts icon-fw"></i> Contact List</a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon icon-heart icon-fw"></i> Favourite List </a>
                        </div> {% endcomment %}

                    </div>
                    <!-- /dropdown -->
                </div>
                <!-- /module header -->

                <!-- Module Content -->
                <div class="dt-module__content ps-custom-scrollbar" > 

                

                    <!-- Module Content Inner -->
                    <div class="dt-module__content-inner" style='height:235px; overflow: auto;overflow-wrap:anywhere;width:100%;' id = 'abc'>

                        <!-- Chat Conversation -->
                        <div class="dt-chat__conversation" style='width:100%;' >
                            {% for message in ticketdetail.customerticketfollowup_set.all %}
                            {% if message.followup_by_type.model == "logisticscustomer" %}
                            <!-- Chat Item -->
                            <div class="dt-chat__item reply">

                                <!-- Avatar -->
                                <img class="dt-avatar size-30"
                                    src="{% static '/assets/images/user-avatar/domnic-brown.jpg' %}"
                                     alt="Domnic Brown">
                                     
                                <!-- /avatar -->

                                <!-- Messages -->
                                <div class="dt-chat__message-wrapper">

                                    <!-- Message -->
                                    <div class="dt-chat__message" style='padding: 1rem 1rem !important;'>
                                        {{message.followup_message}}
                                    </div>
                                    <!-- /message -->
                                    <small>{{message.created_at|timesince}}</small>

                                </div>
                                <!-- /messages -->

                            </div>
                            <!-- /chat item -->
                            {% else %}
                            

                            <!-- Chat Item -->
                            <div class="dt-chat__item">

                                <!-- Avatar -->
                                <img class="dt-avatar size-30"
                                     src="{% static '/assets/images/user-avatar/amay.jpg' %}" alt="Reece Jacklin">
                                     
                                <!-- /avatar -->

                                <!-- Messages -->
                                <div class="dt-chat__message-wrapper">
                                

                                    <!-- Message -->
                                    <div class="dt-chat__message" style='padding: 1rem 1rem !important;'>
                                            {{message.followup_message}}
                                            
                                    </div>
                                    <!-- /message -->
                                    <small>{{message.created_at|timesince}}</small>
                                </div>
                                <!-- /messages -->

                            </div>
                            <!-- /chat item -->
                            {% endif %}
                            {% endfor %}


                        </div>
                        <!-- /chat conversation -->

                    </div>
                    <!-- /module content inner -->

                </div>
                <!-- /module content -->
                {% if ticketdetail.ticket_status == 'Solved' %}
                <h3 style='text-align:center;'>This Issue Was solved on {{ticketdetail.updated_at}}</h3>
                <!-- Comment Box -->
                {% else %}
                <form style='height:100px;border:None!important;'>
                    <div class="add-comment-box">

                        <!-- Action Tools -->
                        <div class="action-tools">
                            <button class="btn btn-primary dt-fab-btn" id='ticketsubmitbtn' type="submit">
                                <i class="icon icon-send-new icon-xl"></i>
                            </button>

                            {% comment %} <div class="dt-fab-btn dt-attachment-btn size-30">
                                <input type="file"> <i class="icon icon-attach-v"></i>
                            </div> {% endcomment %}
                        </div>
                        <!-- /action tools -->

                        <!-- Media -->
                        <div class="media">
                            <!-- Avatar -->
                            <img class="dt-avatar" src="{% static '/assets/images/user-avatar/amay.jpg' %}"
                                alt="Reece Jacklin">
                            <!-- /avatar -->

                            <!-- Media Body -->
                            <div class="media-body">

                                {% comment %} {{messageform.followup_message}} {% endcomment %}

                                <!-- Text Area -->
                                <textarea id='message-id' class="form-control border-0 shadow-none bg-focus" rows="1"
                                        placeholder="Write your message..."></textarea>
                                <!-- /text area -->

                            </div>
                            <!-- /media body -->
                        </div>
                        <!-- /media -->

                    </div>
                <!-- /comment box -->
                </form>
                {% endif %}

            </div>
            <!-- /module container -->

            <!-- Module Drawer -->
            <div class="dt-module__drawer dt-drawer position-left">

                <!-- Module Drawer Inner -->
                <div class="dt-module__drawer-inner">

                    {% comment %} <div class="dt-module__drawer-header">
                        <a href="javascript:void(0)" class="d-inline-block" data-dismiss="mdrawer">
                            <i class="icon icon-arrow-long-left icon-2x mr-3"></i> <span
                                class="align-middle">Back</span> </a>
                    </div> {% endcomment %}

                    <!-- Actionable Drawer -->
                    <div class="dt-actionable-drawer">

                        <!-- Menu Bar -->
                        <div class="dt-action-bar">

                            <!-- Action Menu -->
                            <ul class="dt-action-nav">

                                <!-- Menu Item -->
                                {% comment %} <li class="dt-action-nav__item">
                                    <a href="javascript:void(0)" class="dt-action-nav__link"
                                       data-switch="mdrawer" data-target="#drawer-notifications">
                                        <i class="icon icon-notification2 icon-fw"></i> </a>
                                </li> {% endcomment %}
                                <!-- /menu item -->

                                <!-- Menu Item -->
                                {% comment %} <li class="dt-action-nav__item">
                                    <a href="javascript:void(0)" class="dt-action-nav__link"
                                       data-switch="mdrawer" data-target="#drawer-search-bar">
                                        <i class="icon icon-search icon-fw"></i> </a>
                                </li> {% endcomment %}
                                <!-- /menu item -->

                                <!-- Menu Item -->
                                {% comment %} <li class="dt-action-nav__item dropdown">
                                    <!-- Dropdown Button -->
                                    <a href="#" class="dropdown-toggle no-arrow dt-action-nav__link"
                                       data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="icon icon-circle-add-o"></i> </a>
                                    <!-- /dropdown button -->

                                    <!-- Dropdown Menu -->
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0)">Add New
                                            Project</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Add New
                                            Task</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Add New
                                            Team Member</a>
                                    </div>
                                    <!-- /dropdown menu -->
                                </li> {% endcomment %}
                                <!-- /menu item -->

                            </ul>
                            <!-- /action menu -->

                        </div>
                        <!-- /menu bar -->

                        <!-- Drawer Content Area -->
                        <div class="dt-action-content-wrapper ps-custom-scrollbar">

                            <div class="dt-action-content">

                                <!-- Search -->
                                <div class="dt-notification fade" id="drawer-search-bar">
                                    <!-- Search Box -->
                                    {% comment %} <form class="search-box right-side-icon mw-100 mb-8">
                                        <input class="form-control form-control-lg" id="address-1"
                                               name="address-1" placeholder="Search in app..."
                                               type="search">
                                        <button type="submit" class="search-icon"><i
                                                class="icon icon-search icon-lg"></i></button>
                                    </form> {% endcomment %}
                                    <!-- /search box -->

                                    <h4>Recently Viewed</h4>

                                    <!-- Search Result-->
                                    <div class="search-result">
                                        <a href="javascript:void(0)" class="dt-avatar-wrapper">
                                            <!-- Avatar -->
                                            <span class="dt-avatar bg-primary text-white font-italic"></span>
                                            <!-- /avatar -->

                                            <!-- Avatar Info -->
                                            {% comment %} <span class="dt-avatar-info">
                                                <span class="dt-avatar-name">Chat Bull</span>
                                                <span class="f-12">Example Web</span>
                                            </span> {% endcomment %}
                                            <!-- /avatar info -->

                                        </a>
                                    </div>
                                    <!-- /search result-->

                                    <!-- Search Result-->
                                    <div class="search-result">
                                        <a href="javascript:void(0)" class="dt-avatar-wrapper">
                                            <!-- Avatar -->
                                            <span class="dt-avatar bg-primary text-white font-italic"></span>
                                            <!-- /avatar -->

                                            <!-- Avatar Info -->
                                            {% comment %} <span class="dt-avatar-info">
                                                <span class="dt-avatar-name">Flexile</span>
                                                <span class="f-12">Example Web</span>
                                            </span> {% endcomment %}
                                            <!-- /avatar info -->

                                        </a>
                                    </div>
                                    <!-- /search result-->

                                    <!-- Search Result-->
                                    {% comment %} <div class="search-result">
                                        <a href="javascript:void(0)" class="dt-avatar-wrapper">
                                            <!-- Avatar -->
                                            <span class="dt-avatar bg-primary text-white font-italic">React</span>
                                            <!-- /avatar -->

                                            <!-- Avatar Info -->
                                            <span class="dt-avatar-info">
                                                <span class="dt-avatar-name">Admin Template</span>
                                                <span class="f-12">Example Web</span>
                                            </span>
                                            <!-- /avatar info -->

                                        </a>
                                    </div> {% endcomment %}
                                    <!-- /search result-->

                                </div>
                                <!-- /search -->

                                <!-- Notification -->
                                {% comment %} <div class="dt-notification fade" id="drawer-notifications">

                                    <div class="d-flex align-items-center mb-6">
                                        <h5 class="mb-0">Notifications (7)</h5>

                                        <div class="ml-auto action-area">
                                            <a href="javascript:void(0)">Mark All Read</a>

                                            <!-- Dropdown -->
                                            <span class="dropdown ml-2 d-inline-block">
                                                <a class="dropdown-toggle no-arrow" href="#" data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon icon-settings icon-lg text-light-gray"></i>
                                                </a>

                                                <span class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="icon icon-editors icon-fw"></i>
                                                        Edit
                                                    </a>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="icon icon-contacts icon-fw"></i>
                                                        Contact List</a>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="icon icon-heart icon-fw"></i>
                                                        Favourite List
                                                    </a>
                                                </span>
                                            </span>
                                            <!-- /dropdown -->

                                        </div>
                                    </div>

                                    <!-- Media -->
                                    <a href="javascript:void(0)" class="media">

                                        <!-- Avatar -->
                                        <img class="dt-avatar mr-3"
                                             src="../assets/images/user-avatar/stella-johnson.jpg"
                                             alt="User">
                                        <!-- avatar -->

                                        <!-- Media Body -->
                                        <span class="media-body">
                                            <span class="message">
                                                <span class="user-name">Stella Johnson</span> and <span
                                                    class="user-name">Chris Harris</span>
                                                have birthdays today. Help them celebrate!
                                            </span>
                                            <span class="meta-date">8 hours ago</span>
                                        </span>
                                        <!-- /media body -->

                                    </a>
                                    <!-- /media -->

                                    <!-- Media -->
                                    <a href="javascript:void(0)" class="media">

                                        <!-- Avatar -->
                                        <img class="dt-avatar mr-3"
                                             src="../assets/images/user-avatar/jeson-born.jpg"
                                             alt="User">
                                        <!-- avatar -->

                                        <!-- Media Body -->
                                        <span class="media-body">
                                            <span class="message">
                                                <span class="user-name">Jonathan Madano</span> commented on your post.
                                            </span>
                                            <span class="meta-date">9 hours ago</span>
                                        </span>
                                        <!-- /media body -->

                                    </a>
                                    <!-- /media -->

                                    <!-- Media -->
                                    <a href="javascript:void(0)" class="media">

                                        <!-- Avatar -->
                                        <img class="dt-avatar mr-3"
                                             src="../assets/images/user-avatar/selena.jpg" alt="User">
                                        <!-- avatar -->

                                        <!-- Media Body -->
                                        <span class="media-body">
                                            <span class="message">
                                                <span class="user-name">Chelsea Brown</span> sent a video recomendation.
                                            </span>
                                            <span class="meta-date">
                                                <i class="icon icon-play-circle text-primary icon-fw mr-1"></i>
                                                13 hours ago
                                            </span>
                                        </span>
                                        <!-- /media body -->

                                    </a>
                                    <!-- /media -->

                                    <!-- Media -->
                                    <a href="javascript:void(0)" class="media">

                                        <!-- Avatar -->
                                        <img class="dt-avatar mr-3"
                                             src="../assets/images/user-avatar/alex-dolgove.jpg"
                                             alt="User">
                                        <!-- avatar -->

                                        <!-- Media Body -->
                                        <span class="media-body">
                                            <span class="message">
                                                <span class="user-name">Alex Dolgove</span> and <span
                                                    class="user-name">Chris Harris</span>
                                                like your post.
                                            </span>
                                            <span class="meta-date">
                                                <i class="icon icon-like text-light-blue icon-fw mr-1"></i>
                                                yesterday at 9:30
                                            </span>
                                        </span>
                                        <!-- /media body -->

                                    </a>
                                    <!-- /media -->

                                    <!-- Media -->
                                    <a href="javascript:void(0)" class="media">

                                        <!-- Avatar -->
                                        <img class="dt-avatar mr-3"
                                             src="../assets/images/user-avatar/amay.jpg" alt="User">
                                        <!-- avatar -->

                                        <!-- Media Body -->
                                        <span class="media-body">
                                            <span class="message">
                                                <span class="user-name">Amay Mathur</span> and <span
                                                    class="user-name">Domnic Harris</span>
                                                comment your post.
                                            </span>
                                            <span class="meta-date">
                                                <i class="icon icon-message icon-fw mr-1"></i>
                                                yesterday at 9:30
                                            </span>
                                        </span>
                                        <!-- /media body -->

                                    </a>
                                    <!-- /media -->

                                    <!-- Media -->
                                    <a href="javascript:void(0)" class="media">

                                        <!-- Avatar -->
                                        <img class="dt-avatar mr-3"
                                             src="../assets/images/user-avatar/steve-smith.jpg"
                                             alt="User">
                                        <!-- avatar -->

                                        <!-- Media Body -->
                                        <span class="media-body">
                                            <span class="message">
                                                <span class="user-name">Steve Smith</span> and <span class="user-name">Jimmy</span>
                                                inviting on our page.
                                            </span>
                                            <span class="meta-date">
                                                Monday at 18:30
                                            </span>
                                        </span>
                                        <!-- /media body -->

                                    </a>
                                    <!-- /media -->

                                    <!-- Media -->
                                    <a href="javascript:void(0)" class="media">

                                        <!-- Avatar -->
                                        <img class="dt-avatar mr-3"
                                             src="../assets/images/user-avatar/alex-dolgove.jpg"
                                             alt="User">
                                        <!-- avatar -->

                                        <!-- Media Body -->
                                        <span class="media-body">
                                            <span class="message">
                                                <span class="user-name">Alex Dolgove</span> and <span
                                                    class="user-name">Chris Harris</span>
                                                like your post.
                                            </span>
                                            <span class="meta-date">
                                                <i class="icon icon-like text-light-blue icon-fw mr-1"></i>
                                                yesterday at 9:30
                                            </span>
                                        </span>
                                        <!-- /media body -->

                                    </a>
                                    <!-- /media -->
                                </div> {% endcomment %}
                                <!-- /notification -->

                            </div>

                        </div>
                        <!-- /drawer content area -->

                    </div>
                    <!-- /actionable drawer -->

                </div>
                <!-- /module drawer inner -->

            </div>
            <!-- /module drawer -->

        </div>
        <!-- /module -->

    </div>
    <!-- /grid item -->

</div>
<!-- /grid -->
</div>

{% endblock %}



{% block js %}

<script>
$(document).ready(function(e){
    var id = '{{ticketdetail.id}}'
    $.ajax({
        data:{
            'id':id,
            'Active':'Active'
        }
    })
});
</script>

<script>
$('.selected_status').on('click', function(){
    var selected = $(this).text();
    location.href = "{% url 'lmsapp:operatorcustomerticketdetail' ticketdetail.id %}?ticket_status=" + selected
});
</script>

<script>
$('#abc').scrollTop($('#abc')[0].scrollHeight);
$('#ticketsubmitbtn').one('click', function(e){
    e.preventDefault();
    var text = $('#message-id').val();
    console.log(text)
    if (text != ""){
        $.ajax({
            url: '{% url "lmsapp:ticketraiseajax" ticketdetail.id %}',
            data:{
                'text':text,
                'request_from':'operator'
            },
            success:function(data){
                console.log(data)
                location.reload();
            }
        })
    }else{
        alert('form is empty')
    }
});
</script>


<script>
$('#status').on('change', function(){
    var status = $('#status').val();
    $.ajax({
        url: '{% url "lmsapp:ticketraiseajax" ticketdetail.id %}',
        data:{
            'status':status,
        },
        success:function(data){
            console.log(data)
            location.reload();
        }
    });
});
</script>

{% endblock js %}
