{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Shipment Request List{% endblock %}
{% block requestquotationapproved %}active-title{% endblock %}

{% block css %}



{% endblock %}


{% block content %}

{% comment %} <h3 style='text-align:center;'><a href="{% url " umapp:shippinglist" %}">Shipping Zone List </a>/</h3>
{% endcomment %}

<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="dt-page__header">
            <h1 class="dt-page__title"><a href="{% url 'lmsapp:customerrequestquotationupdate' contractshipment.id %}"> <button class='btn btn-primary'> Update </button> </a></h1>
        </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="shippingzone">Requested From</label>
                    {{contractshipment.second_party}}
                </div>
            </div>
            <div class="row mt-3">
                {% for ship in contractshipment.logisticcustomerzonalcontract_set.all %}
                    <div class="col-md-4">
                        <h3>Charges for {{ship.shipping_zone.shipping_zone}}</h3>
                        <hr>
                        <div class="form-group">
                            <label for="">Shipping Charge : </label>
                            {{ship.shipping_charge}}
                        </div>
                        <div class="form-group">
                            <label for="">COD Hanlding Charge : </label>
                            {{ship.cod_handling_charge_pct}}
                        </div>
                        <div class="form-group">
                            <label for="">Rejection Hanlding charge : </label>
                            {{ship.rejection_handling_charge_pct}}
                        </div>
                    </div>
                    {% endfor %}
            </div>


    </div>
</div>
</div>
{% endblock %}

{% block js %}

{% comment %} <script>
    $(document).ready(function () {
        $('#id_cities').select2({
            width: '100%'
        });
    });
</script> {% endcomment %}

{% endblock %}