<div class="modal-header">
	<h5 class="modal-title" id="mySmallModalLabel">Update a Status ?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<form method="POST" action="{% url 'lmsapp:operatorcustomerticketupdate' object.id %}">
	{% csrf_token %}
	<div class="modal-body">
    <div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">Status</label>
        </div>
        <div class="col-md-8" >
          {{form.ticket_status}}
        </div>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning text-left" data-dismiss="modal">Close</button>
		<button class="btn btn-primary text-left" id='city-btn'>Update Ticket</button>
	</div>
</form>