{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Quotation Request List{% endblock %}
{% block customerrequestquotation %}active-title{% endblock %}
{% block css %}



{% endblock %}


{% block content %}

{% comment %} <h3 style='text-align:center;'><a href="{% url " umapp:shippinglist" %}">Shipping Zone List </a>/</h3>
{% endcomment %}

<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="dt-page__header">
            <h1 class="dt-page__title">Update {{shipmentrequestupdate.second_party}}</h1>
        </div>

        <form method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-12">
                    <label for="shippingzone">Requested From</label>
                    {{form.second_party}}
                </div>
            </div>
            <div class="row mt-3">
                {% for ship in shipments %}
                {% comment %} {% if dt.status == 'Active' %} {% endcomment %}
                <div class="col-md-4">
                    <h3 name="shipping_zone__{{ship.id}}">Charges for {{ship.shipping_zone}}</h3>
                    <hr>
                    <div class="form-group">
                        <label for="">Shipping Charge per KG</label>
                        <input class='form-control' type="number" name="shipping_charge__{{ship.id}}" value='{{ship.shipping_charge}}'>
                    </div>
                    <div class="form-group">
                        <label for="">COD Hanlding Charge</label>
                        <input class='form-control' type="number" name="cod_handling__{{ship.id}}" value='{{ship.cod_handling_charge_pct}}'>
                    </div>
                    <div class="form-group">
                        <label for="">Rejection Hanlding charge</label>
                        <input class='form-control' type="number" name="rejection_charge__{{ship.id}}" value='{{ship.rejection_handling_charge_pct}}'>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row mt-3">
                <button type="submit" class='btn btn-primary'
                    style='width:100%;float:right;margin-bottom:20px;'>Update</button>
            </div>
        </form>


    </div>
</div>
</div>
{% endblock %}

{% block js %}

{% comment %} <script>
    $(document).ready(function () {
        $('#id_cities').select2({
            width: '100%'
        });
    });
</script> {% endcomment %}

{% endblock %}