{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% load humanize %}
{% block customerspayment %}active-title{% endblock %}
{% block logisticscustomerpayment %}active-title{% endblock %}

{% block content %}

<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="row">
			<table class='table'>
				<thead>
					<tr>
						<th>SN</th>
						<th>Customer</th>
						<th>Contact</th>
						<th>Address</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for cust in customer %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>
							{{cust.full_name}}
							{% if cust.company_name %}<br>({{cust.company_name}}){% endif %}
						</td>
						<td>{{cust.contact_number}}</td>
						<td>{{cust.address}}, {{cust.city}}.</td>
						<td><a class="btn-sm btn-info" href="{% url 'lmsapp:customerpaytologisticsunpaiddetail' cust.id %}"> pay </a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>



{% endblock %}