<div class="modal-header">
	<h5 class="modal-title" id="mySmallModalLabel">Update a {{object}} Delivery Type ?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<form method="POST" action="{% url 'umapp:deliverytypeupdate' object.id %}">
	{% csrf_token %}
	<div class="modal-body">
    <div class="row" style="margin:10px;">
          <label for="">Title *</label>
        {{form.delivery_type}}

          <label for="" style='padding-top:20px;'>Image <small>(This field is optional)</small></label>
        {{form.image}}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning text-left" data-dismiss="modal">Close</button>
		<button class="btn btn-primary text-left">Save</button>
	</div>
</form>