<div class="modal-header">
	<h5 class="modal-title" id="mySmallModalLabel">Create District ?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<form method="POST" action="{% url 'umapp:districtcreate' %}">
	{% csrf_token %}
	<div class="modal-body">
    <div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">District</label>
        </div>
        <div class="col-md-8" >
          {{form.name}}
        </div>
        </div>

        <div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">Province</label>
        </div>
        <div class="col-md-8">
          {{form.province}}
        </div>
        </div>

        <span style="visibility:hidden;"><div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">Slug</label>
        </div>
        <div class="col-md-8">
          {{form.slug}}
        </div>
        </div>
        </span>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning text-left" data-dismiss="modal">Close</button>
		<button class="btn btn-primary text-left" id='dist-btn'>Save</button>
	</div>
</form>


{% block js %}
<script>
	$("#dist-name").on('keyup', function(){
		var title = $(this).val();
		title = title.toLowerCase();
		title = title.replace(/[^a-zA-Z0-9]+/g,"-",);
		$("#dist-slug").val(title + "-district");
	});
</script>


<script>
$(document).ready(function(){
$('#dist-name').on('change', function(event){
  var district_name = $('#dist-name').val();
  if(district_name == ''){
    console.log('empty')
  }else{
  $.ajax({
    url: '{% url "umapp:checkdistrictname" %}',
    data:{
      'district_name':district_name
    },
    dataType:"json",
    success:function(data){
      if (data.data.msg=='district available'){
        alert(data.data.msg)
        $('#dist-name').val(data.data.name)
        $('#dist-btn').prop("disabled",false);
      }else{
        alert(data.data.msg)
        $('#dist-name').val(data.data.name)
        $('#dist-btn').prop("disabled",true);
      }
    }
  });
  };
});
});

</script>

{% endblock  %}