{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% load humanize %}
{% block title %}Customer Payment{% endblock %}
{% block customerspayment %}active-title{% endblock %}
{% block customerpayment %}active-title{% endblock %}

{% block css %}
  <style>
    /* #payment-area {
        display: inline;
        margin-top: 5px;        
    } */
    .pagination {
        cursor: pointer;
        color: #3e2280;
    }
  </style>
{% endblock css %}

{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="row">
            <div class="col-xl-12">
                <select class="mb-3 paginate-by" name="paginate-by" id="paginate-by">
                    <option value="25" {% if paginate_by == 25 %}selected{% endif %}>Show 25</option>
                    <option value="50" {% if paginate_by == 50 %}selected{% endif %}>Show 50</option>
                    <option value="100" {% if paginate_by == 100 %}selected{% endif %}>Show 100</option>
                </select>
                <div class="card">
                    <div class="card-header card-nav border-bottom-0">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h3 class="dt-card__title" id="status-title">Pay To {{customer}} <br><small>(Unpaid Shipments)</small></h3>
                            <input type="text" class="d-inline-block search-input" placeholder="Type And Press Enter" style="width: 200px; float: right;">
                        </div>
                    </div>        
                    <div class="card-body">
                        <div class="media-list media-separator" id="loadshipmentslist">
                            <div class="table-responsive">
                                <table class="table mb-0 table-fluid">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th><small>Customer Info</small></th>
                                            <th><small>Shipment Code</small></th>
                                            <th><small>Shipment status/ Mode of Payment</small></th>
                                            <th><small>Shipment Charge</small></th>
                                            <th><small>COD Handling Charge</small></th>
                                            <th><small>Rejection Handling Charge</small></th>
                                            <th><small>Extra Charge</small></th>
                                            <th><small>Service Payment To Receiver</small></th>
                                            <th><small>COD Amount To Return</small></th>
                                        </tr>
                                    </thead>
                                    <tbody id="load-more-data">
                                        <button id="print-payment" class="btn btn-primary btn-sm" disabled>Print Selected Payment</button>
                                        <button id="download-payment" class="btn btn-primary btn-sm" disabled>Download Selected Payment</button>
                                        <button id="process-payment" class="btn btn-success btn-sm" disabled>Process Payment</button>
                                        <div class="mt-2" id="payment-area">
                                        </div>
                                        {% for ship in shipmentslist %}
                                        <tr>
                                            <td><input type="checkbox" class="check-shipments" data-id="{{ship.id}}"></td>
                                            <td>
                                                <small>
                                                    {{ship.receiver_name}} <br>
                                                    {{ship.receiver_contact_number}} <br>
                                                    {{ship.receiver_address}} <br>
                                                </small>
                                            </td>
                                            <td>
                                                <small>
                                                    {{ship.tracking_code}} <br>
                                                    {{ship.created_at|date}} <br>
                                                    {{ship.created_at|time}}
                                                </small>
                                            </td>
                                            <td>
                                                <small>
                                                    <span class="badge badge-success">{{ship.shipmentactivity_set.last.shipment_status}}</span>
                                                    <br>
                                                    <span class="badge badge-info">{{ship.cod_info}}</span>
                                                </small>
                                            </td>
                                            <td><small>{{ship.shipping_charge}}</small></td>
                                            <td><small>{{ship.cod_handling_charge}}</small></td>
                                            <td><small>{{ship.rejection_handling_charge}}</small></td>
                                            <td><small>{{ship.extra_charge}}</small></td>
                                            <td><small>{{ship.total_charge}}</small></td>
                                            <td><small>{{ship.cod_value}}</small></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div id="load-more-button">
                                {% if page_obj.has_next %}
                                
                                    <!-- Pagination -->
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item"><a class="page-link page-link-next" data-href="?page={{ page_obj.next_page_number}}">Load More (Showing {{ page_obj.end_index }} of {{ page_obj.paginator.count }})</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- /pagination -->
                                
                                {% endif %}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- payment confirm modal -->
<div id="payment_confirm_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="model-3">Payment Confirm</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <h5 class="text-danger">Click only if payment is confirmed.</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" id="create_activity_button" onclick="document.getElementById('final_confirm').click()" type="submit">Confirm</button>
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'logisticsstatic/assets/js/axios.min.js' %}"></script>
<script>
    var check_shipments = document.querySelectorAll(".check-shipments");
    // change background color on click checkbox
    $('body').on('click', '.check-shipments', function(){
        if ($(this).is(':checked')){
            $(this).parent().parent().css("backgroundColor", "#CFFFF2")
        } else {
            $(this).parent().parent().css("backgroundColor", "white")
        }
        preparePayBtn()
    })
    var ppBtn = document.getElementById("process-payment");
    var prpBtn = document.getElementById("print-payment");
    var dpBtn = document.getElementById("download-payment");
    // preparing button
    const preparePayBtn = () => {
        if(document.querySelectorAll('input.check-shipments:checked').length > 0){
            ppBtn.removeAttribute("disabled")
            prpBtn.removeAttribute("disabled")
            dpBtn.removeAttribute("disabled")
        }else{
            ppBtn.setAttribute("disabled", "disabled")
            prpBtn.setAttribute("disabled", "disabled")
            dpBtn.setAttribute("disabled", "disabled")
        }
        document.getElementById("payment-area").innerHTML = ""
    }
    // final submit
    const prepareList = () => {
        var my_checklist = []
        check_shipments.forEach((element, index) => {
        if (element.checked == true) {
                my_checklist.push(element.getAttribute("data-id"))
            }
        })
        axios.get("/operator/logistic-customer/shipment-process-payment/", { params: { shipment_ids: JSON.stringify(my_checklist) }}).then(resp => {
            document.getElementById("payment-area").innerHTML = `
                    <div class="row" style="background-color: #28B463; padding: 10px 5px;content-align: center">
                        <div class="col-md-6">
                            <p style="color:white;">COD Amount To Handover: Rs. ${resp.data.parcel_total}/- </p>
                            <p style="color:white;">Service Charge To Receive: Rs. ${resp.data.total_charge}/- </p>
                            <hr>
                            <p style="color:white; font-size:16px;">Net Amount To ${resp.data.p_or_r}: Rs. ${resp.data.net_charge}/- </p>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-danger" data-toggle="modal" data-target="#payment_confirm_modal">Proceed</button>
                            <button id="final_confirm" class="btn btn-danger" style="display:none;" onclick="payNow(this)" data-ids="${resp.data.shipment_ids}">Confirmed</button>
                        </div>
                    </div>
                `
        }).catch( err => {
            console.log(err)
        })
    }
    // prepare print
    const preparePrint = () => {
        var my_checklist = $.map(document.querySelectorAll('input.check-shipments:checked'), function (el) { return el.getAttribute("data-id"); });
        w=window.open(`/operator/logistic-customer/shipment-process-payment/print/?shipment_ids=${my_checklist}`);
    }
    const prepareDownload = () => {
        var my_checklist = $.map(document.querySelectorAll('input.check-shipments:checked'), function (el) { return el.getAttribute("data-id"); });
        w=window.open(`/operator/logistic-customer/shipment-process-payment/download/?shipment_ids=${my_checklist}`);
    }
    ppBtn.addEventListener("click", prepareList)
    prpBtn.addEventListener("click", preparePrint)
    dpBtn.addEventListener("click", prepareDownload)
    function payNow(btn){
        var data_ids = btn.getAttribute("data-ids")
        data_ids = data_ids.split(",")
        fd = new FormData()
        fd.append("shipment_ids", data_ids)
        fd.append('csrfmiddlewaretoken', '{{csrf_token}}')
        axios.post("/operator/logistic-customer/shipment-process-payment/", fd).then(resp => {
            location.reload()
            // location.href=resp.data.url
        }
        ).catch(err => {
            console.log(err)
            location.reload()
        })
    }
    
</script>
<!-- pagination -->
<script>
    $('body').on('click', '.page-link-next', function(e){
        e.preventDefault();
        var url1= $(this).attr('data-href');
        $.ajax({
            url : "{% url 'lmsapp:lalcshipmentpayment' customer.id %}"+url1,
            data: {
                'keyword': $('.search-input').val(),
                'paginate_by': $('.paginate-by').val(),
            },
            beforeSend: function () {
                    $('.page-link-next').html('Loading');
                    $('.page-link-next').prop('disabled', true);
            },
            complete: function () {
                $('.page-link-next').prop('disabled', false);
            },
            success: function(data){
                const doc = document.createElement("div");
                doc.innerHTML = data;
                $('#load-more-data').append(doc.querySelector('#load-more-data').innerHTML);
                $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
                check_shipments = document.querySelectorAll(".check-shipments");
            }
        });
    });
</script>
<!-- paginate_by -->
<script>
    $('body').on('change', '.paginate-by', function(e){
        e.preventDefault();
        var url1= $(this).attr('data-href');
        $.ajax({
            url : "{% url 'lmsapp:lalcshipmentpayment' customer.id %}",
            data: {
                'paginate_by': $(this).val(),
                'keyword': $('.search-input').val(),
            },
            success: function(data){
                const doc = document.createElement("div");
                doc.innerHTML = data;
                $('#load-more-data').html(doc.querySelector('#load-more-data').innerHTML);
                $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
                check_shipments = document.querySelectorAll(".check-shipments");
            }
        });
    })
</script>
<!-- search-input -->
<script>
    $('body').keypress('.search-input', function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            var keyword = $('.search-input').val();
            $.ajax({
                url: "{% url 'lmsapp:lalcshipmentpayment' customer.id %}",
                data: {
                    'paginate_by': $(this).val(),
                    'keyword': $('.search-input').val(),
                },
                success: function(data){
                    const doc = document.createElement("div");
                    doc.innerHTML = data;
                    $('#load-more-data').html(doc.querySelector('#load-more-data').innerHTML);
                    $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
                    check_shipments = document.querySelectorAll(".check-shipments");
                }
            })
        }
    })
</script>
{% endblock %}