{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Notice Create{% endblock%}
{% block notice %}active-title{% endblock %}

{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
        <!-- Grid Item -->
        <div class="col-12">

            <!-- Card -->
            <div class="dt-card">

                <!-- Card Header -->
                <div class="dt-card__header">

                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">Create Notice</h3>
                    </div>
                    <!-- /card heading -->

                </div>
                <!-- /card header -->

                <!-- Card Body -->
                <div class="dt-card__body">

                    <!-- Form -->
                    <form method='post'>
                    {% csrf_token %}
                        <!-- Form Row -->
                        <div class="form-row">
                            <label class="col-md-2 col-sm-3 col-form-label text-sm-right"
                                for="text-area-1">Message</label>

                            <div class="col-md-10 col-sm-9">
                                {{form.notice}}
                            </div>
                        </div>
                        <!-- /form row -->

                        <!-- Separator -->
                        <hr class="border-dashed my-8">
                        <!-- /separator -->
                        <!-- Form Row -->
                        <div class="form-row">
                            <label class="col-md-2 col-sm-3 col-form-label text-sm-right"
                                for="multiple-select">Exclude Customer <small>(optional)</small></label>

                            <div class="col-md-10 col-sm-9">
                               {{form.excluded_customers}}
                            </div>
                        </div>
                        <!-- /form row -->
                        <button class='btn btn-primary m-2 mt-10' type='submit' style='width:100%'>Save</button>
                    </form>
                    <!-- /form -->

                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->

        </div>
        <!-- /grid item -->
    </div>
</div>

{% endblock content %}


{% block js %}
<script>
    $(document).ready(function () {
        $('#id_excluded_customers').select2({
            ajax: {
                url: "{% url 'lmsapp:ajaxlalogisticcustomerlist' %}",
                dataType: 'json',
                processResults: function (data, params) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.full_name + " (" + item.company_name + ")"};
                        })
                    };
                }
            },
            minimumInputLength: 1,
            width: '100%',
        });
    });
</script>

{% endblock js %}
