{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% block title %}ShippingZone Detail{% endblock %}
{% block shippingzone %}active-title{% endblock %}
{% load static %}

{% block css %}

<style>
    #id_delivery_type {
        width: 100%;
        height: 40px;
    }


    #id_shipping_charge_per_kg {
        width: 100%;
        height: 40px;
    }

    #id_additional_shipping_charge_per_kg {
        width: 100%;
        height: 40px;
    }


    #id_cod_handling_charge {
        width: 100%;
        height: 40px;
    }


    #id_rejection_handling_charge {
        width: 100%;
        height: 40px;
    }
</style>
<style>
    #id_cities ul {
        overflow-x: hidden;
        white-space: nowrap;
        height: 1em;
        width: 100%;
    }

    #id_cities li {
        display: inline;
    }

    input[type=checkbox] {
        transform: scale(1.2);
        margin: 5px;
    }

    .close {
        cursor: pointer;
        position: absolute;
    }

    .dropdown-content {
        background-color: rgb(247, 247, 247);
        border-radius: 5px;
        display: none;
        z-index: 9999;
        position: absolute;
        width: 100%;
        max-height: 250px;
        overflow-y: scroll;
    }
</style>


{% endblock %}


{% block content %}

<!-- <h3 style='text-align:center;'><a href="{% url "umapp:shippinglist" %}">Shipping Zone List </a>/</h3> -->

<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="dt-page__header">
            <h1 class="dt-page__title">Detail of {{zone}}</h1>
            <a href="{% url 'umapp:shippingupdate' zone.id %}"><button class='btn btn-primary'>update</button></a>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label for="shippingzone">Shipping Zone</label><br>
                {{zone.shipping_zone}}
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                <div class="row">

                    {% for dt in zone.shippingzonedeliverytype_set.all %}
                    <div class="col-md-4">
                        <h3>Charges for {{dt.delivery_type}}</h3>
                        <hr>
                        <div class="form-group">
                            <label for="">Shipping Charge per KG : </label>
                            {{dt.shipping_charge_per_kg}}
                        </div>
                        <div class="form-group">
                            <label for="">Additional per KG : </label>
                            {{dt.additional_shipping_charge_per_kg}}
                        </div>
                        <div class="form-group">
                            <label for="">COD Hanlding Charge : </label>
                            {{dt.cod_handling_charge}}
                        </div>
                        <div class="form-group">
                            <label for="">Rejection Hanlding charge : </label>
                            {{dt.rejection_handling_charge}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">

                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" id="search_city" type="text" placeholder="Search City"
                            autocomplete="off" style="width: 100%;">
                        <div id="msg"></div>
                        <div id="city_list" class="dropdown-content"
                            style="display: none; z-index: 9999; position: absolute; width: 90%;  max-height:250px; overflow-y:scroll;">
                        </div>
                    </div>
                    <div class="box col-md-12">
                    <p>Your Coverage Cities Are:</p>
                        <div id="msg"></div>

                        <table class="table cityList" id="cityList">
                            <thead>
                                <tr>
                                    <td>S.N</td>
                                    <td>City Name</td>
                                    <td>District</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cities in zone_cities %}
                                <tr class="city_{{cities.id}}">
                                    <td>{{forloop.counter}}</td>
                                    <td class="cityName">{{cities.name}}</td>
                                    <td>{{cities.district.name}}</td>
                                    <td><span class="btn-sm btn-danger fa fa-trash closeBtn"
                                            value="{{cities.id}}"></span></td>
                                </tr>
                                {% endfor %}
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            {% comment %}
            <div class="row">
                {% for z in zone.shippingzonedeliverytype_set.all %}
                <input type="text" Name="chharge_{{z.id}}" value='{{z.shipping_charge_per_kg}}'>
                {% endfor %}

            </div>
            {% endcomment %}



        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <p id='message'></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="delete-city" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('#search_city').focus()
</script>
<script>
    $('#search_city').keyup(function () {
        var text = $('#search_city').val()
        // var val = $(this).val()
        // alert(text)
        if (text == "") {
            $('#city_list').css('display', 'none')
        }
        else {
            $.ajax({
                method: 'GET',
                url: "{% url 'umapp:ajaxcitysearach' %}",
                data: {
                    'term': text
                },
                success: function (data) {
                    // alert(data.success)
                    $('#city_list').css('display', 'block')
                    $('#city_list').html(data)
                }
            })
        }


    })

</script>

<script>

    $('body').on("click", '.closeBtn', function () {
        var city = $(this).closest('tr').find('.cityName').text()
        var city_id = $(this).attr('value')
        $("#myModal").modal('show')
        $('#message').html("Are you sure you want to delete the city '" + city + "'?")
        $('#delete-city').on('click', function () {
            $.ajax({
                method: "POST",
                data: {
                    'remove_city': city_id,
                    'csrfmiddlewaretoken': "{{csrf_token}}",
                },
                success: function (data) {
                    $( ".cityList" ).load(window.location.href + " .cityList" )
                    $('#msg').html(data.rmv_msg).css('color','blue')
                }
            })
        })
    })
</script>
{% endblock %}