{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Shipping Zone{% endblock %}
{% block shippingzone %}active-title{% endblock %}

{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">
      <div class="dt-page__header">
            <h1 class="dt-page__title">List</h1>
      </div>
        <!-- Grid -->
        <div class="row">

            <!-- Grid Item -->
            <div class="col-xl-12">

                <!-- Entry Header -->
                <div class="dt-entry__header">

                    <!-- Entry Heading -->
                    <div class="dt-entry__heading">
                        <h3 class="dt-entry__title">Shipping Zone</h3>
                    </div>
                    <!-- /entry heading -->

                </div>
                <!-- /entry header -->

                <!-- Card -->
                <div class="dt-card">


                <a href="{% url 'umapp:shippingzonecreate' %}"><button type="submit" style='width:290px;height:40px;margin:5px;border-radius:30px;float:right;' class='bt btn-primary '>Add Shipping Zone</button></a>

                <a data-toggle="modal"
                data-target="#create-modal" data-remote="{% url 'umapp:deliverytype' %}" ><button type="submit" style='width:290px;height:40px;margin:5px;border-radius:30px;float:right;' class='bt btn-primary '>Add Delivery Type</button></a>
                
                    <!-- Card Body -->
                    <div class="dt-card__body">
                        
                        <!-- Tables -->
                        <div class="table-responsive">
                        <span>
                            search:  <input type="text" style='margin:5px;' id="shippingsearchinput" placeholder="Search for names.." title="Type in a name">
                        </span>
                            <table id="data-table"
                                class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Sn .</th>
                                        <th>Zone</th>
                                        {% for delivery in delivery_types %}
                                        <th>{{delivery.delivery_type}} <span style='float:right;'> <a href='' data-toggle="modal" data-target="#update-modal" data-remote='{% url 'umapp:deliverytypeupdate' delivery.id %}'> <i class="fas fa-pencil" ></i> </a></span></th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for ship in shippingzone %}
                                <tr>
                                <td>{{forloop.counter}}</td>
                                <td> <a href="{% url 'umapp:shippingdetail' ship.id %}">
                                    <span id='updateship'>{{ship.shipping_zone}} </span>
                                    </a>
                                </td>
                                {% for type in ship.shippingzonedeliverytype_set.all %}
                                {% if type.status == 'Active' %}
                                <td style='background-color: white;'>
                                <a href="{% url 'umapp:shippingupdate' ship.id %}"> Shipping Charge/Kg:  {{type.shipping_charge_per_kg}}
                                </a>
                                </td>
                                {% else %}
                                <td style='background-color:khaki;'>
                                <a href="{% url 'umapp:shippingupdate' ship.id %}"> Shipping Charge/Kg:  {{type.shipping_charge_per_kg}}
                                </a>
                                </td>
                                {% endif %}
                                {% endfor %}
                                </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Sn .</th>
                                        <th>Zone</th>
                                        {% for delivery in delivery_types %}
                                        <th>{{delivery.delivery_type}}</th>
                                        {% endfor %}
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /tables -->

                    </div>
                    <!-- /card body -->

                </div>
                <!-- /card -->

            </div>
            <!-- /grid item -->

        </div>
        <!-- /grid --> 

    </div>
</div>


{% endblock  %}


{% block js %}



<script>
$(document).ready(function(){
  $("#shippingsearchinput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#data-table tbody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% comment %} <script>
$('#updateship').on('dblclick', function(){
    var b = $('#ship_id').text();
    console.log(b, "_________");
    $("#updateship").attr("href", "{% url 'umapp:shippingupdate' 101  %}");
});
</script> {% endcomment %}

{% endblock  %}