<div class="modal-header">
	<button style='border-radius:10px;' classic.html='btn btn-warning'> <a href="{% url 'lmsapp:opnoticeupdate' opnoticedetail.pk %}"> update </a></button>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>

 <!-- Grid Item -->
    <div class="col-12 m-3">

        <!-- Card Group -->
        <div class="card-group mb-8">

            <!-- Card -->
            <div class="card">

                <!-- Card Body -->
                <div class="card-body">

                    <!-- Card Title-->
                    <h2 class="card-title">Detail</h2>
                    <!-- Card Title-->

                    <!-- Card Text-->
                    <p class="card-text">
                        {{opnoticedetail.notice}}
                    </p>
                    <!-- /card text-->

                    <!-- Card Title-->
                    <h2 class="card-title">Excluded Customers</h2>
                    <!-- Card Title-->

                    <!-- Card Text-->
                    <p class="card-text">
                        {% for cust in opnoticedetail.excluded_customers.all %}
                            <li><small class="text-muted">{{cust}}</small></li>
                        {% endfor %}
                    </p>
                    <!-- /card text-->

                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->

        </div>
        <!-- /card group -->
        <div class="modal-footer">
		<button type="button" class="btn btn-warning text-left" data-dismiss="modal">Close</button>
	    </div>

    </div>
    <!-- /grid item -->

