{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Notice List{% endblock%}
{% block notice %}active-title{% endblock %}

{% block content %}
<div class="dt-content-wrapper">
    <div class="dt-content">

            {% comment %} <div class="dt-page__header">
                <h1 class="dt-page__title">Notice</h1>
            </div> {% endcomment %}
            <div class='card-header card-nav border-bottom-0 mb-3'>
                <div class='d-flex align-items-center justify-content-between mb-4'>
                    <h1 class='dt-card__title'>Notice List</h1>
                    <a href="{% url 'lmsapp:opnoticecreate' %}">
                    <i class='icon icon-circle-add-o mr-2'></i>
                        Add New Notice
                    </a>
                </div>
            </div>
            <!-- /page header -->

            <!-- Grid -->
            {% for notice in opnoticelist %}
            <div class="row">

                <!-- Grid Item -->
                <div class="col-xl-12">

                    <!-- Card -->
                    <div class="dt-card">

                        <!-- Card Body -->
                        <div class="dt-card__body">

                            <!-- List -->
                            <div class="d-sm-flex flex-sm-row">

                                <!-- User Avatar-->
                                <img class="dt-avatar size-60 mr-6 mb-6 mb-sm-0"
                                    src="{% static '/assets/images/user-avatar/steve-smith.jpg' %}" alt="User">
                                <!-- /user avatar-->

                                <!-- Content -->
                                <div class="flex-1 overflow-hidden mb-6 mb-sm-0 pr-sm-3">
                                    <div class="user-detail mb-3">
                                        <span class="user-name">{{notice.created_by.full_name}}</span>
                                        <span class="dt-separator-v">&nbsp;</span>
                                        <span class="designation">{{notice.created_by.operator_type}}</span>
                                        <span class="dt-separator-v">&nbsp;</span>
                                        <span class="designation">{{notice.logistics_branch}}</span>
                                    </div>
                                    <p class="text-truncate">{{notice.notice|truncatechars:20}}</p>
                                    <div class="d-flex flex-sm-row flex-column">
                                        <div class="mb-4 mb-sm-0">
                                            <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">created at: </span>{{notice.created_at}}</span>
                                            {% comment %} <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$170k+ </span>earned</span> {% endcomment %}
                                        </div>
                                        {% comment %} <div class="dt-indicator-item__info" data-fill="82" data-max="100"
                                            data-percent="true"
                                            data-sufix="Job Success" style="width: 220px">
                                            <span class="dt-indicator-item__count text-success text-nowrap mr-3">0</span>
                                            <div class="dt-indicator-item__bar">
                                                <div class="dt-indicator-item__fill bg-success"></div>
                                            </div>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                                <!-- /content -->

                                <div class="min-w-120">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#detail-modal" data-remote="{% url 'lmsapp:opnoticedetail' notice.id %}" class="btn btn-primary text-uppercase btn-block">View Detail</a>
                                    <a href="{% url 'lmsapp:opnoticeupdate' notice.pk %}"
                                    class="btn btn-outline-light text-light-gray text-uppercase btn-block">
                                        <span>Update</span>
                                    </a>
                                </div>

                            </div>
                            <!-- /list -->

                        </div>
                        <!-- /card body -->

                    </div>
                    <!-- /card -->

                </div>
            </div>
            {% endfor %}
            <!-- /grid item -->

            <!-- pagination Item -->
                    <div class="col-md-12 dt-masonry__item">
                                <nav>
                                    {% if page_obj.has_other_pages %}
                                    <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo; Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a disabled class="page-link" href="javascript:void(0)"
                                                tabindex="-1">&laquo; Previous</a>
                                        </li>
                                    {% endif %}

                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="javascript:void(0)">
                                                {{i}}
                                            </a>
                                        </li>
                                        {% else %}
                                        <li class="page-item "><a class="page-link active" href="?page={{ i }}">{{i}}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="">Next &raquo;</a>
                                        </li>
                                    {% endif %}
                                    </ul>
                                    {% endif %}
                                </nav>
                            </div>
            <!-- /pagination item -->
    </div>
</div>
{% endblock %}