{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% block title %}ShippingZone Update{% endblock %}
{% block shippingzone %}active-title{% endblock %}

{% load static %}

{% block css %}

<style>
    #id_delivery_type {
        width: 100%;
        height: 40px;
    }


    #id_shipping_charge_per_kg {
        width: 100%;
        height: 40px;
    }

    #id_additional_shipping_charge_per_kg {
        width: 100%;
        height: 40px;
    }


    #id_cod_handling_charge {
        width: 100%;
        height: 40px;
    }


    #id_rejection_handling_charge {
        width: 100%;
        height: 40px;
    }
</style>
<style>
    #id_cities ul {
        overflow-x: hidden;
        white-space: nowrap;
        height: 1em;
        width: 100%;
    }

    #id_cities li {
        display: inline;
    }

    input[type=checkbox] {
        transform: scale(1.2);
        margin: 5px;
    }
</style>


{% endblock %}


{% block content %}

{% comment %} <h3 style='text-align:center;'><a href="{% url "umapp:shippinglist" %}">Shipping Zone List </a>/</h3>
{% endcomment %}

<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="dt-page__header">
            <h1 class="dt-page__title">Update</h1>
        </div>

        <form method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6">
                    <label for="shippingzone">Shipping Zone</label>
                    {{form.shipping_zone}}
                </div>
                <!-- <div class="col-md-6">
                    <label for="cities">Cities</label>
                    {{form.cities}}
                </div> -->
            </div>
            <div class="row mt-3">
                {% for dt in zone.shippingzonedeliverytype_set.all %}
                    {% if dt.delivery_type.status == 'Active' %}
                    <div class="col">
                        <h3>Charges for {{dt.delivery_type}} </h3><hr>
                        <div class="form-group">
                            <label for="">Shipping Charge per KG</label>
                            
                            <input class='form-control' type="number" name="shipping_charge__{{dt.id}}" value='{{dt.shipping_charge_per_kg}}'>
                        </div>
                        <div class="form-group">
                            <label for="">Additional per KG</label>
                            <input class='form-control' type="number" name="additional_shipping_charge__{{dt.id}}" value='{{dt.additional_shipping_charge_per_kg}}'>
                        </div>
                        <div class="form-group">
                            <label for="">COD Hanlding Charge</label>
                            <input class='form-control' type="number" name="cod_handling__{{dt.id}}" value='{{dt.cod_handling_charge}}'>
                        </div>
                        <div class="form-group">
                            <label for="">Rejection Hanlding charge</label>
                            <input class='form-control' type="number" name="rejection_charge__{{dt.id}}" value='{{dt.rejection_handling_charge}}'>
                        </div>
                         <div class="form-group">
                            <label for="">Active</label>
                            <input type="checkbox" name="shipping_zone_status__{{dt.id}}" {% if dt.status == 'Active' %}checked{% endif %} >
                        </div>
                    </div>
                {% else %}
                        <div class="col">
                            <h3>Charges for {{dt.delivery_type}}</h3><hr>
                            <div class="form-group">
                        </div>
                            <div class="form-group">
                                <label for="">Shipping Charge per KG</label>
                                <input  class='form-control' type="number"disabled name="shipping_charge__{{dt.id}}" value='{{dt.shipping_charge_per_kg}}'>
                            </div>
                            <div class="form-group">
                                <label for="">Additional per KG</label>
                                <input class='form-control' type="number" disabled name="additional_shipping_charge__{{dt.id}}" value='{{dt.additional_shipping_charge_per_kg}}'>
                            </div>
                            <div class="form-group">
                                <label for="">COD Hanlding Charge</label>
                                <input class='form-control' type="number" disabled name="cod_handling__{{dt.id}}" value='{{dt.cod_handling_charge}}'>
                            </div>
                            <div class="form-group">
                                <label for="">Rejection Hanlding charge</label>
                                <input class='form-control' type="number" disabled name="rejection_charge__{{dt.id}}" value='{{dt.rejection_handling_charge}}'>
                            </div>
                        </div>

                    {% endif %}

                {% endfor %}
            </div>
            {% comment %} <div class="row">
            {% for z in zone.shippingzonedeliverytype_set.all %}
            <input type="text" Name="chharge_{{z.id}}" value='{{z.shipping_charge_per_kg}}'>
            {% endfor %}

            </div> {% endcomment %}
            <div class="row mt-3">
                <button type="submit" class='btn btn-primary'
                style='width:100%;float:right;margin-bottom:20px;'>save</button>
            </div>
        </form>


    </div>
</div>
</div>
{% endblock %}

{% block js %}

<!-- <script>
    $(document).ready(function () {
        $('#id_cities').select2({
            width: '100%'
        });
    });
</script> -->

{% endblock %}