{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}

{% block content %}
<div class="dt-content-wrapper">
  <div class="dt-content">
      <div class="dt-page__header">
            <h1 class="dt-page__title"></h1>
      </div>
    </div>
</div>


{% endblock %}