{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}

{% block content %}
<div class="dt-content-wrapper">
  <div class="dt-content">
      <div class="dt-page__header">
            <h1 class="dt-page__title">Create New Staff</h1>
      </div>
        <div class="container" style='margin-top:20px;'>
        <p style='text-align:center'>password change for-:  {{operatorpasschange.user}}</p>
        <form method="post">

        {% csrf_token %}

        {{form.as_p}}

        <button type="submit" class='btn btn-primary' style='width:300px;float:right;height:50px;'>save</button>

        </form>

    </div>
</div>
{% endblock %}