{% extends 'logisticstemplates/logisticsadminbase.html' %}

{% load static %} 

{% block css %}

{% endblock %}

{% block content %}

<div class="dt-content-wrapper">
  <div class="dt-content">
      <div class="dt-page__header">
            <h1 class="dt-page__title">Account Details</h1>
      </div>


            <!-- Grid -->
<div class="row mb-sm-8">

    <!-- Grid Item -->
    <div class="col-md-4 col-sm-6 order-md-1">

        <!-- Card -->
        <div class="card">

            <!-- Card Header -->
            <h4 class="card-header">Company Details</h4>
            <!-- /card header -->

            <!-- Card Body -->
            <div class="card-body">

                <!-- Card Title-->
                <h2 class="card-title">
                
                
                </h2>
                <!-- Card Title-->


                 <!-- Card Text-->
                <p class="card-text">
                <label for="">Company Name</label> : {{current_company}}
                </p>
                <p class="card-text">
                <label for="">Company Address</label> : {{current_company.company_city}}</p>
                <p class="card-text">
                <label for="">Company Website</label> : <a target='_blank' href="{{current_company.company_website}}">{{current_company.company_website}} </a></p>
                <p class="card-text">
                <label for="">Company Email</label> : {% if current_company.company_email %} <a href="mailto:current_company.company_email"></a> {{current_company.company_email}}
                {% else %}
                {{current_company.company_email}}
                {% endif %}</p>
                <p class="card-text">
                <label for="">Company Descp.</label> : {{current_company.company_description}}
                </p>
                <!-- card text-->
               

                <!-- Card Button-->
                {% comment %} <a href="javascript:void(0)" class="btn btn-primary"></a> {% endcomment %}
                <!-- /card button-->

            </div>
            <!-- /card body -->

            <!-- Card Footer -->
            <div class="card-footer text-muted"></div>
            <!-- /card footer -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

    <!-- Grid Item -->
    <div class="col-md-4 col-sm-6 order-md-2">

        <!-- Card -->
        <div class="card">

            <!-- Card Header -->
            <h4 class="card-header">Branch Details</h4>
            <!-- /card header -->

            <!-- Card Body -->
            <div class="card-body">

                <!-- Card Title-->
                <h2 class="card-title"></h2>
                <!-- Card Title-->

                <!-- card text-->
                <p class="card-text">
                    <label for="">Branch</label> : {{current_branch.branch_city}}
                </p>
                <p>
                    <label for="">Branch Contact</label> : {% if current_branch.branch_contact %} 
                    <a href="tel:{{current_branch.branch_contact}}"> {{current_branch.branch_contact}} </a>
                    {% else %}
                    {{current_branch.branch_contact}}
                    {% endif %}
                    </p>
                    <p>
                    <label for="">Branch Alternative Contact</label> : {% if current_branch.branch_alternative_contact %} 
                    <a href="tel:{{current_branch.branch_alternative_contact}}"> {{current_branch.branch_alternative_contact}} </a>
                    {% else %}
                    {{current_branch.branch_alternative_contact}}
                    {% endif %}
                    </p>
                    <p>
                    <label for="">Branch Email</label> : {% if current_branch.branch_email %}
                    <a href="mailto:{{current_branch.branch_email}}"> {{current_branch.branch_email}}</a>
                    {% else %}
                    {{current_branch.branch_email}}
                    {% endif %}
                    </p>
                    <p>
                    <label for="">Branch Address</label> : {{current_branch.branch_address}}
                    </p>
                    <p>
                    <label for="">Branch Coverage Cities</label> : 
                    {% for city in current_branch.branch_coverage.all %}
                    {{city.name}}, 
                    {% endfor %}
                    
                    </p>
                    <p>
                    <label for="">Connected Branches</label> : 
                    {% for branch in operator.connected_branches.all %}
                    {{branch.branch_address}}, 
                    {% endfor %}
                    </p>
                <!-- /card text-->

               

                <!-- Card Button-->
                {% comment %} <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                <!-- /card button-->

            </div>
            <!-- /card body -->

            <!-- Card Footer -->
            <div class="card-footer text-muted"></div>
            <!-- /card footer -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

    <!-- Grid Item -->
    <div class="col-md-4 col-12 order-md-3">

        <!-- Card -->
        <div class="card">

            <!-- Card Header -->
            <h4 class="card-header">Personal Details</h4>
            <!-- /card header -->

            <!-- Card Body -->
            <div class="card-body">

                <!-- Card Title-->
                <h2 class="card-title">
                {% if operator.image %} 
                <a href="{{operator.image.url}}" target='_blank' download>
                
                <img src="{{operator.image.url}}" style='width:100%;height:90px;object-fit:contain;'> 

                </a>
                {% else %}
                no image

                {% endif %}
                </h2>
                <!-- Card Title-->

                <!-- Card Text-->

                 <!-- /card text-->
                <p class="card-text" style='margin:5px;'>
                    <label for="">Full Name</label> : {{operator.full_name}}
                </p>
                <p>
                    <label for="">Email</label> : {{operator.user.username}}
                </p>
                <p>
                    <label for="">Operator Type</label> : {{operator.operator_type}}
                </p>
                <p>
                    <label for="">Mobile</label> : {{operator.mobile}}
                </p>
                <p>
                    <label for="">Alt Mobile</label> : {{operator.alt_mobile}}
                </p>
                <p>
                    <label for="">Address</label> : {{operator.address_city}}
                </p>
                <p>
                    <label for="">Document 1</label> : 
                    {% if operator.document1 %}
                    <a target='_blank' href="{{operator.document1.url}}" download>{{operator.document1}} </a>
                    {% else %}
                    {{operator.document1}}
                {% endif %}
                </p>
                 <p>
                    <label for="">Document 2</label> : 
                    {% if operator.document2 %}
                    <a target='_blank' href="{{operator.document1.url}}" download>{{operator.document2}} </a>
                    {% else %}
                    {{operator.document2}}
                {% endif %}
                 <p>
                    <label for="">Document 3</label> : 
                    {% if operator.document3 %}
                    <a target='_blank' href="{{operator.document3.url}}" download>{{operator.document3}} </a>
                    {% else %}
                    {{operator.document3}}
                {% endif %}
                </p>
                <!-- /card text-->

                

                <!-- Card Button-->
                {% comment %} <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                <!-- /card button-->

            </div>
            <!-- /card body -->

            <!-- Card Footer -->
            <div class="card-footer text-muted text-center"> <a target='_blank' href="{% url 'umapp:operatorupdate' operator.id %}"> Update Profile </a>  |  
            <a target='_blank' href="{% url 'umapp:operatorpasschange' operator.id %}"> Change Password </a>
            </div>
            <!-- /card footer -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

</div>
<!-- /grid -->
    </div>
</div>


{% endblock content %}