{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'operatorstatic/css/utils.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'operatorstatic/css/main.css' %}">
<!--===============================================================================================-->

 <link rel="stylesheet" type="text/css" href="{% static 'operatorstatic/toastr/toastr.css' %}" media="all">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="{% static 'operatorstatic/toastr/toastr.min.js' %}"></script> 


    <!-- Font Icon Styles -->
<link rel="stylesheet" href="{% static 'assets/fonts/noir-pro/styles.css' %}">
<link rel="stylesheet" href="{% static 'plugins/flag-icon-css/css/flag-icon.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/gaxon-icon/styles.css' %}">
<!-- /font icon Styles -->

<!-- Perfect Scrollbar stylesheet -->
<link rel="stylesheet" href="{% static 'plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}">
<!-- /perfect scrollbar stylesheet -->


<link rel="stylesheet" href="{% static 'assets/css/default/theme-semidark.min.css' %}">

<script>
    var rtlEnable = '';
        var $mediaUrl = 'https://drift-admin.g-axon.work/';
        var $baseUrl = 'https://drift-admin.g-axon.work/';
    var current_path = window.location.href.split('https://drift-admin.g-axon.work/').pop();
    if (current_path == '') {
        current_path = '{% url 'lmsapp:clienthome' %}';
    }
</script>

<script src="{% static 'plugins/jquery/js/jquery.min.js' %}"></script>
<script src="{% static 'plugins/moment/js/moment.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Perfect Scrollbar jQuery -->
<script src="{% static 'plugins/perfect-scrollbar/js/perfect-scrollbar.min.js' %}"></script>
<!-- /perfect scrollbar jQuery -->
</head>
<body>
	
	    <!-- Loader -->
<div class="dt-loader-container">
  <div class="dt-loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
    </svg>
  </div>
</div>
<!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">
            <div class="dt-login--container">

    <!-- Login Content -->
    <div class="dt-login__content-wrapper">

        <!-- Login Background Section -->
        <div class="dt-login__bg-section">

            <div class="dt-login__bg-content">
                <!-- Login Title -->
                <h1 class="dt-login__title">Login</h1>
                <!-- /login title -->

                <p class="f-16" style='color: white;'>Sign in and explore in-built apps of Sarobar Tech.</p>
            </div>


            <!-- Brand logo -->
            <div class="dt-login__logo">
                <a class="dt-brand__logo-link" href="{% url 'lmsapp:clienthome' %}">
                    <img class="dt-brand__logo-img" src="{% static 'logisticsstatic/favicon.png' %}" alt="Drift">
                </a>
            </div>
            <!-- /brand logo -->

        </div>
        <!-- /login background section -->

        <!-- Login Content Section -->
        <div class="dt-login__content">

            <!-- Login Content Inner -->
            <div class="dt-login__content-inner">

                <!-- Form -->
                <form method="post">
                {% csrf_token %}

                    <!-- Form Group -->
                    <div class="form-group">
                        <label class="sr-only" for="email-1">Email address</label>
                        {{form.email}}
                    </div>
                    <!-- /form group -->

                    <!-- Form Group -->
                    <div class="form-group">
                        <label class="sr-only" for="password-1">Password</label>
                        {{form.password}}
                    </div>
                    <!-- /form group -->

                    <!-- Form Group -->
                    <div class="dt-checkbox d-block mb-6">
                        <input type="checkbox" id="checkupbox">
                        <label class="dt-checkbox-content" for="checkbox-2">
                            Show Password
                        </label>
                    </div>
                    <div class="dt-checkbox d-block mb-6">
                        <input type="checkbox" id="checkbox-1">
                        <label class="dt-checkbox-content" for="checkbox-1">
                            Keep me login on this device
                        </label>
                    </div>
                    <!-- /form group -->

                    <!-- Form Group -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary text-uppercase">Login</button>
                        <span class="d-inline-block ml-4">Or
                            <a class="d-inline-block font-weight-500 ml-3" href="{% url 'umapp:logcompanysignup' %}">Create New Company</a>
                        </span>
                    </div>
                    <!-- /form group -->

                    <!-- Form Group -->
                    <div class="d-flex flex-wrap align-items-center">
                        <span class="d-inline-block mr-2">Or connect with</span>

                        <!-- List -->
                        <ul class="dt-list dt-list-sm dt-list-cm-0 ml-auto">
                            <li class="dt-list__item">
                                <!-- Fab Button -->
                                <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                    <i class="icon icon-facebook icon-xl"></i>
                                </a>
                                <!-- /fab button -->
                            </li>

                            <li class="dt-list__item">
                                <!-- Fab Button -->
                                <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                    <i class="icon icon-google-plus icon-xl"></i>
                                </a>
                                <!-- /fab button -->
                            </li>

                            <li class="dt-list__item">
                                <!-- Fab Button -->
                                <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                    <i class="icon icon-github icon-xl"></i>
                                </a>
                                <!-- /fab button -->
                            </li>

                            <li class="dt-list__item">
                                <!-- Fab Button -->
                                <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                    <i class="icon icon-twitter icon-xl"></i>
                                </a>
                                <!-- /fab button -->
                            </li>
                        </ul>
                        <!-- /list -->
                    </div>
                    <!-- /form group -->


                </form>
                <!-- /form -->

            </div>
            <!-- /login content inner -->

            <!-- Login Content Footer -->
            <div class="dt-login__content-footer">
                <a href="page-forgot-password.html">Can’t access your account?</a>
            </div>
            <!-- /login content footer -->

        </div>
        <!-- /login content section -->

    </div>
    <!-- /login content -->

</div>        </div>        
    </div>
    <!-- /root -->


    <!-- masonry script -->
<script src="{% static 'plugins/masonry-layout/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'plugins/sweetalert2/js/sweetalert2.js' %}"></script>
<script src="{% static 'assets/js/default/functions.js' %}"></script>
<script src="{% static 'assets/js/default/customizer.js' %}"></script>

<script src="{% static 'assets/js/default/script.js' %}"></script>

    {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <script>
                      let timerInterval;
                                      swal({
                        type: "success",
                        title: "{{message}}",
                        timer: 2000,
                        text: ""
                    });
                      </script>
                {% elif message.tags == 'info' %}
                    <script type=text/javascript>
                        let timerInterval;
                                      swal({
                        type: "success",
                        title: "{{message}}",
                        timer: 2000,
                        text: ""
                    });
                    </script>
                {% elif message.tags == 'warning' %}
                    <script type=text/javascript>
                        swal({
                          type: 'error',
                          title: '{{message}}',
                          timer: 2000,
                          text: '!',
                          footer: ''
                      });
                    </script>
                {% elif message.tags == 'error' %}
                    <script type=text/javascript>
                        swal({
                          type: 'error',
                          title: '{{message}}',
                          timer: 2000,
                          text: '',
                          footer: ''
                      });
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
	




<script>
$('#checkupbox').on('click', function(){
    var x= document.getElementById("id_password");
    if (x.type === 'password'){
        x.type = 'text';
    } else{
        x.type = 'password';
    }
});

</script>


</body>
</html>