<div class="modal-header">
	<h5 class="modal-title" id="mySmallModalLabel">Create Province ?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<form method="POST" action="{% url 'umapp:provincecreate' %}">
	{% csrf_token %}
	<div class="modal-body">
    <div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">Province</label>
        </div>
        <div class="col-md-8" >
          {{form.name}}
        </div>
        </div>

        <div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">Country</label>
        </div>
        <div class="col-md-8">
          {{form.country}}
        </div>
        </div>

        <span style="visibility:hidden;"><div class="row" style="margin:10px;">
        <div class="col-md-4">
          <label for="">Slug</label>
        </div>
        <div class="col-md-8">
          {{form.slug}}
        </div>
        </div>
        </span>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning text-left" data-dismiss="modal">Close</button>
		<button class="btn btn-primary text-left" id='prov-btn'>Save</button>
	</div>
</form>


{% block js %}
<script>
	$("#prov-id").on('keyup', function(){
		var title = $(this).val();
		title = title.toLowerCase();
		title = title.replace(/[^a-zA-Z0-9]+/g,"-",);
		$("#prov-slug").val(title + "-province");
	});
</script>


<script>
$(document).ready(function(){
$('#prov-id').on('change', function(event){
  var prov_name = $('#prov-id').val();
  if(prov_name == ''){
    console.log('empty')
  }else{
  $.ajax({
    url: '{% url "umapp:checkprovincename" %}',
    data:{
      'province_name':prov_name
    },
    dataType:"json",
    success:function(data){
      if (data.data.msg=='province available'){
        alert('province available')
        $('#prov-id').val(data.data.name)
        $('#prov-btn').prop("disabled",false);
      }else{
        alert("province not available")
        $('#prov-id').val(data.data.name)
        $('#prov-btn').prop("disabled",true);
      }
    }
  });
  };
});
});

</script>

{% endblock  %}