{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block content %}
<div class="row" style="margin: 20px">
  <div class="col-md-12">
    <span>
    <a
      class="btn btn-success pull-right"
      data-toggle="modal"
      data-target="#createprovince"
      style="
        background-color: #00b3b3;
        border-radius: 10px;
        width: 300px;
        margin: 10px;
        float: right;
      "
      >Create Province</a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sn.</th>
          <th scope="col">province name</th>
          <th scope="col">province slug</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for prov in province %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{prov.name}}</td>
          <td>{{prov.slug}}</td>
          <td>
          <a href="" data-toggle="modal" data-target="#update-modal" data-remote="{% url 'umapp:provinceedit' prov.id %}" class="btn-sm btn-warning" title="Update">Update</a>
          <a href="" data-toggle="modal" data-target="#delete-modal" data-remote="{% url 'umapp:provincedelete' prov.id %}" class="btn-sm btn-danger ">delete</a>  
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createprovince" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Province</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
      <div class="modal-body">
        <div class="row">
        {% csrf_token %}

        <div class="col-md-5">
        <label for="">Name</label>
        {{provinceform.name}}
        </div>
        <div class="col-md-5">
        {% comment %} <label for="">Slug</label> {% endcomment %}
        <span style="display:none;">{{provinceform.slug}}</span>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
	$("body").on('keyup', '#id_name', function(){
		var title = $(this).val();
		title = title.toLowerCase();
		title = title.replace(/[^a-zA-Z0-9]+/g, "-");
		$("#id_slug").val(title);
	});
</script>


{% endblock %}