<div class="modal-header">
<h5 class="modal-title" id="mySmallModalLabel">Delete</h5>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	
</div>
<form method="POST" action="{% url 'umapp:provincedelete' object.id %}">
	{% csrf_token %}
	<div class="modal-body">
		<h5 class="mb-15">Are you sure you want to delete '{{object}}'?</h5>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default text-left" data-dismiss="modal">Close</button>
		<button class="btn btn-danger text-left">Confirm</button>
	</div>
</form>