
<div class="modal-header">
	<h5 class="modal-title" id="mySmallModalLabel">Update a Province {{object}} ?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<form method="POST" action="{% url 'umapp:provinceedit' object.id %}">
	{% csrf_token %}
	<div class="modal-body">
    <div class="row">
         <div class="col-md-5">
            <label for="">Name</label>
            {{form.name}}
            </div>
            <div class="col-md-5">
            {% comment %} <label for="">Slug</label> {% endcomment %}
            <span style="display:none;">{{form.slug}}</span>
			<label for="">Country</label>
			{{form.country}}
            </div>
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning text-left" data-dismiss="modal">Close</button>
		<button class="btn btn-primary text-left" id='prov-btn'>Update Province</button>
	</div>
</form>

{% block js %}

<script>
	$("body").on('keyup', '.prov-name', function(){
		var title = $(this).val();
		title = title.toLowerCase();
		title = title.replace(/[^a-zA-Z0-9]+/g, "-");
		$(".prov-slug").val(title);
	});
</script>


<script>
$(document).ready(function(){
$('#id_name').on('change', function(event){
  var prov_name = $('#id_name').val();
  if(prov_name == ''){
    console.log('empty')
  }else{
  $.ajax({
    url: '{% url "umapp:checkprovincename" %}',
    data:{
      'province_name':prov_name
    },
    dataType:"json",
    success:function(data){
      if (data.data.msg=='province available'){
        alert('province available')
        $('#id_name').val(data.data.name)
        $('#prov-btn').prop("disabled",false);
      }else{
        alert("province not available")
        $('#id_name').val(data.data.name)
        $('#prov-btn').prop("disabled",true);
      }
    }
  });
  };
});
});

</script>

{% endblock  %}
