{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% block title %}Settings{% endblock %}
{% block settings %}active-title{% endblock %}
{% load static %} 

{% block css %}
<style>
#country_slug{
  visibility:hidden;
}

#dist-slug{
  visibility:hidden;
}

</style>



{% endblock  %}

{% block content %}
<div class="dt-content-wrapper">
  <div class="dt-content">
      <div class="row">
        <div class="col-xl-12">
          <select class="mb-3 paginate-by" name="paginate-by" id="paginate-by">
            <option value="25">Show 25</option>
            <option value="50">Show 50</option>
            <option value="100">Show 100</option>
          </select>
          <div class="card">
                    <div class="card-header card-nav border-bottom-0">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h3 class="dt-card__title" id="settings-title"></h3>
                        </div>

                        <ul id="myTab" class="card-header-tabs nav nav-tabs nav-tabs-sm nav-scroll mx-0"
                            role="tablist">

                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="city" data-toggle="tab" href="#city" role="tab" aria-selected="false">City</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="district" data-toggle="tab" href="#district" role="tab" aria-selected="false">District</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="province" data-toggle="tab" href="#province" role="tab" aria-selected="false">Province</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link " id="country" data-toggle="tab" href="#country" role="tab" aria-selected="false">Country</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                      <div class="media-list media-separator" id="loadsettings">
                          <div class="loader"></div>                                   
                      </div>
                    </div>

                    </div>
                  </div>
  </div>
</div>



{% endblock  %}

{% block js %}


<script type="text/javascript">
   document.addEventListener('DOMContentLoaded', function () {
       if ( sessionStorage.getItem("settings") ){
           settings = sessionStorage.getItem("settings")
           $('.nav-link').removeClass('active');
           $('#'+ settings).addClass('active');
       }
       else{
           settings = sessionStorage.setItem("settings", "City")
       }
       $.ajax({
         url: '{% url "umapp:ajaxsettingscitysearch" %}',
         data: {
           'settings' : settings,
           'paginate_by': $('#paginate-by').val() || 25,
         },
         success: function(data){    
           $('#settings-title').text(settings + ' List')
           $('#loadsettings').html(data);
         }
       });
   });
 </script> 

<script>
  $(document).ready(function(){
    $('#myTab li').on('click', function(){
        var settings = $(this).find('a').attr('id');
        $('.nav-link').removeClass('active');
        $(this).find('a').addClass('active');
        $.ajax({
            url: '{% url "umapp:ajaxsettingscitysearch" %}',
            data: {
              'settings' : settings,
              'paginate_by': $('#paginate-by').val() || 25,
            },
            beforeSend: function() {
                $('#loadsettings').addClass('loader');

            },
            complete: function() {
                $('#loadsettings').removeClass('loader');
            },
            success: function(data){    
              $('#loadsettings').empty();
              $('#settings-title').text(settings + ' List')
              // console.log(data)
              $('#loadsettings').html(data);
              sessionStorage.setItem("settings", settings)
            }
          });
          });

        })
</script>

<script>
  $('body').on('click', '.page-link-next', function(e){
      e.preventDefault();
      var url1= $(this).attr('data-href');
      $.ajax({
          url : "{% url 'umapp:ajaxsettingscitysearch' %}"+url1,
          data: {
              'settings': sessionStorage.getItem("settings"),
              'keyword': $('.search-input').val(),
          },
          beforeSend: function () {
                  $('.page-link-next').html('Loading');
                  $('.page-link-next').prop('disabled', true);
          },
          complete: function () {
              // $('.page-link-next').removeClass('Load More');
              $('.page-link-next').prop('disabled', false);
          },
          success: function(data){
              const doc = document.createElement("div");
              doc.innerHTML = data;
              $('#load-more-data').append(doc.querySelector('#load-more-data').innerHTML);
              $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
          }

      });
  });
</script>

<script>
  $('body').on('click', '.page-link-number', function(e){
      e.preventDefault();
      var url1= $(this).attr('data-href');
      $.ajax({
          url : "{% url 'umapp:ajaxsettingscitysearch' %}"+url1,
          data: {
              'settings': sessionStorage.getItem("settings"),
              'keyword': $('.search-input').val(),
          },
          beforeSend: function () {
              $('#loadsettings').addClass('loader');

          },
          complete: function () {
              $('#loadsettings').removeClass('loader');
          },
          success: function(data){
              const doc = document.createElement("div");
              doc.innerHTML = data;
              $('#load-more-data').html(doc.querySelector('#load-more-data').innerHTML);
              $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
          }

      });
  });
</script>

<script>
  $('body').keypress('.search-input', function(event){
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if(keycode == '13'){
          var keyword = $('.search-input').val();
          $.ajax({
              url: "{% url 'umapp:ajaxsettingscitysearch' %}",
              data: {
                  'settings': sessionStorage.getItem("settings"),
                  'keyword': keyword,
                  'paginate_by': $('#paginate-by').val() || 25,
              },
              beforeSend: function () {
                  $('#loadsettings').addClass('loader');
              },
              complete: function () {
                  $('#loadsettings').removeClass('loader');
              },
              success: function(data){
                  const doc = document.createElement("div");
                  doc.innerHTML = data;
                  $('#load-more-data').html(doc.querySelector('#load-more-data').innerHTML);
                  $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
              }
          })
      }
  })
</script>

<script>
  $('#paginate-by').on('change', function(e){
      e.preventDefault();
      $.ajax({
          url: "{% url 'umapp:ajaxsettingscitysearch' %}",
          data: {
              'settings': sessionStorage.getItem("settings"),
              'paginate_by': $('#paginate-by').val() || 25,
              'keyword': $('.search-input').val(),
          },
          beforeSend: function () {
              $('#loadsettings').addClass('loader');
          },
          complete: function () {
              $('#loadsettings').removeClass('loader');
          },
          success: function(data){
              const doc = document.createElement("div");
              doc.innerHTML = data;
              $('#load-more-data').html(doc.querySelector('#load-more-data').innerHTML);
              $('#load-more-button').html(doc.querySelector('#load-more-button').innerHTML);
          }
      })
  });
</script>

{% endblock %}