{% extends 'logisticstemplates/logisticsadminbase.html' %}
{% load static %}
{% block title %}Support Ticket{% endblock%}
{% block ticket %}active-title{% endblock %}
{% block css %}
<style>
.checkbox-select{
    margin:10px;
    width:20px;
    height:20px;
    cursor:pointer;
}

.checkbox-select-all{
    width:20px;
    height:20px;
    cursor:pointer;
}

</style>

{% endblock css %}


{% block content %}

<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="row">

    <!-- Grid Item -->
    <div class="col-xl-12">

        <!-- Module -->
        <div class="dt-module">

            <!-- Module Container -->
            <div class="dt-module__container" style="max-width:100%!important;">

                <!-- Module Header -->
                {% comment %} <div class="dt-module__header d-none d-md-flex">

                    <!-- Search Box -->
                    <form class="search-box ml-n4" id = 'serach-form'>
                        <input id='keyword-id' class="form-control border-0 shadow-none bg-focus form-control-sm"
                               placeholder="Search for customer..." value=""
                               type="search"> <span class="search-icon"><i
                                class="icon icon-search icon-lg"></i></span>
                    </form>
                    <!-- /search box -->

                </div> {% endcomment %}
                <!-- /module header -->

                <!-- Module Content -->
                <div class="dt-module__content ps-custom-scrollbar">

                    <!-- Module Content Inner -->
                    <div class="dt-module__content-inner">
                    <h3 style='text-align:center'> Nofifications List</h3>

                        <div class="px-1 pb-4 border-bottom border-w-2 mb-1 mt-n1">
                            <!-- Dropdown -->
                            {% comment %} <div class="dropdown"> {% endcomment %}

                                <!-- Checkbox -->
                                {% comment %} <span class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-3">
                                    <input id="option-checkbox" type="checkbox">
                                    <label class="font-weight-light dt-checkbox-content" for="option-checkbox">
                                        <span class="unchecked"><i class="icon icon-box-o icon-fw icon-xl"></i></span>
                                        <span class="checked"><i class="icon icon-box-check-o icon-fw icon-xl text-primary"></i></span>
                                    </label>
                                </span> {% endcomment %}
                                <input class='checkbox-select-all' type="checkbox" name="" id="" style='margin:5px;'>
                                <!-- /checkbox -->

                                <!-- Dropdown Button -->
                                {% comment %} <a href="#" class="dropdown-toggle text-dark" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" style='margin:10px;'> None </a>
                                <!-- /dropdown button -->

                                <!-- Dropdown Menu -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)">All</a>
                                    <a class="dropdown-item" href="javascript:void(0)">Mark as Read</a>
                                    <a class="dropdown-item" href="javascript:void(0)">Unread</a>
                                    <a class="dropdown-item" href="javascript:void(0)">Starred</a>
                                </div> {% endcomment %}
                                <!-- /dropdown menu -->
                                <select name="status" id="status-id">
                                    <option data-filter='none' value="None">None</option>
                                    <option data-filter='mark_as_read' value="mark_as_read">Mark as read</option>
                                </select>

                            {% comment %} </div> {% endcomment %}
                            <!-- /dropdown -->
                            
                        </div>

                        <!-- Module List -->
                        <div class="dt-module__list">
                            {% if ticketstatuslist.count >= 1 %}
                            {% for ticket in ticketstatuslist %}
                            <!-- Module Item -->
                            <div class="dt-module__list-item">

                                <!-- Checkbox -->
                                {% comment %} <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                                    <input id="icon-checkbox-1" type="checkbox">
                                    <label class="font-weight-light dt-checkbox-content"
                                           for="icon-checkbox-1">
                                        <span class="unchecked"><i
                                                class="icon icon-box-o icon-fw icon-xl"></i></span>
                                        <span class="checked"><i
                                                class="icon icon-box-check-o icon-fw icon-xl text-primary"></i></span>
                                    </label>
                                </div> {% endcomment %}
                                    <input class='checkbox-select' data-id='{{ticket.id}}' type="checkbox" id="status-check-id">
                                <!-- /checkbox -->

                                <!-- Avatar -->
                                <img class="dt-avatar mr-4" src="{% static '/assets/images/user-avatar/amay.jpg' %}"
                                     alt="Reece Jacklin">
                                <!-- /avatar -->

                                <!-- Module Content -->
                                <div class="dt-module__list-item-content">
                                     <div class="user-detail">
                                        <span class="user-name"><small>(#{{ticket.id}})</small>{{ticket.raised_by.full_name}}</span>
                                        <span class="dt-separator-v">&nbsp;</span>
                                        <span class="designation">{{ticket.raised_by.city}}</span>
                                        <span class="dt-separator-v">&nbsp;</span>
                                        <span class="designation">{{ticket.issue_detail|truncatechars:50}}</span>
                                    </div>
                                    <div class="text-light-gray">
                                        <span class="d-inline-block mr-3">{{ticket.raised_by.user.email}}</span>
                                        <span class="d-inline-block">{{ticket.raised_by.contact_number}}</span>
                                    </div>
                                </div>
                                <!-- /module content -->

                                <!-- Module Info -->
                                <div class="dt-module__list-item-info">
                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <a class="dropdown-toggle no-arrow" href="#"
                                           data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <i class="icon icon-vertical-more icon-xl text-light-gray"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{% url 'lmsapp:operatorcustomerticketdetail' ticket.id %}"> <i
                                                    class="icon icon-editors icon-fw"></i> Detail
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /dropdown -->
                                </div>
                                <!-- /module info -->
                            </div>
                            <!-- /module item -->
                            {% endfor %}
                            {% else %}
                            <h1 style='text-align:center;padding-top:30px;'> No Notifications </h1>
                            {% endif %}
                          


                        </div>
                        <!-- /module list -->

                    </div>
                    <!-- /module content inner -->

                </div>
                <!-- /module content -->

            </div>
            <!-- /module container -->

        </div>
        <!-- /module -->

    </div>
    <!-- /grid item -->

</div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
$('.checkbox-select').on('change', function(e){
    var check = $(this).attr('data-id')
    if(check != ''){
        $('#status-id').on('change', function(){
            var status = $('#status-id').val()
        if(status == 'mark_as_read'){
        $.ajax({
            data:{
                'check_id':check,
            },
            success:function(){
                console.log('success')
                location.reload();
            }
        });
        }else{
            alert('other status')
        }
        })
    } else{
        alert('off')
    }
});

</script>

<script>
$('.checkbox-select-all').on('change', function(){
    if ($(this).prop('checked')==true){
        $('.dt-module__list-item [type="checkbox"]').each(function(row, element){
        $(this).prop('checked',true);
        $('#status-id').on('change', function(){
            var status = $('#status-id').val()
            if(status == 'mark_as_read'){
            $.ajax({
            data:{
                'mark_all_read':'mark_all_read'
            },
            success:function(){
                location.reload();
            }
            })
            }else{
                alert('select all')
            }
        });
        });
    }else{
        $('.dt-module__list-item [type="checkbox"]').each(function(row, element){
        $(this).prop('checked',false);
    });
    }
});
</script>

{% endblock js %}