{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- /meta tags -->
    <title>SignUp - Logistics Company</title>

    <!-- Site favicon -->
    <link rel="shortcut icon" href="{% static 'logisticsstatic/favicon.png' %}" type="image/x-icon">
    <!-- /site favicon -->

    <!-- Font Icon Styles -->
    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/fonts/noir-pro/styles.css' %}">
    <link rel="stylesheet" href="{% static 'logisticsstatic/plugins/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/vendor/gaxon-icon/styles.css' %}">
    <!-- /font icon Styles -->

    <!-- Perfect Scrollbar stylesheet -->
    <link rel="stylesheet" href="{% static 'logisticsstatic/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}">
    <!-- /perfect scrollbar stylesheet -->

    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/plugins/owl.carousel/css/owl.carousel.min.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/plugins/chartist/css/chartist.min.css' %}"
        media="all" />

    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/css/default/theme-semidark.min.css' %}">

    <script>
        var rtlEnable = '';
        var $mediaUrl = 'https://drift-admin.g-axon.work/';
        var $baseUrl = 'https://drift-admin.g-axon.work/';
        var current_path = window.location.href.split('https://drift-admin.g-axon.work/').pop();
       
    </script>

    <script src="{% static 'logisticsstatic/plugins/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/plugins/moment/js/moment.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Perfect Scrollbar jQuery -->
    <script src="{% static 'logisticsstatic/plugins/perfect-scrollbar/js/perfect-scrollbar.min.js' %}"></script>
    <!-- /perfect scrollbar jQuery -->


    {% block css %}
    <style>
    input::-webkit-inner-spin-button, 
    input::-webkit-outer-spin-button { 
          -webkit-appearance: none;
          appearance: none;
          margin: 0; 
      }
    input[type=number]{
          -moz-appearance: textField;


      }

    select { 
        /* for Firefox */ 
        -moz-appearance: none; 
        /* for Safari, Chrome, Opera */ 
        -webkit-appearance: none; 
      } 
  
      /* for IE10 */ 
    select::-ms-expand { 
        display: none; 
      } 
    </style>
    {% endblock %}

</head>

<body class="dt-layout--default dt-sidebar--fixed dt-header--fixed">
    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10">
                </circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <div class="dt-root">
        <div class="dt-root__inner">
            <div class="dt-login--container" >
    
                <!-- Login Content -->
                <div class="dt-login__content-wrapper" id="cnt">
    
                    <!-- Login Background Section -->
                    <div class="dt-login__bg-section" style="width:100%;">
    
                        <div class="dt-login__bg-content" >
                            <!-- Login Title -->
                            <h1 class="dt-login__title">Sign Up</h1>
                            <!-- /login title -->
                            {% if error %}
                            <p class="f-16">Error Attempt During Login</p>
                            <span style="color: rgb(208, 130, 130);">{{error}}</span>
                            {% else %}
                            <p class="f-16">Please, register to continue</p>
                            {% endif %}
                        </div>
        
                        <!-- Brand logo -->
                        <div class="dt-login__logo">
                            <a class="dt-brand__logo-link" href="{% url 'lmsapp:clienthome' %}">
                                <img class="dt-brand__logo-img" src="{% static 'logisticsstatic/favicon.png' %}" style="height: 60px; object-fit: contain;" alt="Organization">
                            </a>
                        </div>
                        <!-- /brand logo -->
    
                    </div>
                    <!-- /login background section -->
    
                    <!-- Login Content Section -->
                    <!-- <div class="dt-login__content"> -->
    
                        <!-- Login Content Inner -->
                        
                        <div class="dt-login__content-inner">
    
                            <!-- Form -->
                            
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Email *</label>
                                    {{form.email}}
                                    <span id="errorp" style="padding: 0; margin: 0; "></span> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Password *</label>
                                    {{form.password}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Full Name </label>
                                    {{form.full_name}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Contact Number</label>
                                    {{form.contact_number}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Company Name</label>
                                    {{form.company_name}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Customer Type</label>
                                    {{form.customer_type}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Address</label>
                                    {{form.address}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">City</label>
                                    {{form.city}}
                                </div>
                            </div>
                            

                                <!-- Form Group -->
                                <div class="dt-checkbox d-block mb-6">
                                    <input type="checkbox" id="checkbox-1">
                                    <label class="dt-checkbox-content" for="checkbox-1">
                                        Keep me login on this device
                                    </label>
                                </div>
                                <hr>
                                <!-- /form group -->
    
                                <!-- Form Group -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary text-uppercase register_button reg-btn ">Sign up</button>
                                    <span class="d-inline-block ml-4">Or
                                        <a class="d-inline-block font-weight-500 ml-3" href="{% url 'umapp:customerlogin'%}">Login</a>
                                    </span>
                                </div>
                                <!-- /form group -->
                            </div>


                                <div class="d-flex flex-wrap align-items-center">
                                    <span class="d-inline-block mr-2">Or connect with</span>
            
                                    <!-- List -->
                                    <ul class="dt-list dt-list-sm dt-list-cm-0 ml-auto">
                                        <li class="dt-list__item">
                                            <!-- Fab Button -->
                                            <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                                <i class="icon icon-facebook icon-xl"></i>
                                            </a>
                                            <!-- /fab button -->
                                        </li>
            
                                        <li class="dt-list__item">
                                            <!-- Fab Button -->
                                            <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                                <i class="icon icon-google-plus icon-xl"></i>
                                            </a>
                                            <!-- /fab button -->
                                        </li>
            
                                        <li class="dt-list__item">
                                            <!-- Fab Button -->
                                            <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                                <i class="icon icon-github icon-xl"></i>
                                            </a>
                                            <!-- /fab button -->
                                        </li>
            
                                        <li class="dt-list__item">
                                            <!-- Fab Button -->
                                            <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                                <i class="icon icon-twitter icon-xl"></i>
                                            </a>
                                            <!-- /fab button -->
                                        </li>
                                    </ul>
                                    <!-- /list -->
                                </div>
                            </form>
                            <!-- /form -->
    
                        </div>
                        <!-- /login content inner -->
    
                        <!-- Login Content Footer -->
                        <div class="dt-login__content-footer">
                            <a href="{% url 'umapp:customerfp' %}">Can’t access your account?</a>
                        </div>
                        <!-- /login content footer -->
    
                    <!-- </div> -->
                    <!-- /login content section -->
    
                </div>
                <!-- /login content -->
    
            </div>
        </div>
    </div>
    <!-- masonry script -->
    <script src="{% static 'logisticsstatic/plugins/masonry-layout/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/plugins/sweetalert2/js/sweetalert2.js' %}"></script>
    <script src="{% static 'logisticsstatic/assets/js/default/functions.js' %}"></script>
    <script src="{% static 'logisticsstatic/assets/js/default/customizer.js' %}"></script>

    <script src="{% static 'logisticsstatic/assets/js/default/script.js' %}"></script>




    <script>
        $('#id_email').on('keyup', function(e){
            e.preventDefault();
            var email = $(this).val();
            $('#errorp').css('display', 'none')
        
            var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (email.length != 0){
                if(email.match(mailformat)){
                    // console.log('success')
                    $.ajax({
                    url: "{% url 'umapp:usernamechecker' %}",
                    data: {
                        "usr": email,
                    },
                    success: function(data){
                        if (data.response == "yes"){
                            // alert("ALready Exist")
                            $('#errorp').css('display', 'block')
                            $("#errorp").text("Username already exists");
                            $("#errorp").css("color","red");
                           
                            
                        }
                        else {
                            // alert("Available")
                            $('#errorp').css('display', 'block')
                            $("#errorp").text("Username available");
                            $("#errorp").css("color","green");
                            
                            
                        }
                    }
                })
                } else{
                    console.log('not matched')
                }
            }
        })
        
        
    </script>





    <script type="text/javascript">
        $(document).ready(function() {
            $('.reg-btn').attr("disabled", true);
        });
        var fields = "#id_email, #id_password, #id_full_name, #id_contact_number, #id_company_name, #id_customer_type, #id_address, #id_city";
        
        $(fields).on('change', function() {
            if (allFilled()) {
                $('.register_button').removeAttr('disabled');
            } else {
                $('.register_button').attr('disabled', 'disabled');
            }
        });
        
        function allFilled() {
            var filled = true;
            $(fields).each(function() {
                if ($(this).val() == '') {
                    filled = false;
                }
            });
            return filled;
        }
        </script>
    
    {% block js %}
    {% endblock %}
</body>

</html>