{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="col-md-12" style="margin-top: 15px;">
  <div class="panel">
      <div class="panel-heading">
          <header>
              <div class="row">
                  <div class="col-md-12 text-center">
                    <h2>Your Profile</h2>
                  </div>
              </div>
            </header>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <img src="{% static 'lcstatic/assets/img/profile-lg.png' %}" alt="" style="height: 200px; width: 100%; object-fit: contain; border-radius: 10px;">
            </div>
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Name</th>
                        <th>{{customer}} ({{customer.customer_type}})</th>
                    </tr>
                    <tr class="text-center">
                        <th>Email</th>
                        <th>{{customer.user}}</th>
                    </tr>
                    <tr class="text-center">
                        <th>Company Name</th>
                        <th>{{customer.company_name}}</th>
                    </tr>
                    <tr class="text-center">
                        <th>Contact Number</th>
                        <th>{{customer.contact_number}}</th>
                    </tr>
                    {% if customer.alternative_contact_number %}
                    <tr class="text-center">
                        <th>Company Name</th>
                        <th>{{customer.alternative_contact_number}}</th>
                    </tr>
                    {% endif %}
                    <tr class="text-center">
                        <th>City</th>
                        <th>{{customer.city}}</th>
                    </tr>
                    <tr class="text-center">
                        <th>Address</th>
                        <th>{{customer.address}}</th>
                    </tr>
                    {% if customer.document1 %}
                    <tr class="text-center">
                        <th>Document 1</th>
                    <th><a class="btn btn-primary" href="{{customer.document1.url}}" target="_blank">View Document</a></th>
                    </tr>
                    {% endif %}
                    {% if customer.document2 %}
                    <tr class="text-center">
                        <th>Document 2</th>
                        <th><a class="btn btn-primary" href="{{customer.document2.url}}" target="_blank">View Document</a></th>
                    </tr>
                    {% endif %}
                    {% if customer.document3 %}
                    <tr class="text-center">
                        <th>Document 3</th>
                        <th><a class="btn btn-primary" href="{{customer.document3.url}}" target="_blank">View Document</a></th>
                    </tr>
                    {% endif %}
                    {% if customer.connected_logistics %}
                    <tr class="text-center">
                        <th>Connected Logistic Branches</th>
                        <th>
                            <a href="{% url 'lmsapp:customerconnectedlogistics' %}" target="_blank" class="btn btn-primary">View List</a>
                        </th>
                    </tr>
                    {% endif %}
                </thead>
            </table>
            <a class="btn btn-success" href="{% url 'lmsapp:customerprofilupdate' customer.id %}">Update Profile</a>
            <a class="btn btn-success" href="#changePasswordModal" data-toggle="modal">Update Password</a>

        </div>
      </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}