{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% load humanize %}
{% block title %}Raised Ticket{% endblock %}
{% block ticketraise %}active{% endblock %}

{% block content %}

<div class="page-wrapper">
	<div class="container-fluid">
		<!-- Title -->
		<div class="row heading-bg">
			{% comment %} <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			  <h5 class="txt-dark">POS</h5>
			</div> {% endcomment %}
			<!-- Breadcrumb -->
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			  <ol class="breadcrumb">
				<li><a href="">Dashboard</a></li>
				<li class="active"><span> Ticket List</span></li>
			  </ol>
			  
			</div>
			<!-- /Breadcrumb -->
		</div>
		<!-- /Title -->
		<!-- Row -->
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default card-view">
					<div class="panel-heading">
							<h1 class="panel-title txt-dark">Ticket</h1>
							{% if ticketexists is None or ticketexists.ticket_status == "Solved" %}
							<a class="btn btn-success pull-right" href="{% url 'lmsapp:customerticketcreate' %}" style="background-color: #00b3b3;border-radius:10px;width:300px">Raise Ticket
							</a>
							{% else %}
							<a id='unsolved-btn-id' class="btn btn-success pull-right" href="" style="background-color: #00b3b3;border-radius:10px;width:300px">Raise Ticket
							</a>
							{% endif %}
							<div class="actions pull-right">
							<i class="fa fa-expand"></i>
							<i class="fa fa-chevron-down"></i>
                    		</div><br>
						<div class="clearfix"></div>
							
					</div>
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
							<div class="table-wrap">
								<div class="table-responsive">
									<table id="example" class="table display pb-30 datatable" >
										<thead>
											<tr>
												<th>S.N.</th>
												<th>Created Date</th>
												<th>Updated Date</th>
												<th>Issue Detail</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>S.N.</th>
												<th>Created Date</th>
												<th>Updated Date</th>
												<th>Issue Detail</th>
											</tr>
										</tfoot>
										<tbody>
                                        {% for ticket in ticketlist %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{ticket.created_at}}</td>
                                                <td>{{ticket.updated_at}}</td>
											{% if ticket.ticket_status == 'Solved' %}
												<td><a style='text-decoration: line-through;' href="{% url 'lmsapp:customerticketdetail' ticket.id %}">{{ticket.issue_detail|truncatechars:20}}</a></td>
											{% else %}
											{% if ticket.customerticketfollowup_set.last.followup_by_type.model == 'logisticscustomer' %}
												<td>
													<a href="{% url 'lmsapp:customerticketdetail' ticket.id %}">{{ticket.issue_detail|truncatechars:20}}</a>
												</td>
											{% else %}
												{% if ticket.customerticketfollowup_set.last.status == 'Pending' %}
												<td>
													<a style='color:red;' href="{% url 'lmsapp:customerticketdetail' ticket.id %}">{{ticket.issue_detail|truncatechars:20}}</a>
												</td>
												{% else %}
												<td>
													<a href="{% url 'lmsapp:customerticketdetail' ticket.id %}">{{ticket.issue_detail|truncatechars:20}}</a>
												</td>
												{% endif %}
											{% endif %}
                                            </tr>
											{% endif %}
                                        {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Row -->
	</div>
	<!-- Footer -->

</div>

{% endblock content %}

{% block js %}
<script>
$('#unsolved-btn-id').on('click', function(e){
	e.preventDefault();
	toastr.warning('your Issue is Not solved yet!! please try after your previous issue is solved', 'warning')
	toastr.options = {
		"closeButton": false,
		"debug": false,
		"newestOnTop": false,
		"progressBar": false,
		"positionClass": "toast-top-right",
		"preventDuplicates": false,
		"onclick": null,
		"showDuration": "300",
		"hideDuration": "1000",
		"timeOut": "5000",
		"extendedTimeOut": "1000",
		"showEasing": "swing",
		"hideEasing": "linear",
		"showMethod": "fadeIn",
		"hideMethod": "fadeOut"
	}
});
</script>

{% endblock js %}