{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% load humanize %}
{% block title %}Quotation List{% endblock %}
{% block quotation %}active{% endblock %}
{% block css %}
{% endblock %}

{% block content %}

<div class="page-wrapper">
    <div class="container">
        <div class="card">
            <div>
                <div>
                    <h3 style="text-align: center; padding: 6px;">Review Quotations </h3>
                    <!-- <a href=""></a> -->
                </div>
                <div  class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover" style="padding: 6px;">
                                <thead>
                                    <tr>
                                        <div class="col-md-6">
                                            <th>Logistic Companies</th>
                                        </div>
                                        <div class="col-md-6">
                                            <th class="text-left">View Quotation </th>
                                        </div>

                                    </tr>
                                </thead>
                                {% for i in customerquotationlist %}
                                <tr>
                                    <div class="col-md-6">
                                        <td><li>{{i}}</li>
                                        </td>
                                    </div>
                                    <div class="col-md-6">
                                        <td><a href="{% url 'lmsapp:customerquotationdetail' i.pk %}"><i class="far fa-eye"></i></a></td>
                                    </div>

                                </tr>
                                {% endfor %}


                                

                            </table>

                        </div>

                    </div>
                    <!-- {% for i in customerquotationlist %}
                    <a href="{% url 'lmsapp:customerquotationdetail' i.pk %}"><li>{{i}}</li></a>
                    {% endfor %} -->

                

                </div>

            </div>
            
        </div>

    </div>

</div>

{% endblock%}