{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% load humanize %}
{% block title %}Upload Single Shipment{% endblock %}
{% block shipment %}active{% endblock %}
<!-- {% block single %}active{% endblock %} -->
{% block css %}


<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
    .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 34px;
    user-select: none;
    -webkit-user-select: none; }

/* line 131 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 32px; }
    
/* line 139 */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
</style>

{% endblock %}


{% block content %}
<div class="page-wrapper">
    <div class="container-fluid">
    <section id="main-content" class="animated fadeInUp">
    <a href="{% url 'lmsapp:customershipmentlist' %}"><h5><u>View Shipment Lists</u></h5></a>

  <div class="row">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h1 class="panel-title">Request a New Shipment</h1>

                  <div class="actions pull-right">
                      <i class="fa fa-expand"></i>
                      <i class="fa fa-chevron-down"></i>
                  </div>
              </div>
              <div class="panel-body">
                  <section class="fuelux">
                      <div id="MyWizard" class="wizard">
                          <ul class="steps">
                              <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Parcel Info<span class="chevron"></span>
                              </li>
                              <li data-target="#step2" ><span class="badge">2</span>Receiver Info<span class="chevron"></span>
                              </li>
                          </ul>
                          <div class="actions">
                              <button type="button" class="btn btn-default btn-mini btn-prev"> <i class="fa fa-chevron-left"></i> Prev</button>
                              <button type="button" class="btn btn-primary btn-mini btn-next" data-last="Finish">Next <i class="fa fa-chevron-right"></i>
                              </button>
                          </div>
                      </div>
                      <div class="step-content">
                          <form class="form-horizontal" method="post">
                              {% csrf_token %}
                              <div class="step-pane active" id="step1">
                                  <div class="form-group">
                                      <div class="col-sm-3">
                                          <h2 class="title">Required Fields</h2>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-3 control-label">Parcel Type</label>
                                      <div class="col-sm-6">
                                        {{form.parcel_type}}
                                          <span class="text-danger">{{form.parcel_type.errors}}</span>
                                          {{error}}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-3 control-label">Weight</label>
                                      <div class="col-sm-6">
                                        <!-- {{form.weight}} -->
                                       {{form.weight}}
                                        {{form.weight_unit}}
                                          <span class="text-danger">{{form.weight.errors}}</span>
                                          <span class="text-danger">{{form.weight_unit.errors}}</span>

                                          {% for error in form.non_field_errors %}
                                              <li class="text-danger">{{error}}</li>
                                          {% endfor %}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-3 control-label">Dimension (l*b*h cm)</label>
                                      <div class="col-sm-6">
                                        {{form.length}}
                                        {{form.breadth}}
                                        {{form.height}}
                                        {{form.length_unit}}
                                          <span>{{form.length.errors}}</span>
                                          <span>{{form.breadth.errors}}</span>
                                          <span>{{form.height.errors}}</span>
                                          <span>{{form.length_unit.errors}}</span>

                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">Payment Type </label>
                                    <div class="col-sm-6">
                                        {{form.cod_info}}
                                        <span class="text-danger">{{form.cod_info.errors}}</span>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label id='cod' class="col-sm-3 control-label">COD Value</label>
                                    <div class="col-sm-6">
                                        {{form.cod_value}}
                                        <span class="text-danger">{{form.cod_value.errors}}</span>
                                    </div>
                                    
                                </div>
                                
                                  <div class="form-group">
                                      <label class="col-sm-3 control-label">Request Pickup? </label>
                                      <div class="col-sm-6">
                                        {{form.request_pickup}}
                                          <span class="text-danger">{{form.request_pickup.errors}}</span>
                                      </div>
                                      
                                  </div>
                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">Request Dropoff? </label>
                                    <div class="col-sm-6">
                                        {{form.request_home_delivery}}
                                        <span class="text-danger">{{form.request_home_delivery.errors}}</span>
                                    </div>
                                    
                                </div>
                              </div>
                              <div class="step-pane" id="step2">
                                  <div class="form-group">
                                      <div class="col-sm-3">
                                          <h2 class="title">Required Fields</h2>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-3 control-label">Receiver name</label>
                                      <div class="col-sm-6">
                                        {{form.receiver_name}}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-3 control-label">Receiver Contact Number</label>
                                      <div class="col-sm-6">
                                        {{form.receiver_contact_number}}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-3 control-label">City</label>
                                      <div class="col-sm-6">
                                        {{form.receiver_city}}
                                      </div>
                                  </div>
                                <div class="form-group" id="available_branches_list">
                                    <label class="col-sm-3 control-label">Available Branches</label>
                                    <div class="col-sm-6" id="available_branches" >
                                        
                                    
                                    </div>
                                </div>
                                <div class="form-group" id="available_cost_list">
                                    <label class="col-sm-3 control-label">Cost</label>
                                    <div class="col-sm-6" id="available_cost" >
                                        
                                    
                                    </div>
                                </div>


                                  <div class="form-group">
                                      <label class="col-sm-3 control-label">Address</label>
                                      <div class="col-sm-6">
                                        {{form.receiver_address}}
                                      </div>
                                  </div>
                                  <span>{{form.branch_id}}</span>
                                  <span>{{form.city_id}}</span>
                                  <span>{{form.prices}}</span>

                              </div>
                          </form>
                      </div>
                  </section>
              </div>
          </div>
      </div>
  </div>
</section>
</div>
</div>

{% endblock %}

{% block js %}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="{% static 'lcstatic/assets/plugins/wizard/js/loader.min.js' %}"></script>

<script>

document.getElementById("id_cod_value").parentElement.style.display = "none"
document.getElementById("cod").style.display = "none"
document.getElementById("available_branches_list").style.display = "none"
document.getElementById("available_cost_list").style.display = "none"


document.getElementById("id_cod_info").addEventListener("change", function(){
    var selected = this.value;

    if(selected == "Cash on Delivery"){
      document.getElementById("id_cod_value").parentElement.style.display = "block"
      document.getElementById("cod").style.display = "block"
    }else{
      document.getElementById("id_cod_value").parentElement.style.display = "none"
      document.getElementById("cod").style.display = "none"
    }
  })
</script>


<script>
    $(document).ready(function() {
        $('#id_receiver_city').select2();

    });

$('form').on('focus', 'input[type=number]', function (e) {
  $(this).on('wheel.disableScroll', function (e) {
    e.preventDefault()
  })
})
$('form').on('blur', 'input[type=number]', function (e) {
  $(this).off('wheel.disableScroll')
})

</script>
<script>
    $('#id_receiver_city').on('change',function(){
        var selected = $(this).val();
        $('#id_city_id').val(selected)
        if (selected){
            document.getElementById("available_branches_list").style.display = "block"
        }
        $.ajax({
            url:"{% url 'lmsapp:getfilteredlogistics' %}",
            data:{
            "selected":selected,
            },
            success:function(data){
                console.log(data)
                $("#available_branches").html(data)
                $('#id-branch').on('change', function(){
                    var selected = $(this).val();
                    $('#id_branch_id').val(selected)
                    if (selected =="0"){
                        document.getElementById("available_cost_list").style.display = "none"
                    }
                    else{
                        document.getElementById("available_cost_list").style.display = "block"
                    }
                     
                    var cityId = $(this).attr("data-city-id")
                    $.ajax({
                        url:"{% url 'lmsapp:branchcost' %}",
                        data:{
                            "selected":selected,
                            "cityId": cityId,
                        },
                        success: function(data){
                            
                            console.log(data.shippingzonedeliverytype[0].additional_shipping_charge_per_kg)
                            
                            html_content = `
                            <table class="table table-responsive table-stripped" id="cost_table">
                                <thead>
                                    <tr>
                                        <th style="width:150px;">Shipping Charge/Kg</th>
                                        <th>Additional shipping Charge/Kg</th>
                                        <th style="width:150px;">COD Handling Charge</th>
                                        <th style="width:130px;">Rejection Handling Charge</th>
                                        
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>${data.shippingzonedeliverytype[0].shipping_charge_per_kg}</td>
                                                <td>${data.shippingzonedeliverytype[0].additional_shipping_charge_per_kg}</td>
                                                <td>${data.shippingzonedeliverytype[0].cod_handling_charge}</td>
                                                <td>${data.shippingzonedeliverytype[0].rejection_handling_charge}</td>
                                        </tr>

                                        </tbody>
                                        
                                        
                                        </table>
                                        `
                                        
                                        document.getElementById('available_cost').innerHTML = html_content;

                                        
                                        var ids = $('#id-branch').val();
                                        $.ajax({
                                            url: "{% url 'lmsapp:customershipmentcreate' %}",
                                            data:{
                                                'ids':ids
                                            }

                                        })
                                    
                                        
                                    }
                                })
                })
                
            }
        })

    });
</script>

<script type="text/javascript">
    $('.btn-next').on('click', function(){
        if ($(this).text() == 'Finish'){
            var parcel_type = $('#id_parcel_type').val();
            var weight = $('#id_weight').val();
            var weight_unit = $('#id_weight_unit').val();
            var length = $('#id_length').val();
            var breadth = $('#id_breadth').val();
            var height = $('#id_height').val();
            var length_unit = $('#id_length_unit').val();
            var request_pickup = $('#id_request_pickup').val();
            var request_home_delivery = $('#id_request_home_delivery').val();
            var receiver_name = $('#id_receiver_name').val();
            var receiver_contact_number = $('#id_receiver_contact_number').val();
            var receiver_city = $('#id_receiver_city').val();
            var receiver_address = $('#id_receiver_address').val();
            var cod_info = $('#id_cod_info').val();
            var cod_value = $('#id_cod_value').val();
            var delivery_type = $('#id_delivery_type').val();
            var branch = $('#available_branches').val();








            // var receiver_contact = $('#id_receiver_contact').val();
            // var receiver_alt_contact = $('#id_receiver_alt_contact').val();
            // var dropoff_city = $('#id_dropoff_city').val();
            // var dropoff_street_address = $('#id_dropoff_street_address').val();
            // var parcel_weight = $('#id_parcel_weight').val();
            // var receiver_email = $('#id_receiver_email').val();
            // var parcel_length = $('#id_parcel_length').val();
            // var parcel_width = $('#id_parcel_width').val();
            // var parcel_height = $('#id_parcel_height').val();
            // var parcel_total = $('#id_parcel_total').val();
            // var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

            




            if (weight == ""){
                weight = 200
            }
            if (length == ""){
                length = 25
            }
            if (breadth == ""){
                breadth = 25
            }
            if (height == ""){
                height = 5
            }
            // if (branch == 0){}
            if (!receiver_city) {
                toastr.error('Please select city', 'City Error')
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                return;
            }

           
            // alert(receiver_name)
            if (receiver_name.length == 0 || receiver_contact_number.length == 0 || receiver_address.length == 0 || weight.length == 0) {
                toastr.error('Please fillout all required fields properly', 'Error empty field')
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                return;
            } else if (receiver_contact_number.length != 10) {
                toastr.error('Enter Valid Contact Number of length 10', 'Contact Field Error')
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                return;
            }


            // if (branch == ""){
            //     toastr.error('No Branches available for this city')
            //     toastr.options = {
            //         "closeButton": false,
            //         "debug": false,
            //         "newestOnTop": false,
            //         "progressBar": false,
            //         "positionClass": "toast-top-right",
            //         "preventDuplicates": false,
            //         "onclick": null,
            //         "showDuration": "300",
            //         "hideDuration": "1000",
            //         "timeOut": "5000",
            //         "extendedTimeOut": "1000",
            //         "showEasing": "swing",
            //         "hideEasing": "linear",
            //         "showMethod": "fadeIn",
            //         "hideMethod": "fadeOut"
            //     }
            //     return;

            // }
            $('form').submit();
        }
    })
</script>

<script>
$('form').on('submit', function(e){
    var branch = $('#id-branch').val();
    if(branch == 0){
        e.preventDefault();
        toastr.error('Please select branch', 'branch Error')
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    }else{
        console.log("pass")
    }
})


</script>

<!-- <script>

document.getElementById("available_branches_list").style.display = "block"


</script> -->

{% endblock %}
