{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- /meta tags -->
    <title>Login - Logistics Company</title>

    <!-- Site favicon -->
    <link rel="shortcut icon" href="{% static 'logisticsstatic/favicon.png' %}" type="image/x-icon">
    <!-- /site favicon -->

    <!-- Font Icon Styles -->
    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/fonts/noir-pro/styles.css' %}">
    <link rel="stylesheet" href="{% static 'logisticsstatic/plugins/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/vendor/gaxon-icon/styles.css' %}">
    <!-- /font icon Styles -->

    <!-- Perfect Scrollbar stylesheet -->
    <link rel="stylesheet" href="{% static 'logisticsstatic/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}">
    <!-- /perfect scrollbar stylesheet -->

    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/plugins/owl.carousel/css/owl.carousel.min.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/plugins/chartist/css/chartist.min.css' %}"
        media="all" />

    <link rel="stylesheet" href="{% static 'logisticsstatic/assets/css/default/theme-semidark.min.css' %}">

    <script>
        var rtlEnable = '';
        var $mediaUrl = 'https://drift-admin.g-axon.work/';
        var $baseUrl = 'https://drift-admin.g-axon.work/';
        var current_path = window.location.href.split('https://drift-admin.g-axon.work/').pop();
       
    </script>

    <script src="{% static 'logisticsstatic/plugins/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/plugins/moment/js/moment.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Perfect Scrollbar jQuery -->
    <script src="{% static 'logisticsstatic/plugins/perfect-scrollbar/js/perfect-scrollbar.min.js' %}"></script>
    <!-- /perfect scrollbar jQuery -->

</head>

<body class="dt-layout--default dt-sidebar--fixed dt-header--fixed">
    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10">
                </circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <div class="dt-root">
        <div class="dt-root__inner">
            <div class="dt-login--container">
    
                <!-- Login Content -->
                <div class="dt-login__content-wrapper">
    
                    <!-- Login Background Section -->
                    <div class="dt-login__bg-section">
    
                        <div class="dt-login__bg-content">
                            <!-- Login Title -->
                            <h1 class="dt-login__title">Reset Your Password</h1>
                            <!-- /login title -->
                            {% if error %}
                            <p class="f-16">Error Attempt During Reset Password</p>
                            <span style="color: rgb(208, 130, 130);">{{error}}</span>
                            {% else %}
                            <p class="f-16">Welcome user, please provide your email to reset your password. </p>
                            {% endif %}
                        </div>
        
                        <!-- Brand logo -->
                        <div class="dt-login__logo">
                            <a class="dt-brand__logo-link" href="{% url 'lmsapp:clienthome' %}">
                                <img class="dt-brand__logo-img" src="{% static 'logisticsstatic/favicon.png' %}" style="height: 60px; object-fit: contain;" alt="Organization">
                            </a>
                        </div>
                        <!-- /brand logo -->
    
                    </div>
                    <!-- /login background section -->
    
                    <!-- Login Content Section -->
                    <div class="dt-login__content">
    
                        <!-- Login Content Inner -->
                        <div class="dt-login__content-inner">
    
                            <!-- Form -->
                            <form method="POST">
                                {% if request.GET.m == 's' %}
                                <div class="col-md-12">
                                    <p style="font-size: 25px;">Reset Link has been sent.<br> Please Check Your Email Immediatly</p>
                                </div>
                                {% else %}
                                
                                {% csrf_token %}
                                <!-- Form Group -->
                                <div class="form-group search-box right-side-icon mw-100">
                                    <label class="sr-only" for="email-1">Email address</label>
                                    {{form.email}}
                                    <br>
                                    <span style="color: rgb(208, 130, 130);">{{form.email.errors}}</span>
                                    <span class="search-icon"><i class="icon icon-mail icon-lg"></i></span>
                                </div>
                                <!-- /form group -->

                                <p class="mb-8">Don't remember your email? &nbsp;
                                    <a class="small" href="#">Contact Support.</a>
                                </p>

                                <!-- Form Group -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary text-uppercase">Get Link</button>
                                </div>
                                <!-- /form group -->
                                {% endif %}
                            </form>
                            <!-- /form -->
    
                        </div>
                        <!-- /login content inner -->
    
                        <!-- Login Content Footer -->
                        
                        <!-- /login content footer -->
    
                    </div>
                    <!-- /login content section -->
    
                </div>
                <!-- /login content -->
    
            </div>
        </div>
    </div>
    <!-- masonry script -->
    <script src="{% static 'logisticsstatic/plugins/masonry-layout/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/plugins/sweetalert2/js/sweetalert2.js' %}"></script>
    <script src="{% static 'logisticsstatic/assets/js/default/functions.js' %}"></script>
    <script src="{% static 'logisticsstatic/assets/js/default/customizer.js' %}"></script>

    <script src="{% static 'logisticsstatic/assets/js/default/script.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>

</html>