{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% block title %}Logistic Companies{% endblock %}

{% block css %}
<style>
    .panel-body {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .panel-heading {
        padding: 0%;
        margin-bottom: 0%;
    }
</style>
{% endblock %}

{% block content %}
<div class="col-md-12" style="margin-top: 15px;">
    <div class="panel">
        <div class="panel-heading">
            <header>
                <h2 class="text-center"><a href="{% url 'lmsapp:customerlogisticcompanieslist' %}" class="fa fa-arrow-left" style="float: left;"></a>{{logisticcompanydetail.company_name}}</h2>
            </header>
        </div>
    </div>
</div>
<div class="col-md-8" id="view-mail-wrapper">
    <div class="panel">
        <div class="panel-heading">
            <header>
                <h3>Details</h3>
                <hr>
            </header>
        </div>
        <div class="panel-body">
            <div class="tab-wrapper tab-primary">
                <div class="form-group">
                    <label>Number of Branches:</label> {{logisticcompanydetail.logisticsbranch_set.count}}
                </div>
                <div class="form-group">
                    <label>Main Branch City:</label> {{logisticcompanydetail.company_city}}
                </div>
                <div class="form-group">
                    <label>Company Email:</label>{{logisticcompanydetail.company_email}}
                </div>
                {% if logisticcompanydetail.document1 %}
                <div class="form-group">
                    <label>Document 1:</label><a href="{{logisticcompanydetail.document1.url}}" target="_blank">View</a>
                </div>
                {% endif %}
                {% if logisticcompanydetail.document2 %}
                <div class="form-group">
                    <label>Document 2:</label><a href="{{logisticcompanydetail.document2.url}}" target="_blank">View</a>
                </div>
                {% endif %}
                {% if logisticcompanydetail.document3 %}
                <div class="form-group">
                    <label>Document 3:</label><a href="{{logisticcompanydetail.document3.url}}" target="_blank">View</a>
                </div>
                {% endif %}
                <div class="form-group">
                    <a href="{{logisticcompanydetail.company_website}}" target="_blank" class="btn btn-primary">Visit
                        Site</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div>
        <img style="height: 250px;width: 100%; object-fit:contain; margin-bottom: 20px;"
            src="{{logisticcompanydetail.company_logo.url}}" alt="">
    </div>
</div>

<div class="col-md-12" id="view-mail-wrapper">
    <div class="panel">
        <div class="panel-heading">
            <h3>Description</h3>
            <hr>
        </div>
        <div class="panel-body">
            <div class="form-group">
                {{logisticcompanydetail.company_description}}
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <header>
                <h3 class="text-center">{{logisticcompanydetail.company_name}}-Branches</h3>
            </header>
        </div>
    </div>
</div>

{% for branches in logisticcompanydetail.logisticsbranch_set.all %}
<div class="col-md-4" id="view-mail-wrapper">
    <div class="panel">
        <div class="panel-heading">
            <header>
                <h3>{{branches.branch_city}} Branch</h3>
                <hr>
            </header>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Contacts: </label>{{branches.branch_contact}}{% if branches.branch_alternative_contact != None %}
                & {{branches.branch_alternative_contact}}{% endif %}
            </div>
            <div class="form-group">
                <label>Email: </label>{{branches.branch_email}}
            </div>
            <div class="form-group">
                <label>Address:</label>{{branches.branch_address}}
            </div>
            <div class="form-group">
                <label>Main Branch:</label> {% if branches.is_main_branch == True %}<span
                    style="color: green;">Yes</span>{% else %}<span style="color: red;">No</span>{% endif %}
            </div>
            <div class="form-group">
                <a class="clickCoveragae_{{branches.id}}"><i class="fa fa-eye"></i> Coverages
                    Cities:{{branches.branch_coverage.count}}</a>
                <ol class="list_{{branches.id}}">
                    {% for city in branches.branch_coverage.all %}
                    <li>{{city}}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="form-group">
                {% if branches in request.user.logisticscustomer.connected_logistics.all %}
                <button disabled type="button" class="btn btn-success ">
                    Connected
                </button>
                {% else %}
                <button type="button" data-bId="{{branches.id}}" class="btn btn-primary connectBranch">
                    Connect
                </button>
                {% endif %}
                {% if branches.id in branch %}
                    <button disabled type="button" class="btn btn-warning" >
                        Contract Requested!
                    </button>
                {% else %}
                    <button type="button" data-branchId="{{branches.id}}" class="btn btn-primary modalShow" >
                        Request a Contract!
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="col-md-12">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modalText">
                    Are you sure you want to Request a Contract with this Branch?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" data-branchId="" class="btn btn-primary requestContract"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Connect!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modalText">
                    Are you sure you want to connect with this branch?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" data-branchId2="" class="btn btn-primary requestConnect"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('body').on('click', ".modalShow", function () {
            $("#exampleModal").modal('show')
            $('.requestContract').attr('data-branchId', $(this).attr('data-branchId'));

        })

    });
</script>
<script>
    $(document).ready(function () {
        $(".requestContract").on('click', function () {
            $.ajax({
                method: "POST",
                url: "{% url 'lmsapp:customerrequestcontract' %}",
                data: {
                    'branch_id': $(this).attr('data-branchId'),
                    "csrfmiddlewaretoken": "{{csrf_token}}"
                },
                success: function (data) {
                    location.reload()
                    // alert(data.success)
                }
            })
        })
    })
</script>
{% for branches in logisticcompanydetail.logisticsbranch_set.all %}
<script>
    $(document).ready(function () {
        $(".list_{{branches.id}}").hide()
        $("body").on('click', ".clickCoveragae_{{branches.id}}", function () {
            $(".list_{{branches.id}}").toggle()
        })
    })
</script>
{% endfor %}
<script>
    $(document).ready(function () {
        $('body').on('click', ".connectBranch", function () {
            $("#exampleModal2").modal('show')
            $('.requestConnect').attr('data-branchId2', $(this).attr('data-bId'));

        })

    })
</script>

<script>
    $(document).ready(function () {
        $(".requestConnect").click(function () {
            $.ajax({
                method: "POST",
                url: "{% url 'lmsapp:customerconnectlogistics' %}",
                data: {
                    "branch_id2": $(this).attr("data-branchId2"),
                    'csrfmiddlewaretoken': "{{csrf_token}}",
                },
                success: function (data) {
                    // alert(data.message)
                    location.reload()
                }
            })
        })
    })
</script>
{% endblock %}