<select name="" id="id-branch" data-city-id="{{city_id}}" class="form-control">
    <option value="0">--------</option>
    {% for branch in branches %}
    <option value="{{branch.id}}">{{branch}}</option>
    {% endfor %}
</select>
<script>
    $("#id-branch").select2();
</script>