{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% load humanize %}
{% block title %}Contract List{% endblock %}
{% block quotation %}active{% endblock %}
{% block css %}
{% endblock %}

{% block content %}

<div class="page-wrapper">
    <div class="container">
        <div class="card">
            <div>
                <div>
                    <h3 style="text-align: center; padding: 6px;">Quotation List</h3>
                    <!-- <a href=""></a> -->
                </div>
                
                <div>

                
                <select class="form-select" id="status" aria-label="Default select example">
                    <option  class="all" value="all"> All </option>
                    <option value="signed" id="one"> Signed Contracts</option>
                    <option value="rejected" id="two">Rejected Quotations</option>
                </select>
                </div>
                <div  class="panel-body">
                    <div class="row">
                        <div class="col-md-12" id="list-all">
                            <table class="table table-hover" style="padding: 6px;">
                                <thead>
                                    <tr>
                                        <div class="col-md-6">
                                            <th>Logistic Companies</th>
                                        </div>
                                        <div class="col-md-6">
                                            <th class="text-left">View Quotation </th>
                                        </div>

                                    </tr>
                                </thead>

                                
                                
                                {% for i in customercontractstatus %}
                                <tr>
                                    <div class="col-md-6">
                                        <td><li>{{i}}</li>
                                        </td>
                                    </div>
                                    <div class="col-md-6">
                                        <td><a href="{% url 'lmsapp:customerquotationdetail' i.pk %}"><i class="far fa-eye"></i></a></td>
                                    </div>

                                </tr>


                                {% endfor %}
                                


                                

                            </table>

                        </div>

                        <div class="col-md-12" id="list-signed">
                            <table class="table table-hover" style="padding: 6px;">
                                <thead>
                                    <tr>
                                        <div class="col-md-6">
                                            <th>Logistic Companies</th>
                                        </div>
                                        <div class="col-md-6">
                                            <th class="text-left">View Quotation </th>
                                        </div>

                                    </tr>
                                </thead>

                                
                                
                                {% for i in signed %}
                                <tr>
                                    <div class="col-md-6">
                                        <td><li>{{i}}</li>
                                        </td>
                                    </div>
                                    <div class="col-md-6">
                                        <td><a href="{% url 'lmsapp:customerquotationdetail' i.pk %}"><i class="far fa-eye"></i></a></td>
                                    </div>

                                </tr>


                                {% endfor %}
                                


                                

                            </table>

                        </div>

                        <div class="col-md-12" id="list-rejected">
                            <table class="table table-hover" style="padding: 6px;">
                                <thead>
                                    <tr>
                                        <div class="col-md-6">
                                            <th>Logistic Companies</th>
                                        </div>
                                        <div class="col-md-6">
                                            <th class="text-left">View Quotation </th>
                                        </div>

                                    </tr>
                                </thead>

                                
                                
                                {% for i in rejected %}
                                <tr>
                                    <div class="col-md-6">
                                        <td><li>{{i}}</li>
                                        </td>
                                    </div>
                                    <div class="col-md-6">
                                        <td><a href="{% url 'lmsapp:customerquotationdetail' i.pk %}"><i class="far fa-eye"></i></a></td>
                                    </div>

                                </tr>


                                {% endfor %}
                                


                                

                            </table>

                        </div>
                    </div>
                    <!-- {% for i in customerquotationlist %}
                    <a href="{% url 'lmsapp:customerquotationdetail' i.pk %}"><li>{{i}}</li></a>
                    {% endfor %} -->

                

                </div>

            </div>
            
        </div>

    </div>

</div>

{% endblock%}

{% block js %}


<script>

 
$( document ).ready(function() {
    document.getElementById("list-all").style.display="block"
    document.getElementById("list-signed").style.display="none"
    document.getElementById("list-rejected").style.display="none"

});

document.getElementById("status").addEventListener("change", function(){
    var selected = this.value;
    if(selected == "signed"){

    document.getElementById("list-signed").style.display="block"
    document.getElementById("list-rejected").style.display="none"
    document.getElementById("list-all").style.display="none"
    

    }else if(selected == "rejected"){

        document.getElementById("list-rejected").style.display="block"
    
    document.getElementById("list-all").style.display="none"
    document.getElementById("list-signed").style.display="none"

    

    }else if (selected == "all"){
        document.getElementById("list-all").style.display="block"
    
    document.getElementById("list-signed").style.display="none"
    document.getElementById("list-rejected").style.display="none"



    }
})



    

</script>

{% endblock %}