{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% block title %}Shipment List{% endblock %}
{% block shipment %}active{% endblock %}

{% block content %}
<div class="col-md-12" style="margin-top: 15px;">
  <div class="panel">
      <div class="panel-heading">
          <header>
              <div class="row">
                  <div class="col-md-6">
                    {% if status == 'requested' %}
                    <h2>Requested Shipment List</h2>
                    {% elif status == 'processing' %}
                    <h2>Processing Shipment List</h2>
                    {% elif status == 'dispatched' %}
                    <h2>Dispatched Shipment List</h2>
                    {% elif status == 'rejected' %}
                    <h2>Rejected Shipment List</h2>
                    {% elif status == 'returned' %}
                    <h2>Returned Shipment List</h2>
                    {% elif status == 'canceled' %}
                    <h2>Canceled Shipment List</h2>
                    {% else %}
                    <h2>All Shipment List</h2>
                    {% endif %}
                  </div>
                  <div class="col-md-6 text-right">
                    <div class="form-group mb-0">
                      <input style="height: 34px; border-radius: 3px;" class="searchShipment" type="text" value="{% if keyword %}{{keyword}}{% endif %}"
                          placeholder="Search Shipment">
                      <button type="button"  id="search_button" class="btn btn-success btn-icon">Search</button>
                    </div>
              </div>
              </div>
          </header>
      </div>
        <div class="col-md-12 text-center">
          <a class="btn btn-default" href="{% url 'lmsapp:customershipmentlist' %}?status=requested">Requested Shipments ({{requested}})</a>
          <a class="btn btn-info" href="{% url 'lmsapp:customershipmentlist' %}?status=processing">Processing Shipments ({{processing}})</a>
          <a class="btn btn-primary" href="{% url 'lmsapp:customershipmentlist' %}?status=dispatched">Dispatched Shipments ({{dispatched}})</a>
          <a class="btn btn-warning" href="{% url 'lmsapp:customershipmentlist' %}?status=rejected">Rejected Shipments ({{rejected}})</a>
          <a class="btn btn-success" href="{% url 'lmsapp:customershipmentlist' %}?status=delivered">Delivered Shipments ({{delivered}})</a><br>
          <a class="btn btn-danger" href="{% url 'lmsapp:customershipmentlist' %}?status=returned">Returned Shipments ({{returned}})</a>
          <a class="btn btn-default" href="{% url 'lmsapp:customershipmentlist' %}?status=canceled">Canceled Shipments ({{canceled}})</a>
          <a class="btn btn-primary" href="{% url 'lmsapp:customershipmentlist' %}?status=all">All Shipments ({{all}})</a>
        </div>
            <div class="col-md-12 text-right">
              <div class="form-group mb-0">
                <input style="height: 34px; border-radius: 3px;" id="customedate" class="input-daterange-datepicker" type="text" name="daterange" value="{% if date %}{{date}}{% else %}01/01/2021 - 01/31/2021{% endif %}"/>
                <button type="button"  id="range_button" class="btn btn-success btn-icon left-icon mr-2">Search By Date</button>
              </div>
          </div>
      <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>Shipment List</th>
                    <th>Reciver Info</th>
                    <th>Delivery Type</th>
                    <th>Shipping Charge</th>
                    <th>COD Handling Charge</th>
                    <th>Rejection Handling Charge</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody id="load-data">
                {% for shipment in shipmentlist %}
                <tr class="text-center">
                    <td><a>{{forloop.counter}}</a></td>
                    <td>
                      <a href="{% url 'lmsapp:customershipmentdetail' shipment.pk %}">{{shipment.tracking_code}}<br>
                        <small>
                          {{shipment.created_at|date}}<br>
                          {{shipment.created_at|time}}
                        </small>
                        
                    </a>
                  </td>
                    <td>
                      {{shipment.receiver_name}}<br>
                      {{shipment.receiver_contact_number}}<br>
                      {{shipment.receiver_address}}
                    </td>
                    <td>
                      {{shipment.delivery_type}}
                    </td>
          
                    <td class="shipping">Rs. {{shipment.shipping_charge}}</td>
                    <td class="cod">Rs. {{shipment.cod_handling_charge}}</td>
                    <td class="rejection">Rs. {{shipment.rejection_handling_charge}}</td>
                    <td><a href="{% url 'lmsapp:customershipmentdetail' shipment.pk %}"><i class="fa fa-eye" title="Shipment detail"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      <div class="col-md-12 text-center">
        {% if shipmentlist.has_other_pages %}
        <ul class="pagination theme-colored">
        {% if shipmentlist.has_previous %}
          <li class="page-item"><a href="?page=1">&laquo; first</a></li>
          <li><a href="?page={{ shipmentlist.previous_page_number }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% if shipmentlist.paginator.page_range|length > 10 %}

          {% for i in shipmentlist.paginator.page_range %}
            {% if i > shipmentlist.number|add:'-15' and i < shipmentlist.number|add:'-12' %}
            <li><a href="?page={{ i }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if shipmentlist.number > 4 %}
          <li><span>...</span></li>
          {% endif %}

          {% for i in shipmentlist.paginator.page_range %}
            {% if i > shipmentlist.number|add:'-4' and i < shipmentlist.number %}
            <li><a href="?page={{ i }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% for i in shipmentlist.paginator.page_range %}
            {% if shipmentlist.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% endif %}
          {% endfor %}

          {% for i in shipmentlist.paginator.page_range %}
            {% if i > shipmentlist.number and i < shipmentlist.number|add:'4' %}
            <li><a href="?page={{ i }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if shipmentlist.number == shipmentlist.paginator.page_range|length or shipmentlist.number == shipmentlist.paginator.page_range|length|add:'-1' or shipmentlist.number == shipmentlist.paginator.page_range|length|add:'-2' or shipmentlist.number == shipmentlist.paginator.page_range|length|add:'-3' %}
          {% else %}
          <li><span>...</span></li>
          {% endif %}

          {% for i in shipmentlist.paginator.page_range %}
            {% if i > shipmentlist.number|add:'12' and i < shipmentlist.number|add:'15' %}
            <li><a href="?page={{ i }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

        {% else %}

          {% for i in shipmentlist.paginator.page_range %}
          {% if shipmentlist.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% elif i > shipmentlist.number|add:'-15' and i < shipmentlist.number|add:'15' %}
            <li><a href="?page={{ i }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}

        {% endif %}

          {% if shipmentlist.has_next %}
            <li><a href="?page={{ shipmentlist.next_page_number }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">&raquo;</a></li>
            <li class="page-item"><a href="?page={{ shipmentlist.paginator.num_pages }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">last &raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}
      </div>
      </div>
    </div>
{% endblock %}
{% block js %}
<script>
  $("body").on('click','#search_button', function(){
      keyword = $(".searchShipment").val()
      status = '{{status}}'
      location.href = "{% url 'lmsapp:customershipmentlist' %}?status=" + status + "&keyword=" + keyword;
  })

	$('#customfilterbuttom').click(function() {
    $('#customform').toggle();
  });

	$('.input-daterange-datepicker').daterangepicker({
  		buttonClasses: ['btn', 'btn-sm'],
      applyClass: 'btn-info',
      cancelClass: 'btn-default'
  });

	$('#range_button').on('click', function(){
		$this = $(this);
		var custom_date = $("#customedate").val();
		var status = "{{status}}"
		location.href = "{% url 'lmsapp:customershipmentlist' %}?status=" + status + "&date=" + custom_date;
	});
</script>

{% endblock %}