{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}

{% block content %}
<div class="col-md-12" style="margin-top: 15px;">
    <div class="panel">
        <div class="panel-heading">
            <header>
                <div class="row">
                    <div class="col-md-6">
                        Payment List
                    </div>
                </div>
            </header>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Sn.</th>
                            <th>Logistics Branch</th>
                            <th>Company</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for branch in branches %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{branch.branch_city.name}}</td>
                            <td>{{branch.logistics_company.company_name}}</td>
                            <td><a href="{% url 'lmsapp:customerpaymentdetail' branch.id %}"> Detail </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}