{% extends 'customertemplates/logisticscustomerbase.html'%}
{% block title %}Upload Bulk Shipment{% endblock %}
{% block shipment %}active{% endblock %}


{% block content %}

<div class="dt-content-wrapper">
    <div class="dt-content">
        <div class="card">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <h3>Upload excel file in csv format only </h3>
            {{form.file}}
            <button type="submit">Submit</button>
            

            </form>

        </div>
    
    
    </div>
</div>



{% endblock %}