{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% load humanize %}
{% block title %}Connected Logistics{% endblock %}
{% block connectedlogistics %}active{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
<div class="col-md-12" style="margin-top: 15px;">
    <div class="panel">
        <div class="panel-heading">
            <header>
                <div class="row">
                    <div class="col-md-6">
                      <h2>Connected Logistic List</h2>
                    </div>
                    <!-- <div class="col-md-6 text-right">
                      <div class="form-group mb-0">
                        <input style="height: 34px; border-radius: 3px;" class="searchShipment" type="text" value="{% if keyword %}{{keyword}}{% endif %}"
                            placeholder="Search Shipment">
                        <button type="button"  id="search_button" class="btn btn-success btn-icon">Search</button>
                      </div>
                </div> -->
                </div>
            </header>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>S.N</th>
                      <th>Branch Name</th>
                      <th>Company</th>
                      <th>Action</th>
                  </tr>
              </thead>
              
              <tbody id="load-data">
                  {% for branch in conloglist %}
                  <tr>
                    <td><a>{{forloop.counter}}</a></td>
                    <td>
                        <a href="">{{branch.branch_city}} branch</a>
                    </td>
                    <td href="">{{branch.logistics_company}} company</td>
                    <td><a href=""><i class="fa fa-eye"></i></a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="col-md-12 text-center">
          {% if shipmentlist.has_other_pages %}
          <ul class="pagination theme-colored">
          {% if shipmentlist.has_previous %}
            <li class="page-item"><a href="?page=1">&laquo; first</a></li>
            <li><a href="?page={{ shipmentlist.previous_page_number }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
  
          {% if shipmentlist.paginator.page_range|length > 10 %}
  
            {% for i in shipmentlist.paginator.page_range %}
              {% if i > shipmentlist.number|add:'-15' and i < shipmentlist.number|add:'-12' %}
              <li><a href="?page={{ i }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
  
            {% if shipmentlist.number > 4 %}
            <li><span>...</span></li>
            {% endif %}
  
            {% for i in shipmentlist.paginator.page_range %}
              {% if i > shipmentlist.number|add:'-4' and i < shipmentlist.number %}
              <li><a href="?page={{ i }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
  
            {% for i in shipmentlist.paginator.page_range %}
              {% if shipmentlist.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% endif %}
            {% endfor %}
  
            {% for i in shipmentlist.paginator.page_range %}
              {% if i > shipmentlist.number and i < shipmentlist.number|add:'4' %}
              <li><a href="?page={{ i }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
  
            {% if shipmentlist.number == shipmentlist.paginator.page_range|length or shipmentlist.number == shipmentlist.paginator.page_range|length|add:'-1' or shipmentlist.number == shipmentlist.paginator.page_range|length|add:'-2' or shipmentlist.number == shipmentlist.paginator.page_range|length|add:'-3' %}
            {% else %}
            <li><span>...</span></li>
            {% endif %}
  
            {% for i in shipmentlist.paginator.page_range %}
              {% if i > shipmentlist.number|add:'12' and i < shipmentlist.number|add:'15' %}
              <li><a href="?page={{ i }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
  
          {% else %}
  
            {% for i in shipmentlist.paginator.page_range %}
            {% if shipmentlist.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > shipmentlist.number|add:'-15' and i < shipmentlist.number|add:'15' %}
              <li><a href="?page={{ i }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
  
          {% endif %}
  
            {% if shipmentlist.has_next %}
              <li><a href="?page={{ shipmentlist.next_page_number }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">&raquo;</a></li>
              <li class="page-item"><a href="?page={{ shipmentlist.paginator.num_pages }}&status={{status}}{% if keyword != 'none' %}&keyword={{keyword}}{% endif %}{% if date %}&date={{date}}{% endif %}">last &raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
          {% endif %}
        </div>
        </div>
      </div>
{% endblock%}