{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}

{% block content %}
<div class="col-md-12" style="margin-top: 15px;">
    <div class="panel">
        <div class="panel-heading">
            <header>
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                        Payment from {{branchdetail.branch_city.name}} Branch To {{request.user.logisticscustomer.full_name}}
                        </h3>
                    </div>
                </div>
            </header>
            <div class="panel-body" style="margin-top:10px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Sn.</th>
                            <th>Shipments</th>
                            <th>Total Shipping Charge</th>
                            <th>Total COD Handling Charge</th>
                            <th>Total Rejection Handling Charge</th>
                            <th>Discount/Extra</th>
                            <th>Total Service Charge</th>
                            <th>Total COD Value</th>
                            <th>Payment Confirmed By</th>
                            <th>Payment Slip</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payment_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{% for shipment in payment.shipments.all %}
                                    {{shipment}} |
                                {% endfor %}
                            </td>
                            <td>{{payment.total_shipping_charge}}</td>
                            <td>{{payment.total_cod_handling_charge}}</td>
                            <td>{{payment.total_rejection_handling_charge}}</td>
                            <td>{{payment.discount_or_extra}}</td>
                            <td>{{payment.total_service_charge}}</td>
                            <td>{{payment.total_cod_value}}</td>
                            <td>{{payment.payment_confirmed_by.full_name}}</td>
                            <td><a download="" href="{{payment.slip.url}}" style="color: darkolivegreen;"> download </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}