{% extends 'lctemplates/logisticscustomerbase.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="page-wrapper">
	<div class="container-fluid">
		<!-- Title -->
		<div class="row heading-bg">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			</div>
			<!-- Breadcrumb -->
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
				<ol class="breadcrumb">
				</ol>
			</div>
			<!-- /Breadcrumb -->
		</div>
		<!-- /Title -->

		<!-- Row -->
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default card-view">
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
                            <h3 style="text-align:center;">Payment To Logistics</h3>
							<div class="form-wrap">
								<form method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-xs-6 col-sm-6">
													<div class="form-group">
                                                        <label for="">shipments</label>
                                                        {{form.shipments}}
													</div>
												</div>

												<div class="col-xs-6 col-sm-6">
													<div class="form-group">
													</div>
												</div>
												<div class="col-xs-12 col-sm-12">
													<div class="form-group">
														<!-- <label class="control-label mb-10">Discount</label>
														{{form.discount_or_extra}} -->
													</div>
												</div>

												<div class="col-xs-12 col-sm-12">
													<div class="form-group">
														<!-- <label class="control-label mb-10">Service Charge</label>
														{{form.total_service_charge}} -->
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-actions">
											<button class="btn btn-success btn-icon left-icon ml-15 mr-15"
												style='width:100%;margin-top:10px;'> <i class="fa fa-check"></i>
												<span>Save</span></button>
											<!-- <button 	type="reset" class="btn btn-warning">Reset</button> -->
											<div class="clearfix"></div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Row -->
	</div>
</div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#id_shipments').select2();
});

</script>


{% endblock %}