{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% block title %}Customer Payment Request{% endblock %}
{% block payment %}active{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
<div class="col-md-12" style="margin-top: 15px;">
  <div class="panel">
      <div class="panel-heading">
          <header>
              <div class="row">
                  <div class="col-md-6"><h2>Requset Payment</h2></div>
                </div>
            </header>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="">Branch</label>
                    {{form.logistic_branch}}
                </div>
            </form>
      </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
        $("body").on('change',"#selectBranch", function(){
            $.ajax({
                data:{
                    "branch_id":$(this).val()
                },
                success:function(){
                    alert("success")
                }
            })
        })
    })
</script>
{% endblock %}