{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% block title %}Shipment Detail{% endblock %}
{% block shipments %}active-title{% endblock %}
{% block css %}


{% endblock %}

{% block content %}
<section id="main-content" class="animated fadeInUp">
    <div class="row">
        <h2 class="text-center mt-4 mb-4">Shipment Details <br>
            <!-- <svg id="barcode">
            </svg> -->
        </h2>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center">Current Status: <span
                        class="badge badge-primary">{{shipment.shipmentactivity_set.last.shipment_status}}</span></h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Receiver Information</h3>
                <div class="actions pull-right">
                    <i class="fa fa-expand"></i>
                    <i class="fa fa-chevron-down"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Name :</label>
                    {{shipment.receiver_name}}
                </div>
                <div class="form-group">
                    <label>Contact :</label>
                    {{shipment.receiver_contact_number}}
                </div>
                <div class="form-group">
                    <label>City:</label>
                    {{shipment.receiver_city}}
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    {{shipment.receiver_address}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Payment Information</h3>
                <div class="actions pull-right">
                    <i class="fa fa-expand"></i>
                    <i class="fa fa-chevron-down"></i>
                </div>
            </div>
            <div class="panel-body">
                {% if shipment.cod_value > 0 %}
                <div class="form-group">
                    <label>Shipment Value:</label>
                    <span class="text-dark float-right">Rs. {{shipment.cod_value}}</span>
                </div>
                {% endif %}
                {% if shipment.pickup_charge > 0 %}
                <div class="form-group">
                    <label>Pickup Charge:</label>
                    <span class="text-dark float-right">Rs. {{shipment.pickup_charge}}</span>
                </div>
                {% endif %}
                {% if shipment.dropoff_charge > 0 %}
                <div class="form-group">
                    <label>Dropoff Charge:</label>
                    <span class="text-dark float-right">Rs. {{shipment.dropoff_charge}}</span>
                </div>
                {% endif %}
                {% if shipment.shipping_charge > 0 %}
                <div class="form-group">
                    <label>Shipping Charge: </label>
                    <span class="text-dark float-right">Rs. {{shipment.shipping_charge}}</span>
                </div>
                {% endif %}
                {% if shipment.cod_handling_charge > 0 %}
                <div class="form-group">
                    <label>COD Charge:</label>
                    <span class="text-dark float-right">Rs. {{shipment.cod_handling_charge}}</span>
                </div>
                {% endif %}
                {% if shipment.rejection_handling_charge > 0 %}
                <div class="form-group">
                    <label>Rejection Charge:</label>
                    <span class="text-dark float-right">Rs. {{shipment.rejection_handling_charge}}</span>
                </div>
                {% endif %}
                {% if shipment.extra_charge > 0 %}
                <div class="form-group">
                    <label>Extra Charge: </label>
                    <span class="text-dark float-right">Rs. {{shipment.extra_charge}}</span>
                </div>
                {% endif %}
                <div class="form-group">
                    <label>Total Charge: </label>
                    <span class="text-dark float-right">Rs. {{shipment.total_charge}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Parcel Information</h3>
                <div class="actions pull-right">
                    <i class="fa fa-expand"></i>
                    <i class="fa fa-chevron-down"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Tracking Code:</label>
                    {{shipment.tracking_code}}
                </div>
                <div class="form-group">
                    <label>Parcel Origin:</label>
                    {{shipment.parcel_origin}}
                </div>
                <div class="form-group">
                    <label>Created At:</label>
                    <span class="text-dark">{{shipment.created_at}}</span>
                    <span style="color: #FF4068;">{{shipment.created_at|timesince}} ago</span>
                </div>
                <div class="form-group">
                    <label>Parcel Weight :</label>
                    {{shipment.weight}} {{shipment.weight_unit}}
                </div>
                <div class="form-group">
                    <label>Dimenstion (l*b*h):</label>
                    {{shipment.length}}*{{shipment.breadth}}*{{shipment.height}} {{shipment.length_unit}}
                </div>
                <div class="form-group">
                    <label>Parcel Type:</label>
                    {{shipment.parcel_type}}
                    <div class="form-group">
                        <label>Delivery Type:</label>
                        {{shipment.delivery_type}}
                    </div>
                    <div class="form-group">
                        <label>Payment Type:</label>
                        {{shipment.cod_info}}
                    </div>
                    <div class="form-group">
                        <label>Current Shipment Status:</label>
                        {{shipment.shipmentactivity_set.last.shipment_status}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}