{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="page-wrapper">
	<div class="container-fluid">
		<!-- Title -->
		<div class="row heading-bg">
			{% comment %} <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			  <h5 class="txt-dark">POS</h5>
			</div> {% endcomment %}
			<!-- Breadcrumb -->
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			  <ol class="breadcrumb">
				<li><a href="">Dashboard</a></li>
				<li class="active"><span> Notice List</span></li>
			  </ol>
			  
			</div>
			<!-- /Breadcrumb -->
		</div>
		<!-- /Title -->
		<!-- Row -->
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default card-view">
					<div class="panel-heading">
							<h1 class="panel-title txt-dark">Notice</h1>
							<h3 style='text-align:center;'>Notice To {{request.user.logisticscustomer.full_name}}</h3>
							{% comment %} <a class="btn btn-success pull-right" href="{% url 'lmsapp:customerticketcreate' %}" style="background-color: #00b3b3;border-radius:10px;width:300px">Raise Ticket
							</a> {% endcomment %}
							<div class="actions pull-right">
							<i class="fa fa-expand"></i>
							<i class="fa fa-chevron-down"></i>
                    		</div><br>
						<div class="clearfix"></div>
							
					</div>
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
							<div class="table-wrap">
								<div class="row">
									<div class="col-md-12">
									{{noticedetail.notice}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Row -->
	</div>
	<!-- Footer -->

</div>

{% endblock content %}