{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="col-md-12" style="margin-top: 15px;">
  <div class="panel">
      <div class="panel-heading">
          <header>
              <div class="row">
                  <div class="col-md-12 text-center">
                    <h2>Profile Update</h2>
                  </div>
              </div>
            </header>
        </div>
        <div class="panel-body">
            <div class="col-md-12" style="justify-content: center;">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-6">
                        
                        <div class="form-group">
                            <label for="name">Name:</label><br>
                            {{form.full_name}}
                        </div>
                        <div class="form-group">
                            <label for="name">Customer Type:</label><br>
                            {{form.customer_type}}
                        </div>
                        <div class="form-group">
                            <label for="name">Company:</label><br>
                            {{form.company_name}}
                        </div>
                        <div class="form-group">
                            <label for="name">Contact No.:</label><br>
                            {{form.contact_number}}
                        </div>
                        <div class="form-group">
                            <label for="name">Alternative Contact No.:</label><br>
                            {{form.alternative_contact_number}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">City:</label><br>
                            {{form.city}}
                        </div>
                        <div class="form-group">
                            <label for="name">Address</label><br>
                            {{form.address}}
                        </div>
                        <div class="form-group">
                            <label for="name">Document 1:</label><br>
                            {{form.document1}}
                        </div>
                        <div class="form-group">
                            <label for="name">Document 2:</label><br>
                            {{form.document2}}
                        </div>
                        <div class="form-group">
                            <label for="name">Document 3:</label><br>
                            {{form.document3}}
                        </div>
                    </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}