{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}


{% block content %}
<div class="page-wrapper">
	<div class="container-fluid">
		<!-- Title -->
		<div class="row heading-bg">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			</div>
			<!-- Breadcrumb -->
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
				<ol class="breadcrumb">
				</ol>
			</div>
			<!-- /Breadcrumb -->
		</div>
		<!-- /Title -->

		<!-- Row -->
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default card-view">
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
							<div class="form-wrap">
								<form method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-xs-6 col-sm-6">
													<div class="form-group">
														{% comment %} <label class="control-label mb-10">Ticket raised
															From <span class="small text-danger"> </span></label> {%
														endcomment %}
														{% comment %} <div class="form-control"
															style="font-size: 14px; padding-top: 10px;"></div> {%
														endcomment %}
														{% comment %} <input type="text" value='{{request.user}}'
															disabled class='form-control'> {% endcomment %}
													</div>
												</div>

												<div class="col-xs-6 col-sm-6">
													<div class="form-group">
														{% comment %} <label class="control-label mb-10">Ticket raised
															To <span class="small text-danger"> </span></label> {%
														endcomment %}
														{% comment %} <div class="form-control"
															style="font-size: 14px; padding-top: 10px;"></div> {%
														endcomment %}
														{% comment %} <input type="text"
															value='{{request.user.logisticscustomer.creator_branch}}'
															disabled class='form-control'> {% endcomment %}
													</div>
												</div>
												{% comment %} <div class="col-xs-6 col-sm-6">
													<div class="form-group">
														<label class="control-label mb-10">Shop Type <span
																class="small text-danger"> </span></label>
														<div class="form-control"
															style="font-size: 14px; padding-top: 10px;"></div>
													</div>
												</div>
												<div class="col-xs-6 col-sm-6">
													<div class="form-group">
														<label class="control-label mb-10">Department</label>
														<br>
														<label class="control-label mb-10"
															style="font-size: 10px;">Select Ecommerce if ticket is
															related to ecommerce orders and select logistics if related
															to shipments</label>

													</div>
												</div>
												<div class="col-xs-6 col-sm-6">
													<div class="form-group">
														<label class="control-label mb-10">Issue Related To</label>
														<br>
														<label class="control-label mb-10"
															style="font-size: 10px;">Select According to Issue you are
															facing</label>

													</div>
												</div> {% endcomment %}
												<div class="col-xs-12 col-sm-12">
													<div class="form-group">
														<label class="control-label mb-10">Your Issue</label>
														{{form.issue_detail}}
													</div>
												</div>

												<div class="col-xs-12 col-sm-12">
													<div class="form-group">
														<label class="control-label mb-10">Related File * <small>(if
																any)</small></label>
														{{form.related_file}}
													</div>
												</div>
												<div class="col-xs-12 col-sm-12">
													<div class="form-group">
														<label class="control-label mb-10">Branch</label>
														{{form.raised_to}}
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-actions">
											<button class="btn btn-success btn-icon left-icon ml-15 mr-15"
												style='width:100%;margin-top:10px;'> <i class="fa fa-check"></i>
												<span>Save</span></button>
											<!-- <button 	type="reset" class="btn btn-warning">Reset</button> -->
											<div class="clearfix"></div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Row -->
	</div>
</div>

{% endblock content %}

{% block js %}
<script>
$(document).ready(function() {
    $('#id_raised_to').select2();
});
</script>
{% endblock js %}