{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% load humanize %}
<!-- {% block adminshipment %}active{% endblock %} -->
{% block css %}
{% endblock %}

{% block content %}


<!-- {{customerquotationdetail.first_party.branch_email}}
{% for i in zonalcontract %}

{{i.shipping_charge}}
{% endfor %} -->

<div class="page-wrapper">
    <div class="container" style="width: 120%;" >
        <div class="card">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Quotation Detail</h3>
                    <!-- <a href=""></a> -->
                </div>
                <div  class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Contract Information</h3><br>
                            {% if customerquotationdetail.status == "Active" and customerquotationdetail.is_signed == False %}
                            <button  type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#exampleModal">Confirm Quotation </button>
                            {% endif %}

                            {% if quotcontext.is_signed == True %}
                            
                            <button  type="button" class="btn btn-success pull-right">Quotation Signed</button>
                            {% elif quotcontext.status == 'Disabled'%}
                            <button  type="button" class="btn btn-danger pull-right" disabled>Quotation Rejected</button>
                            {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm quotation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <h2>DO YOU WANT TO PROCEED WITH THIS COST?</h2>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-danger reject" data-dismiss="modal">No, Reject!!</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-primary proceed">Sure, Proceed!!!</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                                                        
                            <b>Requested To:</b>
                            
                            <p>{{customerquotationdetail.first_party}}</p>
                            <b>Requested By:</b>
                            <p>{{customerquotationdetail.second_party}}</p>

                        </div>

                        <hr  class="col-xs-12">

                        <div class="col-md-12">
                            <h4 class="text-center">Cost as per Zones</h4><br>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <div class="col-md-3">
                                            <th>Zone</th>
                                        </div>
                                        <div class="col-md-3">
                                            <th>Shipping Charge</th>
                                        </div>
                                        <div class="col-md-3">
                                            <th>COD Handling Charge</th>
                                        </div>
                                        <div class="col-md-3">
                                            <th>Rejection Handling Charge</th>
                                        </div>
                                        
                                        

                                    </tr>
                                    

                                </thead>
                            {% for i in zonalcontract %}
                            <!-- <div class="row">
                                
                                <div class="col-md-3">
                                   
                                    <p>{{i.shipping_zone}}</p>
                                </div>
                                <div class="col-md-3">
                                    fgdfg
                                </div>
                                <div class="col-md-3">
                                    fgdfg
                                </div>
                                <div class="col-md-3">
                                    fgdfg
                                </div>

                            </div> -->
                            <tr>
                                <div class="col-md-3">
                                    <td>{{i.shipping_zone}}</td>
                                </div>
                                <div class="col-md-3">
                                    <td>{{i.shipping_charge}}</td>
                                </div>
                                <div class="col-md-3">
                                    <td>{{i.cod_handling_charge_pct}}</td>
                                </div><div class="col-md-3">
                                    <td>{{i.rejection_handling_charge_pct}}</td>
                                </div>
                                
                                

                            </tr>
                            {% endfor %}
                        </table>

                        </div>

                    </div>
                

                </div>

            </div>
            
        </div>

    </div>

</div>

{% endblock %}
{% block js %}
<script>
$('.proceed').on('click', function(){
    $.ajax({
        data:{
            'confirm':'confirm'
        },
        success:function()
        {
            alert("Quotation has been confirmed!!!")
            location.reload()
        }
        
    })
});

$('.reject').on('click', function(){
    $.ajax({
        data:{
            'reject':'reject'
        },
        success:function(){
            alert("Request Cancelled")
            location.reload()
        }
    })
});

</script>
{% endblock %}