{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<style>
.words{
    word-break: break-all;
}
</style>

<style>
.friend{
    width:100%;
}
</style>

<style>
:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}


</style>

{% endblock css %}

{% block content %}


<div class="page-wrapper">
	<div class="container-fluid">
		
		<!-- Title -->
		<div class="row heading-bg">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			  <h5 class="txt-dark">Ticket Raise #{{custometicketdetail.id}}</h5>
			</div>
			<!-- Breadcrumb -->
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			  <ol class="breadcrumb">
				<li><a href="">Dashboard</a></li>
				<li class="active"><span>Ticket Raise #{{custometicketdetail.id}}</span></li>
			  </ol>
			</div>
			<!-- /Breadcrumb -->
		</div>
		<!-- /Title -->
		<!-- Row -->
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="panel panel-default card-view">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-12 col-md-12">
								<h5 class="txt-dark">Ticket Information: <span>#ticket{{custometicketdetail.id}}</span></h5>
								<p>Request To: <span style="font-weight: bold;">{{custometicketdetail.raised_to}}</span></p>
								<p>Submitted: <span style="font-weight: bold;">{{custometicketdetail.created_at|date}}</span></p>
								<p>Last Update: <span style="font-weight: bold;">{{custometicketdetail.updated_at|date}}</span></p>
								<hr>
							</div>
							<div class="col-sm-12 col-md-12">
								<h5 class="txt-dark">Ticket Raised For:</h5>
								<p style='word-break:break-all;'>{{custometicketdetail.issue_detail|striptags|safe}}</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>	
			</div>
			<div class="col-sm-12 col-md-8">
				<div class="panel panel-default card-view">
					<div class="panel-heading">
					<header class="msger-header">
						<div class="msger-header-title">
						<i class="fas fa-comment-alt"></i>Messages
						</div>
						<div class="msger-header-options">
						{% comment %} <span><i class="fas fa-cog"></i></span> {% endcomment %}
						</div>
					</header>
						<div class="row" style='height:250px; overflow-y: auto;width:100%;margin:0px;' id='abc'>
							<div class="panel-wrapper collapse in" style='overflow-wrap: break-word; width:100%;'>
								<div >
									<section class="msger" style='margin:0px;'>
										

										{% for message in custometicketdetail.customerticketfollowup_set.all|dictsort:"created_at" %}
										<main class="msger-chat">
											{% if message.followup_by_type.model == "logisticsbranch" %}
												<div class="msg left-msg">
												<div
												class="msg-img"
												style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
												></div>

												<div class="msg-bubble">
													<div class="msg-info">
													<div class="msg-info-name">Operator</div>
													<div class="msg-info-time">{{message.created_at|timesince}} ago</div>
													</div>

													<div class="msg-text">
													{{message.followup_message|striptags|safe}}
													</div>
												</div>
												</div>
											{% else %}
												<div class="msg right-msg">
												<div
												class="msg-img"
												style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
												></div>

												<div class="msg-bubble">
													<div class="msg-info">
													<div class="msg-info-name">You</div>
													<div class="msg-info-time">{{message.created_at|timesince}} ago</div>
													</div>

													<div class="msg-text">
													{{message.followup_message|striptags|safe}}
													</div>
												</div>
												</div>
											{% endif %}
										</main>
										{% endfor %}
									</section>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="margin: 10px;">
						{% if custometicketdetail.ticket_status != 'Solved' %}
						<form class="msger-inputarea">
							{{messageform.followup_message}}
							<button id='ticketsubmitbtn' type="submit" class="msger-send-btn">Send</button>
						</form>
						{% else %}
						<h3>Your Query has been solved !!</h3>
						{% endif %}
					</div>
				</div>	
			</div>
		</div>
		<!-- /Row -->
	</div>
	
	<!-- Footer -->
	<footer class="footer container-fluid pl-30 pr-30">
		<div class="row">
			<div class="col-sm-12">
			</div>
		</div>
	</footer>
	<!-- /Footer -->
	
</div>


{% endblock content %}
{% block js %}
<script>
$(document).ready(function(e){
    var id = '{{custometicketdetail.id}}'
    $.ajax({
        data:{
            'id':id,
            'Active':'Active'
        }
    })
});
</script>


<script>
$('#abc').scrollTop($('#abc')[0].scrollHeight);
$('#ticketsubmitbtn').one('click', function(e){
    e.preventDefault();
    var text = $('#id_followup_message').val();
    if (text != ""){
        $.ajax({
            url: '{% url "lmsapp:customerajaxticketdetail" custometicketdetail.id %}',
            data:{
                'text':text,
                'request_from':'customer'
            },
            success:function(data){
                console.log(data)
                location.reload();
            }
        })
    }else{
        alert('form is empty')
    }
});
</script>

{% endblock js %}
