{% extends 'clienttemplates/clientbase.html' %}
{% block title %} Shipment {% endblock %}

{% block content %}


<form method="POST">
    {% csrf_token %}
<div class="container m-4">
    <div class="row mt-5">
        <h3>General Info</h3> <span style="font-weight: 100;">(* Required Fields)</span>
    </div>
    <div class="row m-5">
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Logistic Customer:</label> {{form.logistic_custmer}}</div>
        <div class="col-6"><label><sup style="font-size: 18px;">*</sup>Logistic Branch:</label> {{form.logistic_branch}}</div>
    </div>
    <div class="row m-5">
        <div class="col-6"><label>Message:</label> {{form.message}}</div>
    </div>

    <div class="row mt-5">
        <div class="col-6"><button type="submit" class="btn btn-dark">Submit</button></div>
    </div>
</div>
</form>


{% endblock %}