{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% block title %}Logistic Companies::Branch List{% endblock %}

{% block css %}
<!-- <style>
    .hover-text{
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
    }
    .title-text:hover .hover-text {
        visibility: visible;
        }
</style> -->
{% endblock %}

{% block content %}
<h2 class="text-center" style="margin-top: 20px;">Logistic Companies</h2>
<div class="row mt-3">
    <div class="col-md-12" style="margin: 20px;">
        <div class="row">
            {% for company in companylist %}
            <div class="col-md-3">
                <h3 class="title-text"><a href="">{{company.company_name}}</a></h3>
                <hr>
                <div class="form-group">
                    <label>Number of Branches:</label> {{company.logisticsbranch_set.count}}
                </div>
                <div class="form-group">
                    <label>Head Office:</label> {{company.company_city}}
                </div>
                <div class="form-group">
                    <label>Distribution Center:</label> {% if company.is_distribution_center == True %}<span style="color: green;">Yes</span>{% else %}<span style="color: red;">No</span>{% endif %}
                </div>
                <div class="form-group">
                    <a href="{{company.company_website}}" class="btn btn-primary">Visit Site</a>
                </div>
                <div class="form-group">
                    <a href="{% url 'lmsapp:customerlogisticcompanydetail' company.id %}" class="btn btn-primary" target="_blank">View Branches</a>
                </div>
                <div class="form-group">
                    <a href="{% url 'lmsapp:customerlogisticcompanydetail' company.id %}" class="btn btn-primary" target="_blank">View Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}