<!DOCTYPE html>
{% load static %}

<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock%} | Shippers Park</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'lcstatic/assets/img/favicon.html' %}" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'lcstatic/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Fonts  -->
    <link rel="stylesheet" href="{% static 'lcstatic/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'lcstatic/assets/css/simple-line-icons.css' %}">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="{% static 'lcstatic/assets/css/animate.css' %}">
    <!-- Daterange Picker -->
    <link rel="stylesheet" href="{% static 'lcstatic/assets/plugins/daterangepicker/daterangepicker-bs3.css' %}">
    <!-- Calendar demo -->
    <link rel="stylesheet" href="{% static 'lcstatic/assets/css/clndr.css' %}">
    <!-- Switchery -->
    <link rel="stylesheet" href="{% static 'lcstatic/assets/plugins/switchery/switchery.min.css' %}">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="{% static 'lcstatic/assets/css/main.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
   

    <style>
        .card {
            border-radius: 5px, 5px;
            margin-top: 30px;
            margin-left: 10px;
            margin-right: 30px;
            padding: 5px;
            background: white;
            width: 80%;
        }

        .card-header {
            width: 100%;
            height: 60px;
        }

        .card-body {
            width: 98%;
        }
    </style>

    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <!-- <style>
        .noti :hover{
            background-color: black;
        }
        .listp :hover{
            background-color: black;
        }
    </style> -->

    {% block css %}
    {% endblock %}
    <!-- Feature detection -->
    <script src="{% static 'lcstatic/assets/js/vendor/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'lcstatic/assets/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'operatorstatic/toastr/toastr.css' %}" media="all">
    <script type="text/javascript" src="{% static 'operatorstatic/toastr/toastr.min.js' %}"></script>
</head>

<body>
    <section id="main-wrapper" class="theme-dark-full">
        <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="{% url 'lmsapp:lcdashboard' %}" class="logo">
                    <span>Shippers</span> Park</a>
            </div>
            <!--logo end-->
            <ul class="nav navbar-nav navbar-left">
                <li class="toggle-navigation toggle-left">
                    <button class="sidebar-toggle" id="toggle-left">
                        <i class="fa fa-bars"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-default" id="toggle-profile">
                        <i class="icon-user"></i>
                    </button>
                    
                </li>
                <li class="hidden-xs ">
                    <input type="text" class="search" placeholder="Search Shipment..." id="product_search">
                    <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
                    </button>
                    <!-- <input class="pull-right form-control" 
                    type="text" name="example-input1-group2" 
                    id="product_search" placeholder="Search Orders" 
                    autocomplete="off" style="border-radius: 25px; width: 325px;"> -->
                    <div class="row">
                        <div id="search_content"
                            style="display: none; margin-left: 35px; z-index: 9999; position: absolute; width: 100%;  max-height:250px; overflow-y:scroll; border-radius: 10px;">
                        </div>
                    </div>
                </li>
                
                <!-- <li class="toggle-navigation toggle-right" style="padding-top: 5px;">
                    <a href="{% url 'lmsapp:customerquotationlist' %}"> -->
                        <!-- <button type="button" class="btn btn-default"  id="toggle-bell" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?"> -->
                        <!-- <i class="fas fa-bell" style='color: white;'></i> <span style="color: red;">{{counter}}</span>
                    </a>
                     -->
                <!-- </li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="toggle-navigation toggle-right" style="padding-top: 8px;">
                    <a href="{% url 'lmsapp:customerquotationlist' %}">
                        <!-- <button type="button" class="btn btn-default"  id="toggle-bell" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?"> -->
                         <i class="fas fa-bell" style='color: white;'></i> <span style="color: red; position: fixed;" >{{counter}}</span>
                    </a>
                     
                </li>
                
                <li class="dropdown profile">
                    <a href="">
                        <span class="meta">
                            <span class="text">New Remarks <sup>{{newremark}}</sup></span>
                            <!-- <span class="caret"></span> -->
                        </span>
                    </a>
                    
                    <ul class="dropdown-menu animated fadeInRight" role="menu">

                        <li></li>
                        {% for shipment in newshipmentremarks %}
                        <li>
                            <a href="">
                                <span class="icon"><i class="fa fa-user"></i>
                                </span>My Profile</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown profile hidden-xs">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="meta">
                            <span class="avatar">
                                <img src="{% if request.user.logisticscustomer.profile_image %}{{request.user.logisticscustomer.image.url}}{% else %}{% static 'lcstatic/assets/img/profile-lg.png' %}{% endif %}"
                                    class="img-circle" alt="">
                            </span>
                            <span class="text">{{request.user.logisticscustomer}}</span>
                            <!-- <span class="caret">{{request.user.logisticscustomer.company_name}}</span> -->
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight" role="menu">

                        <li></li>
                        <li>
                            <a href="{% url 'lmsapp:customerprofileview' %}">
                                <span class="icon"><i class="fa fa-user"></i>
                                </span>My Profile</a>
                        </li>
                        <li>
                            <a href="#changePasswordModal" data-toggle="modal" class="text-center">
                                <span class="icon"><i class="fa fa-star"></i>
                                </span>Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{%url 'umapp:customerlogout'%}">
                                <span class="icon"><i class="fa fa-sign-out"></i>
                                </span>Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="toggle-fullscreen hidden-xs">
                    <button type="button" class="btn btn-default expand" id="toggle-fullscreen">
                        <i class="fa fa-expand"></i>
                    </button>
                </li>
            </ul>
        </header>
        <!--sidebar left start-->
        <aside class="sidebar sidebar-left">
            <div class="sidebar-profile">
                <div class="avatar">
                    <a href="{% url 'lmsapp:customerprofileview' %}">
                        <img class="img-circle profile-image"
                            src="{% if request.user.logisticscustomer.profile_image %}{{request.user.logisticscustomer.image.url}}{% else %}{% static 'lcstatic/assets/img/profile-lg.png' %}{% endif %}"
                            alt="profile">
                        <i class="border-dark animated bounceIn"></i>
                    </a>
                </div>
                <div class="profile-body dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <h4>{{request.user.logisticscustomer}} <span class="caret"></span></h4>
                    </a>
                    <small class="title">{{request.user.logisticscustomer.company_name}}</small>
                    <ul class="dropdown-menu animated fadeInRight" role="menu">
                        <li></li>
                        <li>
                            <a href="{% url 'lmsapp:customerprofileview' %}">
                                <span class="icon"><i class="fa fa-user"></i>
                                </span>My Profile</a>
                        </li>
                        <li>
                            <a href="#changePasswordModal" data-toggle="modal">
                                <span class="icon"><i class="fa fa-star"></i>
                                </span>Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{%url 'umapp:customerlogout'%}">
                                <span class="icon"><i class="fa fa-sign-out"></i>
                                </span>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav>
                <h5 class="sidebar-header">Navigation</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% block adminhome %}{% endblock %}">
                        <a href="{% url 'lmsapp:lcdashboard' %}" title="Dashboard">
                            <i class="fa  fa-fw fa-tachometer"></i> Dashboard
                        </a>
                    </li>
                    <li class="{% block shipmentlist %}{% endblock %}">
                        <a href="{% url 'lmsapp:customershipmentlist' %}?status=requested" title="Shipments">
                            <i class="fa fa-fw fa-cogs"></i> My Shipments
                        </a>
                    </li>
                    <li class="nav{% block shipment %}{% endblock %}">
                        <a href="{% url 'lmsapp:customershipmentcreate' %}" title="Shipments">
                            <i class="fa fa-fw fa-cogs"></i> Request New Shipment
                        </a>
                    </li>
                    <li class="nav-dropdown {% block connectedlogistics %}{% endblock %}">
                        <a href="{% url 'lmsapp:customerconnectedlogistics' %}" title="Connected Logistics">
                            <i class="fa  fa-fw fa-tachometer"></i> Connected Logistics
                        </a>
                        <!-- <ul class="nav-sub">
                            <li>
                                <a href="{% url 'lmsapp:customerconnectedlogistics' %}">Connected Logistics </a>
                            </li>
                            <li>
                                <a href="#">Something else </a>
                            </li>

                        </ul> -->
                    </li>
                    <li class="nav-dropdown {% block quotation %}{% endblock %}">
                        <a href="#" title="Request Quotation">
                            <i class="fa  fa-fw fa-tachometer"></i> Request Quotations
                                
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a href="#">Create Quotation Request </a>
                            </li>
                            <li>
                                <a href="{% url 'lmsapp:customerquotationlist' %}">Quotation List</a>
                            </li>
                            <li>
                                <a href="{% url 'lmsapp:customercontractstatus' %}">My Contracts</a>
                                <!-- <ul class="nav-sub" style="padding-left: 15px; color: #B3B8C3; font-size: 0.813em;">
                                    <li> <a href="">Signed Contracts</a>  </li>
                                    <li><a href="">Pending Quotation</a></li>
                                    <li><a href="">Archive</a></li>


                                </ul> -->
                               
                            </li>

                        </ul>
                    </li>
                    
                    <li class="nav-dropdown {% block payment %}{% endblock %}">
                        <a href="#" title="Shipments">
                            <i class="fa  fa-fw fa-dollar"></i> Payments
                        </a>
                        <ul class="nav-sub">
                            <!-- <li>
                                <a href="-payments" title="All Payments">
                                     Payment List
                                </a>
                            </li> -->
                            <li>
                                <a href="{% url 'lmsapp:customerpaymentlist' %}" title="All Payments">
                                    Payment List
                                </a>
                            </li>
                            <li>
                                <a href="" title="Payment Reports">
                                    Payment Report
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'lmsapp:customerrequestpayment' %}" title="Request Payment">
                                    Request Payment
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="{% block shipmentswithnewremarks %}{% endblock %}">
                        <a href="" title="New Remarks">
                            <i class="fa fa-bell-o"></i> Shipments with new remarks
                        </a>
                    </li> -->
                    <li class="{% block ticketraise %}{% endblock %}">
                        <a href="{% url 'lmsapp:customerticketlist' %}" title="Ticket Raise">
                            <i class="fa fa-support"></i> Raised Tickets
                        </a>
                    </li>
                    <li class="{% block recentupdates %}{% endblock %}">
                        <a href="" title="Recent Updates">
                            <i class="fa fa-refresh"></i> Recent Updates
                        </a>
                    </li>
                    <li class="{% block logisticcompanies %}{% endblock %}">
                        <a href="{% url 'lmsapp:customerlogisticcompanieslist' %}" title="Logistic Companies">
                            <i class="fa fa-list"></i> Logistic Companies
                        </a>
                    </li>

                </ul>
            </nav>
            <!--  <h5 class="sidebar-header">Account Settings</h5>
            <div class="setting-list">
                <div class="row">
                    <div class="col-xs-8">
                        <label for="check1" class="control-label">Share your status</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="checkbox" class="js-switch" checked id="check1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label for="check2" class="control-label">Push Notifications</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="checkbox" class="js-switch" id="check2" />
                    </div>
                </div>
            </div> -->
        </aside>
        <!--sidebar left end-->
        <!--main content start-->
        <section class="main-content-wrapper">
            {% block content %}

            {% endblock %}

        </section>
        <!--main content end-->
    </section>
    <!-- Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="">
                <div class="form-group">
                    <label for="">Current Password</label>
                    <input type="password" id="currentPassword" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">New Password</label>
                    <input type="password" id="newPassword" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Conform Password</label>
                    <input type="password" id="conformPassword" class="form-control">
                </div>
                <div id="loginError" style="color: red;"></div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="changePassword">Change Password</button>
        </div>
        </div>
    </div>
    </div>
    <!--/Config demo-->
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script type=text/javascript>
                    toastr.{{message.tags}}('{{ message }}', '{{message.tags}}')
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                </script>
    {% elif message.tags == 'info' %}
    <script type=text/javascript>
                    toastr.{{message.tags}}('{{ message }}', '{{message.tags}}')
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                </script>
    {% elif message.tags == 'warning' %}
    <script type=text/javascript>
                    toastr.{{message.tags}}('{{ message }}', '{{message.tags}}')
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                </script>
    {% elif message.tags == 'error' %}
    <script type=text/javascript>
                    toastr.{{message.tags}}('{{ message }}', '{{message.tags}}')
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                </script>
    {% endif %}
    {% endfor %}
    {% endif %}
    <!--Global JS-->
    <script src="{% static 'lcstatic/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lcstatic/assets/plugins/navgoco/jquery.navgoco.min.js' %}"></script>
    <script src="{% static 'lcstatic/assets/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'lcstatic/assets/plugins/fullscreen/jquery.fullscreen-min.js' %}"></script>
    <script src="{% static 'lcstatic/assets/js/src/app.js' %}"></script>
    <!--Page Level JS-->
    <!-- <script src="{% static 'lcstatic/assets/plugins/countTo/jquery.countTo.js' %}"></script> -->
    <!-- <script src="{% static 'lcstatic/assets/plugins/weather/js/skycons.js' %}"></script> -->
    <script src="{% static 'lcstatic/assets/plugins/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'lcstatic/assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
     <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            app.dateRangePicker();
        });
    </script>
    <!--Load these page level functions-->
    <script type="text/javascript">
        $('#product_search').keyup(function (event) {
            /* Act on the event */
            var val = $(this).val()
            if (val == "") {
                // $('#search_content').css('display', 'none')
            } else {
                $.ajax({
                    url: "",
                    data: {
                        "qs": val,
                    },
                    success: function (data) {
                        console.log('success...........................')
                        // $('#search_content').css('display', 'block')
                        $('#search_content').html(data)
                    }
                })
            }
        });
    </script>
    <script type="text/javascript">
        $(document).on('click', function (e) {
            if ($(e.target).attr('id') != "product_search") {
                $('#search_content').css('display', 'none')
            }
        });
        $('#product_search').on('click', function () {
            $('#search_content').css('display', 'block')
        })
    </script>
    <script>
        $("body").on("click", "#changePassword", function(){
            $.ajax({
                method:"post",
                url:"{% url 'lmsapp:customerprofileview' %}",
                data:{
                    "currentpword":$("#currentPassword").val(),
                    "npword":$("#newPassword").val(),
                    "cpword":$("#conformPassword").val(),
                    "csrfmiddlewaretoken":"{{csrf_token}}"
                },
                success:function(data){
                    alert(data.message)
                    if(data.message == "success"){
                        location.reload()
                    }
                    else{
                        $("#loginError").html("Password didnot match")
                    }
                }
            })
        })
    </script>

    <!-- <script type="text/javascript">


    </script> -->

    {% block js %}
    {% endblock %}
</body>

</html>