{% extends 'customertemplates/logisticscustomerbase.html' %}
{% load static %}
{% load humanize %}
{% block title %}Dashboard{% endblock %}
{% block adminhome %}active{% endblock %}
{% block css %}
<style>
    .report *{
        font-size: 11px;
    }
    .total {
        font-size: 15px!important;
    }
</style>
<link rel="stylesheet" href="{% static 'lcstatic/assets/plugins/morris/css/morris.css' %}">
{% endblock %}

{% block content %}
<div class="pageheader dark">
    <h1>{{request.user.logisticscustomer.company_name|capfirst}} (Logistic Customer)({{ request.user.logisticscustomer}})</h1>
    <p class="description">Welcome to Logistics Customer Panel</p>
    {{request.user.logisticscustomer}}
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Powered By: </span><span class="label" style="color: #fff;">Sarobar Technology Pvt. Ltd.</span>
    </div>
</div>
<section id="main-content" class="animated fadeInUp">
    <div class="row report">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-2">
                    <div class="panel panel-solid-info widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">{{total_shipments}}</span>
                            <span class="title text-center">TOTAL <br> SHIPMENT</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-warning widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">{{inprogress_shipments}}</span>
                            <span class="title text-center">IN PROGRESS SHIPMENT</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-success widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">{{delivered_shipments}}</span>
                            <span class="title text-center">DELIVERED SHIPMENT</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-danger widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">{{rejected_shipments}}</span>
                            <span class="title text-center">REJECTED SHIPMENT</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-danger widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">{{returned_shipments}}</span>
                            <span class="title text-center">RETURNED SHIPMENT</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-danger widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">{{canceled_shipments}}</span>
                            <span class="title text-center">CANCELED SHIPMENT</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row report">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-2">
                    <div class="panel panel-solid-info widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">Rs.{{total_shipment_value|intcomma}}</span>
                            <span class="title text-center">TOTAL SHIPMENT VALUE</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-warning widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">Rs.{{in_progress_value|intcomma}}</span>
                            <span class="title text-center">IN PROGRESS VALUE</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-success widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">Rs.{{delivered_value|intcomma}}</span>
                            <span class="title text-center">DELIVERED VALUE</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-danger widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">Rs.{{rejected_value|intcomma}}</span>
                            <span class="title text-center">REJECTED VALUE</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-danger widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">Rs.{{returned_value|intcomma}}</span>
                            <span class="title text-center">RETURNED VALUE</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-danger widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">Rs.{{canceled_value|intcomma}}</span>
                            <span class="title text-center">CANCELED VALUE</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row report">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-2">
                    <div class="panel panel-solid-success widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">Rs. {{total_payment_received|intcomma}}</span>
                            <span class="title text-center">TOTAL PAYMENT RECEIVED</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-info widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">Rs. {{last_payment_received|intcomma}}</span>
                            <span class="title text-center">LAST PAYMENT RECEIVED</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-info widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">{{last_payment_received_date}}</span>
                            <span class="title text-center">LAST PAYMENT RECEIVED DATE</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-danger widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">Rs. {{total_service_charge|intcomma}}</span>
                            <span class="title text-center">TOTAL SERVICE CHARGE</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row report">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-2">
                    <div class="panel panel-solid-info widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">{{today_comment}}</span>
                            <span class="title text-center">TODAY'S COMMENT</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-success widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">{{today_delivered}}</span>
                            <span class="title text-center">TODAY'S DELIVERED</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-solid-danger widget-mini">
                        <div class="panel-body">
                            <span class="total text-center">{{today_returned}}</span>
                            <span class="title text-center">TODAY'S RETURNED</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     {% comment %} <div class="row"> {% endcomment %}
        {% comment %} <div class="col-md-12"> {% endcomment %}
            {% comment %} <div class="panel panel-default"> {% endcomment %}
                {% comment %} <div class="panel-heading"> {% endcomment %}
                    {% comment %} <h3 class="panel-title text-center" style="font-size: 20px;">NOTICE</h3>
                    <div class="actions pull-right">
                        <i class="fa fa-expand"></i>
                        <i class="fa fa-chevron-down"></i>
                    </div> {% endcomment %}
                    <!-- Row -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default card-view">
                                    <div class="panel-heading">
                                            <h1 class="panel-title txt-dark">Notice</h1>
                                            {% comment %} <a class="btn btn-success pull-right" href="{% url 'lmsapp:customerticketcreate' %}" style="background-color: #00b3b3;border-radius:10px;width:300px">Raise Ticket
                                            </a> {% endcomment %}
                                            <div class="actions pull-right">
                                            <i class="fa fa-expand"></i>
                                            <i class="fa fa-chevron-down"></i>
                                            </div><br>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-wrapper collapse in">
                                        <div class="panel-body">
                                            <div class="table-wrap">
                                            {% for notice in notices %}
                                                <div class="row">
                                                    <div id="accordion">
                                                        <div class="card" style='background-color:#ddd5e8;width:95%;border-radius:30px;'>
                                                            <div class="card-header" id="headingOne">
                                                            <h1 class="mb-0" style='font-size: xxx-large;'>
                                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{notice.id}}" aria-expanded="true" aria-controls="collapseOne" style='width:100%'>
                                                                <span style='float:left;'> <b>{{forloop.counter}}. {{notice.notice|truncatechars:50}}</b></span>
                                                                <span style='float:right;'>{{notice.created_at}}</span>
                                                                </button>
                                                            </h1>
                                                            </div>

                                                            <div id="collapse-{{notice.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                            <div class="card-body" style='text-align:-webkit-center;'>
                                                                <small>
                                                               {{notice.notice}}
                                                               </small>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- /Row -->
                {% comment %} </div> {% endcomment %}
                <div class="panel-body">
                    <div class="panel-group accordion" id="accordion">
                        {% for notice in logistic_notice %}
                        <div class="panel panel-default">
                            <div class="">
                                <h4 class="panel-title alert {% if notice.notice_type == 'success' %}alert-success{% elif notice.notice_type == 'warning' %}alert-warning{% elif notice.notice_type == 'danger' %}alert-danger{% else %}alert-info{% endif %}">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}" class="collapsed">
                                    {{forloop.counter}}. {{notice.title}}
                                    {% comment %} <div class="actions pull-right">
                                        <i class="fa fa-expand"></i>
                                        <i class="fa fa-chevron-down"></i>
                                    </div>  {% endcomment %}
                                     <i class="caret"></i> 
                                </a>
                                 <span class="pull-right"> {{notice.created_at}} </span>
                                </h4>
                            </div>
                            <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{notice.content|safe}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                      
                    </div>
                </div>
            {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">SHIPMENT PLACED IN LAST 30 DAYS</h3>
                    <div class="actions pull-right">
                        <i class="fa fa-expand"></i>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="area-as-line"></div>
                </div>
            </div>
        </div>
    </div> -->
</section>
{% endblock %}

{% block js %}
    <!--Page Leve JS -->
    <script src="{% static 'lcstatic/assets/plugins/morris/js/morris.min.js' %}"></script>
    <script src="{% static 'lcstatic/assets/plugins/morris/js/raphael.2.1.0.min.js' %}"></script>
  
<!-- <script>
    $("#sparkline1").sparkline({{shipments_count_value}}, {
        type: 'line',
        lineWidth: 2,
        lineColor: 'green',
        fillColor: '#eee',
        height: '12em',
        width: '50em'
    });

    $("#sparkline2").sparkline({{shipments_count}}, {
        type: 'bar',
        barWidth: 12,
        barColor: '#057aff',
        negBarColor: '#00cc36',
        height: '12em',
        width: '50em'
    });
</script> -->
<!-- <script>
    Morris.Area({
    element: 'area-as-line',
    behaveLikeLine: false,
    data: [
        {x: '2020 Q1', y: 3, z: 3},
        {x: '2020 Q2', y: 2, z: 1},
        {x: '2020 Q3', y: 2, z: 4},
        {x: '2020 Q4', y: 3, z: 3},
        {x: '2020 Q5', y: 3, z: 3},
        {x: '2020 Q6', y: 2, z: 1},
        {x: '2020 Q7', y: 2, z: 4},
        {x: '2020 Q8', y: 3, z: 3},
        {x: '2020 Q9', y: 3, z: 3},
        {x: '2020 Q10', y: 2, z: 1},
        {x: '2020 Q11', y: 2, z: 4},
        {x: '2020 Q12', y: 3, z: 3},
        {x: '2020 Q13', y: 3, z: 3},
        {x: '2020 Q14', y: 2, z: 1},
        {x: '2020 Q15', y: 2, z: 4},
        {x: '2020 Q16', y: 3, z: 3},
    ],
    xkey: 'x',
    ykeys: ['y', 'z'],
    labels: ['Y', 'Z'],
    lineColors:['#057aff','#00cc36']

});
</script> -->
{% endblock %}
